Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan

in_ebpf: initial version of the plugin
  CMakeLists.txt
  cmake/plugins_options.cmake
  cmake/windows-setup.cmake
  plugins/CMakeLists.txt
  plugins/in_ebpf/CMakeLists.txt
  plugins/in_ebpf/in_ebpf.c
  plugins/in_ebpf/in_ebpf.h
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

config_format: cf_yaml: Plug memory leaks on exception for variants on plugin elements
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: cf_yaml: tests: Add a test case for broken plugin variant
  tests/internal/config_format_yaml.c
  tests/internal/data/config_format/yaml/broken_plugin_variant.yaml
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: cf_yaml: Cleanup variants only if occurred an exception
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine: added missing header
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_blob: fixed typos
  plugins/in_blob/blob.c
  plugins/in_blob/win32_glob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_blob: fixed warning
  src/flb_input_blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: fluent-otel-proto: update generated files and add profiling support
  lib/fluent-otel-proto/CMakeLists.txt
  lib/fluent-otel-proto/include/fluent-otel-proto/fluent-otel-info.h
  lib/fluent-otel-proto/include/fluent-otel-proto/fluent-otel_found.h
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/collector/logs/v1/logs_service.pb-c.h
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/collector/metrics/v1/metrics_service.pb-c.h
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/collector/trace/v1/trace_service.pb-c.h
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/common/v1/common.pb-c.c
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/common/v1/common.pb-c.h
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/logs/v1/logs.pb-c.c
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/logs/v1/logs.pb-c.h
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/metrics/v1/metrics.pb-c.c
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/metrics/v1/metrics.pb-c.h
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/profiles/v1development/pprofextended.pb-c.c
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/profiles/v1development/pprofextended.pb-c.h
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/profiles/v1development/profiles.pb-c.c
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/profiles/v1development/profiles.pb-c.h
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/resource/v1/resource.pb-c.h
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/trace/v1/trace.pb-c.c
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/trace/v1/trace.pb-c.h
  lib/fluent-otel-proto/proto_c/protobuf-c/protobuf-c.c
  lib/fluent-otel-proto/proto_c/protobuf-c/protobuf-c.h
  lib/fluent-otel-proto/src/CMakeLists.txt
  lib/fluent-otel-proto/src/fluent-otel.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: cf_yaml: Plug memory leaks on exception for variants on plugin elements
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: ctraces: upgrade to v0.5.6
  lib/ctraces/CMakeLists.txt
  lib/ctraces/src/ctr_encode_opentelemetry.c
  lib/ctraces/tests/decoding.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_multiline: Reset group metadata buffer on flush
  src/multiline/flb_ml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: cf_yaml: tests: Add a test case for broken plugin variant
  tests/internal/config_format_yaml.c
  tests/internal/data/config_format/yaml/broken_plugin_variant.yaml
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_calyptia: add missing parameter for msgpack_str for windows os field.
  plugins/out_calyptia/calyptia.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: cf_yaml: Cleanup variants only if occurred an exception
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_calyptia: register OS and architecture for agents.
  plugins/out_calyptia/calyptia.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

reload: do not call flb_stop when flb_start fails to avoid crash on RHEL/CentOS.
  src/flb_reload.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

reload: do not call flb_stop when flb_start fails and fix crash on RHEL
  src/flb_reload.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: improve error messaging inside the flb_utils_proxy_url_split()
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

upstream: remove call to flb_errno(). The error is displayed by flb_utils_proxy_url_split()
  src/flb_upstream.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: fix typos
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

upstream: remove call to flb_errno(). The error is displayed by flb_utils_proxy_url_split()
  src/flb_upstream.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: improve error messaging inside the flb_utils_proxy_url_split()
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: fix typos
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

upstream: remove call to flb_errno(). The error is displayed by flb_utils_proxy_url_split()
  src/flb_upstream.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: fix typos
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: improve error messaging inside the flb_utils_proxy_url_split()
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: runtime: config_map_opts: initialize scheduler
  tests/runtime/config_map_opts.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: runtime: filter_stdout: initialize scheduler
  tests/runtime/filter_stdout.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: runtime: custom_calyptia: initialize scheduler
  tests/runtime/custom_calyptia_test.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: bump to v3.1.9
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

snap: bump to v3.1.9
  snap/snapcraft.yaml
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

bitbake: bump to v3.1.9
  fluent-bit-3.1.9.bb
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

output: added worker cleanup callback missing initialization call
  include/fluent-bit/flb_output.h
  src/flb_output.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: fixed leak and double free
  plugins/out_azure_blob/azure_blob_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_blob: fixed leak (CID 509979)
  plugins/in_blob/blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor: added plugin notification feature
  include/fluent-bit/flb_processor.h
  src/flb_processor.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config: added plugin notification channel
  include/fluent-bit/flb_config.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: fixed failure notification producer
  plugins/out_azure_blob/azure_blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: fixed leak (CID 509970)
  plugins/out_azure_blob/azure_blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: runtime: filter_stdout: initialize scheduler
  tests/runtime/filter_stdout.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini
