Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

in_splunk: small fixes on return values (CID 508015 508060 510619)
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: release shared salt on exception (CID 507596)
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.8
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/include/cmetrics/cmt_decode_prometheus.h
  lib/cmetrics/src/cmt_cat.c
  lib/cmetrics/src/cmt_decode_msgpack.c
  lib/cmetrics/src/cmt_decode_prometheus.c
  lib/cmetrics/src/cmt_encode_prometheus.c
  lib/cmetrics/src/cmt_encode_splunk_hec.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: fix leaks on exception (CID 507786 507954 508064)
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: validate return value when ingesting data (CID 507683)
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_s3: release context on mock client excepion (CID 310831)
  plugins/out_s3/s3.c
Owners: @pettitwesley

out_azure_blob: fixed blob endpoint tracking
  plugins/out_azure_blob/azure_blob.c
  plugins/out_azure_blob/azure_blob_db.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: progress update
  include/fluent-bit/flb_http_client.h
  include/fluent-bit/flb_http_common.h
  src/flb_http_client.c
  src/flb_http_client_http1.c
  src/flb_http_client_http2.c
  src/flb_http_common.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

oauth: added new http client support
  include/fluent-bit/flb_oauth2.h
  src/flb_oauth2.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: improve performance of JSON escaping
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: fixed blob endpoint tracking
  plugins/out_azure_blob/azure_blob.c
  plugins/out_azure_blob/azure_blob_db.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

simd: new SIMD support for SSE and NEON
  include/fluent-bit/flb_simd.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: do JSON escaping with SIMD support (faster!)
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_podman_metrics: Added remove_stale_counters opt
  plugins/in_podman_metrics/podman_metrics.c
  plugins/in_podman_metrics/podman_metrics.h
  plugins/in_podman_metrics/podman_metrics_config.h
  tests/runtime/in_podman_metrics.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: code cleanup and fix comments
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

simd: use new defs and fix fallback mechanism
  include/fluent-bit/flb_simd.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: add new build option FLB_SIMD (default: off)
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

bin: print SIMD status
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: build with FLB_SIMD=On|Off
  .github/workflows/unit-tests.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

in_http: add application/msgpack for http2 (backport of #8499).
  plugins/in_http/http_prot.c
  tests/runtime/in_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: fixed missing parameter detection
  plugins/out_azure_blob/azure_blob.c
  plugins/out_azure_blob/azure_blob_conf.c
  plugins/out_azure_blob/azure_blob_db.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_blob: fixed already registered file log message
  plugins/in_blob/blob.c
  plugins/in_blob/blob_file.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: fixed missing parameter detection
  plugins/out_azure_blob/azure_blob.c
  plugins/out_azure_blob/azure_blob_conf.c
  plugins/out_azure_blob/azure_blob_db.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_blob: fixed already registered file log message
  plugins/in_blob/blob.c
  plugins/in_blob/blob_file.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

parser: allow to register parser with flb_cf context
  include/fluent-bit/flb_parser.h
  src/flb_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config: allow parsers and multiline parsers in main config file for Yaml
  src/flb_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: cf_yaml: add support for 'parsers' section
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: cf_yaml: move back properties print to debug mode
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Remove redundant log
  plugins/out_azure_blob/azure_blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

feat: add unit test
  tests/runtime/CMakeLists.txt
  tests/runtime/out_doris.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

feat: add doris build config
  cmake/plugins_options.cmake
  cmake/windows-setup.cmake
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

feat: add doris out plugin
  plugins/CMakeLists.txt
  plugins/out_doris/CMakeLists.txt
  plugins/out_doris/doris.c
  plugins/out_doris/doris.h
  plugins/out_doris/doris_conf.c
  plugins/out_doris/doris_conf.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

feat: support http redirect
  plugins/out_doris/doris.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_calyptia_fleet: increase max http buffer size and make it configurable.
  plugins/custom_calyptia/calyptia.c
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

in_calyptia_fleet: fix registering agent after first invocation.
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

in_splunk: splunk token validation must be case-insensitive, since that's the behavior from Splunk HEC
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: splunk token validation must be case-insensitive, since that's the behavior from Splunk HEC
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config: load multiline parsers definitions from config format
  src/flb_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

parser: split logic to handle multiline rules
  include/fluent-bit/flb_parser.h
  src/flb_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: cf_yaml: add support for multiline_parsers
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
