Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

log_to_metrics: allow custom namespace and subsystem
  plugins/filter_log_to_metrics/log_to_metrics.c
  plugins/filter_log_to_metrics/log_to_metrics.h
  tests/runtime/filter_log_to_metrics.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

examples: filter_wasm_go: Upgrade to support Go 1.22.5 and TinyGo 0.32
  examples/filter_wasm_go/README.md
  examples/filter_wasm_go/filter.go
  examples/filter_wasm_go/go.mod
  examples/filter_wasm_go/go.sum
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

release: update to 3.1.4
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.1.4.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

out_stdout: Consume entire metrics type of buffers
  plugins/out_stdout/stdout.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

dev: lib: monkey: upgrade to latest poll(2) changes
  lib/monkey/CMakeLists.txt
  lib/monkey/include/monkey/mk_core/mk_core_info.h.in
  lib/monkey/include/monkey/mk_core/mk_event.h
  lib/monkey/include/monkey/mk_core/mk_event_select.h
  lib/monkey/mk_core/CMakeLists.txt
  lib/monkey/mk_core/deps/CMakeLists.txt
  lib/monkey/mk_core/mk_event.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

dev: add build time event loop selection
  CMakeLists.txt
  src/flb_scheduler.c
  tests/internal/flb_event_loop.c
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

lib: monkey: add poll(2) event interface
  lib/monkey/mk_core/mk_event_poll.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_prometheus_exporter: Handle multiply concatenated metrics type of events
  plugins/out_prometheus_exporter/prom.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

output_thread: add simple conditional on event handling
  src/flb_output_thread.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

scheduler: use new pre processor macros for event loop conditionals
  src/flb_scheduler.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: monkey: poll(2) backend improvements
  lib/monkey/mk_core/mk_event_poll.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_chunk: do not exit if cannot release old chunks
  src/flb_input_chunk.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_stdout: consume entire metrics type of buffers (#9118)
  plugins/out_stdout/stdout.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

log_to_metrics: allow custom namespace and subsystem (#9101)
  plugins/filter_log_to_metrics/log_to_metrics.c
  plugins/filter_log_to_metrics/log_to_metrics.h
  tests/runtime/filter_log_to_metrics.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_chunk: do not exit if cannot release old chunks
  src/flb_input_chunk.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

restore --staged tests/internal/aws_util.c
  src/aws/flb_aws_util.c
Owners: @pettitwesley

Add option -a, --dump-config to print read configuration on startup This can be useful for debugging purposes when e.g. a lot of includes are used.
  src/fluent-bit.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Fix disabling CloudWatch Logs auto_create_group
  plugins/out_cloudwatch_logs/cloudwatch_logs.c
Owners: @pettitwesley

release: update to 3.1.5
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.1.5.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

release: update to 3.1.5
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.1.5.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

node_exporter_metrics: Align the collecting metrics of unit statuses
  plugins/in_node_exporter_metrics/ne_systemd_linux.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_node_exporter_metrics: systemd: treat states as boolean values.
  plugins/in_node_exporter_metrics/ne_systemd_linux.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Typo: resourcs -> resources
  plugins/out_azure_kusto/azure_kusto_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_s3: Plug memory leaks on gzipped buffer during the swapping contents
  plugins/out_s3/s3.c
Owners: @pettitwesley

build: libraries: update path to c-ares
  cmake/libraries.cmake
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

out_s3: Plug memory leaks on gzipped buffer during the swapping contents
  plugins/out_s3/s3.c
Owners: @pettitwesley

build: libraries: update path to c-ares
  cmake/libraries.cmake
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

in_tail: signal pending only once
  plugins/in_tail/tail_fs_stat.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_kubernetes_events: fix end of chunked stream deadlock
  plugins/in_kubernetes_events/kubernetes_events.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_kubernetes_events: add chunked streaming test
  tests/runtime/data/in_kubernetes_events/watch_v1_with_lastTimestamp.json
  tests/runtime/data/in_kubernetes_events/watch_v1_with_lastTimestamp.out
  tests/runtime/in_kubernetes_events.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_kubernetes_events: fix end of chunked stream deadlock
  plugins/in_kubernetes_events/kubernetes_events.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_kubernetes_events: add chunked streaming test
  tests/runtime/data/in_kubernetes_events/watch_v1_with_lastTimestamp.json
  tests/runtime/data/in_kubernetes_events/watch_v1_with_lastTimestamp.out
  tests/runtime/in_kubernetes_events.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_log_to_metrics: add new option discard_logs and code cleanup
  plugins/filter_log_to_metrics/log_to_metrics.c
  plugins/filter_log_to_metrics/log_to_metrics.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: Fix CentOS7 build failure for EPEL
  dockerfiles/Dockerfile.centos7
Owners: @niedbalski, @patrick-stephens, @celalettin1286

packaging: centos7: Use extra repo's epel-release package
  packaging/distros/centos/Dockerfile
Owners: @niedbalski, @patrick-stephens, @celalettin1286

out_opensearch: fixed wrong payload buffer usage for traces
  plugins/out_opensearch/opensearch.c
Owners: @pettitwesley, @edsiper

workflows: Fix CentOS7 build failure for EPEL (#9157)
  dockerfiles/Dockerfile.centos7
  packaging/distros/centos/Dockerfile
Owners: @niedbalski, @patrick-stephens, @celalettin1286

filter_log_to_metrics: add new option discard_logs and code cleanup
  plugins/filter_log_to_metrics/log_to_metrics.c
  plugins/filter_log_to_metrics/log_to_metrics.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_node_exporter_metrics: Align the collecting metrics of unit statuses (#9134)
  plugins/in_node_exporter_metrics/ne_systemd_linux.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

gzip: Extract and unify code for concatenated gzip payloads
  include/fluent-bit/flb_gzip.h
  src/flb_gzip.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
