Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

out_http: fix compiler warnings
  plugins/out_http/http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_file: fix compiler warning
  plugins/out_file/file.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_kusto: fix compiler warning
  plugins/out_azure_kusto/azure_kusto_ingest.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_metrics_selector: fix missing initialization
  plugins/processor_metrics_selector/selector.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_http: fix missing initialization
  plugins/in_http/http_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: fix warnings
  plugins/in_tail/tail_scan_glob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_kafka: fix warnings and missing initialization
  plugins/in_kafka/in_kafka.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_loki: fix warnings
  plugins/out_loki/loki.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: hashtable: fix warning
  tests/internal/hashtable.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_chronicle: fix warning
  plugins/out_chronicle/chronicle.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_cloudwatch_logs: fix warnings
  plugins/out_cloudwatch_logs/cloudwatch_api.c
  plugins/out_cloudwatch_logs/cloudwatch_logs.c
Owners: @pettitwesley

out_websocket: fix compiler warnings
  plugins/out_websocket/websocket.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: db: fix compiler warnings
  plugins/in_tail/tail_db.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_kubernetes_events: fix compiler warnings
  plugins/in_kubernetes_events/kubernetes_events.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine: fix compiler warnings
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input: fix compiler warnings
  src/flb_input.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

io: fix compiler warnings
  src/flb_io.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

plugin_proxy: fix compiler warnnings
  src/flb_plugin_proxy.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: openssl: fix compiler warning
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: yaml: fix compiler warning
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lua: fix compiler warning
  src/flb_lua.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_log_to_metrics: fix compiler warning
  plugins/filter_log_to_metrics/log_to_metrics.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

metrics_exporter: use sds to get metric name
  src/flb_metrics_exporter.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

metrics: fix dynamic composing of old metric names (fix #9086)
  include/fluent-bit/flb_metrics.h
  src/flb_metrics.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: multiline: fix compiler warning
  plugins/in_tail/tail_multiline.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_datadog: fix default message key remapping (#9085)
  plugins/out_datadog/datadog.c
  plugins/out_datadog/datadog.h
Owners: @nokute78, @edsiper

metrics: fix dynamic composing of old metric names (fix #9086)
  include/fluent-bit/flb_metrics.h
  src/flb_metrics.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

metrics_exporter: use sds to get metric name
  src/flb_metrics_exporter.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: hashtable: fix warning
  tests/internal/hashtable.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

plugin_proxy: fix compiler warnnings
  src/flb_plugin_proxy.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_loki: fix warnings
  plugins/out_loki/loki.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input: fix compiler warnings
  src/flb_input.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_chronicle: fix warning
  plugins/out_chronicle/chronicle.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

io: fix compiler warnings
  src/flb_io.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_file: fix compiler warning
  plugins/out_file/file.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: fix warnings
  plugins/in_tail/tail_scan_glob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lua: fix compiler warning
  src/flb_lua.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: openssl: fix compiler warning
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: multiline: fix compiler warning
  plugins/in_tail/tail_multiline.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: yaml: fix compiler warning
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
