Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

out_chronicle: fix a resource leak on exception (CID 508008) (#9234)
  plugins/out_chronicle/chronicle.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

scheduler: fix typo on macro name
  src/flb_scheduler.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

dockerfiles: Add FLB_ENFORCE_ALIGNMENT variable
  dockerfiles/Dockerfile
Owners: @niedbalski, @patrick-stephens, @celalettin1286

Update msgpack lib
  lib/msgpack-c/CMakeLists.txt
  lib/msgpack-c/Doxyfile
  lib/msgpack-c/Files.cmake
  lib/msgpack-c/cmake/sysdep.h.in
  lib/msgpack-c/example/CMakeLists.txt
  lib/msgpack-c/example/boundary.c
  lib/msgpack-c/example/cmake/CMakeLists.txt
  lib/msgpack-c/example/jsonconv.c
  lib/msgpack-c/example/lib_buffer_unpack.c
  lib/msgpack-c/example/simple_c.c
  lib/msgpack-c/example/speed_test_uint32_array.c
  lib/msgpack-c/example/speed_test_uint64_array.c
  lib/msgpack-c/example/user_buffer_unpack.c
  lib/msgpack-c/include/msgpack/object.h
  lib/msgpack-c/include/msgpack/pack_template.h
  lib/msgpack-c/include/msgpack/sysdep.h
  lib/msgpack-c/include/msgpack/version_master.h
  lib/msgpack-c/include/msgpack/vrefbuffer.h
  lib/msgpack-c/include/msgpack/zone.h
  lib/msgpack-c/msgpack-c-config.cmake.in
  lib/msgpack-c/msgpack-c.pc.in
  lib/msgpack-c/src/objectc.c
  lib/msgpack-c/src/vrefbuffer.c
  lib/msgpack-c/test/CMakeLists.txt
  lib/msgpack-c/test/buffer_c.cpp
  lib/msgpack-c/test/fixint_c.cpp
  lib/msgpack-c/test/msgpack_c.cpp
  lib/msgpack-c/test/pack_unpack_c.cpp
  lib/msgpack-c/test/streaming_c.cpp
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

core: fix configuration type cast issue on s390x
  src/flb_config_map.c
  tests/internal/config_map.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config: added chunk routing mask size attributes
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_chunk: updated to match the new flexible routing feature
  include/fluent-bit/flb_input_chunk.h
  src/flb_input_chunk.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

routes_mask: added route mask size flexibility feature
  include/fluent-bit/flb_routes_mask.h
  src/flb_routes_mask.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_storage_backlog: updated to match the new flexible routing feature
  plugins/in_storage_backlog/sb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine: added route mask size initialization code
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

task: updated to match the new flexible routing feature
  src/flb_task.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

routes_mask: fixed an over zealous error
  src/flb_routes_mask.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

network: added tcp keepalive support
  include/fluent-bit/flb_network.h
  src/flb_network.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

upstream: added tcp keepalive settings
  src/flb_upstream.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

io: added tcp keepalive support
  src/flb_io.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_map: fix configuration type cast issue found on s390x (#8904)
  src/flb_config_map.c
  tests/internal/config_map.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: monkey: sync poll(2) new backend changes
  lib/monkey/CMakeLists.txt
  lib/monkey/include/monkey/mk_core/mk_core_info.h.in
  lib/monkey/include/monkey/mk_core/mk_event.h
  lib/monkey/include/monkey/mk_core/mk_event_select.h
  lib/monkey/mk_core/CMakeLists.txt
  lib/monkey/mk_core/deps/CMakeLists.txt
  lib/monkey/mk_core/mk_event.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

scheduler: new wrapper for timers to consume notification byte
  src/flb_scheduler.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: add build time event loop selection
  CMakeLists.txt
  src/flb_scheduler.c
  tests/internal/flb_event_loop.c
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

output_thread: add simple conditional on event handling
  src/flb_output_thread.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: add build time event loop selection
  CMakeLists.txt
  src/flb_scheduler.c
  tests/internal/flb_event_loop.c
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

scheduler: new wrapper for timers to consume notification byte
  src/flb_scheduler.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

output_thread: add simple conditional on event handling
  src/flb_output_thread.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: monkey: sync poll(2) new backend changes
  lib/monkey/CMakeLists.txt
  lib/monkey/include/monkey/mk_core/mk_core_info.h.in
  lib/monkey/include/monkey/mk_core/mk_event.h
  lib/monkey/include/monkey/mk_core/mk_event_select.h
  lib/monkey/mk_core/CMakeLists.txt
  lib/monkey/mk_core/deps/CMakeLists.txt
  lib/monkey/mk_core/mk_event.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_winevtlog: Add a describing link for capability SIDs
  plugins/in_winevtlog/pack.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_winevtlog: Skip to translate SID for capability SIDs
  plugins/in_winevtlog/pack.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_emitter: Plug a possible resource leak on exception (CID 508193)
  plugins/in_emitter/emitter.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_emitter: Plug a possible resource leak on exception (CID 508193)
  plugins/in_emitter/emitter.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

routes_mask: fixed off by one error
  src/flb_routes_mask.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: runtime: added routing test
  tests/runtime/CMakeLists.txt
  tests/runtime/core_routes.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_logs_to_metrics: fixed memory corruption issue
  plugins/filter_log_to_metrics/log_to_metrics.c
  plugins/filter_log_to_metrics/log_to_metrics.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

core: fixed the data type used for booleans
  include/fluent-bit/flb_config_map.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

upstream_ht: added environment variable support
  src/flb_upstream_ha.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: added cpu byte order detection (same as msgpack-c)
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

core: replaced buggy cpu byte order detection with a reliable mechanism
  include/fluent-bit/flb_endian.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

upstream_ht: added support for inherited property lookup
  src/flb_upstream_ha.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: added trace level debug messages to investigate issue 4014
  plugins/in_tail/tail_file.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_logs_to_metrics: fixed memory corruption issue
  plugins/filter_log_to_metrics/log_to_metrics.c
  plugins/filter_log_to_metrics/log_to_metrics.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

upstream_ht: added support for inherited property lookup
  src/flb_upstream_ha.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

upstream_ht: added environment variable support
  src/flb_upstream_ha.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
