Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan

output: added plugin notification feature
  include/fluent-bit/flb_output.h
  include/fluent-bit/flb_output_thread.h
  src/flb_output.c
  src/flb_output_thread.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input: added plugin notification feature
  include/fluent-bit/flb_input_thread.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor: added plugin notification feature
  include/fluent-bit/flb_processor.h
  src/flb_processor.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: added plugin notification feature
  src/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine: added plugin notification feature
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_blob: added delivery notification structure and cleanup function
  include/fluent-bit/flb_input_blob.h
  src/flb_input_blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_blob: added notification handler
  plugins/in_blob/blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: added delivery notification feature
  plugins/out_azure_blob/azure_blob.c
  plugins/out_azure_blob/azure_blob_db.c
  plugins/out_azure_blob/azure_blob_db.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

notification: initial commit of the notification feature
  include/fluent-bit/flb_notification.h
  src/flb_notification.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

notification: added notification type field and global list
  include/fluent-bit/flb_notification.h
  src/flb_notification.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_blob: added file upload result notification handling
  plugins/in_blob/blob.c
  plugins/in_blob/blob.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_blob: fixed erroneous file size unpacking
  src/flb_input_blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: fixed stored erroneous procedure references and code
  plugins/out_azure_blob/azure_blob_db.c
  plugins/out_azure_blob/azure_blob_db.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: fixed failure notification producer
  plugins/out_azure_blob/azure_blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

cmake: update emails and urls for Chronosphere
  CMakeLists.txt
  MAINTAINERS.md
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.windows
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

Update with review comments
  MAINTAINERS.md
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

network: Update struct type for sock_addr
  src/flb_network.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_calyptia_fleet: fix 'unable to find fleet by name'.
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

in_calyptia_fleet: fix 'unable to find fleet by name' (backport of #9410).
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

output: added worker cleanup callback missing initialization call
  include/fluent-bit/flb_output.h
  src/flb_output.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

scheduler: improved timer coroutine return signal handling
  include/fluent-bit/flb_scheduler.h
  src/flb_scheduler.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

scheduler: removed erroneously added field
  include/fluent-bit/flb_scheduler.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine: added missing scheduler coroutine cleanup
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

output_thread: added missing scheduler coroutine cleanup
  src/flb_output_thread.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: added worker context cleanup and stale file remediation
  plugins/out_azure_blob/azure_blob.c
  plugins/out_azure_blob/azure_blob.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: fixed leak and double free
  plugins/out_azure_blob/azure_blob_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: added stale file remediation
  plugins/out_azure_blob/azure_blob_db.c
  plugins/out_azure_blob/azure_blob_db.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: fixed missing http verb support
  plugins/out_azure_blob/azure_blob_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_blob: fixed memory leaks
  plugins/in_blob/blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

packaging: fix CentOS builds from PR #9157
  dockerfiles/Dockerfile.centos7
  packaging/distros/centos/Dockerfile
Owners: @niedbalski, @patrick-stephens, @celalettin1286

s3: fix Windows build and add SID support from PRs #9212, #9293
  plugins/in_winevtlog/pack.c
  plugins/out_s3/s3.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @pettitwesley

out_es: custom added ability ot set custom HTTP headers
  plugins/out_es/es.c
  plugins/out_es/es.h
Owners: @pettitwesley, @edsiper

backport: resolve build failures for CentOS 7 and Windows on 3.0 (#9415)
  dockerfiles/Dockerfile.centos7
  packaging/distros/centos/Dockerfile
  plugins/in_winevtlog/pack.c
  plugins/out_s3/s3.c
Owners: @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @pettitwesley

in_calyptia_fleet: fix 'unable to find fleet by name' (backport of #9410).
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

multiline: cri parser backend, do not use regex
  include/fluent-bit/flb_parser.h
  src/CMakeLists.txt
  src/flb_parser.c
  src/flb_parser_cri.c
  src/multiline/flb_ml_parser.c
  src/multiline/flb_ml_parser_cri.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter: Add dropped_size metrics
  include/fluent-bit/flb_filter.h
  src/flb_filter.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter: Add drop_bytes metrics for old metrics API
  include/fluent-bit/flb_metrics.h
  src/flb_filter.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: Update scorecard workflow and remove Dockerfile warnings
  .github/workflows/cron-scorecards-analysis.yaml
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.windows
Owners: @niedbalski, @patrick-stephens, @celalettin1286

workflows: Update scorecard workflow and remove Dockerfile warnings (#9421)
  .github/workflows/cron-scorecards-analysis.yaml
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.windows
Owners: @niedbalski, @patrick-stephens, @celalettin1286

in_process_exporter_metrics: convert rss memory from pages to bytes
  plugins/in_process_exporter_metrics/pe.h
  plugins/in_process_exporter_metrics/pe_config.c
  plugins/in_process_exporter_metrics/pe_process.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini
