Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley

filter: allow case-insensitive filter name
  src/flb_filter.c
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: filter_stdout: add case sensitive plugin name test
  tests/runtime/filter_stdout.c
Owners: @edsiper, @fujimotos, @koleini

linting: resolve hadolint failure
  packaging/distros/raspbian/buster/Dockerfile
Owners: @edsiper, @fujimotos, @koleini

packaging: resolve incompatible dependencies in raspbian/buster (#4514)
  .github/workflows/call-build-packages.yaml
  lib/cmetrics/src/CMakeLists.txt
  packaging/distros/raspbian/buster/Dockerfile
  packaging/distros/raspbian/buster/Dockerfile.base
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

network: preserve addrlinfo list release address
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

network: preserve addrlinfo list release address
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

dockerfiles: update for debian11 and multi-arch
  dockerfiles/Dockerfile.arm64v8
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.multiarch.linuxbuilder
  dockerfiles/Dockerfile.multiarch.linuxrelease
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-master
  dockerfiles/Dockerfile.x86_64-master_debug
Owners: @niedbalski

dockerfiles: resolve multiarch issues
  dockerfiles/Dockerfile.multiarch
Owners: @niedbalski

dockerfiles: comment for multiarch running
  dockerfiles/Dockerfile.multiarch
Owners: @niedbalski

workflows: add multiarch support
  .github/workflows/call-build-images.yaml
Owners: @niedbalski

workflows: build debug and production multiarch
  .github/workflows/call-build-images.yaml
Owners: @niedbalski

out_forward: add missing ra check(#4511)
  plugins/out_forward/forward.c
Owners: @edsiper, @fujimotos, @koleini

workflows: refactor multiarch naming and add debug
  .github/workflows/call-build-images.yaml
  .github/workflows/staging-test.yaml
Owners: @niedbalski

workflows: resolve minor staging test issues
  .github/workflows/call-test-packages.yaml
  packaging/testing/smoke/packages/run-package-tests.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: skip official package tests for unsupported targets
  packaging/testing/smoke/packages/Dockerfile.centos8
  packaging/testing/smoke/packages/Dockerfile.debian11
  packaging/testing/smoke/packages/test.sh
Owners: @edsiper, @fujimotos, @koleini

security: skip CVE-2020-16156 until Debian 11 images available
  .github/containerscan/allowedlist.yaml
Owners: @niedbalski

workflows: fix error in repo creation
  .github/workflows/call-build-packages.yaml
Owners: @niedbalski

packaging: resolve undefined error
  packaging/testing/smoke/packages/test.sh
Owners: @edsiper, @fujimotos, @koleini

workflows: resolve staging test failures (#4522)
  .github/containerscan/allowedlist.yaml
  .github/workflows/call-build-packages.yaml
  .github/workflows/call-test-packages.yaml
  packaging/testing/smoke/packages/Dockerfile.centos8
  packaging/testing/smoke/packages/Dockerfile.debian11
  packaging/testing/smoke/packages/run-package-tests.sh
  packaging/testing/smoke/packages/test.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

dockerfiles: fix debug deps
  dockerfiles/Dockerfile.x86_64-master_debug
Owners: @niedbalski

workflows: fix linting
  .github/workflows/call-build-images.yaml
Owners: @niedbalski

dockerfiles: fix linting
  dockerfiles/Dockerfile.arm32v7
  dockerfiles/Dockerfile.arm64v8
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.x86_64
Owners: @niedbalski

dockerfiles: fix linting
  dockerfiles/Dockerfile.arm32v7
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-master
  dockerfiles/Dockerfile.x86_64-master_debug
Owners: @niedbalski

dockerfiles: fix linting
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.x86_64-master_debug
Owners: @niedbalski

packaging: split centos repo config in twain
  packaging/update-repos.sh
Owners: @edsiper, @fujimotos, @koleini

packaging: update tests to pull correct config
  packaging/testing/smoke/packages/Dockerfile.centos7
  packaging/testing/smoke/packages/Dockerfile.centos8
Owners: @edsiper, @fujimotos, @koleini

linting: ignore Dockerfiles in smoke tests
  .github/workflows/pr-lint.yaml
Owners: @niedbalski

dockerfiles: fix tarball location
  dockerfiles/Dockerfile.arm32v7
  dockerfiles/Dockerfile.arm64v8
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.x86_64
Owners: @niedbalski

workflows: smoke test PR
  .github/workflows/pr-integration-test.yaml
Owners: @niedbalski

workflows: smoke test all images
  .github/workflows/call-integration-image-build.yaml
  .github/workflows/pr-integration-test.yaml
Owners: @niedbalski

workflows: smoke test all images for PRs
  .github/workflows/pr-image-tests.yaml
Owners: @niedbalski

dockerfiles: fix ARM32 error
  dockerfiles/Dockerfile.arm32v7
Owners: @niedbalski

workflows: cleanup PR images
  .github/workflows/pr-closed-docker.yaml
Owners: @niedbalski

dockerfiles: add libgcrypt
  dockerfiles/Dockerfile.arm32v7
  dockerfiles/Dockerfile.arm64v8
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-master
  dockerfiles/Dockerfile.x86_64-master_debug
Owners: @niedbalski

multiline: cri: fix typo
  src/multiline/flb_ml_parser_cri.c
Owners: @edsiper, @fujimotos, @koleini

multiline: java: fix typo
  src/multiline/flb_ml_parser_java.c
Owners: @edsiper, @fujimotos, @koleini

multiline: go: fix typo
  src/multiline/flb_ml_parser_go.c
Owners: @edsiper, @fujimotos, @koleini

out_forward: add missing ra check(#4511)
  plugins/out_forward/forward.c
Owners: @edsiper, @fujimotos, @koleini

windows: cmake: Add version information metadata with version.rc
  CMakeLists.txt
  cmake/version.rc.in
  src/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

dockerfiles: fix deps on arm32
  dockerfiles/Dockerfile.arm32v7
Owners: @niedbalski
