Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @pettitwesley, @nokute78, @sxd

filter: Fix an implicit util function
  src/flb_filter.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter: Fix an implicit util function
  src/flb_filter.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: enable macos unit test failures
  .github/workflows/unit-tests.yaml
Owners: @niedbalski, @patrick-stephens

workflows: enable macos unit test failures
  .github/workflows/unit-tests.yaml
Owners: @niedbalski, @patrick-stephens

engine: Ensure TLS initialization for evl only once
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine: Add static attribute to be really private
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine: Ensure TLS initialization for evl only once
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine: Ensure TLS initialization for evl only once
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine: Add static attribute to be really private
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine: Ensure TLS initialization for evl only once
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

wip: progress update
  CMakeLists.txt
  include/fluent-bit/flb_processor.h
  plugins/CMakeLists.txt
  plugins/processor_test/test.c
  src/flb_input.c
  src/flb_output.c
  src/flb_processor.c
  tests/internal/processor.c
Owners: @fujimotos, @niedbalski, @patrick-stephens, @edsiper, @leonardo-albertovich, @koleini

wip: progress update
  include/fluent-bit/flb_processor_plugin.h
  plugins/processor_add_labels/CMakeLists.txt
  plugins/processor_add_labels/add_labels.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Revert "build: Make systemd init systemd detection contingent on pkgconfig (#5818)"
  cmake/FindJournald.cmake
  src/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @edsiper, @leonardo-albertovich, @koleini

packaging: handle systemd service detection
  src/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

plugins: s3 allow specify aws credentials/config from a configurable path.
  include/fluent-bit/flb_aws_credentials.h
  plugins/out_bigquery/bigquery.c
  plugins/out_cloudwatch_logs/cloudwatch_logs.c
  plugins/out_es/es_conf.c
  plugins/out_http/http_conf.c
  plugins/out_kinesis_firehose/firehose.c
  plugins/out_kinesis_streams/kinesis.c
  plugins/out_opensearch/os_conf.c
  plugins/out_s3/s3.c
  plugins/out_s3/s3.h
  src/aws/flb_aws_credentials.c
  src/aws/flb_aws_credentials_profile.c
  tests/internal/aws_credentials.c
  tests/internal/aws_credentials_process.c
  tests/internal/aws_credentials_profile.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @pettitwesley

aws_credentials: fix missing arguments for provider create calls.
  plugins/out_prometheus_remote_write/remote_write_conf.c
  tests/internal/aws_credentials.c
  tests/internal/aws_credentials_profile.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @pettitwesley

out_opensearch: support logstash_prefix_separator (#6814)
  plugins/out_es/es.c
  plugins/out_es/es.h
  plugins/out_opensearch/opensearch.c
  plugins/out_opensearch/opensearch.h
  tests/runtime/out_elasticsearch.c
  tests/runtime/out_opensearch.c
Owners: @pettitwesley, @edsiper, @leonardo-albertovich, @fujimotos, @koleini

packaging: handle systemd service detection (#7193)
  src/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_aws: ec2 tags include/exclude option
  plugins/filter_aws/aws.c
  plugins/filter_aws/aws.h
Owners: @pettitwesley

filter_aws: remove unused options.name
  plugins/filter_aws/aws.c
  plugins/filter_aws/aws.h
  tests/runtime/filter_aws.c
Owners: @pettitwesley

tests: runtime: add filter_aws ec2 include/exclude tests
  tests/runtime/filter_aws.c
Owners: @pettitwesley

filter_aws: invalid include/exclude configuration fails
  plugins/filter_aws/aws.c
  tests/runtime/filter_aws.c
Owners: @pettitwesley

in_calyptia_fleet: make header lookup case insensitive.
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_calyptia_fleet: implement configuration rollback.
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_calyptia_fleet: minor cosmetic cleanup in network connection code.
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_calyptia_fleet: fix problems in input configuration generation.
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

developer guide: add -DFLB_VALGRIND=on to valgrind section
  DEVELOPER_GUIDE.md
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

aws_credentials: fix argument order for call to flb_standard_chain_provider_create.
  src/aws/flb_aws_credentials.c
Owners: @pettitwesley

wip: progress update
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/processor_add_labels/CMakeLists.txt
  plugins/processor_add_labels/add_labels.c
  plugins/processor_labels/CMakeLists.txt
  plugins/processor_labels/labels.c
Owners: @fujimotos, @niedbalski, @patrick-stephens, @edsiper, @leonardo-albertovich, @koleini

filter_ecs: only attach metadata key if value is non-empty
  plugins/filter_ecs/ecs.c
  plugins/filter_ecs/ecs.h
Owners: @pettitwesley

filter_ecs: add test for empty metadata values
  tests/runtime/filter_ecs.c
Owners: @pettitwesley

filter_ecs: call mk_list_is_set in destroy functions for safety
  plugins/filter_ecs/ecs.c
Owners: @pettitwesley

filter_ecs: fix off by one error in checking agent_endpoint_retries
  plugins/filter_ecs/ecs.c
  plugins/filter_ecs/ecs.h
Owners: @pettitwesley

patch: fix argument order for flb_profile_provider_create.
  src/aws/flb_aws_credentials_profile.c
Owners: @pettitwesley

tests: runtime: filter_kubernetes: fix warnings
  tests/runtime/filter_kubernetes.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

wip: progress update
  plugins/processor_labels/labels.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor: add support for processor plugins
  include/fluent-bit/flb_processor.h
  src/flb_processor.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config: add support for processor plugins
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

output: add support for processor plugins
  include/fluent-bit/flb_output.h
  src/flb_output.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input: updated the processor creation call to match the new prototype
  src/flb_input.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens
/cmake/                  @fujimotos @niedbalski @patrick-stephens

# CI 
# -------------------------
/.github/                @niedbalski @patrick-stephens
/appveyor.yml            @niedbalski @patrick-stephens
/dockerfiles/            @niedbalski @patrick-stephens
/packaging/              @niedbalski @patrick-stephens
/codebase-structure.svg  @niedbalski @patrick-stephens
/install.sh              @niedbalski @patrick-stephens

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper
