Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

engine: fix compiler warnings
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_log_to_metrics: fix compiler warning
  plugins/filter_log_to_metrics/log_to_metrics.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_http: fix compiler warnings
  plugins/out_http/http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_http: fix missing initialization
  plugins/in_http/http_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_cloudwatch_logs: fix warnings
  plugins/out_cloudwatch_logs/cloudwatch_api.c
  plugins/out_cloudwatch_logs/cloudwatch_logs.c
Owners: @pettitwesley

in_kubernetes_events: fix compiler warnings
  plugins/in_kubernetes_events/kubernetes_events.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_stackdriver: fix warnings
  plugins/out_stackdriver/stackdriver.c
Owners: @braydonk, @igorpeshansky, @qingling128

in_kafka: fix warnings and missing initialization
  plugins/in_kafka/in_kafka.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_websocket: fix compiler warnings
  plugins/out_websocket/websocket.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: db: fix compiler warnings
  plugins/in_tail/tail_db.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_metrics_selector: fix missing initialization
  plugins/processor_metrics_selector/selector.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_kusto: fix compiler warning
  plugins/out_azure_kusto/azure_kusto_ingest.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_winevtlog: Retrieve messages of forwarded events correctly
  plugins/in_winevtlog/winevtlog.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: ctraces: upgrade to v0.5.2
  lib/ctraces/CMakeLists.txt
  lib/ctraces/include/ctraces/ctr_variant_utils.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: Strict check for length of credentials
  plugins/in_splunk/splunk.h
  plugins/in_splunk/splunk_config.c
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: Add length checking for storing credentials strictly
  plugins/in_splunk/splunk.h
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: Trim spaces for the credentials
  plugins/in_splunk/splunk_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: Process Content-Type strictly
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: Downgrade from error response to debug message when Content-Type is not set
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: ctraces: upgrade to v0.5.2
  lib/ctraces/CMakeLists.txt
  lib/ctraces/include/ctraces/ctr_variant_utils.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

- Fixed minor coding style in C.
  plugins/filter_encrypt/aes.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

- Removed function generate_key_from_pbkdf2 used in aes_deterministic.c because we will be using the function from crypto_utils.c
  plugins/filter_encrypt/aes_deterministic.c
  plugins/filter_encrypt/aes_deterministic.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

- Renamed function because there was another identical function with same name causing confusion.
  plugins/filter_encrypt/crypto_utils.c
  plugins/filter_encrypt/crypto_utils.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

- Improved function convert_to_ipv6_format
  plugins/filter_encrypt/cryptopANT.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: Add length checking for storing credentials strictly
  plugins/in_splunk/splunk.h
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: Trim spaces for the credentials
  plugins/in_splunk/splunk_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: Strict check for length of credentials
  plugins/in_splunk/splunk.h
  plugins/in_splunk/splunk_config.c
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

- Code refactoring: Moved includes from .c to .h file
  plugins/filter_encrypt/aes_gcm.c
  plugins/filter_encrypt/aes_gcm.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

- Fixed memory bug affecting windows related with data copying.
  plugins/filter_encrypt/ip_encryption.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

- Fixed minor coding style in C.
  plugins/filter_encrypt/aes.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

- Code refactoring: moving imports from .c to .h file
  plugins/filter_encrypt/aes_gcm.c
  plugins/filter_encrypt/aes_gcm.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_kinesis_streams: add new option "unescape_log_key"
  plugins/out_kinesis_streams/kinesis.c
  plugins/out_kinesis_streams/kinesis.h
  plugins/out_kinesis_streams/kinesis_api.c
Owners: @pettitwesley

in_splunk: Downgrade from error response to debug message when Content-Type is not set
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: Process Content-Type strictly
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

[Fluent Bit / filter_wasm_go] Upgrade to support Go 1.22.5 and TinyGo 0.32
  examples/filter_wasm_go/README.md
  examples/filter_wasm_go/go.mod
  examples/filter_wasm_go/go.sum
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

log_event_decoder: Fix unaligned memory access.
  src/flb_log_event_decoder.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

release: update to 3.1.4
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.1.4.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

Add built-in luajit support for s390x
  lib/luajit-04dca791/dynasm/dasm_s390x.h
  lib/luajit-04dca791/dynasm/dasm_s390x.lua
  lib/luajit-04dca791/src/Makefile
  lib/luajit-04dca791/src/host/buildvm.c
  lib/luajit-04dca791/src/host/buildvm_asm.c
  lib/luajit-04dca791/src/jit/dis_s390x.lua
  lib/luajit-04dca791/src/lib_jit.c
  lib/luajit-04dca791/src/lj_arch.h
  lib/luajit-04dca791/src/lj_asm.c
  lib/luajit-04dca791/src/lj_ccall.c
  lib/luajit-04dca791/src/lj_ccall.h
  lib/luajit-04dca791/src/lj_ccallback.c
  lib/luajit-04dca791/src/lj_err.c
  lib/luajit-04dca791/src/lj_frame.h
  lib/luajit-04dca791/src/lj_target.h
  lib/luajit-04dca791/src/lj_target_s390x.h
  lib/luajit-04dca791/src/vm_s390x.dasc
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Build the built-in luajit for s390x
  README.md
  cmake/s390x.cmake
  lib/luajit-cmake/Bundle.cmake
  lib/luajit-cmake/LuaJIT.cmake
  lib/luajit-cmake/Modules/FindUnwind.cmake
  lib/luajit-cmake/host/buildvm/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286

examples: filter_wasm_go: Upgrade to support Go 1.22.5 and TinyGo 0.32
  examples/filter_wasm_go/filter.go
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
