Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

workflows provide in-repo centos 7 compile checks for PR
  .github/workflows/README.workflows.md
  .github/workflows/pr-compile-check.yaml
  dockerfiles/Dockerfile.centos7
Owners: @niedbalski

workflows: Add PR check for CentOS 7 compilation (#4381)
  .github/workflows/README.workflows.md
  .github/workflows/pr-compile-check.yaml
  dockerfiles/Dockerfile.centos7
Owners: @niedbalski

Added full whack
  .github/workflows/staging-build.yaml
Owners: @niedbalski

Initial test
  .github/workflows/staging-test.yaml
Owners: @niedbalski

lib: chunkio: upgrade to v1.1.5
  lib/chunkio/.github/workflows/ci.yaml
  lib/chunkio/.gitignore
  lib/chunkio/CMakeLists.txt
  lib/chunkio/cmake/macros.cmake
  lib/chunkio/include/chunkio/chunkio.h
  lib/chunkio/include/chunkio/chunkio_compat.h
  lib/chunkio/include/chunkio/cio_chunk.h
  lib/chunkio/include/chunkio/cio_error.h
  lib/chunkio/include/chunkio/cio_file.h
  lib/chunkio/include/chunkio/cio_info.h.in
  lib/chunkio/scripts/win_build.bat
  lib/chunkio/src/CMakeLists.txt
  lib/chunkio/src/chunkio.c
  lib/chunkio/src/cio_chunk.c
  lib/chunkio/src/cio_error.c
  lib/chunkio/src/cio_file.c
  lib/chunkio/src/cio_memfs.c
  lib/chunkio/src/cio_utils.c
  lib/chunkio/tests/fs.c
  lib/chunkio/tools/cio.c
Owners: @edsiper, @fujimotos, @koleini

filter_aws: add input instance to filter callback
  plugins/filter_aws/aws.c
Owners: @pettitwesley

filter_lua: add input instance to filter callback
  plugins/filter_lua/lua.c
Owners: @edsiper, @fujimotos, @koleini

filter_modify: add input instance to filter callback
  plugins/filter_modify/modify.c
Owners: @edsiper, @fujimotos, @koleini

filter_throttle_size: add input instance to filter callback
  plugins/filter_throttle_size/throttle_size.c
Owners: @edsiper, @fujimotos, @koleini

filter_record_modifier: add input instance to filter callback
  plugins/filter_record_modifier/filter_modifier.c
Owners: @edsiper, @fujimotos, @koleini

filter_tensorflow: add input instance to filter callback
  plugins/filter_tensorflow/tensorflow.c
Owners: @edsiper, @fujimotos, @koleini

filter_rewrite_tag: add input instance to filter callback
  plugins/filter_rewrite_tag/rewrite_tag.c
Owners: @edsiper, @fujimotos, @koleini

filter_alter_size: add input instance to filter callback
  plugins/filter_alter_size/alter_size.c
Owners: @edsiper, @fujimotos, @koleini

filter_geoip2: add input instance to filter callback
  plugins/filter_geoip2/geoip2.c
Owners: @edsiper, @fujimotos, @koleini

filter_nest: add input instance to filter callback
  plugins/filter_nest/nest.c
Owners: @edsiper, @fujimotos, @koleini

filter_throttle: add input instance to filter callback
  plugins/filter_throttle/throttle.c
Owners: @edsiper, @fujimotos, @koleini

filter_grep: add input instance to filter callback
  plugins/filter_grep/grep.c
Owners: @edsiper, @fujimotos, @koleini

filter_parser: add input instance to filter callback
  plugins/filter_parser/filter_parser.c
Owners: @edsiper, @fujimotos, @koleini

filter_expect: add input instance to filter callback
  plugins/filter_expect/expect.c
Owners: @edsiper, @fujimotos, @koleini

filter_stdout: add input instance to filter callback
  plugins/filter_stdout/stdout.c
Owners: @edsiper, @fujimotos, @koleini

filter_kubernetes: add input instance to filter callback
  plugins/filter_kubernetes/kubernetes.c
Owners: @edsiper, @fujimotos, @koleini

filter: add input instance to filter callback
  include/fluent-bit/flb_filter.h
  src/flb_filter.c
Owners: @edsiper, @fujimotos, @koleini

filter_checklist: add input instance to filter callback
  plugins/filter_checklist/checklist.c
Owners: @edsiper, @fujimotos, @koleini

filter_multiline: implement buffered mode using in_emitter
  plugins/filter_multiline/ml.c
  plugins/filter_multiline/ml.h
Owners: @edsiper, @fujimotos, @koleini

in_nginx_exporter_metrics: fix memory leak when using nginx plus.
  plugins/in_nginx_exporter_metrics/nginx.c
Owners: @edsiper, @fujimotos, @koleini

io: support timeout on synchronous calls
  include/fluent-bit/flb_network.h
  src/flb_io.c
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

aws: imds fallback to v1 if token request fails
  include/fluent-bit/aws/flb_aws_imds.h
  src/aws/flb_aws_credentials_ec2.c
  src/aws/flb_aws_imds.c
  tests/internal/aws_credentials_ec2.c
Owners: @edsiper, @fujimotos, @koleini, @pettitwesley

tests: runtime: add tests for multiline filter
  tests/runtime/CMakeLists.txt
  tests/runtime/filter_multiline.c
Owners: @edsiper, @fujimotos, @koleini

in_nginx_exporter_metrics: consolidate return from coroutines in nginx_collect.
  plugins/in_nginx_exporter_metrics/nginx.c
Owners: @edsiper, @fujimotos, @koleini

in_windows_exporter_metrics: initial commit
  plugins/in_windows_exporter_metrics/CMakeLists.txt
  plugins/in_windows_exporter_metrics/we.c
  plugins/in_windows_exporter_metrics/we.h
  plugins/in_windows_exporter_metrics/we_config.c
  plugins/in_windows_exporter_metrics/we_config.h
  plugins/in_windows_exporter_metrics/we_cpu.c
  plugins/in_windows_exporter_metrics/we_cpu.h
  plugins/in_windows_exporter_metrics/we_metric.c
  plugins/in_windows_exporter_metrics/we_metric.h
  plugins/in_windows_exporter_metrics/we_perflib.c
  plugins/in_windows_exporter_metrics/we_perflib.h
  plugins/in_windows_exporter_metrics/we_util.c
  plugins/in_windows_exporter_metrics/we_util.h
  plugins/in_windows_exporter_metrics/we_wmi.c
  plugins/in_windows_exporter_metrics/we_wmi.h
Owners: @edsiper, @fujimotos, @koleini

in_windows_exporter_metrics: initial commit
  CMakeLists.txt
  plugins/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

in_windows_exporter_metrics: removed test code
  plugins/in_windows_exporter_metrics/we_perflib.c
Owners: @edsiper, @fujimotos, @koleini

ml: support FLB_ML_TYPE_MAP to parse(#4034)
  src/multiline/flb_ml.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: multiline: add test case for #4034
  tests/internal/multiline.c
Owners: @edsiper, @fujimotos, @koleini

systemd unit file: add link to documentation
  init/systemd.in
Owners: @edsiper, @fujimotos, @koleini

systemd unit file: make -c use absolute path
  init/systemd.in
Owners: @edsiper, @fujimotos, @koleini

Regular CVE scans using Trivy of the container.
  .github/workflows/cron-trivy.yaml
Owners: @niedbalski

Regular CVE scans using Trivy of the container. (#4393)
  .github/workflows/cron-trivy.yaml
Owners: @niedbalski

in_windows_exporter_metrics: initial commit
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/in_windows_exporter_metrics/CMakeLists.txt
  plugins/in_windows_exporter_metrics/we.c
  plugins/in_windows_exporter_metrics/we.h
  plugins/in_windows_exporter_metrics/we_config.c
  plugins/in_windows_exporter_metrics/we_config.h
  plugins/in_windows_exporter_metrics/we_cpu.c
  plugins/in_windows_exporter_metrics/we_cpu.h
  plugins/in_windows_exporter_metrics/we_metric.c
  plugins/in_windows_exporter_metrics/we_metric.h
  plugins/in_windows_exporter_metrics/we_perflib.c
  plugins/in_windows_exporter_metrics/we_perflib.h
  plugins/in_windows_exporter_metrics/we_util.c
  plugins/in_windows_exporter_metrics/we_util.h
  plugins/in_windows_exporter_metrics/we_wmi.c
  plugins/in_windows_exporter_metrics/we_wmi.h
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

in_windows_exporter_metrics: PR review corrections
  plugins/in_windows_exporter_metrics/we.c
  plugins/in_windows_exporter_metrics/we_cpu.c
  plugins/in_windows_exporter_metrics/we_perflib.c
  plugins/in_windows_exporter_metrics/we_util.c
  plugins/in_windows_exporter_metrics/we_util.h
Owners: @edsiper, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
