Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley

tests: interal: timeout: disabled retries and changed the grace period
  tests/internal/timeout.c
Owners: @edsiper, @fujimotos, @koleini

workflows: reinstate staging container promotion
  .github/workflows/staging-release.yaml
Owners: @niedbalski

filter_kubernetes: set kube_token_ttl default to 600s
  plugins/filter_kubernetes/kubernetes.c
Owners: @edsiper, @fujimotos, @koleini

workflows: release promotion job updates (#4601)
  .github/actions/release-server-sync/action.yaml
  .github/workflows/remove-release.yaml
  .github/workflows/staging-release.yaml
  packaging/remove-version.sh
  packaging/testing/smoke/packages/local-test-all.sh
  packaging/update-repos.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

documentation: update readme for container images
  dockerfiles/README.md
Owners: @niedbalski

workflows: initial workflow refactor
  .github/workflows/master-integration-test.yaml
  .github/workflows/pr-closed-docker.yaml
  .github/workflows/pr-integration-test.yaml
  .github/workflows/staging-build.yaml
  .github/workflows/staging-release.yaml
  .github/workflows/staging-test.yaml
Owners: @niedbalski

workflows: comment tweak
  .github/workflows/pr-lint.yaml
Owners: @niedbalski

workflows: test specific version of PR image
  .github/workflows/pr-image-tests.yaml
Owners: @niedbalski

workflows: align name for PR jobs
  .github/workflows/pr-closed-docker.yaml
  .github/workflows/pr-fuzz.yaml
  .github/workflows/pr-image-tests.yaml
  .github/workflows/pr-integration-test.yaml
  .github/workflows/pr-labels.yaml
  .github/workflows/pr-lint.yaml
  .github/workflows/pr-stale.yaml
Owners: @niedbalski

documentation: combine Windows documentation
  dockerfiles/README.dockerfiles-extra.md
  dockerfiles/README.md
Owners: @niedbalski

windows: more skips for appveyor
  appveyor.yml
Owners: @niedbalski

tests: internal: timeout: changed blackhole address
  tests/internal/timeout.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: timeout: added coroutine hang test case (#4605)
  tests/internal/CMakeLists.txt
  tests/internal/timeout.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: ra: add testcase for slash and dot
  tests/internal/record_accessor.c
Owners: @edsiper, @fujimotos, @koleini

record_accessor: allow dot
  src/flb_record_accessor.c
Owners: @edsiper, @fujimotos, @koleini

ra: allow slash (#4370)
  src/record_accessor/ra.l
Owners: @edsiper, @fujimotos, @koleini

build: detect 'libyaml'
  CMakeLists.txt
Owners: @fujimotos, @niedbalski

sds: new flb_sds_trim() function
  include/fluent-bit/flb_sds.h
  src/flb_sds.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: add 'config_format' for fluentbit and YAML
  tests/internal/CMakeLists.txt
  tests/internal/config_format.c
  tests/internal/config_format_fluentbit.c
  tests/internal/config_format_yaml.c
  tests/internal/data/config_format/fluent-bit.conf
  tests/internal/data/config_format/fluent-bit.yaml
Owners: @edsiper, @fujimotos, @koleini

config_format: new config reader for Fluent Bit and YAML formats (#4331)
  include/fluent-bit/config_format/flb_cf.h
  include/fluent-bit/config_format/flb_cf_fluentbit.h
  include/fluent-bit/config_format/flb_cf_yaml.h
  include/fluent-bit/flb_config_format.h
  src/CMakeLists.txt
  src/config_format/flb_cf_fluentbit.c
  src/config_format/flb_cf_yaml.c
  src/config_format/flb_config_format.c
Owners: @edsiper, @fujimotos, @koleini

config_format: use 'compat' interface
  src/config_format/flb_cf_fluentbit.c
Owners: @edsiper, @fujimotos, @koleini

workflows: align name for PR jobs
  .github/workflows/pr-closed-docker.yaml
  .github/workflows/pr-fuzz.yaml
  .github/workflows/pr-image-tests.yaml
  .github/workflows/pr-integration-test.yaml
  .github/workflows/pr-labels.yaml
  .github/workflows/pr-lint.yaml
  .github/workflows/pr-stale.yaml
Owners: @niedbalski

workflows: initial workflow refactor
  .github/workflows/master-integration-test.yaml
  .github/workflows/pr-closed-docker.yaml
  .github/workflows/pr-integration-test.yaml
  .github/workflows/staging-build.yaml
  .github/workflows/staging-release.yaml
  .github/workflows/staging-test.yaml
Owners: @niedbalski

workflows: test specific version of PR image
  .github/workflows/pr-image-tests.yaml
Owners: @niedbalski

documentation: update readme for container images
  dockerfiles/README.md
Owners: @niedbalski

documentation: combine Windows documentation
  dockerfiles/README.dockerfiles-extra.md
  dockerfiles/README.md
Owners: @niedbalski

workflows: comment tweak
  .github/workflows/pr-lint.yaml
Owners: @niedbalski

windows: more skips for appveyor
  appveyor.yml
Owners: @niedbalski

workflows: skopeo sync updates
  .github/workflows/call-build-images.yaml
  .github/workflows/staging-release.yaml
  packaging/skopeo-sync.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: use native skopeo in action
  .github/workflows/staging-release.yaml
  packaging/skopeo-sync.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: comments
  .github/workflows/staging-release.yaml
Owners: @niedbalski

lib: monkey: sync inject enhancement and list fixes
  lib/monkey/include/monkey/mk_core/mk_event.h
  lib/monkey/include/monkey/mk_core/mk_list.h
  lib/monkey/mk_core/mk_event.c
  lib/monkey/mk_core/mk_event_epoll.c
  lib/monkey/mk_core/mk_event_kqueue.c
  lib/monkey/mk_core/mk_event_libevent.c
  lib/monkey/mk_core/mk_event_select.c
Owners: @edsiper, @fujimotos, @koleini

lib: monkey: sync inject enhancement and list fixes
  lib/monkey/include/monkey/mk_core/mk_event.h
  lib/monkey/include/monkey/mk_core/mk_list.h
  lib/monkey/mk_core/mk_event.c
  lib/monkey/mk_core/mk_event_epoll.c
  lib/monkey/mk_core/mk_event_kqueue.c
  lib/monkey/mk_core/mk_event_libevent.c
  lib/monkey/mk_core/mk_event_select.c
Owners: @edsiper, @fujimotos, @koleini

lib: monkey: sync inject enhancement and list fixes (#4622)
  lib/monkey/include/monkey/mk_core/mk_event.h
  lib/monkey/include/monkey/mk_core/mk_list.h
  lib/monkey/mk_core/mk_event.c
  lib/monkey/mk_core/mk_event_epoll.c
  lib/monkey/mk_core/mk_event_kqueue.c
  lib/monkey/mk_core/mk_event_libevent.c
  lib/monkey/mk_core/mk_event_select.c
Owners: @edsiper, @fujimotos, @koleini

upstream: replaced timeout wakeup mechanism
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

network: properly react to being awoken due to a timeout
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

lib: monkey: sync inject enhancement and list fixes (#4623)
  lib/monkey/include/monkey/mk_core/mk_event.h
  lib/monkey/include/monkey/mk_core/mk_list.h
  lib/monkey/mk_core/mk_event.c
  lib/monkey/mk_core/mk_event_epoll.c
  lib/monkey/mk_core/mk_event_kqueue.c
  lib/monkey/mk_core/mk_event_libevent.c
  lib/monkey/mk_core/mk_event_select.c
Owners: @edsiper, @fujimotos, @koleini

network: properly react to being awoken due to a timeout
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

upstream: implemented timeout wakeup mechanism
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

network: properly react to being awoken due to a timeout
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini
