Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan

out_azure_blob: added blob destination tracking and stickiness
  plugins/out_azure_blob/azure_blob.c
  plugins/out_azure_blob/azure_blob.h
  plugins/out_azure_blob/azure_blob_db.c
  plugins/out_azure_blob/azure_blob_db.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: fixed DELETE request signature generation
  plugins/out_azure_blob/azure_blob_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

network: Update struct type being passed into accept
  src/flb_network.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_es: custom added ability ot set custom HTTP headers
  plugins/out_es/es.c
  plugins/out_es/es.h
Owners: @pettitwesley, @edsiper

Consider auto_create_container when ensuring container exist
  plugins/out_azure_blob/azure_blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_kusto: fixed review comments
  plugins/out_azure_kusto/azure_kusto.c
  plugins/out_azure_kusto/azure_kusto_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

motd: fixed non terminated buffer
  include/fluent-bit/flb_motd.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_http: fix parsing of root JSON object
  plugins/in_http/http_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_http: fix parsing of root JSON object
  plugins/in_http/http_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Sketch out implementation for Go custom plugins to support OTel extensions
  build_go_extensions.sh
  go.mod
  include/fluent-bit/flb_custom.h
  include/fluent-bit/flb_plugin_proxy.h
  plugins/custom_extensions_go/extensions.go
  src/flb_plugin_proxy.c
  src/proxy/go/go.c
  src/proxy/go/go.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests/internal: fix use-after-free for input_chunks test input_chunk_dropping_chunks.
  tests/internal/input_chunk.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

motd: add missing null character
  include/fluent-bit/flb_motd.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_node_exporter_metrics: Fix size of core_throttles_set in ne_cpu_linux.c
  plugins/in_node_exporter_metrics/ne_cpu_linux.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_calyptia_fleet: max http_buffer_size configurable.
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

custom_calyptia: expose the max_http_buffer_size for in_calyptia_fleet.
  plugins/custom_calyptia/calyptia.c
Owners: @pwhelan

motd: add missing null character
  include/fluent-bit/flb_motd.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_blob: fixed windows compatibility issue
  plugins/in_blob/blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: adjust HTTP/1.1 buffer based on the request size
  plugins/in_splunk/splunk_conn.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_elasticsearch: add support for chunked transfer encoding
  plugins/in_elasticsearch/in_elasticsearch_bulk_conn.c
  plugins/in_elasticsearch/in_elasticsearch_bulk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_http: adjust HTTP/1.1 buffer based on the request size
  plugins/in_http/http_conn.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: add support for HTTP/1.1 chunked transfer encoding
  plugins/in_splunk/splunk_conn.c
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opentelemetry: add support for HTTP/1.1 chunked transfer encoding
  plugins/in_opentelemetry/opentelemetry_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_http: add support for HTTP/1.1 chunked transfer encoding
  plugins/in_http/http_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_server: http1: add chunked transfer encoding support
  src/http_server/flb_http_server_http1.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opentelemetry: adjust HTTP/1.1 buffer based on the request size
  plugins/in_opentelemetry/http_conn.c
  plugins/in_opentelemetry/opentelemetry_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: monkey: upgrade to v1.8.1
  lib/monkey/CMakeLists.txt
  lib/monkey/api/test.c
  lib/monkey/include/monkey/mk_http_parser.h
  lib/monkey/mk_core/mk_event_select.c
  lib/monkey/mk_server/mk_http.c
  lib/monkey/mk_server/mk_http_parser.c
  lib/monkey/plugins/logger/logger.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Update with review comments
  MAINTAINERS.md
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

cmake: update emails and urls for Chronosphere
  CMakeLists.txt
  MAINTAINERS.md
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.windows
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

in_splunk: add support for HTTP/1.1 chunked transfer encoding
  plugins/in_splunk/splunk_conn.c
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_http: adjust HTTP/1.1 buffer based on the request size
  plugins/in_http/http_conn.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opentelemetry: add support for HTTP/1.1 chunked transfer encoding
  plugins/in_opentelemetry/opentelemetry_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: adjust HTTP/1.1 buffer based on the request size
  plugins/in_splunk/splunk_conn.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_elasticsearch: add support for chunked transfer encoding
  plugins/in_elasticsearch/in_elasticsearch_bulk_conn.c
  plugins/in_elasticsearch/in_elasticsearch_bulk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opentelemetry: adjust HTTP/1.1 buffer based on the request size
  plugins/in_opentelemetry/http_conn.c
  plugins/in_opentelemetry/opentelemetry_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: monkey: upgrade to v1.8.1
  lib/monkey/CMakeLists.txt
  lib/monkey/api/test.c
  lib/monkey/include/monkey/mk_http_parser.h
  lib/monkey/mk_core/mk_event_select.c
  lib/monkey/mk_server/mk_http.c
  lib/monkey/mk_server/mk_http_parser.c
  lib/monkey/plugins/logger/logger.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_http: add support for HTTP/1.1 chunked transfer encoding
  plugins/in_http/http_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_server: http1: add chunked transfer encoding support
  src/http_server/flb_http_server_http1.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: Fix indentation style
  plugins/in_tail/tail_file.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

dockerfiles: centos-7: Suppress SC1091 from hadolint
  dockerfiles/Dockerfile.centos7
Owners: @niedbalski, @patrick-stephens, @celalettin1286

workflows: dockerfiles: centos-7: Use devtoolset-8 to compile simdutf library
  dockerfiles/Dockerfile.centos7
Owners: @niedbalski, @patrick-stephens, @celalettin1286
