Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley

upstream: added dns resolver configuration switch
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

config: added dns resolver configuration switch
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

network: added dns resolver type selection mechanism
  include/fluent-bit/flb_network.h
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

network: fixed async usage when not in a coroutine error
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

out_s3: migrate to shared compression lib
  plugins/out_s3/CMakeLists.txt
  plugins/out_s3/arrow/CMakeLists.txt
  plugins/out_s3/arrow/compress.c
  plugins/out_s3/arrow/compress.h
  plugins/out_s3/s3.c
  plugins/out_s3/s3.h
Owners: @pettitwesley

out_kinesis_firehose: integrate with shared compression lib
  plugins/out_kinesis_firehose/firehose.c
  plugins/out_kinesis_firehose/firehose.h
  plugins/out_kinesis_firehose/firehose_api.c
  plugins/out_kinesis_firehose/firehose_api.h
Owners: @pettitwesley

trigger test
  TEST
Owners: @edsiper, @fujimotos, @koleini

workflows: increase stale checks to 90 days for issues
  .github/workflows/pr-stale.yaml
Owners: @niedbalski

plugins/in_forward: removed unused variables
  plugins/in_forward/fw.c
Owners: @edsiper, @fujimotos, @koleini

in_forward: removed unused variables (#4429)
  plugins/in_forward/fw.c
Owners: @edsiper, @fujimotos, @koleini

Removing word redundancy on workflows
  .github/workflows/unit-tests.yaml
Owners: @niedbalski

in_forward: removed unused variables (#4429)
  plugins/in_forward/fw.c
Owners: @edsiper, @fujimotos, @koleini

build: fix versioning numbers
  CMakeLists.txt
  dockerfiles/Dockerfile.arm32v7
  dockerfiles/Dockerfile.arm64v8
  dockerfiles/Dockerfile.windows
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-master_debug
  fluent-bit_1.8.11.bb
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

build: bump to v1.8.12
  CMakeLists.txt
Owners: @fujimotos, @niedbalski

dockerfiles: bump to v1.8.12
  dockerfiles/Dockerfile.arm32v7
  dockerfiles/Dockerfile.arm64v8
  dockerfiles/Dockerfile.windows
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-master_debug
Owners: @niedbalski

snap: bump to v1.8.12
  snap/snapcraft.yaml
Owners: @edsiper, @fujimotos, @koleini

bitbake: bump to v1.8.12
  fluent-bit_1.8.12.bb
Owners: @edsiper, @fujimotos, @koleini

lua: Add test module for lua util functions
  tests/internal/CMakeLists.txt
  tests/internal/lua.c
Owners: @edsiper, @fujimotos, @koleini

filter_lua: extract code into flb_lua module
  include/fluent-bit/flb_lua.h
  include/fluent-bit/flb_luajit.h
  plugins/filter_lua/lua.c
  plugins/filter_lua/lua_config.c
  plugins/filter_lua/lua_config.h
  src/CMakeLists.txt
  src/flb_lua.c
Owners: @edsiper, @fujimotos, @koleini

cmake: Enable CMAKE_EXPORT_COMPILE_COMMANDS
  CMakeLists.txt
Owners: @fujimotos, @niedbalski

workflows: increase stale checks to 90 days for issues
  .github/workflows/pr-stale.yaml
Owners: @niedbalski

coro: rename coro stack size define
  include/fluent-bit/flb_coro.h
Owners: @edsiper, @fujimotos, @koleini

config: rename coro stack size define
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

ml: support FLB_ML_TYPE_MAP to parse(#4034)
  src/multiline/flb_ml.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: multiline: add test case for #4034
  tests/internal/multiline.c
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: in_proc: modify absent process name(#4274)
  tests/runtime/in_simple_systems.c
Owners: @edsiper, @fujimotos, @koleini

ra: allow dash as an IDENTIFIER(#4236)
  src/record_accessor/ra.l
Owners: @edsiper, @fujimotos, @koleini

tests: internal: ra: add test for key contains dash
  tests/internal/record_accessor.c
Owners: @edsiper, @fujimotos, @koleini

ml_parser_cri: add missing arg skip_empty
  src/multiline/flb_ml_parser_cri.c
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: filter_parser: add testcase for 'skip_empty_values'
  tests/runtime/filter_parser.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: fuzzers: fix build errors
  tests/internal/fuzzers/engine_fuzzer.c
  tests/internal/fuzzers/parse_json_fuzzer.c
  tests/internal/fuzzers/parse_logfmt_fuzzer.c
  tests/internal/fuzzers/parse_ltsv_fuzzer.c
  tests/internal/fuzzers/parser_fuzzer.c
Owners: @edsiper, @fujimotos, @koleini

parser: support 'Skip_Empty_Values' (#1486) If enabled, the parser ignores empty value of the record. Default is true.
  include/fluent-bit/flb_parser.h
  src/flb_parser.c
  src/flb_parser_regex.c
Owners: @edsiper, @fujimotos, @koleini

ml_parser_docker: add missing arg skip_empty
  src/multiline/flb_ml_parser_docker.c
Owners: @edsiper, @fujimotos, @koleini

in_forward: increase the buffer size to buffer_max_size
  plugins/in_forward/fw_conn.c
Owners: @edsiper, @fujimotos, @koleini

out_gelf: check NULL context on exit
  plugins/out_gelf/gelf.c
Owners: @edsiper, @fujimotos, @koleini

proxy: destroy used buffer on exit (#3888)
  include/fluent-bit/flb_plugin_proxy.h
  src/flb_plugin_proxy.c
  src/proxy/go/go.c
  src/proxy/go/go.h
Owners: @edsiper, @fujimotos, @koleini

ra_key: check subkeys length (#3896)
  src/flb_ra_key.c
  tests/runtime/out_loki.c
Owners: @edsiper, @fujimotos, @koleini

out_nats: support config map (#3953)
  plugins/out_nats/nats.c
Owners: @edsiper, @fujimotos, @koleini

out_gelf: support config map (#3954)
  plugins/out_gelf/gelf.c
Owners: @edsiper, @fujimotos, @koleini

out_datadog: support config map (#3985)
  plugins/out_datadog/datadog.c
  plugins/out_datadog/datadog.h
  plugins/out_datadog/datadog_conf.c
Owners: @clamoriniere
