Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

network: Update struct type for sock_addr
  src/flb_network.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

network: Update struct type being passed into accept
  src/flb_network.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_calyptia: retry registering agent on flush.
  plugins/out_calyptia/calyptia.c
  plugins/out_calyptia/calyptia.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input: Add callback member for testing input format
  include/fluent-bit/flb_input.h
  src/flb_input.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: Implement formatter testing functionality
  include/fluent-bit/flb_lib.h
  src/flb_lib.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski

in_systemd: test: Add a format test case for duplicated keys
  tests/runtime/CMakeLists.txt
  tests/runtime/in_systemd.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_systemd: Process enumerated data as cfl_kvlist(s) at first
  plugins/in_systemd/systemd.c
  plugins/in_systemd/systemd_config.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Replace docker_id for container_id
  conf/parsers.conf
  plugins/filter_kubernetes/kube_conf.h
  plugins/filter_kubernetes/kube_meta.c
  plugins/filter_kubernetes/kube_meta.h
  plugins/filter_kubernetes/kube_regex.h
  plugins/filter_kubernetes/kubernetes.c
  plugins/filter_log_to_metrics/log_to_metrics.c
  plugins/in_docker/cgroup_v1.c
  plugins/in_docker/cgroup_v2.c
  plugins/in_docker/docker.c
  plugins/in_docker/docker.h
  plugins/out_stackdriver/stackdriver.h
  scripts/rate_limit.lua
  tests/internal/avro.c
  tests/internal/data/avro/live-sample.json
  tests/internal/data/avro/multiline.json
  tests/runtime/data/kubernetes/out/core/core_base-with-namespace-labels-and-annotations_fluent-bit.out
  tests/runtime/data/kubernetes/out/core/core_base_fluent-bit.out
  tests/runtime/data/kubernetes/out/kairosdb-914055854-b63vq.out
  tests/runtime/data/kubernetes/out/options/options_use-kubelet-disabled_fluent-bit.out
  tests/runtime/data/kubernetes/out/options/options_use-kubelet-enabled_fluent-bit.out
  tests/runtime/filter_log_to_metrics.c
  tests/runtime/filter_throttle_size.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @nokute78, @braydonk, @igorpeshansky, @qingling128

in_winevtlog: Use correct flag for EvtRender
  plugins/in_winevtlog/winevtlog.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_calyptia: retry agent registration on flush callback [backport 3.1]
  plugins/custom_calyptia/calyptia.c
  plugins/out_calyptia/calyptia.c
  plugins/out_calyptia/calyptia.h
  tests/runtime/CMakeLists.txt
  tests/runtime/custom_calyptia_input_test.c
  tests/runtime/custom_calyptia_registration_retry_test.c
Owners: @pwhelan, @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_calyptia: remove unnecessary include for tests
  tests/runtime/custom_calyptia_input_test.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

custom_calyptia: cascade register_retry_on_flush variables.
  plugins/custom_calyptia/calyptia.c
  plugins/custom_calyptia/calyptia.h
  plugins/out_calyptia/calyptia.c
  tests/runtime/CMakeLists.txt
  tests/runtime/custom_calyptia_registration_retry_test.c
Owners: @pwhelan, @edsiper, @leonardo-albertovich, @fujimotos, @koleini

release: update to 3.2.3
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.2.3.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

in_kafka: increase the poll-timeout if we run in own own thread
  plugins/in_kafka/in_kafka.c
  plugins/in_kafka/in_kafka.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_kafka: add support to switch to auto-commit
  plugins/in_kafka/in_kafka.c
  plugins/in_kafka/in_kafka.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_kafka: fix type in help text
  plugins/in_kafka/in_kafka.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_calyptia: retry agent registration on flush callback (#9656)
  plugins/custom_calyptia/calyptia.c
  plugins/custom_calyptia/calyptia.h
  plugins/out_calyptia/calyptia.c
  plugins/out_calyptia/calyptia.h
  tests/runtime/CMakeLists.txt
  tests/runtime/custom_calyptia_registration_retry_test.c
Owners: @pwhelan, @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Fixing bug in flb_plugin.c: key -> value
  src/flb_plugin.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_prometheus_remote_write: Fix a typo
  plugins/out_prometheus_remote_write/remote_write.c
  plugins/out_prometheus_remote_write/remote_write.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_http: fix a typo
  plugins/out_http/http.c
  plugins/out_http/http.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: fix a typo
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: cmake: fix UNICODE-escaped characters on aarch64 (#8851)
  .github/workflows/unit-tests.yaml
  CMakeLists.txt
Owners: @niedbalski, @patrick-stephens, @celalettin1286, @fujimotos

filter_parser: fix reserve data and preserve key handling
  plugins/filter_parser/filter_parser.c
  tests/runtime/filter_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_parser: fix reserve data and preserve key handling (#9675)
  plugins/filter_parser/filter_parser.c
  tests/runtime/filter_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_prometheus_remote_write: Fix a typo (#9674)
  plugins/out_prometheus_remote_write/remote_write.c
  plugins/out_prometheus_remote_write/remote_write.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utf8: enhance handling of multibyte sequences
  include/fluent-bit/flb_utf8.h
  src/flb_utf8.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: add flb_utf8.c
  src/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: use new utf8 decoder API
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: utils: adjusts expected utf8 encoded bytes
  tests/internal/utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

wasm: Plug a resource leak on exception (CID 508177) (#9615)
  src/wasm/flb_wasm.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

calyptia: generate machine id for fleet agents
  include/CMakeLists.txt
  include/fluent-bit/flb_utils.h
  plugins/custom_calyptia/calyptia.c
  plugins/custom_calyptia/calyptia.h
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
  plugins/out_calyptia/calyptia.c
  plugins/out_calyptia/calyptia.h
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @pwhelan

calyptia: add missing include
  plugins/custom_calyptia/calyptia.c
Owners: @pwhelan

calyptia: add missing include
  include/fluent-bit/calyptia/calyptia_constants.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: resolve conflicting definitions
  tests/runtime/custom_calyptia_input_test.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

calyptia: resolve missing bool type
  plugins/custom_calyptia/calyptia.h
Owners: @pwhelan

calyptia: resolve missing header
  plugins/custom_calyptia/calyptia.h
Owners: @pwhelan

calyptia: resolve duplicate symbols for tests
  plugins/custom_calyptia/calyptia.c
  plugins/custom_calyptia/calyptia.h
  tests/runtime/custom_calyptia_input_test.c
Owners: @pwhelan, @edsiper, @leonardo-albertovich, @fujimotos, @koleini

calyptia: resolve function pointer usage
  plugins/custom_calyptia/calyptia.h
  tests/runtime/custom_calyptia_input_test.c
Owners: @pwhelan, @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
