Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan

in_forward: Use extracted function for processing concatenated gzip
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

test: internal: gzip: Add testcases for payloads of concatenated gzip
  tests/internal/gzip.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_prometheus_exporter: Plug a memory leak
  plugins/out_prometheus_exporter/prom.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_mqtt: added buffer size setting and fixed a leak
  plugins/in_mqtt/mqtt.c
  plugins/in_mqtt/mqtt.h
  plugins/in_mqtt/mqtt_conn.c
  plugins/in_mqtt/mqtt_conn.h
  plugins/in_mqtt/mqtt_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

gzip: Extract and unify code for concatenated gzip payloads
  include/fluent-bit/flb_gzip.h
  src/flb_gzip.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: Use extracted function for processing concatenated gzip
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

test: internal: gzip: Add testcases for payloads of concatenated gzip
  tests/internal/gzip.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cfl: upgrade to v0.5.1
  lib/cfl/.github/workflows/build.yaml
  lib/cfl/.github/workflows/packages.yaml
  lib/cfl/CMakeLists.txt
  lib/cfl/include/cfl/cfl.h
  lib/cfl/include/cfl/cfl_compat.h
  lib/cfl/include/cfl/cfl_utils.h
  lib/cfl/src/CMakeLists.txt
  lib/cfl/src/cfl_utils.c
  lib/cfl/tests/CMakeLists.txt
  lib/cfl/tests/list.c
  lib/cfl/tests/utils.c
  lib/cfl/tests/version.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.2
  lib/cmetrics/.github/workflows/build.yaml
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/scripts/win_build.bat
  lib/cmetrics/src/cmt_decode_prometheus.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_mqtt: added removed debug message
  plugins/in_mqtt/mqtt_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: monkey: sync changes on missing headers
  lib/monkey/include/monkey/mk_core/mk_event_poll.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_oracle_log_analytics: remove flb_errno that checks NULL
  plugins/out_oracle_log_analytics/oci_logan_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_oracle_log_analytics: fix mk_list cleanup function
  plugins/out_oracle_log_analytics/oci_logan_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_oracle_log_analytics: add flb_sds_destroy for key
  plugins/out_oracle_log_analytics/oci_logan_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_oracle_log_analytics: set NULL to prevent double free
  plugins/out_oracle_log_analytics/oci_logan_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_prometheus_exporter: Plug a leak on error
  plugins/out_prometheus_exporter/prom.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

debug off_t
  lib/cfl/include/cfl/cfl_utils.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

revert debug
  lib/cfl/include/cfl/cfl_utils.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cfl: Debug to cfl related building error
  lib/cfl/include/cfl/cfl_compat.h
  lib/cfl/include/cfl/cfl_utils.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: update unstable nightly builds for 3.0
  .github/workflows/cron-unstable-build.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

workflows: update unstable nightly builds for 3.0 (#9168)
  .github/workflows/cron-unstable-build.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

lib: cfl: upgrade to v0.5.2
  lib/cfl/.github/workflows/build.yaml
  lib/cfl/.github/workflows/packages.yaml
  lib/cfl/CMakeLists.txt
  lib/cfl/include/cfl/cfl.h
  lib/cfl/include/cfl/cfl_array.h
  lib/cfl/include/cfl/cfl_compat.h
  lib/cfl/include/cfl/cfl_utils.h
  lib/cfl/src/CMakeLists.txt
  lib/cfl/src/cfl_utils.c
  lib/cfl/tests/CMakeLists.txt
  lib/cfl/tests/array.c
  lib/cfl/tests/list.c
  lib/cfl/tests/utils.c
  lib/cfl/tests/version.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cfl: upgrade to v0.5.2
  lib/cfl/.github/workflows/build.yaml
  lib/cfl/.github/workflows/packages.yaml
  lib/cfl/CMakeLists.txt
  lib/cfl/include/cfl/cfl.h
  lib/cfl/include/cfl/cfl_array.h
  lib/cfl/include/cfl/cfl_compat.h
  lib/cfl/include/cfl/cfl_utils.h
  lib/cfl/src/CMakeLists.txt
  lib/cfl/src/cfl_utils.c
  lib/cfl/tests/CMakeLists.txt
  lib/cfl/tests/array.c
  lib/cfl/tests/list.c
  lib/cfl/tests/utils.c
  lib/cfl/tests/version.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.3
  lib/cmetrics/.github/workflows/build.yaml
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/scripts/win_build.bat
  lib/cmetrics/src/cmt_decode_prometheus.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: ctraces: upgrade to v0.5.4
  lib/ctraces/.github/workflows/build.yaml
  lib/ctraces/.github/workflows/lint.yaml
  lib/ctraces/CMakeLists.txt
  lib/ctraces/examples/otlp-encoder/README.md
  lib/ctraces/src/ctr_encode_msgpack.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Updated http_prot to further check json content type header to ensure valid application/json and not some custom unexpected media type.
  plugins/in_http/http_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_mqtt: added buffer size setting and fixed a leak (#9163)
  plugins/in_mqtt/mqtt.c
  plugins/in_mqtt/mqtt.h
  plugins/in_mqtt/mqtt_conn.c
  plugins/in_mqtt/mqtt_conn.h
  plugins/in_mqtt/mqtt_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: ctraces: upgrade to v0.5.4
  lib/ctraces/.github/workflows/build.yaml
  lib/ctraces/.github/workflows/lint.yaml
  lib/ctraces/CMakeLists.txt
  lib/ctraces/examples/otlp-encoder/README.md
  lib/ctraces/src/ctr_encode_msgpack.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.3
  lib/cmetrics/.github/workflows/build.yaml
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/scripts/win_build.bat
  lib/cmetrics/src/cmt_decode_prometheus.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

restore --staged tests/internal/aws_util.c
  src/aws/flb_aws_util.c
Owners: @pettitwesley

out_opensearch: fixed wrong payload buffer usage for traces
  plugins/out_opensearch/opensearch.c
Owners: @pettitwesley, @edsiper

workflows: add sanity check for compilation using system libraries to pr-compile-check.yaml
  .github/workflows/pr-compile-check.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

build: use the system provided LuaJIT if found
  CMakeLists.txt
  cmake/headers.cmake
  cmake/luajit.cmake
  src/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

appveyor: Use vcpkg to install the latest OpenSSL
  appveyor.yml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

cmake: windows: Enable Kafka plugins on Windows
  cmake/windows-setup.cmake
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

build: added an option to enforce memory alignment
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

core: added a byte order detection abstraction macro
  include/fluent-bit/flb_endian.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

core: added aligned memory read functions
  include/fluent-bit/flb_compat.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

log_event_decoder: updated code to use aligned memory reads
  src/flb_log_event_decoder.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_kusto: added tracing headers
  plugins/out_azure_kusto/azure_kusto_ingest.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini
