Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley

config_format: fluentbit: support windows backslash
  src/config_format/flb_cf_fluentbit.c
Owners: @edsiper, @fujimotos, @koleini

info: add string helpers
  include/fluent-bit/flb_info.h.in
Owners: @edsiper, @fujimotos, @koleini

tests: internal: ra: add unit test for lookup order
  tests/internal/record_accessor.c
Owners: @edsiper, @fujimotos, @koleini

config_format: yaml: support windows backslash
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @fujimotos, @koleini

build: add new option -DFLB_NIGHTLY_BUILD=ABC to register custom versions
  CMakeLists.txt
  cmake/macros.cmake
Owners: @fujimotos, @niedbalski

bin: fix Copyright
  src/fluent-bit.c
Owners: @edsiper, @fujimotos, @koleini

lib: chunkio: upgrade to v1.1.6
  lib/chunkio/CMakeLists.txt
  lib/chunkio/include/chunkio/cio_file.h
  lib/chunkio/src/cio_file.c
Owners: @edsiper, @fujimotos, @koleini

pack: enhance memory allocation strategy for large JSON payloads
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

ra_key: reverse order of map lookup when extracting values
  src/flb_ra_key.c
Owners: @edsiper, @fujimotos, @koleini

config_format: yaml: add support for 'includes' and move 'customs'
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @fujimotos, @koleini

bin: report nightly build info if found
  src/fluent-bit.c
Owners: @edsiper, @fujimotos, @koleini

pack: ensure minimum allocation is 256 bytes (unit test)
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

config_format: yaml: move 'customs' lists to top level
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: config_format: extend test cases
  tests/internal/config_format_fluentbit.c
  tests/internal/config_format_yaml.c
  tests/internal/data/config_format/fluent-bit.conf
  tests/internal/data/config_format/fluent-bit.yaml
  tests/internal/data/config_format/yaml/fluent-bit.yaml
  tests/internal/data/config_format/yaml/service.yaml
  tests/internal/data/config_format/yaml/test.yaml
  tests/internal/data/config_format/yaml/test/dummy_pipeline.yaml
  tests/internal/data/config_format/yaml/test/nested.yaml
Owners: @edsiper, @fujimotos, @koleini

in_storage_backlog: do not abort if chunk cannot be processed
  plugins/in_storage_backlog/sb.c
Owners: @edsiper, @fujimotos, @koleini

workflows: remove Azure action usage (#4739)
  .github/containerscan/allowedlist.yaml
  .github/workflows/call-build-images.yaml
  .github/workflows/pr-image-tests.yaml
  .github/workflows/staging-build.yaml
Owners: @niedbalski

output_thread: fix event loop destroy order
  src/flb_output_thread.c
Owners: @edsiper, @fujimotos, @koleini

installation: add script to install in one liner (#4740)
  .github/workflows/skipped-unit-tests.yaml
  .github/workflows/unit-tests.yaml
  install.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

packaging: resolve CentOS 8 mirror issues (#4772)
  .github/workflows/staging-build.yaml
  packaging/distros/centos/Dockerfile
  packaging/local-build-all.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: PR fork permission tweaks and other updates (#4767)
  .github/workflows/README.md
  .github/workflows/call-build-packages.yaml
  .github/workflows/pr-image-tests.yaml
  .github/workflows/pr-integration-test.yaml
  .github/workflows/remove-release.yaml
  .github/workflows/staging-build.yaml
  .github/workflows/staging-release.yaml
Owners: @niedbalski

hash: add new API to check if hash exists
  include/fluent-bit/flb_hash.h
  src/flb_hash.c
  tests/internal/hashtable.c
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: out_file: add test cases
  tests/runtime/out_file.c
Owners: @edsiper, @fujimotos, @koleini

in stdin: Initialize memory to 0
  plugins/in_stdin/in_stdin.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: do not use st_dev on Windows
  plugins/in_tail/tail_file.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: performance improvement on management of file list
  plugins/in_tail/tail.c
  plugins/in_tail/tail_config.c
  plugins/in_tail/tail_config.h
  plugins/in_tail/tail_file.c
  plugins/in_tail/tail_file_internal.h
Owners: @edsiper, @fujimotos, @koleini

out_stackdriver: correct env variable for SAs (#4753)
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @edsiper, @fujimotos, @koleini

dockerfiles: disable exec plugin for distroless containers (#4719)
  dockerfiles/Dockerfile
Owners: @niedbalski

dockerfiles: switch to multiarch only
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.arm32v7
  dockerfiles/Dockerfile.arm64v8
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-debug
  dockerfiles/Dockerfile.x86_64-master
  dockerfiles/Dockerfile.x86_64-master_debug
  dockerfiles/README.md
Owners: @niedbalski

workflows: remove legacy images
  .github/workflows/call-build-images.yaml
  .github/workflows/call-integration-image-build.yaml
  .github/workflows/pr-image-tests.yaml
Owners: @niedbalski

workflows: linting fix
  .github/workflows/call-build-images.yaml
Owners: @niedbalski

workflows: more workflow updates
  .github/workflows/call-test-images.yaml
  .github/workflows/pr-image-tests.yaml
  .github/workflows/pr-integration-test.yaml
Owners: @niedbalski

packaging: update ARM64 mirrors for CentOS 8 (#4773)
  .github/workflows/staging-build.yaml
  .github/workflows/staging-release.yaml
  packaging/distros/centos/Dockerfile
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: update staging - needs a revert for the branch
  .github/workflows/pr-image-tests.yaml
  .github/workflows/staging-build.yaml
  .github/workflows/staging-test.yaml
Owners: @niedbalski

workflows: lint reusable target branch (#4741)
  .github/workflows/pr-lint.yaml
Owners: @niedbalski

out_stackdriver: add new metric 'fluentbit_stackdriver_requests_total' (#2698)
  plugins/out_stackdriver/stackdriver.c
  plugins/out_stackdriver/stackdriver.h
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @edsiper, @fujimotos, @koleini

out_stackdriver: add new metric 'fluentbit_stackdriver_requests_total' (#2698)
  plugins/out_stackdriver/stackdriver.c
  plugins/out_stackdriver/stackdriver.h
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @edsiper, @fujimotos, @koleini

security_policy: add announcements section
  SECURITY.md
Owners: @edsiper, @fujimotos, @koleini

security: add announcements section
  SECURITY.md
Owners: @edsiper, @fujimotos, @koleini

lib: cmetrics: sync without a version change
  lib/cmetrics/include/cmetrics/cmetrics.h
  lib/cmetrics/include/cmetrics/cmt_counter.h
  lib/cmetrics/include/cmetrics/cmt_encode_opentelemetry.h
  lib/cmetrics/include/cmetrics/cmt_map.h
  lib/cmetrics/include/opentelemetry/common.pb-c.h
  lib/cmetrics/include/opentelemetry/metrics.pb-c.h
  lib/cmetrics/include/opentelemetry/metrics_service.pb-c.h
  lib/cmetrics/include/opentelemetry/resource.pb-c.h
  lib/cmetrics/include/protobuf-c/protobuf-c.h
  lib/cmetrics/src/CMakeLists.txt
  lib/cmetrics/src/cmt_counter.c
  lib/cmetrics/src/cmt_decode_msgpack.c
  lib/cmetrics/src/cmt_encode_opentelemetry.c
  lib/cmetrics/src/cmt_gauge.c
  lib/cmetrics/src/cmt_map.c
  lib/cmetrics/src/cmt_untyped.c
  lib/cmetrics/src/external/opentelemetry_common.pb-c.c
  lib/cmetrics/src/external/opentelemetry_metrics.pb-c.c
  lib/cmetrics/src/external/opentelemetry_metrics_service.pb-c.c
  lib/cmetrics/src/external/opentelemetry_resource.pb-c.c
  lib/cmetrics/tests/encoding.c
Owners: @edsiper, @fujimotos, @koleini

filter_nightfall: Add initial implementation
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/filter_nightfall/CMakeLists.txt
  plugins/filter_nightfall/nightfall.c
  plugins/filter_nightfall/nightfall.h
  plugins/filter_nightfall/nightfall_api.c
  plugins/filter_nightfall/nightfall_api.h
Owners: @fujimotos, @niedbalski, @edsiper, @koleini
