Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

tls: check async before using coroutines in flb_tls_session_create.
  src/tls/flb_tls.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_splunk: Extend retrying HTTP status code
  plugins/out_splunk/splunk.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

sched: add coroutine support to timer callback
  include/fluent-bit/flb_scheduler.h
  src/flb_scheduler.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_event: add support for Blob signal
  include/fluent-bit/flb_input_event.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_chunk: register chunks blob type
  include/fluent-bit/flb_input_chunk.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input: use FLB_INLINE macro
  include/fluent-bit/flb_input.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine_macros: adjust scheduler macros
  include/fluent-bit/flb_engine_macros.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

event: map event type blobs as chunk type blobs
  include/fluent-bit/flb_event.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

output_thread: add plugin callback for worker initialization
  src/flb_output_thread.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: add new function to read files by offset
  include/fluent-bit/flb_utils.h
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

router: allow routing for blob input types
  include/fluent-bit/flb_router.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

sqldb: commit before closing handler
  src/flb_sqldb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

output: register output blob
  include/fluent-bit/flb_output.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_blob: add new interface to register blobs
  include/fluent-bit/flb_input_blob.h
  src/flb_input_blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.6
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/include/cmetrics/cmt_math.h
  lib/cmetrics/src/cmt_cat.c
  lib/cmetrics/tests/cat.c
  lib/cmetrics/tests/prometheus_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_chunk: event type blob support
  src/CMakeLists.txt
  src/flb_input_chunk.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_blob: new plugin to support large binary files
  plugins/CMakeLists.txt
  plugins/in_blob/CMakeLists.txt
  plugins/in_blob/blob.c
  plugins/in_blob/blob.h
  plugins/in_blob/blob_db.c
  plugins/in_blob/blob_db.h
  plugins/in_blob/blob_file.c
  plugins/in_blob/blob_file.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: add support to upload large binary files
  plugins/out_azure_blob/CMakeLists.txt
  plugins/out_azure_blob/azure_blob.c
  plugins/out_azure_blob/azure_blob.h
  plugins/out_azure_blob/azure_blob_blockblob.c
  plugins/out_azure_blob/azure_blob_blockblob.h
  plugins/out_azure_blob/azure_blob_conf.c
  plugins/out_azure_blob/azure_blob_db.c
  plugins/out_azure_blob/azure_blob_db.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: register in_blob
  cmake/plugins_options.cmake
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

out_stdout: support blob type (print targe file name)
  plugins/out_stdout/stdout.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

release: update to 3.1.9
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.1.9.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

Add option -a, --dump-config to print read configuration on startup This can be useful for debugging purposes when e.g. a lot of includes are used.
  src/config_format/flb_config_format.c
  src/fluent-bit.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

scheduler: fixed typo
  src/flb_scheduler.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

scheduler: fixed typo
  include/fluent-bit/flb_scheduler.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

testing: k8s_perf_test
  examples/k8s_perf_test/run-test.sh
  examples/k8s_perf_test/values.yaml
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: added DELETE support
  include/fluent-bit/flb_http_client.h
  src/flb_http_client.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_blob: added source tracking field
  include/fluent-bit/flb_input_blob.h
  src/flb_input_blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: added blob delete function and both file and part retry mechanism
  plugins/out_azure_blob/azure_blob.c
  plugins/out_azure_blob/azure_blob.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: added remote configuration retrieval functionality
  plugins/out_azure_blob/azure_blob_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: added retry and source tracking related functionality
  plugins/out_azure_blob/azure_blob_db.c
  plugins/out_azure_blob/azure_blob_db.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opentelemetry: add tag_from_uri support to http2 codepath
  plugins/in_opentelemetry/opentelemetry_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_kafka: Fix invalid free of the message_key
  plugins/out_kafka/kafka_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_kafka: Introduce the raw_log_key option raw format
  plugins/out_kafka/kafka.c
  plugins/out_kafka/kafka_config.c
  plugins/out_kafka/kafka_config.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: Introduce a basic test for out_kafka
  tests/runtime/CMakeLists.txt
  tests/runtime/out_kafka.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_blob: added fluentd style recursive file discovery
  plugins/in_blob/blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config: added plugin notification channel
  include/fluent-bit/flb_config.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine_macros: added plugin notification event type
  include/fluent-bit/flb_engine_macros.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter: added plugin notification feature
  include/fluent-bit/flb_filter.h
  src/flb_filter.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input: added plugin notification feature
  include/fluent-bit/flb_input.h
  src/flb_input.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input: added plugin notification feature
  src/flb_input_thread.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
