Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

sds: rename flb_sds_snprintf_realloc -> flb_sds_snprintf
  include/fluent-bit/flb_sds.h
  src/flb_sds.c
Owners: @edsiper, @fujimotos, @koleini

out_es: rename flb_sds_snprintf_realloc -> flb_sds_snprintf
  plugins/out_es/es.c
Owners: @pettitwesley, @edsiper

tests: runtime: out_es: remove op_type to fix failing test
  tests/runtime/out_elasticsearch.c
Owners: @edsiper, @fujimotos, @koleini

lib: flb_libco: add Apple M1 support
  lib/flb_libco/CMakeLists.txt
  lib/flb_libco/aarch64.c
Owners: @edsiper, @fujimotos, @koleini

lib: monkey: sync Apple M1 support and other fixes
  lib/monkey/deps/flb_libco/CMakeLists.txt
  lib/monkey/deps/flb_libco/aarch64.c
  lib/monkey/mk_core/mk_rconf.c
  lib/monkey/mk_server/mk_clock.c
  lib/monkey/mk_server/mk_fifo.c
  lib/monkey/mk_server/mk_lib.c
  lib/monkey/mk_server/mk_server.c
Owners: @edsiper, @fujimotos, @koleini

out_es: rename flb_sds_snprintf_realloc -> flb_sds_snprintf
  plugins/out_es/es.c
Owners: @pettitwesley, @edsiper

out_es: use snprintf wrapper function for bulk header.
  plugins/out_es/es.c
Owners: @pettitwesley, @edsiper

sds: add flb_sds_snprintf_realloc
  include/fluent-bit/flb_sds.h
  src/flb_sds.c
Owners: @edsiper, @fujimotos, @koleini

sds: rename flb_sds_snprintf_realloc -> flb_sds_snprintf
  include/fluent-bit/flb_sds.h
  src/flb_sds.c
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: out_es: add test case for long index(#4311)
  tests/runtime/out_elasticsearch.c
Owners: @edsiper, @fujimotos, @koleini

out_es: move elasticsearch bulk action config to `flb_elasticsearch`
  plugins/out_es/es.c
  plugins/out_es/es.h
  plugins/out_es/es_conf.c
Owners: @pettitwesley, @edsiper

out_es: use snprintf instead of printf
  plugins/out_es/es.c
Owners: @pettitwesley, @edsiper

out_es: use `create` action by default
  plugins/out_es/es.c
  tests/runtime/out_elasticsearch.c
Owners: @pettitwesley, @edsiper, @fujimotos, @koleini

out_es: ctx->es_action should be freed on exit since flb_strdup allocates memory.
  plugins/out_es/es.h
  plugins/out_es/es_conf.c
Owners: @pettitwesley, @edsiper

out_es: fix broken conf condition
  plugins/out_es/es_conf.c
  tests/runtime/out_elasticsearch.c
Owners: @pettitwesley, @edsiper, @fujimotos, @koleini

in_syslog: support for input encoding to utf8
  plugins/in_syslog/syslog.h
  plugins/in_syslog/syslog_conf.c
  plugins/in_syslog/syslog_prot.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: add flb_encoding support to in_tail-plugin
  plugins/in_tail/tail.c
  plugins/in_tail/tail_config.c
  plugins/in_tail/tail_config.h
  plugins/in_tail/tail_file.c
Owners: @edsiper, @fujimotos, @koleini

encoding: add flb_encoding
  CMakeLists.txt
  include/fluent-bit/flb_encoding.h
  plugins/in_syslog/syslog_conf.c
  plugins/in_tail/tail.c
  plugins/in_tail/tail_config.c
  src/CMakeLists.txt
  src/flb_encoding.c
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

workflows: debian bullseye build for staging (#4476)
  .github/workflows/call-build-packages.yaml
  .github/workflows/call-test-packages.yaml
  packaging/README.md
  packaging/build.sh
  packaging/distros/debian/bullseye.arm64v8/Dockerfile
  packaging/distros/debian/bullseye.arm64v8/sources/.empty
  packaging/distros/debian/bullseye/Dockerfile
  packaging/distros/debian/bullseye/sources/.empty
  packaging/distros/raspbian/bullseye/Dockerfile
  packaging/distros/raspbian/bullseye/sources/.empty
  packaging/distros/raspbian/buster/Dockerfile.base
  packaging/testing/smoke/packages/Dockerfile.centos8
  packaging/testing/smoke/packages/Dockerfile.debian11
  packaging/update-repos.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

calyptia: add RHCC image
  .github/workflows/calyptia-rhcc.yaml
  calyptia/README.md
  calyptia/ubi8/Dockerfile
  calyptia/ubi8/README.md
  calyptia/ubi8/licenses/fluent-bit.txt
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: minor tweak
  .github/workflows/pr-lint.yaml
Owners: @niedbalski

workflows: disable lib directory shellcheck linting
  .github/workflows/pr-lint.yaml
Owners: @niedbalski

workflows: actionlint updates
  .github/workflows/call-build-images.yaml
  .github/workflows/call-build-packages.yaml
  .github/workflows/call-test-images.yaml
  .github/workflows/call-test-packages.yaml
  .github/workflows/pr-lint.yaml
  .github/workflows/staging-build-multiarch-images.yaml
  .github/workflows/staging-release.yaml
Owners: @niedbalski

workflows: remove incorrect needs and disable more shellcheck dirs
  .github/workflows/call-build-packages.yaml
  .github/workflows/pr-lint.yaml
Owners: @niedbalski

workflows: fix shellcheck failures
  cmake/sanitizers-cmake/cmake/asan-wrapper
  update_version.sh
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

workflows: fix shellcheck failures
  update_version.sh
Owners: @edsiper, @fujimotos, @koleini

workflows: call integration test on staging test
  .github/workflows/call-test-images.yaml
  .github/workflows/integration-build-master.yaml
  .github/workflows/integration-build-pr.yaml
  .github/workflows/integration-run-master.yaml
  .github/workflows/integration-run-pr.yaml
  .github/workflows/staging-test.yaml
Owners: @niedbalski

workflows: call integration test on staging test (#4485)
  .github/workflows/call-test-images.yaml
  .github/workflows/integration-build-master.yaml
  .github/workflows/integration-build-pr.yaml
  .github/workflows/integration-run-master.yaml
  .github/workflows/integration-run-pr.yaml
  .github/workflows/staging-test.yaml
Owners: @niedbalski

workflows: add linting (#4477)
  .github/actionlint-matcher.json
  .github/workflows/call-build-images.yaml
  .github/workflows/call-build-packages.yaml
  .github/workflows/call-test-images.yaml
  .github/workflows/call-test-packages.yaml
  .github/workflows/pr-lint.yaml
  .github/workflows/skipped-unit-tests.yaml
  .github/workflows/staging-build-multiarch-images.yaml
  .github/workflows/staging-release.yaml
  cmake/sanitizers-cmake/cmake/asan-wrapper
  update_version.sh
Owners: @niedbalski, @fujimotos, @edsiper, @koleini

Systemd unit file: minor improvements (#4392)
  init/systemd.in
Owners: @edsiper, @fujimotos, @koleini

filter_kubernetes: add option kube_token_ttl
  plugins/filter_kubernetes/kube_conf.h
  plugins/filter_kubernetes/kube_meta.c
  plugins/filter_kubernetes/kubernetes.c
Owners: @edsiper, @fujimotos, @koleini

workflows: revert use of ishworkh/docker-image-artifact-upload in integration build
  .github/workflows/integration-build-master.yaml
  .github/workflows/integration-build-pr.yaml
  .github/workflows/integration-run-master.yaml
Owners: @niedbalski

workflows: remove nested workflow call
  .github/workflows/call-test-images.yaml
  .github/workflows/staging-test.yaml
Owners: @niedbalski

workflows: ensure PR is included
  .github/workflows/integration-build-pr.yaml
Owners: @niedbalski

workflows: fix conversion of vars
  .github/workflows/staging-test.yaml
Owners: @niedbalski

workflows: rename fuzz workflow file to match pr- prefix
  .github/workflows/pr-fuzz.yaml
Owners: @niedbalski

workflows: revert use of ishworkh/docker-image-artifact-upload (#4486)
  .github/workflows/call-test-images.yaml
  .github/workflows/integration-build-master.yaml
  .github/workflows/integration-build-pr.yaml
  .github/workflows/integration-run-master.yaml
  .github/workflows/staging-test.yaml
Owners: @niedbalski

workflows: refactor integration image usage
  .github/workflows/call-integration-image-build.yaml
  .github/workflows/integration-build-master.yaml
  .github/workflows/integration-build-pr.yaml
  .github/workflows/integration-run-master.yaml
  .github/workflows/integration-run-pr.yaml
  .github/workflows/master-integration-test.yaml
  .github/workflows/pr-integration-test.yaml
Owners: @niedbalski

Add error strings in the kafka plugin error configuration
  plugins/out_kafka/kafka_config.c
Owners: @edsiper, @fujimotos, @koleini

workflows: image cleanup
  .github/workflows/pr-closed-docker.yaml
  .github/workflows/pr-integration-test.yaml
Owners: @niedbalski

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
