Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley

tests: internal: config format: data: extend test case
  tests/internal/data/config_format/fluent-bit.yaml
Owners: @edsiper, @fujimotos, @koleini

sds: new flb_sds_trim() function
  include/fluent-bit/flb_sds.h
  src/flb_sds.c
Owners: @edsiper, @fujimotos, @koleini

config: change config format reference order
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

parser: fix override of config_format context on static mode
  src/flb_parser.c
Owners: @edsiper, @fujimotos, @koleini

bin: read configuration by using new config_format API
  src/fluent-bit.c
Owners: @edsiper, @fujimotos, @koleini

config_format: new api to get section by name lookup
  include/fluent-bit/config_format/flb_cf.h
  src/config_format/flb_config_format.c
Owners: @edsiper, @fujimotos, @koleini

config_format: fluentbit: fix cleanup
  src/config_format/flb_cf_fluentbit.c
Owners: @edsiper, @fujimotos, @koleini

config_format: fluentbit: on exception, continue
  src/config_format/flb_config_format.c
Owners: @edsiper, @fujimotos, @koleini

bin: do not overwrite context on static config
  src/fluent-bit.c
Owners: @edsiper, @fujimotos, @koleini

config: intialize config_format for parsers
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

parser: use new config_format api
  src/flb_parser.c
Owners: @edsiper, @fujimotos, @koleini

config_static: use new config_format API
  include/fluent-bit/flb_config.h
  src/flb_config_static.c
Owners: @edsiper, @fujimotos, @koleini

config_format: fluentbit: expose new 'groups' feature
  src/config_format/flb_cf_fluentbit.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: data: config_format: add env var
  tests/internal/data/config_format/fluent-bit.yaml
Owners: @edsiper, @fujimotos, @koleini

config_format: fluentbit: validate section before adding props
  src/config_format/flb_cf_fluentbit.c
Owners: @edsiper, @fujimotos, @koleini

config: expose new config_format context in main structure
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: config_format: use new config_format prototype
  tests/internal/config_format_fluentbit.c
  tests/internal/config_format_yaml.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: config format: yaml: extend test case
  tests/internal/config_format_yaml.c
Owners: @edsiper, @fujimotos, @koleini

config_format: fluentbit: do not abort on strrchr() failure
  src/config_format/flb_cf_fluentbit.c
Owners: @edsiper, @fujimotos, @koleini

config_format: yaml: add new 'pipeline' level for plugins
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @fujimotos, @koleini

config_format: pass context as reference
  include/fluent-bit/config_format/flb_cf.h
  include/fluent-bit/config_format/flb_cf_fluentbit.h
  include/fluent-bit/config_format/flb_cf_yaml.h
  src/config_format/flb_cf_fluentbit.c
  src/config_format/flb_cf_yaml.c
  src/config_format/flb_config_format.c
Owners: @edsiper, @fujimotos, @koleini

config_format: allow to reuse 'service' definition
  src/config_format/flb_cf_fluentbit.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: config_format: fluentbit: check groups handling
  tests/internal/config_format_fluentbit.c
  tests/internal/data/config_format/fluent-bit.conf
Owners: @edsiper, @fujimotos, @koleini

config_static: change function handler prototype
  include/fluent-bit/flb_config.h
  src/flb_config_static.c
Owners: @edsiper, @fujimotos, @koleini

config_format: new wrapper to read from file
  include/fluent-bit/config_format/flb_cf.h
  src/config_format/flb_config_format.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: config_format: allow 'service' section to be set twice
  tests/internal/config_format.c
Owners: @edsiper, @fujimotos, @koleini

upstream: ha: use new config format reader
  src/flb_upstream_ha.c
Owners: @edsiper, @fujimotos, @koleini

config_format: new config reader for Fluent Bit and YAML formats (#4331)
  include/fluent-bit/config_format/flb_cf.h
  include/fluent-bit/config_format/flb_cf_fluentbit.h
  include/fluent-bit/config_format/flb_cf_yaml.h
  include/fluent-bit/flb_config_format.h
  src/CMakeLists.txt
  src/config_format/flb_cf_fluentbit.c
  src/config_format/flb_cf_yaml.c
  src/config_format/flb_config_format.c
Owners: @edsiper, @fujimotos, @koleini

build: detect 'libyaml'
  CMakeLists.txt
Owners: @fujimotos, @niedbalski

config_format: add support for environment variables
  include/fluent-bit/config_format/flb_cf.h
  include/fluent-bit/config_format/flb_cf_yaml.h
  src/config_format/flb_cf_yaml.c
  src/config_format/flb_config_format.c
Owners: @edsiper, @fujimotos, @koleini

config_format: fluentit: add support for static configs
  src/config_format/flb_cf_fluentbit.c
Owners: @edsiper, @fujimotos, @koleini

bin: use config_format to compose pipeline from the command line
  src/fluent-bit.c
Owners: @edsiper, @fujimotos, @koleini

bin: add support for static config
  src/fluent-bit.c
Owners: @edsiper, @fujimotos, @koleini

config_format: improve handling of service section
  src/config_format/flb_cf_fluentbit.c
  src/config_format/flb_config_format.c
Owners: @edsiper, @fujimotos, @koleini

bin: release config file optarg and always stop the context
  src/fluent-bit.c
Owners: @edsiper, @fujimotos, @koleini

config_format: fluentbit: invalidate indent
  src/config_format/flb_cf_fluentbit.c
Owners: @edsiper, @fujimotos, @koleini

config_format: fluentbit: fix missing parameters for windows
  src/config_format/flb_cf_fluentbit.c
Owners: @edsiper, @fujimotos, @koleini

plugin: add support for config format
  src/flb_plugin.c
Owners: @edsiper, @fujimotos, @koleini

sp: add support for config format
  src/stream_processor/flb_sp.c
Owners: @koleini

config_format: validate incoming file path is not null
  src/config_format/flb_config_format.c
Owners: @edsiper, @fujimotos, @koleini
