Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

out_s3: add Apache Arrow support
  CMakeLists.txt
  plugins/out_s3/CMakeLists.txt
  plugins/out_s3/arrow/CMakeLists.txt
  plugins/out_s3/arrow/compress.c
  plugins/out_s3/arrow/compress.h
  plugins/out_s3/s3.c
  plugins/out_s3/s3.h
Owners: @fujimotos, @niedbalski, @pettitwesley

aws: create shared compression utility restructure aws cmake to make maintaining nested directories easier
  include/fluent-bit/aws/flb_aws_compress.h
  src/CMakeLists.txt
  src/aws/CMakeLists.txt
  src/aws/compression/CMakeLists.txt
  src/aws/compression/arrow/CMakeLists.txt
  src/aws/compression/arrow/compress.c
  src/aws/compression/arrow/compress.h
  src/aws/flb_aws_compress.c
  tests/internal/CMakeLists.txt
  tests/internal/aws_compress.c
Owners: @edsiper, @fujimotos, @koleini, @pettitwesley

cmake: Enable CMAKE_EXPORT_COMPILE_COMMANDS
  CMakeLists.txt
Owners: @fujimotos, @niedbalski

dockeriles: Added missing dependency for libatomic.so.1
  dockerfiles/Dockerfile.arm32v7
Owners: @niedbalski

Regular CVE scans using Trivy of the container. (#4393)
  .github/workflows/cron-trivy.yaml
Owners: @niedbalski

Revert incorrect change
  dockerfiles/Dockerfile.arm32v7
Owners: @niedbalski

Remove merged change from 4405
  dockerfiles/Dockerfile.arm32v7
Owners: @niedbalski

dockerfiles: resolve ARM64 build issues
  dockerfiles/Dockerfile.arm64v8
Owners: @niedbalski

dockerfiles: resolve ARM64 build issues
  dockerfiles/Dockerfile.arm64v8
Owners: @niedbalski

plugin_proxy: fail on missing FLBPluginRegister symbol
  src/flb_plugin_proxy.c
Owners: @edsiper, @fujimotos, @koleini

filter_lua: extract code into flb_lua module
  include/fluent-bit/flb_lua.h
  include/fluent-bit/flb_luajit.h
  plugins/filter_lua/lua.c
  plugins/filter_lua/lua_config.c
  plugins/filter_lua/lua_config.h
  src/CMakeLists.txt
  src/flb_lua.c
Owners: @edsiper, @fujimotos, @koleini

lib: monkey: sync dev changes
  lib/monkey/mk_server/mk_clock.c
  lib/monkey/mk_server/mk_fifo.c
  lib/monkey/mk_server/mk_lib.c
  lib/monkey/mk_server/mk_server.c
Owners: @edsiper, @fujimotos, @koleini

input_chunk: don't pause ingestion if filesystem storage is enabled (#4221)
  src/flb_input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

random: Use getentropy(2) if available.
  CMakeLists.txt
  src/flb_random.c
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

lib: monkey: sync dev changes (#4410)
  lib/monkey/mk_server/mk_clock.c
  lib/monkey/mk_server/mk_fifo.c
  lib/monkey/mk_server/mk_lib.c
  lib/monkey/mk_server/mk_server.c
Owners: @edsiper, @fujimotos, @koleini

dockeriles: added missing dependency for libatomic.so.1 (#4405)
  dockerfiles/Dockerfile.arm32v7
Owners: @niedbalski

input_chunk: don't pause ingestion if filesystem storage is enabled (#4221)
  src/flb_input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

dockerfiles: resolve ARM64 build issues (#4408)
  dockerfiles/Dockerfile.arm64v8
Owners: @niedbalski

input_chunk: don't pause ingestion if filesystem storage is enabled (#4221) (#4411)
  src/flb_input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

input_chunk: don't pause ingestion if filesystem storage is enabled (#4221) (#4411)
  src/flb_input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

out_es: Fix buffer size when converted_size is equal to 0.
  plugins/out_es/es_bulk.c
Owners: @pettitwesley, @edsiper

proxy: fail on missing FLBPluginRegister symbol (#4409)
  src/flb_plugin_proxy.c
Owners: @edsiper, @fujimotos, @koleini

proxy: fail on missing FLBPluginRegister symbol (#4409)
  src/flb_plugin_proxy.c
Owners: @edsiper, @fujimotos, @koleini

random: use getentropy if available.
  CMakeLists.txt
  src/flb_random.c
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

lib: monkey: sync dev changes
  lib/monkey/mk_server/mk_clock.c
  lib/monkey/mk_server/mk_fifo.c
  lib/monkey/mk_server/mk_lib.c
  lib/monkey/mk_server/mk_server.c
Owners: @edsiper, @fujimotos, @koleini

lua: Add test module for lua util functions
  tests/internal/CMakeLists.txt
  tests/internal/lua.c
Owners: @edsiper, @fujimotos, @koleini

config: added dns resolver configuration switch
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

upstream: added dns resolver configuration switch
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

network: added dns resolver type selection mechanism
  include/fluent-bit/flb_network.h
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

config: added dns resolver configuration switch
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

upstream: added dns resolver configuration switch
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

network: added dns resolver type selection mechanism
  include/fluent-bit/flb_network.h
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

network: fixed async usage when not in a coroutine error
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

network: fixed async usage when not in a coroutine error
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

out_es: fix buffer size when converted_size is equal to 0. (#4414)
  plugins/out_es/es_bulk.c
Owners: @pettitwesley, @edsiper

out_es: fix buffer size when converted_size is equal to 0. (#4414)
  plugins/out_es/es_bulk.c
Owners: @pettitwesley, @edsiper

network: added dns resolver type selection mechanism
  include/fluent-bit/flb_network.h
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

config: added dns resolver configuration switch
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

network: fixed async usage when not in a coroutine error
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

upstream: added dns resolver configuration switch
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
