Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos
/cmake/                  @fujimotos

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd

tests: internal: record_accessor: add check for dots support
  tests/internal/record_accessor.c
Owners: @edsiper, @fujimotos, @koleini

record_accessor: fix parser to ignore dots in subkeys
  src/flb_record_accessor.c
  tests/internal/record_accessor.c
Owners: @edsiper, @fujimotos, @koleini

out_stackdriver: fix private_key buffer allocation
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: validate 'i' first on conditional
  plugins/in_tail/tail_file.c
Owners: @edsiper, @fujimotos, @koleini

dump: flush stdout on dump (#2176)
  src/flb_dump.c
Owners: @edsiper, @fujimotos, @koleini

out_pgsql: fix excessive log message. (#2180)
  plugins/out_pgsql/pgsql.c
Owners: @sxd

filter_kubernetes: poll network status on pods (#2186)
  plugins/filter_kubernetes/kube_conf.h
  plugins/filter_kubernetes/kube_meta.c
  plugins/filter_kubernetes/kubernetes.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: record_accessor: add check for dots support
  tests/internal/record_accessor.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: add macro conditional around DB usage on stat(2) backend (#2196)
  plugins/in_tail/tail_fs_stat.c
Owners: @edsiper, @fujimotos, @koleini

conf: parsers: fix syslog-rfc5424 extradata (#2167)
  conf/parsers.conf
Owners: @edsiper, @fujimotos, @koleini

record_accessor: fix parser to ignore dots in subkeys
  src/flb_record_accessor.c
  tests/internal/record_accessor.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: record_accessor: release sds buffer on exit
  tests/internal/record_accessor.c
Owners: @edsiper, @fujimotos, @koleini

in_gelf: add gelf input plugin (tcp mode only)
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/in_gelf/CMakeLists.txt
  plugins/in_gelf/gelf.c
  plugins/in_gelf/gelf.h
  plugins/in_gelf/gelf_config.c
  plugins/in_gelf/gelf_config.h
  plugins/in_gelf/gelf_conn.c
  plugins/in_gelf/gelf_conn.h
Owners: @fujimotos, @edsiper, @koleini

size_throttle_plugin: Add flb_hash as hash map replasing uthash.h
  plugins/filter_size_throttle/CMakeLists.txt
  plugins/filter_size_throttle/size_throttle.c
  plugins/filter_size_throttle/size_throttle.h
  plugins/filter_size_throttle/size_window.c
  plugins/filter_size_throttle/size_window.h
  plugins/filter_size_throttle/uthash.h
  tests/runtime/filter_size_throttle.c
Owners: @edsiper, @fujimotos, @koleini

Plugin: add size throttle filter and it's unit tests
  CMakeLists.txt
  cmake/windows-setup.cmake
  plugins/CMakeLists.txt
  plugins/filter_size_throttle/CMakeLists.txt
  plugins/filter_size_throttle/size_throttle.c
  plugins/filter_size_throttle/size_throttle.h
  plugins/filter_size_throttle/size_window.c
  plugins/filter_size_throttle/size_window.h
  plugins/filter_size_throttle/uthash.h
  tests/runtime/CMakeLists.txt
  tests/runtime/filter_size_throttle.c
Owners: @fujimotos, @edsiper, @koleini

add support for windows
  plugins/filter_size_throttle/size_throttle.c
  plugins/filter_size_throttle/size_window.c
  plugins/filter_size_throttle/size_window.h
Owners: @edsiper, @fujimotos, @koleini

flb_filter_throttle_size: rename filter from size_throttle ro throttle_size
  CMakeLists.txt
  cmake/windows-setup.cmake
  plugins/CMakeLists.txt
  plugins/filter_size_throttle/CMakeLists.txt
  plugins/filter_throttle_size/CMakeLists.txt
  plugins/filter_throttle_size/size_window.c
  plugins/filter_throttle_size/size_window.h
  plugins/filter_throttle_size/throttle_size.c
  plugins/filter_throttle_size/throttle_size.h
  tests/runtime/CMakeLists.txt
  tests/runtime/filter_throttle_size.c
Owners: @fujimotos, @edsiper, @koleini

parser: fix segmentation fault on "Types" option
  src/flb_parser.c
Owners: @edsiper, @fujimotos, @koleini

[out_stackdriver] Add label count, while to for loops
  plugins/out_stackdriver/stackdriver.c
  plugins/out_stackdriver/stackdriver.h
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @edsiper, @fujimotos, @koleini

out_file: add complementary 'path' and 'file' options
  plugins/out_file/file.c
Owners: @edsiper, @fujimotos, @koleini

tests: runtime_shell: tail: standalone test for files rotation on high load
  tests/runtime_shell/in_tail/conf/normal_rotation.conf
  tests/runtime_shell/in_tail/logger_file.py
  tests/runtime_shell/in_tail/test_rotation.sh
Owners: @edsiper, @fujimotos, @koleini

tests: lib: upgrade shunit2 to 2.1.8
  tests/lib/shunit2/doc/RELEASE_NOTES-2.1.7.md
  tests/lib/shunit2/doc/RELEASE_NOTES-2.1.8.md
  tests/lib/shunit2/shunit2
Owners: @edsiper, @fujimotos, @koleini

in_tail: increase performance by 50% when updating file offset in the database
  plugins/in_tail/tail_config.c
  plugins/in_tail/tail_config.h
  plugins/in_tail/tail_db.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: update query
  plugins/in_tail/tail_sql.h
Owners: @edsiper, @fujimotos, @koleini

in_tail: format comment
  plugins/in_tail/tail_signal.h
Owners: @edsiper, @fujimotos, @koleini

upstream: fix a segfault bug in flb_upstream_conn_release()
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

out_influxdb: Enable the plugin on Windows
  cmake/windows-setup.cmake
Owners: @fujimotos

in_syslog: add expansion for ident and msg-id in tag
  plugins/in_syslog/syslog.h
  plugins/in_syslog/syslog_conf.c
  plugins/in_syslog/syslog_prot.c
  tests/runtime/CMakeLists.txt
  tests/runtime/in_syslog.c
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: add http_callbacks.c example
  tests/runtime/CMakeLists.txt
  tests/runtime/http_callbacks.c
Owners: @edsiper, @fujimotos, @koleini

out_http: enable debugging callbacks support
  plugins/out_http/http.c
  plugins/out_http/http_conf.c
Owners: @edsiper, @fujimotos, @koleini

config_map: pass properties that starts with '_debug.'
  src/flb_config_map.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: on purge rotated files, check for deleted files (#794)
  plugins/in_tail/tail.c
  plugins/in_tail/tail_file.c
  plugins/in_tail/tail_file.h
Owners: @edsiper, @fujimotos, @koleini

http_client_debug: new interface to hook debugging callbacks
  include/fluent-bit/flb_http_client.h
  include/fluent-bit/flb_http_client_debug.h
  src/flb_http_client.c
  src/flb_http_client_debug.c
Owners: @edsiper, @fujimotos, @koleini

callback: internal interface to expose debugging callbacks
  include/fluent-bit/flb_callback.h
  src/flb_callback.c
Owners: @edsiper, @fujimotos, @koleini

Initial checkin of in_docker_events plugin
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/in_docker_events/CMakeLists.txt
  plugins/in_docker_events/docker_events.c
  plugins/in_docker_events/docker_events.h
  plugins/in_docker_events/docker_events_config.c
  plugins/in_docker_events/docker_events_config.h
Owners: @fujimotos, @edsiper, @koleini

output: expose api to enable debug callbacks support
  include/fluent-bit/flb_output.h
  src/CMakeLists.txt
  src/flb_output.c
Owners: @edsiper, @fujimotos, @koleini

lib: expose new flb_output_set_callback() function
  include/fluent-bit/flb_lib.h
  src/flb_lib.c
Owners: @edsiper, @fujimotos, @koleini

log: new flb_idebug() api for internal debugging
  include/fluent-bit/flb_log.h
  src/flb_log.c
Owners: @edsiper, @fujimotos, @koleini

build: new FLB_HTTP_CLIENT_DEBUG option (disabled by default)
  CMakeLists.txt
Owners: @fujimotos
