Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

in_splunk: release uri on exception (CID 507867)
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

azure_blob_http: use sds_cat variant (CID 306764 306765)
  plugins/out_azure_blob/azure_blob_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_stackdriver: release log_name on exception (CID 313112)
  plugins/out_stackdriver/stackdriver.c
Owners: @braydonk, @igorpeshansky, @qingling128

lib: ctraces: upgrade to v0.5.5
  lib/ctraces/CMakeLists.txt
  lib/ctraces/src/ctr_decode_opentelemetry.c
  lib/ctraces/src/ctr_encode_opentelemetry.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.4
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/include/cmetrics/cmt_decode_statsd.h
  lib/cmetrics/src/CMakeLists.txt
  lib/cmetrics/src/cmt_cat.c
  lib/cmetrics/src/cmt_counter.c
  lib/cmetrics/src/cmt_decode_prometheus_remote_write.c
  lib/cmetrics/src/cmt_decode_statsd.c
  lib/cmetrics/src/cmt_encode_splunk_hec.c
  lib/cmetrics/src/cmt_gauge.c
  lib/cmetrics/src/cmt_histogram.c
  lib/cmetrics/src/cmt_summary.c
  lib/cmetrics/src/cmt_untyped.c
  lib/cmetrics/tests/data/statsd_payload.txt
  lib/cmetrics/tests/decoding.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_datadog: use cat_safe for remapped tags (CID 253605)
  plugins/out_datadog/datadog.c
Owners: @nokute78, @edsiper

utils: add flb_utils_url_split_sds
  include/fluent-bit/flb_utils.h
  src/flb_utils.c
  tests/internal/utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

aws: http_credentials: support EKS Pod Identity
  include/fluent-bit/flb_aws_credentials.h
  include/fluent-bit/flb_aws_util.h
  src/aws/flb_aws_credentials.c
  src/aws/flb_aws_credentials_http.c
  src/aws/flb_aws_util.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @pettitwesley

tests: internal: aws: EKS Pod identity tests
  tests/internal/aws_credentials_http.c
  tests/internal/data/aws_credentials/container_authorization_token.txt
Owners: @pettitwesley, @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_prometheus_exporter: Fix dead code notified from coverity (CID 508348)
  plugins/out_prometheus_exporter/prom.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_exec_wasi: Fix resource leak on exception (CID 508347)
  plugins/in_exec_wasi/in_exec_wasi.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: Plug a resource leak (CID 508219)
  plugins/in_forward/fw_conn.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_kubernetes_events: Use time_t for time(NULL) returned value (CID 507947)
  plugins/in_kubernetes_events/kubernetes_events.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

metrics: Include a header for statsd decoder
  include/fluent-bit/flb_metrics.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_statsd: Implement statsd decoder to translate metrics type of events
  plugins/in_statsd/statsd.c
Owners: @fujimotos

in_statsd: tests: Add metrics On test cases
  tests/runtime/in_statsd.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_statsd: Eliminate strtok operation with cfl_utils_split
  plugins/in_statsd/statsd.c
Owners: @fujimotos

engine:enhanced byte order handling for timestamps
  include/fluent-bit/flb_byteswap.h
  src/flb_log_event_decoder.c
  src/flb_log_event_encoder_primitives.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_dummy: fix the in_dummy timestamp issue on s390x
  plugins/in_dummy/in_dummy.h
Owners: @nokute78

in_head: fix cannot allocate memory on big endian system
  plugins/in_head/in_head.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

posix_file.c: add a missing header
  lib/wasm-micro-runtime-WAMR-1.3.0/core/shared/platform/common/posix/posix_file.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

flb_utils.c: fix for macOS < 12
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_kubernetes_events: Use time_t for time(NULL) returned value (CID 507947)
  plugins/in_kubernetes_events/kubernetes_events.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_exec_wasi: fix resource leak on exception (CID 508347) (#9208)
  plugins/in_exec_wasi/in_exec_wasi.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

test: filter_parser test with better data
  tests/runtime/filter_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

parser: declare ambiguous dst
  include/fluent-bit/flb_parser.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_prometheus_exporter: remove dead code notified from coverity (CID 508348) (#9207)
  plugins/out_prometheus_exporter/prom.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: fix resource leak on exception (CID 508219) (#9209)
  plugins/in_forward/fw_conn.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_http: add flexible handling of content-type for application/json* (#9190)
  plugins/in_http/http_prot.c
  tests/runtime/in_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_statsd: Eliminate strtok operation with cfl_utils_split
  plugins/in_statsd/statsd.c
Owners: @fujimotos

metrics: Include a header for statsd decoder
  include/fluent-bit/flb_metrics.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_statsd: tests: Add metrics On test cases
  tests/runtime/in_statsd.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_statsd: Implement statsd decoder to translate metrics type of events
  plugins/in_statsd/statsd.c
Owners: @fujimotos

tests: in_http: replaced the failure trigger mechanism
  tests/runtime/in_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_aws: fixed group metadata fetch issue and addressed (CID 507941)
  plugins/filter_aws/aws.c
Owners: @pettitwesley

out_cloudwatch_logs: fix disabling of auto_create_group config option
  plugins/out_cloudwatch_logs/cloudwatch_logs.c
Owners: @pettitwesley

pack: do not multiply out_size by realloc_size (#9193)
  src/flb_pack.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: bump to v3.0.8
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

snap: bump to v3.0.8
  snap/snapcraft.yaml
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

bitbake: bump to v3.0.8
  fluent-bit-3.0.8.bb
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
