Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan

tls: removed alpn selector requirement
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: bump to v3.2.1
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

snap: bump to v3.2.1
  snap/snapcraft.yaml
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

bitbake: bump to v3.2.1
  fluent-bit-3.2.1.bb
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

bitbake: bump to v3.2.1
  fluent-bit-3.2.1.bb
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: bump to v3.2.1
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

snap: bump to v3.2.1
  snap/snapcraft.yaml
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Commit code related with build fix for Windows.
  plugins/filter_encrypt/CMakeLists.txt
  plugins/filter_encrypt/applink.c
  plugins/filter_encrypt/encrypt.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_systemd: allow a parser to be specified as part of the systemd unit
  plugins/in_systemd/systemd.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

signv4: added missing length calculation
  src/flb_signv4_ng.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: added missing exit path
  src/flb_http_client.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_common: added missing initializers
  src/flb_http_common.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: added missing result checks and fixed leaks
  plugins/out_opentelemetry/opentelemetry.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

release: update to 3.2.2
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.2.2.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

http_client: fixed potential memory corruption
  src/flb_http_client_http1.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: added missing exit path
  src/flb_http_client_http1.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

The commit before was a revert of few earlier commit. This bug was related with the function populate_key_value_delimiters which is now reverted.
  plugins/filter_encrypt/encrypt.c
  plugins/filter_encrypt/utils.c
  plugins/filter_encrypt/utils.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Fixed bug related with AES-GCM DET encryption
  plugins/filter_encrypt/aes_gcm_hmac_deterministic.c
  plugins/filter_encrypt/utils.c
  plugins/filter_encrypt/utils.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_prometheus_exporter: Return 204 on no metrics
  plugins/out_prometheus_exporter/prom_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

signv4: added missing length calculation
  src/flb_signv4_ng.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: added missing exit path
  src/flb_http_client.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_common: added missing initializers
  src/flb_http_common.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: added missing result checks and fixed leaks
  plugins/out_opentelemetry/opentelemetry.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: fixed potential memory corruption
  src/flb_http_client_http1.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: added missing exit path
  src/flb_http_client_http1.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

wasm: Plug a resource leak on exception (CID 508177)
  src/wasm/flb_wasm.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: Plug a resource leak on exception (CID 508064)
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_lua: expose env variables in FLB_ENV Lua table
  plugins/filter_lua/lua.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

node_exporter_metrics: Use real_path for complaining on glob error
  plugins/in_node_exporter_metrics/ne_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_common: moved initializers to correct a bug introduced in PR 9608
  src/flb_http_common.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_common: moved initializers to correct a bug introduced in PR 9608
  src/flb_http_common.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

ci: fixed script running tests to match requirements of test_flb_utils_get_machine_id test for flb_utils_get_machine_id function from flb_utils.c
  run_code_analysis.sh
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_labels: Process operations for output purposed contexts of metrics instead of the original one
  plugins/processor_labels/labels.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

ci: fixed script running tests to match requirements of test_flb_utils_get_machine_id test for flb_utils_get_machine_id function from flb_utils.c (#9630)
  run_code_analysis.sh
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opentelemetry: Propogate tag in http2 metrics and trace handlers
  plugins/in_opentelemetry/opentelemetry_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

plugin: Plug a use-after-free issue (CID 514582)
  src/flb_plugin.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: Plug a resource leak on exception (CID 508064)
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

node_exporter_metrics: Use real_path for complaining on glob error
  plugins/in_node_exporter_metrics/ne_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: disable debug fs event logs for inputs targeting fluentbit's own logfile
  plugins/in_tail/tail_config.c
  plugins/in_tail/tail_config.h
  plugins/in_tail/tail_fs_inotify.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: made FLB_DEV detectable from code
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286
