Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

tls: openssl: added support for SSLKEYLOGFILE on DEV builds
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: decoupled HTTP/2 and gRPC
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: added per client temporary buffer
  src/flb_http_client.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client_http2: improved protocol compliance
  src/flb_http_client_http2.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_common: added guards to prevent leaks
  src/flb_http_common.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: added per session temporary buffer
  include/fluent-bit/flb_http_client.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client_http2: added missing header
  include/fluent-bit/flb_http_client_http2.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_common: added pre-generated authority field
  include/fluent-bit/flb_http_common.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

plugin: Plug a use-after-free issue (CID 514582)
  src/flb_plugin.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_common: added guards to prevent leaks
  src/flb_http_common.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: added per session temporary buffer
  include/fluent-bit/flb_http_client.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: openssl: added support for SSLKEYLOGFILE on DEV builds
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: made FLB_DEV detectable from code
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

out_opentelemetry: decoupled HTTP/2 and gRPC
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client_http2: added missing header
  include/fluent-bit/flb_http_client_http2.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: added per client temporary buffer
  src/flb_http_client.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client_http2: improved protocol compliance
  src/flb_http_client_http2.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_common: added pre-generated authority field
  include/fluent-bit/flb_http_common.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Refactor zstd compress/uncompress into more modular reuseable methods
  include/fluent-bit/flb_zstd.h
  plugins/in_opentelemetry/opentelemetry_prot.c
  plugins/out_opentelemetry/opentelemetry.c
  src/CMakeLists.txt
  src/flb_http_common.c
  src/flb_zstd.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

More explicit error handling
  plugins/in_opentelemetry/opentelemetry_prot.c
  plugins/out_opentelemetry/opentelemetry.c
  src/flb_http_common.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_http: use 'tag_key' option when json array is received
  plugins/in_http/http_prot.c
  tests/runtime/in_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

custom_calyptia: honour interval in secs and nano secs.
  plugins/custom_calyptia/calyptia.c
  plugins/custom_calyptia/calyptia.h
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
  tests/runtime/CMakeLists.txt
  tests/runtime/custom_calyptia_input_test.c
Owners: @pwhelan, @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_kusto : fix multiple files tail issue and timeout issue (#8430)
  plugins/out_azure_kusto/azure_kusto.c
  plugins/out_azure_kusto/azure_kusto.h
  plugins/out_azure_kusto/azure_kusto_conf.c
  plugins/out_azure_kusto/azure_kusto_ingest.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Downgrade zstd compression to gzip if sending grpc payload
  include/fluent-bit/flb_http_client.h
  plugins/out_opentelemetry/opentelemetry.c
  src/flb_http_client.c
  src/flb_http_common.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Fix typo `paylod` -> `payload`
  plugins/out_http/http.c
  plugins/out_http/http.h
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry.h
  plugins/out_prometheus_remote_write/remote_write.c
  plugins/out_prometheus_remote_write/remote_write.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opentelemetry: Propogate tag in http2 metrics and trace handlers
  plugins/in_opentelemetry/opentelemetry_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_labels: Process operations for output purposed contexts of metrics instead of the original one
  plugins/processor_labels/labels.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_lua: expose env variables in FLB_ENV Lua table
  plugins/filter_lua/lua.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_stackdriver: return cached token when current_timestamp is less than cached_expiration.
  plugins/out_stackdriver/stackdriver.c
Owners: @braydonk, @igorpeshansky, @qingling128

custom_calyptia: added interval handling and tests
  plugins/custom_calyptia/calyptia.c
  plugins/custom_calyptia/calyptia.h
  tests/runtime/CMakeLists.txt
  tests/runtime/custom_calyptia_input_test.c
Owners: @pwhelan, @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_calyptia_fleet: improved interval handling
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

stackdriver: revert log line change
  plugins/out_stackdriver/stackdriver.c
Owners: @braydonk, @igorpeshansky, @qingling128

in_calyptia_fleet: improved interval handling
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

custom_calyptia: added interval handling and tests
  plugins/custom_calyptia/calyptia.c
  plugins/custom_calyptia/calyptia.h
  tests/runtime/CMakeLists.txt
  tests/runtime/custom_calyptia_input_test.c
Owners: @pwhelan, @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_stackdriver bug fix: return cached token when current_timestamp is less than cached_expiration (#9652)
  plugins/out_stackdriver/stackdriver.c
Owners: @braydonk, @igorpeshansky, @qingling128

out_es: tests: Add HTTP response testing
  plugins/out_es/es.c
  tests/runtime/data/es/json_es.h
  tests/runtime/out_elasticsearch.c
Owners: @pettitwesley, @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: Implement injecting HTTP response mechanism
  include/fluent-bit/flb_lib.h
  src/flb_lib.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski

http_client: Implement response testing framework
  include/fluent-bit/flb_http_client.h
  src/flb_http_client.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

output: Add a capability to inject HTTP response testing environment
  include/fluent-bit/flb_output.h
  src/flb_output.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_http: use 'tag_key' option when json array is received
  plugins/in_http/http_prot.c
  tests/runtime/in_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
