Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley

filter_aws: retrieve metadata on initialization
  plugins/filter_aws/aws.c
Owners: @pettitwesley

input chunk: move pre_size and post_size into two separate declarations.
  src/flb_input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

flb_utils_write_str: detect and replace ill-formed utf-8 bytes
  src/flb_utils.c
  tests/internal/utils.c
Owners: @edsiper, @fujimotos, @koleini

filter_aws: retrieve metadata on initialization
  plugins/filter_aws/aws.c
Owners: @pettitwesley

filter_aws: retrieve metadata on initialization
  plugins/filter_aws/aws.c
Owners: @pettitwesley

in_forward: fix handling of TCP connections on SIGTERM (#2610)
  plugins/in_forward/fw.c
  plugins/in_forward/fw_conn.c
  plugins/in_forward/fw_conn.h
Owners: @edsiper, @fujimotos, @koleini

in_forward: fix handling of TCP connections on SIGTERM (#2610)
  plugins/in_forward/fw.c
  plugins/in_forward/fw_conn.c
  plugins/in_forward/fw_conn.h
Owners: @edsiper, @fujimotos, @koleini

Debian: add parameters for build of debian 11
  .github/workflows/build-release.yaml
  .github/workflows/publish-release.yaml
Owners: @niedbalski

flb_utils_write_str: detect and replace ill-formed utf-8 bytes
  src/flb_utils.c
  tests/internal/utils.c
Owners: @edsiper, @fujimotos, @koleini

filter_aws: expose metadata into main context env
  plugins/filter_aws/aws.c
Owners: @pettitwesley

out_calyptia: process and append AWS metadata
  plugins/out_calyptia/calyptia.c
Owners: @edsiper, @fujimotos, @koleini

filter_aws: expose metadata into main context env
  plugins/filter_aws/aws.c
Owners: @pettitwesley

filter_aws: expose metadata into main context env
  plugins/filter_aws/aws.c
Owners: @pettitwesley

out_calyptia: process and append AWS metadata
  plugins/out_calyptia/calyptia.c
Owners: @edsiper, @fujimotos, @koleini

out_calyptia: process and append AWS metadata
  plugins/out_calyptia/calyptia.c
Owners: @edsiper, @fujimotos, @koleini

Fixed addressed small comments
  plugins/in_winevtlog/winevtlog.c
Owners: @edsiper, @fujimotos, @koleini

Store EvtNext function result into a variable
  plugins/in_winevtlog/winevtlog.c
Owners: @edsiper, @fujimotos, @koleini

Add newlines to separate variable definitions from code
  plugins/in_winevtlog/pack.c
Owners: @edsiper, @fujimotos, @koleini

Put curly bracket on the same line of if / else statements
  plugins/in_winevtlog/winevtlog.c
Owners: @edsiper, @fujimotos, @koleini

Break a long line
  plugins/in_winevtlog/pack.c
Owners: @edsiper, @fujimotos, @koleini

Avoid to use camelCase on variables
  plugins/in_winevtlog/pack.c
  plugins/in_winevtlog/winevtlog.c
  plugins/in_winevtlog/winevtlog.h
Owners: @edsiper, @fujimotos, @koleini

Use NULL comparison after flb_calloc allocation checks
  plugins/in_winevtlog/in_winevtlog.c
  plugins/in_winevtlog/winevtlog.c
Owners: @edsiper, @fujimotos, @koleini

input chunk: add missing semicolon after pre_size.
  src/flb_input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

input chunk: add fs_counted flag to mark chunk counted against fs_chunks_size.
  include/fluent-bit/flb_input_chunk.h
  src/flb_input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

Avoid to use within for statement variable definitions
  plugins/in_winevtlog/winevtlog.c
Owners: @edsiper, @fujimotos, @koleini

Add missing curly brackets to fix style
  plugins/in_winevtlog/pack.c
  plugins/in_winevtlog/winevtlog.c
Owners: @edsiper, @fujimotos, @koleini

Break variable definitions in the same lines
  plugins/in_winevtlog/winevtlog.c
Owners: @edsiper, @fujimotos, @koleini

out_loki: drop quotes after drop_single_key
  plugins/out_loki/loki.c
Owners: @edsiper, @fujimotos, @koleini

use more portable variable initialization
  tests/internal/aws_client_mock.c
Owners: @edsiper, @fujimotos, @koleini

bitbake: bump to v1.8.11
  fluent-bit_1.8.0.bb
Owners: @edsiper, @fujimotos, @koleini

dockerfile: bump to v1.8.11
  dockerfiles/Dockerfile.arm32v7
  dockerfiles/Dockerfile.arm64v8
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-master_debug
Owners: @niedbalski

snap: bump to v1.8.11
  snap/snapcraft.yaml
Owners: @edsiper, @fujimotos, @koleini

build: bump to v1.8.11
  CMakeLists.txt
Owners: @fujimotos, @niedbalski

scripts: fix update version
  update_version.sh
Owners: @edsiper, @fujimotos, @koleini

config: add new 'grace_count' structure field
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

engine: enforce and reduce shutdown time
  src/flb_engine.c
Owners: @edsiper, @fujimotos, @koleini

engine: enforce and reduce shutdown time
  src/flb_engine.c
Owners: @edsiper, @fujimotos, @koleini

config: add new 'grace_count' structure field
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

in_emitter: support async mode(#4325)
  plugins/in_emitter/emitter.c
Owners: @edsiper, @fujimotos, @koleini

filter_rewrite_tag: support 'emitter_async_emit' property
  plugins/filter_rewrite_tag/rewrite_tag.c
  plugins/filter_rewrite_tag/rewrite_tag.h
Owners: @edsiper, @fujimotos, @koleini
