Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan

pack: do not multiply out_size by realloc_size (#9193)
  src/flb_pack.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opensearch: fixed a wrong data type used for a boolean option
  plugins/out_opensearch/opensearch.h
Owners: @pettitwesley, @edsiper

out_stackdriver: fixed a wrong data type used for two boolean options
  plugins/out_stackdriver/stackdriver.h
Owners: @braydonk, @igorpeshansky, @qingling128

Revert "out_stackdriver: fixed a wrong data type used for two boolean options"
  plugins/out_stackdriver/stackdriver.h
Owners: @braydonk, @igorpeshansky, @qingling128

out_stackdriver: fixed a wrong data type used for two boolean options
  plugins/out_stackdriver/stackdriver.h
Owners: @braydonk, @igorpeshansky, @qingling128

add "fatal error:" start_state to golang built-in multiline parser
  src/multiline/flb_ml_parser_go.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_tensorflow: fixed a wrong data type used for a boolean option
  plugins/filter_tensorflow/tensorflow.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_nginx_exporter_metrics: fixed a wrong data type used for an option
  plugins/in_nginx_exporter_metrics/nginx.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opentelemetry: fixed a wrong data type used for an option
  plugins/in_opentelemetry/opentelemetry.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_proc: fixed a wrong data type used for three options
  plugins/in_proc/in_proc.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_proc: fixed a wrong data type used for an option
  plugins/out_es/es.h
Owners: @pettitwesley, @edsiper

network: fixed a wrong data type used for an option
  include/fluent-bit/flb_network.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: config_map: fixed a wrong data type used for an option
  tests/internal/config_map.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: intenral: fuzzers: fixed a wrong data type used for an option
  tests/internal/fuzzers/config_map_fuzzer.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

proof of concept for input plugins
  include/fluent-bit/flb_config.h
  include/fluent-bit/flb_input.h
  plugins/in_fluentbit_metrics/metrics.c
  plugins/in_podman_metrics/podman_metrics.c
  plugins/in_tail/tail_config.c
  src/flb_input.c
  src/flb_input_chunk.c
  src/flb_metrics_exporter.c
  src/flb_storage.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

release: update to 3.1.7
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.1.7.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

build: use the system lib luajit for s390x
  README.md
  cmake/s390x.cmake
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286

release: update to 3.1.7
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.1.7.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

tests: in_http: replaced the failure trigger mechanism
  tests/runtime/in_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_aws: fixed group metadata fetch issue and addressed (CID 507941)
  plugins/filter_aws/aws.c
Owners: @pettitwesley

in_elasticsearch: Store log_encoder pointer (CID 508245)
  plugins/in_elasticsearch/in_elasticsearch.h
  plugins/in_elasticsearch/in_elasticsearch_bulk_prot.c
  plugins/in_elasticsearch/in_elasticsearch_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opensearch: Plug a use-after-free issue (CID 508013)
  plugins/out_opensearch/opensearch.c
Owners: @pettitwesley, @edsiper

out_chronicle: Plug a resource leak on exception (CID 508008)
  plugins/out_chronicle/chronicle.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_event_type: Plug a resource leak on exception (CID 507968)
  plugins/in_event_type/event_type.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_elasticsearch: Process error information properly
  plugins/out_es/es.c
  plugins/out_es/es.h
Owners: @pettitwesley, @edsiper

out_opensearch: fixed a wrong data type used for a boolean option (#9221)
  plugins/out_opensearch/opensearch.h
Owners: @pettitwesley, @edsiper

out_stackdriver: fixed a wrong data type used for two boolean options
  plugins/out_stackdriver/stackdriver.h
Owners: @braydonk, @igorpeshansky, @qingling128

filter_tensorflow: fixed a wrong data type used for a boolean option
  plugins/filter_tensorflow/tensorflow.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_nginx_exporter_metrics: fixed a wrong data type used for an option
  plugins/in_nginx_exporter_metrics/nginx.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opentelemetry: fixed a wrong data type used for an option
  plugins/in_opentelemetry/opentelemetry.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_proc: fixed a wrong data type used for three options
  plugins/in_proc/in_proc.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_proc: fixed a wrong data type used for an option
  plugins/out_es/es.h
Owners: @pettitwesley, @edsiper

network: fixed a wrong data type used for an option
  include/fluent-bit/flb_network.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: intenral: fuzzers: fixed a wrong data type used for an option
  tests/internal/fuzzers/config_map_fuzzer.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: config_map: fixed a wrong data type used for an option
  tests/internal/config_map.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_dummy: fix the in_dummy timestamp issue on s390x
  plugins/in_dummy/in_dummy.h
Owners: @nokute78

in_head: fix cannot allocate memory on big endian system
  plugins/in_head/in_head.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_elasticsearch: Store log_encoder pointer (CID 508245)
  plugins/in_elasticsearch/in_elasticsearch.h
  plugins/in_elasticsearch/in_elasticsearch_bulk_prot.c
  plugins/in_elasticsearch/in_elasticsearch_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opensearch: fix a use-after-free issue (CID 508013) (#9233)
  plugins/out_opensearch/opensearch.c
Owners: @pettitwesley, @edsiper

in_event_type: fix a resource leak on exception (CID 507968) (#9235)
  plugins/in_event_type/event_type.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini
