Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley

in_prometheus_scrape: new Prometheus Scrape input plugin
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/in_prometheus_scrape/CMakeLists.txt
  plugins/in_prometheus_scrape/prom_scrape.c
  plugins/in_prometheus_scrape/prom_scrape.h
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

cmake: headers: expose path for auto-generated CMmetrics headers
  cmake/headers.cmake
Owners: @fujimotos, @niedbalski

filter_parser: support config map
  plugins/filter_parser/filter_parser.c
  plugins/filter_parser/filter_parser.h
Owners: @edsiper, @fujimotos, @koleini

filter_parser: support config map
  plugins/filter_parser/filter_parser.c
  plugins/filter_parser/filter_parser.h
Owners: @edsiper, @fujimotos, @koleini

filter_record_modifier: support config map
  plugins/filter_record_modifier/filter_modifier.c
  plugins/filter_record_modifier/filter_modifier.h
Owners: @edsiper, @fujimotos, @koleini

filter_type_converter: support config map
  plugins/filter_type_converter/type_converter.c
  plugins/filter_type_converter/type_converter.h
Owners: @edsiper, @fujimotos, @koleini

filter_grep: support config map
  plugins/filter_grep/grep.c
  plugins/filter_grep/grep.h
Owners: @edsiper, @fujimotos, @koleini

config: fix memory leak
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: fuzzer: fix leak in record_ac_fuzzer
  tests/internal/fuzzers/record_ac_fuzzer.c
Owners: @edsiper, @fujimotos, @koleini

workflows: disable nightly build
  .github/workflows/staging-build.yaml
Owners: @niedbalski

workflows: ensure exit success on release check
  .github/workflows/staging-release.yaml
Owners: @niedbalski

workflows: add debug info
  .github/workflows/staging-build.yaml
Owners: @niedbalski

workflows: add debug info
  .github/workflows/staging-build.yaml
Owners: @niedbalski

workflows: add protection for only master tags
  .github/workflows/staging-build.yaml
Owners: @niedbalski

workflows: get tag name
  .github/workflows/staging-build.yaml
Owners: @niedbalski

workflows: fix staging image for multiarch
  .github/workflows/staging-test.yaml
Owners: @niedbalski

windows: update for single call
  appveyor.yml
Owners: @niedbalski

tests: internal: fuzzers: fix compiler warnings
  tests/internal/fuzzers/multiline_fuzzer.c
  tests/internal/fuzzers/strp_fuzzer.c
  tests/internal/fuzzers/utils_fuzzer.c
Owners: @edsiper, @fujimotos, @koleini

signv4: fix NULL dereference
  src/flb_signv4.c
Owners: @pettitwesley

windows: build legacy td-agent-bit package (#4862)
  appveyor.yml
Owners: @niedbalski

workflows: staging updates for 1.9 (#4876)
  .github/workflows/staging-build.yaml
  .github/workflows/staging-release.yaml
  .github/workflows/staging-test.yaml
Owners: @niedbalski

workflows: ensure we do not deploy on every push
  .github/workflows/staging-build.yaml
Owners: @niedbalski

lib: monkey: sync channel release addition
  lib/monkey/include/monkey/mk_stream.h
  lib/monkey/mk_server/mk_stream.c
Owners: @edsiper, @fujimotos, @koleini

lib: monkey: sync channel release addition
  lib/monkey/include/monkey/mk_stream.h
  lib/monkey/mk_server/mk_stream.c
Owners: @edsiper, @fujimotos, @koleini

workflows: ensure we do not deploy on every push (#4880)
  .github/workflows/staging-build.yaml
Owners: @niedbalski

multiline: fix leak
  src/multiline/flb_ml_parser.c
Owners: @edsiper, @fujimotos, @koleini

workflows: fix ordering issue
  .github/workflows/call-build-images.yaml
Owners: @niedbalski

workflows: switch to pwsh
  .github/workflows/windows-ci.yaml
Owners: @niedbalski

in_cpu: refactor to use config_map.
  plugins/in_cpu/cpu.c
  plugins/in_cpu/cpu.h
Owners: @edsiper, @fujimotos, @koleini

multiline: fix leak
  src/multiline/flb_ml.c
Owners: @edsiper, @fujimotos, @koleini

lib: monkey: sync channel release addition
  lib/monkey/include/monkey/mk_stream.h
  lib/monkey/mk_server/mk_stream.c
Owners: @edsiper, @fujimotos, @koleini

workflows: fix ordering issue (#4884)
  .github/workflows/call-build-images.yaml
Owners: @niedbalski

workflows: ensure we wait for output
  .github/workflows/windows-ci.yaml
Owners: @niedbalski

workflows: add output
  .github/workflows/windows-ci.yaml
Owners: @niedbalski

workflows: ensure we wait for installation
  .github/workflows/windows-ci.yaml
Owners: @niedbalski

lib: monkey: sync channel release addition
  lib/monkey/include/monkey/mk_stream.h
  lib/monkey/mk_server/mk_stream.c
Owners: @edsiper, @fujimotos, @koleini

lib: cmetrics: upgrade to DEV v0.3.0
  lib/cmetrics/.github/workflows/build.yaml
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/appveyor.yml
  lib/cmetrics/include/cmetrics/cmt_decode_prometheus.h
  lib/cmetrics/src/CMakeLists.txt
  lib/cmetrics/src/cmt_decode_prometheus.c
  lib/cmetrics/src/cmt_decode_prometheus.l
  lib/cmetrics/src/cmt_decode_prometheus.y
  lib/cmetrics/tests/CMakeLists.txt
  lib/cmetrics/tests/cmt_tests_config.h.in
  lib/cmetrics/tests/data/issue_71.txt
  lib/cmetrics/tests/prometheus_lexer.c
  lib/cmetrics/tests/prometheus_parser.c
  lib/cmetrics/tests/util.c
Owners: @edsiper, @fujimotos, @koleini

lib: monkey: sync capacity improvement
  lib/monkey/mk_server/mk_scheduler.c
Owners: @edsiper, @fujimotos, @koleini

lib: monkey: sync capacity improvement
  lib/monkey/mk_server/mk_scheduler.c
Owners: @edsiper, @fujimotos, @koleini

lib: monkey: sync capacity improvement
  lib/monkey/mk_server/mk_scheduler.c
Owners: @edsiper, @fujimotos, @koleini
