Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

filter_type_converter: new filter plugin (#4025)
  CMakeLists.txt
  include/fluent-bit/flb_typecast.h
  plugins/CMakeLists.txt
  plugins/filter_type_converter/CMakeLists.txt
  plugins/filter_type_converter/type_converter.c
  plugins/filter_type_converter/type_converter.h
  src/CMakeLists.txt
  src/flb_typecast.c
  tests/internal/CMakeLists.txt
  tests/internal/typecast.c
  tests/runtime/CMakeLists.txt
  tests/runtime/filter_type_converter.c
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

config_map: support deprecated property
  include/fluent-bit/flb_config_map.h
  src/flb_config_map.c
Owners: @edsiper, @fujimotos, @koleini

help: support deprecated property
  src/flb_help.c
Owners: @edsiper, @fujimotos, @koleini

out_file: add explicit default format case(#4152)
  plugins/out_file/file.c
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: out_file: add explicit default format case
  tests/runtime/out_file.c
Owners: @edsiper, @fujimotos, @koleini

in_docker: use 64bit api to prevent overflow(#4083)
  plugins/in_docker/docker.c
Owners: @ashutoshdhundhara

http_server: uptime: add Content-Type
  src/http_server/api/v1/uptime.c
Owners: @edsiper, @fujimotos, @koleini

http_server: storage: add Content-Type
  src/http_server/api/v1/storage.c
Owners: @edsiper, @fujimotos, @koleini

http_server: add Content-Type
  src/http_server/flb_hs.c
Owners: @edsiper, @fujimotos, @koleini

http_server: metrics: add Content-Type
  src/http_server/api/v1/metrics.c
Owners: @edsiper, @fujimotos, @koleini

http_server: add utility source
  include/fluent-bit/http_server/flb_hs_utils.h
  src/http_server/CMakeLists.txt
  src/http_server/flb_hs_utils.c
Owners: @edsiper, @fujimotos, @koleini

http_server: storage: add destructor to prevent leak
  src/http_server/api/v1/storage.c
Owners: @edsiper, @fujimotos, @koleini

filter_rewrite_tag: fix Match aborting issue (#4276)
  plugins/filter_rewrite_tag/rewrite_tag.c
Owners: @edsiper, @fujimotos, @koleini

config: rename coro stack size define
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

coro: rename coro stack size define
  include/fluent-bit/flb_coro.h
Owners: @edsiper, @fujimotos, @koleini

config: increase coro stack size if it is less than pagesize(#3716)
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

out_skywalking: introduce Apache SkyWalking output plugin (#3592)
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/out_skywalking/CMakeLists.txt
  plugins/out_skywalking/skywalking.c
  plugins/out_skywalking/skywalking.h
  tests/runtime/CMakeLists.txt
  tests/runtime/out_skywalking.c
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

out_skywalking: fix flush callback prototype
  plugins/out_skywalking/skywalking.c
Owners: @edsiper, @fujimotos, @koleini

Add more debug to test cases
  .github/workflows/call-test-packages.yaml
Owners: @niedbalski

Updated documentation
  .github/workflows/README.md
Owners: @niedbalski

Merged https://github.com/fluent/fluent-bit-packaging/pull/26 changes
  packaging/distros/debian/buster.arm64v8/Dockerfile.base
  packaging/distros/debian/buster/Dockerfile.base
  packaging/distros/debian/stretch.arm64v8/Dockerfile.base
  packaging/distros/debian/stretch/Dockerfile.base
  packaging/distros/opensuse/leap/Dockerfile.base
  packaging/distros/raspbian/buster/Dockerfile.base
  packaging/distros/ubuntu/18.04.arm64v8/Dockerfile.base
  packaging/distros/ubuntu/18.04/Dockerfile.base
  packaging/distros/ubuntu/20.04.arm64v8/Dockerfile.base
  packaging/distros/ubuntu/20.04/Dockerfile.base
Owners: @edsiper, @fujimotos, @koleini

out_skywalking: fix flush callback prototype
  plugins/out_skywalking/skywalking.c
Owners: @edsiper, @fujimotos, @koleini

metrics: silent gcc warning
  src/flb_metrics.c
Owners: @edsiper, @fujimotos, @koleini

multiline: cri: allow empty lines (#4284)
  src/multiline/flb_ml_parser_cri.c
Owners: @edsiper, @fujimotos, @koleini

multiline: cri: allow empty lines (#4284)
  src/multiline/flb_ml_parser_cri.c
Owners: @edsiper, @fujimotos, @koleini

config: increase coro stack size if it is less than pagesize(#3716) (#4434)
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

Update repo creation and test
  .github/workflows/call-build-packages.yaml
  .github/workflows/call-test-packages.yaml
  packaging/testing/smoke/packages/Dockerfile.amazonlinux2
  packaging/testing/smoke/packages/Dockerfile.centos7
  packaging/testing/smoke/packages/Dockerfile.debian10
  packaging/testing/smoke/packages/Dockerfile.ubuntu1804
  packaging/testing/smoke/packages/Dockerfile.ubuntu2004
  packaging/testing/smoke/packages/default_test.rb
  packaging/testing/smoke/packages/kitchen-official-install.yaml
  packaging/testing/smoke/packages/kitchen-staging-install.yaml
  packaging/testing/smoke/packages/kitchen-staging-upgrade.yaml
  packaging/testing/smoke/packages/run-package-tests.sh
  packaging/testing/smoke/packages/test.sh
  packaging/update-repos.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

Switch called repos
  .github/workflows/staging-build.yaml
  .github/workflows/staging-test.yaml
Owners: @niedbalski

workfows: Only add labels when PR opens
  .github/workflows/pr-labels.yaml
Owners: @niedbalski

workflows: reduce fuzz calls to just C source changes
  .github/workflows/cifuzz.yaml
Owners: @niedbalski

workfows: Only add labels when PR opens (#4442)
  .github/workflows/pr-labels.yaml
Owners: @niedbalski

workflows: reduce fuzz calls to just C source changes (#4443)
  .github/workflows/cifuzz.yaml
Owners: @niedbalski

workflows: resolve failures in staging build
  .github/workflows/call-build-packages.yaml
  packaging/update-repos.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: fix link in README.md
  .github/workflows/README.md
Owners: @niedbalski

workflows: resolve failures in staging build (#4449)
  .github/workflows/README.md
  .github/workflows/call-build-packages.yaml
  packaging/update-repos.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: disable unnecessary workflows
  .github/workflows/pr-compile-check.yaml
  .github/workflows/unit-tests.yaml
Owners: @niedbalski

workflows: fix crontab for stale check
  .github/workflows/pr-stale.yaml
Owners: @niedbalski

workflows: disable unnecessary workflows (#4450)
  .github/workflows/pr-compile-check.yaml
  .github/workflows/pr-stale.yaml
  .github/workflows/unit-tests.yaml
Owners: @niedbalski

workflows: remove disabled mergebot
  .github/workflows/merge-bot.yaml
Owners: @niedbalski

workflows: remove disabled mergebot (#4453)
  .github/workflows/merge-bot.yaml
Owners: @niedbalski

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
