Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @pettitwesley, @nokute78, @sxd

build: add attributes processor
  CMakeLists.txt
  plugins/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @edsiper, @leonardo-albertovich, @koleini

bin: config: Remove enable prefix from the hot reloading option
  include/fluent-bit/flb_config.h
  src/flb_config.c
  src/fluent-bit.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: add attributes processor
  CMakeLists.txt
  plugins/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @edsiper, @leonardo-albertovich, @koleini

processor_attributes: initial commit of the attributes processor
  plugins/processor_attributes/CMakeLists.txt
  plugins/processor_attributes/attributes.c
  plugins/processor_attributes/variant_utils.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_labels: make hash transformer local
  plugins/processor_labels/labels.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

bin: config: reload: Enable hot reloading via config file (#7204)
  include/fluent-bit/flb_config.h
  src/flb_config.c
  src/flb_reload.c
  src/fluent-bit.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: openssl: add missing return in SSL_ERROR_SYSCALL case
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: openssl: add missing return in SSL_ERROR_SYSCALL case
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: openssl: add missing return in SSL_ERROR_SYSCALL case (#7210)
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: openssl: add missing return in SSL_ERROR_SYSCALL case (#7211)
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opensearch: remove unused variables (#7202)
  plugins/out_opensearch/opensearch.c
Owners: @pettitwesley, @edsiper

in_calyptia_fleet: make header lookup case insensitive.
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_calyptia_fleet: fix problems in input configuration generation.
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_calyptia_fleet: implement configuration rollback.
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_calyptia_fleet: minor cosmetic cleanup in network connection code.
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_calyptia_fleet: fix SIGSEGV when no configuration file is set.
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_aws: invalid include/exclude configuration fails
  plugins/filter_aws/aws.c
  tests/runtime/filter_aws.c
Owners: @pettitwesley

filter_aws: ec2 tags include/exclude option
  plugins/filter_aws/aws.c
  plugins/filter_aws/aws.h
Owners: @pettitwesley

filter_aws: remove unused options.name
  plugins/filter_aws/aws.c
  plugins/filter_aws/aws.h
  tests/runtime/filter_aws.c
Owners: @pettitwesley

tests: runtime: add filter_aws ec2 include/exclude tests
  tests/runtime/filter_aws.c
Owners: @pettitwesley

filter: add support for 'active' property for disabling filters.
  src/flb_config_map.c
  src/flb_filter.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

fleet: add metrics and agent registration for fleet instances.
  plugins/custom_calyptia/calyptia.c
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
  plugins/out_calyptia/calyptia.c
  plugins/out_calyptia/calyptia.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens
/cmake/                  @fujimotos @niedbalski @patrick-stephens

# CI 
# -------------------------
/.github/                @niedbalski @patrick-stephens
/appveyor.yml            @niedbalski @patrick-stephens
/dockerfiles/            @niedbalski @patrick-stephens
/packaging/              @niedbalski @patrick-stephens
/codebase-structure.svg  @niedbalski @patrick-stephens
/install.sh              @niedbalski @patrick-stephens

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper
