Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

docs: add CONTRIBUTING_DOCS
  CONTRIBUTING_DOCS.md
Owners: @edsiper, @fujimotos, @koleini

docs: redirect CONTRIBUTING_DOCS to CONTRIBUTING in docs repository.
  CONTRIBUTING_DOCS.md
Owners: @edsiper, @fujimotos, @koleini

workflows: resolve repo creation issues
  .github/dependabot.yml
  .github/workflows/call-build-packages.yaml
  .github/workflows/call-test-packages.yaml
  .github/workflows/staging-build.yaml
  packaging/update-repos.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: add armhf
  packaging/update-repos.sh
Owners: @edsiper, @fujimotos, @koleini

workflows: ignore latest packages directory
  .gitignore
Owners: @edsiper, @fujimotos, @koleini

input chunk: correctly calculate the difference when chunks grow (#4318)
  include/fluent-bit/flb_input_chunk.h
  src/flb_input_chunk.c
  tests/internal/input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

workflows: switch to aptly
  .github/workflows/call-build-packages.yaml
  packaging/update-repos.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

input chunk: correctly calculate the difference when chunks grow (#4318)
  include/fluent-bit/flb_input_chunk.h
  src/flb_input_chunk.c
  tests/internal/input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

packaging: fix debian 10 test
  packaging/testing/smoke/packages/Dockerfile.debian10
Owners: @edsiper, @fujimotos, @koleini

workflows: no unit test trigger for .gitignore changes
  .github/workflows/unit-tests.yaml
Owners: @niedbalski

config: support lowercase proxy environment variables
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

workflows: staging build deb repo fix (#4460)
  .github/dependabot.yml
  .github/workflows/call-build-packages.yaml
  .github/workflows/call-test-packages.yaml
  .github/workflows/staging-build.yaml
  .github/workflows/unit-tests.yaml
  .gitignore
  packaging/testing/smoke/packages/Dockerfile.debian10
  packaging/update-repos.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

in_forward: add new option 'tag_prefix' (#4455)
  plugins/in_forward/fw.c
  plugins/in_forward/fw.h
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @fujimotos, @koleini

input chunk: correctly calculate the difference when chunks grow (#4318) (#4461)
  include/fluent-bit/flb_input_chunk.h
  src/flb_input_chunk.c
  tests/internal/input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

input_chunk: warn the user about tag truncation due to limits
  include/fluent-bit/flb_input_chunk.h
  src/flb_input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

flb_engine: use sb_segregate_chunks() only if in_storage_backlog provides it
  CMakeLists.txt
  src/flb_engine.c
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

input_chunk: warn the user about tag truncation due to limits (#4467)
  include/fluent-bit/flb_input_chunk.h
  src/flb_input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

in_forward: add new option 'tag_prefix' (#4455) (#4466)
  plugins/in_forward/fw.c
  plugins/in_forward/fw.h
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @fujimotos, @koleini

input_chunk: warn the user about tag truncation due to limits (#4467)
  include/fluent-bit/flb_input_chunk.h
  src/flb_input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

workflows: resolve issues with required checks
  .github/workflows/skipped-unit-tests.yaml
  .github/workflows/unit-tests.yaml
  dockerfiles/Dockerfile.centos7
Owners: @niedbalski

tls: Issue #4098 Fix error handling for OpenSSL apis
  src/tls/flb_tls.c
  src/tls/openssl.c
Owners: @edsiper, @fujimotos, @koleini

cmake: make storage backlog optional
  CMakeLists.txt
  plugins/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

engine: fix linkage error when storage backlog is disabled
  src/flb_engine.c
Owners: @edsiper, @fujimotos, @koleini

input chunk: fix linkage error when storage backlog is disabled
  src/flb_input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

workflows: resolve issues with required checks (#4470)
  .github/workflows/skipped-unit-tests.yaml
  .github/workflows/unit-tests.yaml
  dockerfiles/Dockerfile.centos7
Owners: @niedbalski

upstream: add new option 'net.connect_timeout_log_error' (#4473)
  include/fluent-bit/flb_network.h
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

upstream: add new option 'net.connect_timeout_log_error' (#4473)
  include/fluent-bit/flb_network.h
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

upstream: add new option 'net.connect_timeout_log_error' (#4473)
  include/fluent-bit/flb_network.h
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

config: added dns result sorting option
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

network: added dns result sorting option
  include/fluent-bit/flb_network.h
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

upstream: added dns result sorting option
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

workflows: add Debian Bullseye build to staging
  .github/workflows/call-build-packages.yaml
  .github/workflows/call-test-packages.yaml
  packaging/build.sh
  packaging/distros/debian/bullseye.arm64v8/Dockerfile
  packaging/distros/debian/bullseye.arm64v8/sources/.empty
  packaging/distros/debian/bullseye/Dockerfile
  packaging/distros/debian/bullseye/sources/.empty
  packaging/testing/smoke/packages/Dockerfile.centos8
  packaging/testing/smoke/packages/Dockerfile.debian11
  packaging/update-repos.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: update build.sh
  packaging/build.sh
Owners: @edsiper, @fujimotos, @koleini

workflows: update README
  packaging/README.md
Owners: @edsiper, @fujimotos, @koleini

workflows: added raspbian bullseye support
  packaging/README.md
  packaging/distros/debian/bullseye.arm64v8/Dockerfile
  packaging/distros/debian/bullseye/Dockerfile
  packaging/distros/raspbian/buster/Dockerfile.base
Owners: @edsiper, @fujimotos, @koleini

workflows: added raspbian bullseye support
  packaging/distros/raspbian/bullseye/Dockerfile
  packaging/distros/raspbian/bullseye/sources/.empty
Owners: @edsiper, @fujimotos, @koleini

workflows: add linting
  .github/actionlint-matcher.json
  .github/workflows/pr-lint.yaml
Owners: @niedbalski

workflows: Hadolint all
  .github/workflows/pr-lint.yaml
Owners: @niedbalski

workflows: simplify and improve linting
  .github/workflows/pr-lint.yaml
  .github/workflows/skipped-unit-tests.yaml
Owners: @niedbalski

workflows: add upstream sync
  .github/workflows/calyptia-upsream-sync.yaml
Owners: @niedbalski

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
