Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

core: fixed the data type used for booleans
  include/fluent-bit/flb_config_map.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_winevtlog: Skip to translate SID for capability SIDs
  plugins/in_winevtlog/pack.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_winevtlog: Add a describing link for capability SIDs
  plugins/in_winevtlog/pack.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

conf: parser: revise istio-envoy-proxy regex
  conf/parsers.conf
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_process_exporter_metrics: Initialize with NULL for flb_sds_t pointer variables (CID 507975)
  plugins/in_process_exporter_metrics/pe_process.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: added cpu byte order detection (same as msgpack-c)
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

core: replaced buggy cpu byte order detection with a reliable mechanism
  include/fluent-bit/flb_endian.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_process_exporter_metrics: Initialize with NULL for flb_sds_t pointer variables (CID 507975)
  plugins/in_process_exporter_metrics/pe_process.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

parser_json: Handle numeric timestamps
  include/fluent-bit/flb_parser.h
  src/flb_parser.c
  src/flb_parser_json.c
  tests/internal/parser_json.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: added cpu byte order test cases
  tests/internal/CMakeLists.txt
  tests/internal/endianness.c
  tests/internal/log_event_encoder.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: test: Handle 1.0 suffixed endpoints
  plugins/in_splunk/splunk_prot.c
  tests/runtime/in_splunk.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: fixed type that caused the comparison to fail
  tests/internal/log_event_encoder.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: initial commit of the new http client
  include/fluent-bit/flb_http_client.h
  include/fluent-bit/flb_http_client_http1.h
  include/fluent-bit/flb_http_client_http2.h
  include/fluent-bit/flb_http_common.h
  src/flb_http_client.c
  src/flb_http_client_http1.c
  src/flb_http_client_http2.c
  src/flb_http_common.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_server: conflict resolution
  include/fluent-bit/http_server/flb_http_server.h
  src/http_server/flb_http_server.c
  src/http_server/flb_http_server_http2.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: added alpn fetch functionality
  include/fluent-bit/tls/flb_tls.h
  src/tls/flb_tls.c
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: added http client and compatible signv4 module
  src/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

signv4: added a new version compatible with the new http client
  include/fluent-bit/flb_signv4_ng.h
  src/flb_signv4_ng.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_elasticsearch: fixed http constants
  plugins/in_elasticsearch/in_elasticsearch.c
  plugins/in_elasticsearch/in_elasticsearch_bulk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opentelemetry: fixed http constants
  plugins/in_opentelemetry/opentelemetry.c
  plugins/in_opentelemetry/opentelemetry_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_prometheus_remote_write: fixed http constants
  plugins/in_prometheus_remote_write/prom_rw.c
  plugins/in_prometheus_remote_write/prom_rw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: fixed http constants
  plugins/in_splunk/splunk.c
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_http: replaced http client with the new implementation
  plugins/out_http/http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_http: fixed http constants
  plugins/in_http/http.c
  plugins/in_http/http_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Add arg for hash-value-field
  plugins/filter_parser/filter_parser.c
  plugins/filter_parser/filter_parser.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: use the system provided libnghttp2 if found
  CMakeLists.txt
  cmake/headers.cmake
  cmake/nghttp2.cmake
  src/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

build: use the system provided backtrace if found
  CMakeLists.txt
  src/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

build: use the system provided jemalloc if found
  CMakeLists.txt
  plugins/processor_sql/parser/CMakeLists.txt
  src/CMakeLists.txt
  src/aws/CMakeLists.txt
  src/proxy/go/CMakeLists.txt
  src/record_accessor/CMakeLists.txt
  src/stream_processor/parser/CMakeLists.txt
  src/wasm/CMakeLists.txt
  tests/internal/CMakeLists.txt
  tests/internal/fuzzers/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini, @pettitwesley

build: use the system provided librdkafka if found
  CMakeLists.txt
  cmake/headers.cmake
  cmake/kafka.cmake
  plugins/in_kafka/CMakeLists.txt
  plugins/out_kafka/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

build: use the system provided c-ares if found
  CMakeLists.txt
  cmake/cares.cmake
  cmake/headers.cmake
  src/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

workflows: pr-compile-check.yaml: add libbacktrace system library test
  .github/workflows/pr-compile-check.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

workflows: pr-compile-check.yaml: add libnghttp2 system library test
  .github/workflows/pr-compile-check.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

workflows: pr-compile-check.yaml: add libjemalloc system library test
  .github/workflows/pr-compile-check.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

lib: librdkafka: CMakeLists.txt: allow compilation without CXX support #7741
  lib/librdkafka-2.4.0/CMakeLists.txt
  lib/librdkafka-2.4.0/examples/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CMakeLists.txt: disable cxx support for librdkafka #7741
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

lib: luajit-cmake: CMakeLists.txt: do not require a CXX compiler
  lib/luajit-cmake/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: nghttp2: CMakeLists.txt: do not require a CXX compiler
  lib/nghttp2/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: add sanity check for toolchains w/ CXX support
  .github/workflows/pr-compile-check.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

output: Remove a needless calling of flb_output_instance_destroy() (CID 507809)
  src/flb_output.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_bigquery: Add debug log for response payload when HTTP 200 OK
  plugins/out_bigquery/bigquery.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

output: Remove a needless calling of flb_output_instance_destroy() (CID 507809)
  src/flb_output.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
