Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan

tests: internal: added cpu byte order test cases
  tests/internal/CMakeLists.txt
  tests/internal/endianness.c
  tests/internal/log_event_encoder.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: fixed type that caused the comparison to fail
  tests/internal/log_event_encoder.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: report error code for RegQueryValueEx in flb_utils_get_machine_id.
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: validate allocation before filling with GUID on windows.
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: attempt to fix retrieval of machine id on win32.
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: add output for utils test for test_flb_utils_get_machine_id.
  tests/internal/utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: add utils test for flb_utils_get_machine_id for zero and repeatability.
  tests/internal/utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: return strlen() in flb_utils_get_machine_id on win32.
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: warn when using random ID in flb_utils_get_machine_id.
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: use MachineGUID correctly.
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

examples: filter_wasm_go: Upgrade to support Go 1.22.5 and TinyGo 0.32
  examples/filter_wasm_go/README.md
  examples/filter_wasm_go/filter.go
  examples/filter_wasm_go/go.mod
  examples/filter_wasm_go/go.sum
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_elasticsearch: Fix string in http response code 400 (#8977)
  plugins/in_elasticsearch/in_elasticsearch_bulk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_logdna: refactored LogDNA URI formation to support configurable endpoints (#8051)
  plugins/out_logdna/logdna.c
  plugins/out_logdna/logdna.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: use the system lib luajit for s390x (#9172)
  README.md
  cmake/s390x.cmake
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286

log_event_encoder: log_event_decoder: enhanced byte order handling for timestamps (#9196)
  include/fluent-bit/flb_byteswap.h
  src/flb_log_event_decoder.c
  src/flb_log_event_encoder_primitives.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: test: Handle 1.0 suffixed endpoints
  plugins/in_splunk/splunk_prot.c
  tests/runtime/in_splunk.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: fix compatibility for macOS < 12 (#9217)
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_elasticsearch: Process error information properly
  plugins/out_es/es.c
  plugins/out_es/es.h
Owners: @pettitwesley, @edsiper

aws: fix leaks on new EKS Pod identities
  src/aws/flb_aws_credentials_http.c
  src/aws/flb_aws_util.c
Owners: @pettitwesley

utils: validate sds port
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: aws_credentials_http: fix leaks
  tests/internal/aws_credentials_http.c
Owners: @pettitwesley

http_client: refactored application interface
  include/fluent-bit/flb_http_client.h
  src/flb_http_client.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_common: relocated signv4 signature calculation routine
  include/fluent-bit/flb_http_common.h
  src/flb_http_common.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_http: adapted the code to the new http lient api
  plugins/out_http/http.c
  plugins/out_http/http.h
  plugins/out_http/http_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

reload: added appropriate type cast (CID 508209)
  src/flb_reload.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_winevtlog: Remove a needless third argument
  plugins/in_winevtlog/pack.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_s3: Plug an error for too many argument for mkdir
  plugins/out_s3/s3.c
Owners: @pettitwesley

out_s3: Plug an error for too many argument for mkdir
  plugins/out_s3/s3.c
Owners: @pettitwesley

in_winevtlog: Remove a needless third argument
  plugins/in_winevtlog/pack.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_podman_metrics: Plug a resource leak on exception (CID 507805)
  plugins/in_podman_metrics/podman_metrics_data.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: fixed double free
  plugins/out_azure_blob/azure_blob_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_collectd: fixed out of bounds read
  plugins/in_collectd/netprot.c
Owners: @fujimotos

out_stackdriver: fixed a memory leak
  plugins/out_stackdriver/stackdriver.c
Owners: @braydonk, @igorpeshansky, @qingling128

in_node_exporter_metrics: fixed possible invalid dereference
  plugins/in_node_exporter_metrics/ne_meminfo_linux.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: Handle signed/unsigned integer as influx's integer of that representation
  plugins/out_influxdb/influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_stackdriver: fixed a memory leak
  plugins/out_stackdriver/stackdriver.c
Owners: @braydonk, @igorpeshansky, @qingling128

Added possibility for a custom internal log handler injection
  include/fluent-bit/flb_config.h
  include/fluent-bit/flb_log.h
  src/flb_engine.c
  src/flb_log.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: added concurrency support
  include/fluent-bit/flb_http_client.h
  src/flb_http_client.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_common: fixed warning
  include/fluent-bit/flb_http_common.h
  src/flb_http_common.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_http: added missing error handling
  plugins/out_http/http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini
