Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

out_loki: added http/2 support
  plugins/out_loki/loki.c
  plugins/out_loki/loki.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: added http/2 support
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry.h
  plugins/out_opentelemetry/opentelemetry_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: added lock component
  src/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: fixed warnings
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lock: added basic reusable lock component
  include/fluent-bit/flb_lock.h
  src/flb_lock.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: fixed double free
  plugins/out_azure_blob/azure_blob_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_collectd: fixed out of bounds read
  plugins/in_collectd/netprot.c
Owners: @fujimotos

out_stackdriver: fixed a memory leak
  plugins/out_stackdriver/stackdriver.c
Owners: @braydonk, @igorpeshansky, @qingling128

out_stackdriver: fixed a memory leak
  plugins/out_stackdriver/stackdriver.c
Owners: @braydonk, @igorpeshansky, @qingling128

in_node_exporter_metrics: fixed possible invalid dereference
  plugins/in_node_exporter_metrics/ne_meminfo_linux.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_podman_metrics: Plug a resource leak on exception (CID 507805)
  plugins/in_podman_metrics/podman_metrics_data.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

reload: added appropriate type cast (CID 508209)
  src/flb_reload.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: fix record accessor pattern (CID 507960)
  plugins/out_opentelemetry/opentelemetry_logs.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: skip ra_trace_flags_metadata check (CID 508199)
  plugins/out_opentelemetry/opentelemetry_logs.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_calyptia: initialize return and http context (CID 507836)
  plugins/out_calyptia/calyptia.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: Add test_formatter.callback mechanism
  plugins/out_influxdb/influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: skip ra_trace_flags_metadata check (CID 508199)
  plugins/out_opentelemetry/opentelemetry_logs.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: fix record accessor pattern (CID 507960)
  plugins/out_opentelemetry/opentelemetry_logs.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_calyptia: initialize return and http context (CID 507836)
  plugins/out_calyptia/calyptia.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

record_accessor: Plug a resource leak on exception (CID 508119)
  src/flb_record_accessor.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: Prevent null dereference on memcpy (CID 507910)
  plugins/out_opentelemetry/opentelemetry_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: Plug a memory leak
  plugins/out_influxdb/influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: test: Add influxdb format test cases
  tests/runtime/CMakeLists.txt
  tests/runtime/out_influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: Provide a way to turn on to use integer type on influxdb's line protocol
  plugins/out_influxdb/influxdb.c
  plugins/out_influxdb/influxdb.h
  tests/runtime/out_influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: coding style fix
  plugins/out_opentelemetry/opentelemetry_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

core: foxed memory leaks
  src/fluent-bit.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_event_type: fixed two leaks
  plugins/in_event_type/event_type.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Added Port config option for Kinesis plugin
  plugins/out_kinesis_streams/kinesis.c
Owners: @pettitwesley

Fixed small bug with var init
  plugins/out_kinesis_streams/kinesis.c
  plugins/out_kinesis_streams/kinesis.h
Owners: @pettitwesley

filter_multiline: fixed memory leak
  plugins/filter_multiline/ml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

sp: changed property type to prevent lossy cast
  include/fluent-bit/stream_processor/flb_sp.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_alter_size: fixed memory leak
  plugins/filter_alter_size/alter_size.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: added stand alone parameter setter and cleanup helper
  include/fluent-bit/flb_http_client.h
  src/flb_http_client.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_loki: updated to use the proper cleanup helper
  plugins/out_loki/loki.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: updated to use the proper cleanup helper
  plugins/out_opentelemetry/opentelemetry.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_http: updated to use the proper cleanup helper
  plugins/out_http/http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_prometheus_remote_write: updated to use the new http client
  plugins/out_prometheus_remote_write/remote_write.c
  plugins/out_prometheus_remote_write/remote_write.h
  plugins/out_prometheus_remote_write/remote_write_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_ecs: updated to use the new http client
  plugins/filter_ecs/ecs.c
  plugins/filter_ecs/ecs.h
Owners: @pettitwesley

lib: cmetrics: upgrade to v0.9.5
  lib/cmetrics/.github/workflows/packages.yaml
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/src/cmt_decode_prometheus.c
  lib/cmetrics/src/cmt_decode_prometheus_remote_write.c
  lib/cmetrics/src/cmt_decode_statsd.c
  lib/cmetrics/src/cmt_encode_influx.c
  lib/cmetrics/src/cmt_encode_opentelemetry.c
  lib/cmetrics/tests/data/issue_fluent_bit_9267.txt
  lib/cmetrics/tests/encoding.c
  lib/cmetrics/tests/prometheus_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_event_type: fixed two leaks
  plugins/in_event_type/event_type.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
