Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

tls: respect async connection flag in flb_tls_session_create.
  src/tls/flb_tls.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_http: Request timed out(408) to be treated as retry
  plugins/out_http/http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_splunk: Extend retrying HTTP status code
  plugins/out_splunk/splunk.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input: added missing initializer (CID 508207) (#9332)
  include/fluent-bit/flb_input.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_http: Request timed out(408) to be treated as retry
  plugins/out_http/http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_splunk: Extend retrying HTTP status code
  plugins/out_splunk/splunk.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Code refactoring
  include/fluent-bit/flb_msgpack_append_message.h
  plugins/filter_parser/filter_parser.c
  src/flb_msgpack_append_message.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Addressed comments
  src/flb_msgpack_append_message.c
  tests/runtime/filter_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Add UTs
  tests/runtime/filter_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Made the param configurable
  plugins/filter_parser/filter_parser.c
  plugins/filter_parser/filter_parser.h
  tests/runtime/filter_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Add seperate err msg for Unpack issue
  include/fluent-bit/flb_msgpack_append_message.h
  plugins/filter_parser/filter_parser.c
  src/flb_msgpack_append_message.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

file_sqldb : Removed db shared check through shared member valriable
  src/flb_sqldb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

file_sqldb : Removed db shared check through shared member valriable
  src/flb_sqldb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

cmake: fix UNICODE-escaped characters on aarch64
  .github/workflows/unit-tests.yaml
  CMakeLists.txt
Owners: @niedbalski, @patrick-stephens, @celalettin1286, @fujimotos

out_splunk: Extend retrying HTTP status code (#9380)
  plugins/out_splunk/splunk.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_http: Request timed out(408) to be treated as retry (#9379)
  plugins/out_http/http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: reverse the logic when checking for async flag.
  src/tls/flb_tls.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

non-functioning skeleton of the idea
  src/flb_input_chunk.c
  src/flb_input_log.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lossy version working
  plugins/in_tail/tail_file.c
  src/flb_input_log.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

I wasted a lot of time not doing it this way
  src/flb_input_log.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

working version with one memory leak left
  plugins/in_tail/tail_file.c
  src/flb_input_log.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: use flb_upstream_is_async instead of flb_get_connection_flags in flb_tls_session_create.
  src/tls/flb_tls.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

do the buffer ownership stuff properly
  plugins/in_tail/tail_file.c
  src/flb_input_log.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

fix const discard warnings
  include/fluent-bit/flb_input_log.h
  src/flb_input_log.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

remove testing log statements
  src/flb_input_log.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: macos: Add workflow for MacOS builds on PRs
  .github/workflows/pr-macos-build.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

Add MacOS build to .github/workflows/README.md
  .github/workflows/README.md
Owners: @niedbalski, @patrick-stephens, @celalettin1286

out_influxdb: Handle signed/unsigned integer as influx's integer of that representation [Backport 3.1] (#9361)
  plugins/out_influxdb/influxdb.c
  plugins/out_influxdb/influxdb.h
  tests/runtime/CMakeLists.txt
  tests/runtime/out_influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: signv4: fixed leak
  tests/internal/signv4.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

io: use connection flags when setting async in flb_io_net_connect.
  src/flb_io.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: check async before using coroutines in flb_tls_session_create.
  src/tls/flb_tls.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

io: use connection flags when setting async in flb_io_net_connect.
  src/flb_io.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: check async before using coroutines in flb_tls_session_create.
  src/tls/flb_tls.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.6
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/include/cmetrics/cmt_math.h
  lib/cmetrics/src/cmt_cat.c
  lib/cmetrics/tests/cat.c
  lib/cmetrics/tests/prometheus_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.6
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/include/cmetrics/cmt_math.h
  lib/cmetrics/src/cmt_cat.c
  lib/cmetrics/tests/cat.c
  lib/cmetrics/tests/prometheus_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input: disable coroutines for custom events and input callbacks that do not support coroutines. (#9338)
  src/flb_io.c
  src/tls/flb_tls.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: check async before using coroutines in flb_tls_session_create.
  src/tls/flb_tls.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

io: use connection flags when setting async in flb_io_net_connect.
  src/flb_io.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.6
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/include/cmetrics/cmt_math.h
  lib/cmetrics/src/cmt_cat.c
  lib/cmetrics/tests/cat.c
  lib/cmetrics/tests/prometheus_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

io: use connection flags when setting async in flb_io_net_connect.
  src/flb_io.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
