Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

in_tail: Convert encodings before splitting lines
  plugins/in_tail/tail_file.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: Align 2-bytes alignments if UTF-16 encodings are enabled
  plugins/in_tail/tail_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

simdutf_connector: Handle newlines
  src/simdutf/flb_simdutf_connector.cpp
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: Accept more variants for specifying UTF-16s
  plugins/in_tail/tail_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

simdutf_connector: Suppress compiler warnings
  src/simdutf/flb_simdutf_connector.cpp
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: Implement response testing framework
  include/fluent-bit/flb_http_client.h
  src/flb_http_client.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_es: tests: Add HTTP response testing
  plugins/out_es/es.c
  tests/runtime/data/es/json_es.h
  tests/runtime/out_elasticsearch.c
Owners: @pettitwesley, @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: Implement injecting HTTP response mechanism
  include/fluent-bit/flb_lib.h
  src/flb_lib.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski

output: Add a capability to inject HTTP response testing environment
  include/fluent-bit/flb_output.h
  src/flb_output.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: Add requirements of gcc and clang versions
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

in_blob: fixed windows compatibility issue
  plugins/in_blob/blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_blob: fixed windows compatibility issue
  plugins/in_blob/blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: added blob destination tracking and stickiness
  plugins/out_azure_blob/azure_blob.c
  plugins/out_azure_blob/azure_blob.h
  plugins/out_azure_blob/azure_blob_db.c
  plugins/out_azure_blob/azure_blob_db.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_blob: added pattern based file exclusion
  plugins/in_blob/blob.c
  plugins/in_blob/blob.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: fixed DELETE request signature generation
  plugins/out_azure_blob/azure_blob_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_server: http1: always reset the parser context on pending status
  src/http_server/flb_http_server_http1.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: Use warning level on missing appropriate version of compiler
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

out_opentelemetry: fix check for uri sanitization when exiting
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_server: http1: always reset the parser context on pending status
  src/http_server/flb_http_server_http1.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.7
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/src/cmt_encode_opentelemetry.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.7
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/src/cmt_encode_opentelemetry.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: fix check for uri sanitization when exiting
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: fix use-after-free for input_chunks test input_chunk_dropping_chunks. (#9472)
  tests/internal/input_chunk.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: fix check for uri sanitization when exiting
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.7
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/src/cmt_encode_opentelemetry.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: fix check for uri sanitization when exiting
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.7
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/src/cmt_encode_opentelemetry.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: Permit to use clang to build and link simdutf correctly
  CMakeLists.txt
  src/simdutf/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

Fix 8729 Unexpected behavior for metrics after the migration to 3.0.1
  src/flb_input_chunk.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_process_exporter_metrics: convert rss memory from pages to bytes
  plugins/in_process_exporter_metrics/pe.h
  plugins/in_process_exporter_metrics/pe_config.c
  plugins/in_process_exporter_metrics/pe_process.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.8
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/include/cmetrics/cmt_decode_prometheus.h
  lib/cmetrics/src/cmt_cat.c
  lib/cmetrics/src/cmt_decode_msgpack.c
  lib/cmetrics/src/cmt_decode_prometheus.c
  lib/cmetrics/src/cmt_encode_prometheus.c
  lib/cmetrics/src/cmt_encode_splunk_hec.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: ctraces: upgrade to v0.5.7
  lib/ctraces/CMakeLists.txt
  lib/ctraces/src/ctr_encode_opentelemetry.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: small fixes on return values (CID 508015 508060 510619)
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: release shared salt on exception (CID 507596)
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: validate return value when ingesting data (CID 507683)
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: fix leaks on exception (CID 507786 507954 508064)
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_s3: fix buffered data on exception (CID 309438)
  plugins/out_s3/s3_multipart.c
Owners: @pettitwesley

out_s3: release context on mock client excepion (CID 310831)
  plugins/out_s3/s3.c
Owners: @pettitwesley

out_s3: fix buffered data on exception (CID 309438)
  plugins/out_s3/s3_multipart.c
Owners: @pettitwesley

lib: ctraces: upgrade to v0.5.7
  lib/ctraces/CMakeLists.txt
  lib/ctraces/src/ctr_encode_opentelemetry.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
