Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan

in_syslog: Fix double free when no parser is set
  plugins/in_syslog/syslog_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_http: don't retry non retryable 4xx status codes
  plugins/out_http/http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: Set security flags for release builds (#6087)
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

out_loki: Add http_buffer_max_size option and handle HTTP 5xx errors
  plugins/out_loki/loki.c
  plugins/out_loki/loki.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

motd: v3.1
  include/fluent-bit/flb_motd.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Updated in_http runtime test for json content type header with charset.
  tests/runtime/in_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

release: update to 3.1.1
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.1.1.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

VSCode did not save changes before last commit. Updated in_http runtime test for json content type header with charset.
  tests/runtime/in_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

- Fixed multiple bugs causing compilation errors in macOS. Adapted types that would work on Linux as well as on macOS.
  CMakeLists.txt
  plugins/filter_encrypt/cryptopANT.c
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

- Fixed bug related with undeclared identifier
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

luajit-cmake: Add git repository existence check
  lib/luajit-cmake/LuaJIT.cmake
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

cmake: build: Revive missing plugin definitions
  cmake/plugins_options.cmake
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

luajit-cmake: Add git repository existence check
  lib/luajit-cmake/LuaJIT.cmake
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

cmake: build: Revive missing plugin definitions (#9066)
  cmake/plugins_options.cmake
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

cmake: Correctly fetch FLB_GIT_HASH from signed commit
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

release: update to 3.1.2
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.1.2.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

out_opentelemetry: restore manual parsing for log record fields (fix #9071)
  plugins/out_opentelemetry/opentelemetry_logs.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

packaing: test: centos7: Fix packaging test
  packaging/centos7-repo.sh
  packaging/test-release-packages.sh
Owners: @niedbalski, @patrick-stephens, @celalettin1286

packaging: test: Eliminate shellcheck errors
  packaging/centos7-repo.sh
  packaging/test-release-packages.sh
Owners: @niedbalski, @patrick-stephens, @celalettin1286

packaing: test: centos7: Fix packaging test (#9076)
  packaging/centos7-repo.sh
  packaging/test-release-packages.sh
Owners: @niedbalski, @patrick-stephens, @celalettin1286

Add user logos
  documentation/fluentbit_users.png
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Add user logos
  documentation/fluentbit_users.png
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Removed redeclaration of response_code.
  tests/runtime/in_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: correctly fetch FLB_GIT_HASH from signed commit (#9070)
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

out_opentelemetry: restore manual parsing for log record fields (fix #9071)
  plugins/out_opentelemetry/opentelemetry_logs.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: Add option file_cache_advise to reduce file cache usage
  plugins/in_tail/tail.c
  plugins/in_tail/tail_config.h
  plugins/in_tail/tail_file.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_log_to_metric: Add emitter alias and mem limit
  plugins/filter_log_to_metrics/log_to_metrics.c
  plugins/filter_log_to_metrics/log_to_metrics.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: filter_log_to_metrics: Increase unit test timeout
  tests/runtime/filter_log_to_metrics.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input: Config parsing order fixed for FS storage pause parameter (#8720)
  src/flb_input.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: Add plugin pause/resume mechanism
  plugins/in_forward/fw.c
  plugins/in_forward/fw.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_datadog: fix typo for dd_hostname helper (#9032)
  plugins/out_datadog/datadog.c
Owners: @nokute78, @edsiper

- Fixed bug: Missing function `readlink` on Windows.
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

- Multiple bug-fixes and refactoring for windows support.
  plugins/filter_encrypt/CMakeLists.txt
  plugins/filter_encrypt/aes.c
  plugins/filter_encrypt/aes.h
  plugins/filter_encrypt/aes_deterministic.c
  plugins/filter_encrypt/aes_gcm.c
  plugins/filter_encrypt/aes_gcm.h
  plugins/filter_encrypt/aes_gcm_hmac_deterministic.c
  plugins/filter_encrypt/aes_gcm_hmac_deterministic.h
  plugins/filter_encrypt/cmac.c
  plugins/filter_encrypt/cmac.h
  plugins/filter_encrypt/cryptopANT.c
  plugins/filter_encrypt/cryptopANT.h
  plugins/filter_encrypt/encrypt.c
  plugins/filter_encrypt/hashmap.c
  plugins/filter_encrypt/hashmap.h
  plugins/filter_encrypt/ip_encryption.c
  plugins/filter_encrypt/ip_encryption.h
  plugins/filter_encrypt/ip_utils.c
  plugins/filter_encrypt/ip_utils.h
  plugins/filter_encrypt/mjson.c
  plugins/filter_encrypt/mjson.h
  plugins/filter_encrypt/utils.h
  plugins/filter_encrypt/winsock_utils.c
  plugins/filter_encrypt/winsock_utils.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

release: update to 3.1.3
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.1.3.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

in_winevtlog: Retrieve messages of forwarded events correctly
  plugins/in_winevtlog/winevtlog.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

- Reverted changes back
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_datadog: fix default message key remapping
  plugins/out_datadog/datadog.c
  plugins/out_datadog/datadog.h
Owners: @nokute78, @edsiper

in_podman_metrics: Added remove_stale_counters opt
  plugins/in_podman_metrics/podman_metrics.c
  plugins/in_podman_metrics/podman_metrics.h
  plugins/in_podman_metrics/podman_metrics_config.h
  tests/runtime/in_podman_metrics.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

pack: enable kafka on windows
  cmake/windows-setup.cmake
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

out_stackdriver: fix warnings
  plugins/out_stackdriver/stackdriver.c
Owners: @braydonk, @igorpeshansky, @qingling128
