Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley

engine: enforce and reduce shutdown time
  src/flb_engine.c
Owners: @edsiper, @fujimotos, @koleini

config: add new 'grace_count' structure field
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

out_cloudwatch_logs: simplify error logging for invalid responses
  plugins/out_cloudwatch_logs/cloudwatch_api.c
Owners: @pettitwesley

ra: fix bison warnings
  src/record_accessor/ra.l
  src/record_accessor/ra.y
Owners: @edsiper, @fujimotos, @koleini

out_cloudwatch_logs: auto retry invalid requests
  plugins/out_cloudwatch_logs/cloudwatch_api.c
Owners: @pettitwesley

out_cloudwatch_logs: simplify error logging for invalid responses
  plugins/out_cloudwatch_logs/cloudwatch_api.c
Owners: @pettitwesley

use more portable variable initialization
  tests/internal/aws_client_mock.c
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: out_es: add test case for long index(#4311)
  tests/runtime/out_elasticsearch.c
Owners: @edsiper, @fujimotos, @koleini

sds: add flb_sds_snprintf_realloc
  include/fluent-bit/flb_sds.h
  src/flb_sds.c
Owners: @edsiper, @fujimotos, @koleini

out_es: use snprintf wrapper function for bulk header.
  plugins/out_es/es.c
Owners: @pettitwesley, @edsiper

upstream: fix deadlock when destroying connections
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

config: add new 'is_shutting_down' field
  include/fluent-bit/flb_config.h
Owners: @edsiper, @fujimotos, @koleini

engine: do not retry if the engine is shutting down
  src/flb_engine.c
Owners: @edsiper, @fujimotos, @koleini

network: detect if socket has been invalidated
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

upstream: detect shutdown and reduce log noise
  include/fluent-bit/flb_upstream.h
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

input chunk: remove call to llabs in flb_input_chunk_append_raw.
  src/flb_input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

network: on tcp connect change exception from error to debug
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

Support Config AWS_Service_Name
  plugins/out_es/es.c
  plugins/out_es/es.h
Owners: @pettitwesley, @edsiper

Support Config AWS_Service_Name
  plugins/out_es/es.c
  plugins/out_es/es.h
Owners: @pettitwesley, @edsiper

Rename
  .github/workflows/README.md
Owners: @niedbalski

Refactor and local build changes
  .github/workflows/release-build.yaml
  .github/workflows/release-publish.yaml
Owners: @niedbalski

Ignore packaging foler
  .gitignore
Owners: @edsiper, @fujimotos, @koleini

Action tweaks
  .github/workflows/release-build.yaml
Owners: @niedbalski

Disable upload when run locally
  .github/workflows/release-build.yaml
Owners: @niedbalski

remove Content-Type from signature
  plugins/out_es/es.c
Owners: @pettitwesley, @edsiper

change to S3 signed mode for aoss
  plugins/out_es/es.c
Owners: @pettitwesley, @edsiper

add log info
  plugins/out_es/es.c
Owners: @pettitwesley, @edsiper

Docker image updates
  .github/workflows/release-build.yaml
  tools/act/run.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

tests: internal: fuzzer: extend config fuzzer
  tests/internal/fuzzers/CMakeLists.txt
  tests/internal/fuzzers/config_fuzzer.c
  tests/internal/fuzzers/config_random_fuzzer.c
Owners: @edsiper, @fujimotos, @koleini

poc: this is a proof of concept and should not be merged by any means
  build/.empty
  lib/cmetrics/include/cmetrics/cmt_version.h
  lib/monkey/mk_server/mk_clock.c
  lib/monkey/mk_server/mk_fifo.c
  lib/monkey/mk_server/mk_lib.c
  lib/monkey/mk_server/mk_server.c
  lib/msgpack-c/include/msgpack/pack_template.h
  lib/msgpack-c/include/msgpack/sysdep.h
  plugins/out_stackdriver/stackdriver.c
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: fuzzer: extend config fuzzer
  tests/internal/fuzzers/CMakeLists.txt
  tests/internal/fuzzers/config_fuzzer.c
  tests/internal/fuzzers/config_random_fuzzer.c
Owners: @edsiper, @fujimotos, @koleini

Fix version temporarily
  dockerfiles/Dockerfile.x86_64
Owners: @niedbalski

Image build tweaks
  .github/workflows/release-build.yaml
Owners: @niedbalski

Skip the upload (fails anyway)
  .github/workflows/release-build.yaml
Owners: @niedbalski

Working locally
  .github/workflows/deploy-to-staging.yaml
Owners: @niedbalski

Review actions
  .github/workflows/deploy-to-staging.yaml
  tools/act/run.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

Updates to push to S3
  .github/workflows/deploy-to-staging.yaml
  .gitignore
  tools/act/run.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

upstream: just compare against 'locked' flag
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

workflows: add CIFuzz integration
  .github/workflows/cifuzz.yaml
Owners: @niedbalski

filter_rewrite_tag: add NULL check(#4246)
  plugins/filter_rewrite_tag/rewrite_tag.c
Owners: @edsiper, @fujimotos, @koleini
