Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

filter: added plugin notification feature
  include/fluent-bit/flb_filter.h
  src/flb_filter.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: added missing function
  plugins/in_blob/blob.c
  plugins/in_blob/win32_glob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

sqldb: commit before closing handler
  src/flb_sqldb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: register in_blob
  cmake/plugins_options.cmake
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

notification: initial commit of the notification feature
  include/fluent-bit/flb_notification.h
  src/flb_notification.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_blob: fixed warning
  src/flb_input_blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

sched: add coroutine support to timer callback
  include/fluent-bit/flb_scheduler.h
  src/flb_scheduler.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: fixed stored erroneous procedure references and code
  plugins/out_azure_blob/azure_blob_db.c
  plugins/out_azure_blob/azure_blob_db.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine: added missing header
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

scheduler: removed erroneously added field
  include/fluent-bit/flb_scheduler.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_chunk: event type blob support
  src/CMakeLists.txt
  src/flb_input_chunk.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine_macros: added plugin notification event type
  include/fluent-bit/flb_engine_macros.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: runtime: config_map_opts: initialize scheduler
  tests/runtime/config_map_opts.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_thread: fixed use after free (CID 509982)
  src/flb_input_thread.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

scheduler: improved timer coroutine return signal handling
  include/fluent-bit/flb_scheduler.h
  src/flb_scheduler.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: runtime: custom_calyptia: initialize scheduler
  tests/runtime/custom_calyptia_test.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: fixed leak (CID 509977)
  plugins/out_azure_blob/azure_blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: add new function to read files by offset
  include/fluent-bit/flb_utils.h
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine: added missing scheduler coroutine cleanup
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_blob: added remote configuration retrieval functionality
  plugins/out_azure_blob/azure_blob_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_blob: fixed memory leaks and added temporary win32 compatibility shim
  plugins/in_blob/blob.c
  plugins/in_blob/win32_glob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_blob: fixed windows compatibility issues
  plugins/in_blob/blob.c
  plugins/in_blob/win32_glob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

release: update to 3.1.10
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.1.10.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

out_datadog: custom added ability ot set custom HTTP headers
  plugins/out_datadog/datadog.c
  plugins/out_datadog/datadog.h
Owners: @nokute78, @edsiper

motd: v3.2
  include/fluent-bit/flb_motd.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: update for 3.1 branch
  .github/workflows/staging-release.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

dockerfile: bump to v3.1.10
  dockerfiles/Dockerfile
Owners: @niedbalski, @patrick-stephens, @celalettin1286

snap: bump to v3.1.10
  snap/snapcraft.yaml
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: bump to v3.1.10
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

bitbake: bump to v3.1.10
  fluent-bit-3.1.10.bb
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: update for 3.1 branch (#9444)
  .github/workflows/staging-release.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

workflows: 3.2 release from master support
  .github/workflows/cron-unstable-build.yaml
  .github/workflows/staging-release.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

version: update to 3.2.0
  dockerfiles/Dockerfile
  fluent-bit-3.2.0.bb
  snap/snapcraft.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @fujimotos, @koleini

motd: v3.2
  include/fluent-bit/flb_motd.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opentelemetry: add tag_from_uri support to http2 codepath
  plugins/in_opentelemetry/opentelemetry_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opentelemetry: add tag_from_uri support to http2 codepath
  plugins/in_opentelemetry/opentelemetry_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: Do not use private makefile targets in CMakelists.txt
  lib/cfl/CMakeLists.txt
  lib/cmetrics/CMakeLists.txt
  lib/ctraces/CMakeLists.txt
  lib/monkey/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config: add storage.chunk_max_size
  include/fluent-bit/flb_config.h
  src/flb_config.c
  src/flb_input_log.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opentelemetry: add tag_from_uri support to http2 codepath
  plugins/in_opentelemetry/opentelemetry_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_blob: added pattern based file exclusion
  plugins/in_blob/blob.c
  plugins/in_blob/blob.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
