Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

in_elasticsearch: fixed potential issue caused by ingored reallocation
  plugins/in_elasticsearch/in_elasticsearch_bulk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

ain_elasticsearch: fixed potential issue caused by ingored reallocation
  plugins/in_elasticsearch/in_elasticsearch_bulk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_calyptia_fleet: fixed erroneous function usage
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

in_calyptia_fleet: fixed erroneous function usage
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

input: added missing initializer
  include/fluent-bit/flb_input.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: fixed memory leaks
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry.h
  plugins/out_opentelemetry/opentelemetry_conf.c
  plugins/out_opentelemetry/opentelemetry_logs.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: signv4: uncommented code that caused a leak
  tests/internal/signv4.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_elasticsearch: fixed memory leak
  plugins/in_elasticsearch/in_elasticsearch_bulk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_elasticsearch: fixed memory leak
  plugins/in_elasticsearch/in_elasticsearch_bulk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

release: update to 3.1.8
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.1.8.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

out_influxdb: Handle signed/unsigned integer as influx's integer of that representation
  plugins/out_influxdb/influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: Use add_integer_suffix name for adding integer suffix on the line protocol
  plugins/out_influxdb/influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: Provide a way to turn on to use integer type on influxdb's line protocol
  plugins/out_influxdb/influxdb.c
  plugins/out_influxdb/influxdb.h
  tests/runtime/out_influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: Plug a memory leak
  plugins/out_influxdb/influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: test: Follow the change of parameter name
  tests/runtime/out_influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: test: Add influxdb format test cases
  tests/runtime/CMakeLists.txt
  tests/runtime/out_influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: Add test_formatter.callback mechanism
  plugins/out_influxdb/influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: fixed memory leaks
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry.h
  plugins/out_opentelemetry/opentelemetry_conf.c
  plugins/out_opentelemetry/opentelemetry_logs.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: Handle signed/unsigned integer as influx's integer of that representation
  plugins/out_influxdb/influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: Add test_formatter.callback mechanism
  plugins/out_influxdb/influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: Plug a memory leak
  plugins/out_influxdb/influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: test: Add influxdb format test cases
  tests/runtime/CMakeLists.txt
  tests/runtime/out_influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: Provide a way to turn on to use integer type on influxdb's line protocol
  plugins/out_influxdb/influxdb.c
  plugins/out_influxdb/influxdb.h
  tests/runtime/out_influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: Use add_integer_suffix name for adding integer suffix on the line protocol
  plugins/out_influxdb/influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: test: Follow the change of parameter name
  tests/runtime/out_influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

pipeline: outputs: es: basic support of Upstream, only parameters known to parser of Upstream node configuration section are implemented, e.g. "host" and "port"
  plugins/out_es/CMakeLists.txt
  plugins/out_es/es.c
  plugins/out_es/es.h
  plugins/out_es/es_conf.c
  plugins/out_es/es_conf.h
  plugins/out_es/es_conf_parse.c
  plugins/out_es/es_conf_parse.h
Owners: @pettitwesley, @edsiper

engine: support of tests which require generation of context passed to the test callback based on configuration of Fluent Bit and based on configuration of plugin
  include/fluent-bit/flb_lib.h
  include/fluent-bit/flb_output.h
  src/flb_engine_dispatch.c
  src/flb_lib.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski

pipeline: outputs: es: fixed tests after modification of formatter callback contract
  plugins/out_es/es.c
  plugins/out_es/es_conf.c
  plugins/out_es/es_conf.h
  tests/runtime/out_elasticsearch.c
Owners: @pettitwesley, @edsiper, @leonardo-albertovich, @fujimotos, @koleini

pipeline: outputs: es: support overriding the most plugin parameters with Upstream node configuration
  plugins/out_es/es.c
  plugins/out_es/es.h
  plugins/out_es/es_conf.c
  plugins/out_es/es_conf.h
  plugins/out_es/es_conf_parse.c
  plugins/out_es/es_conf_prop.h
Owners: @pettitwesley, @edsiper

pipeline: outputs: es: tests for upstream node configuration properties
  plugins/out_es/es.c
  plugins/out_es/es.h
  tests/runtime/out_elasticsearch.c
Owners: @pettitwesley, @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: fixed typo
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

in_calyptia_fleet: fixed memory leaks (CID 508187) (#9346)
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

in_calyptia_fleet: fixed memory leaks (CID 508187) (#9347)
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

fix https://github.com/fluent/fluent-bit/issues/9368: unsigned integer overflow
  lib/cmetrics/src/external/protobuf-c.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_calyptia: Fix compilation error
  plugins/CMakeLists.txt
  plugins/processor_calyptia/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_calyptia: fix windows build
  plugins/processor_calyptia/calyptia_logs_from_lua.h
  plugins/processor_calyptia/calyptia_logs_to_lua.c
  plugins/processor_calyptia/calyptia_logs_to_lua.h
  plugins/processor_calyptia/calyptia_metrics_from_lua.c
  plugins/processor_calyptia/calyptia_metrics_from_lua.h
  plugins/processor_calyptia/calyptia_metrics_to_lua.c
  plugins/processor_calyptia/calyptia_metrics_to_lua.h
  plugins/processor_calyptia/calyptia_traces.c
  plugins/processor_calyptia/calyptia_traces_from_lua.c
  plugins/processor_calyptia/calyptia_traces_from_lua.h
  plugins/processor_calyptia/calyptia_traces_to_lua.c
  plugins/processor_calyptia/calyptia_traces_to_lua.h
  plugins/processor_calyptia/cfl_to_lua.c
  plugins/processor_calyptia/cfl_to_lua.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Fix macos build
  plugins/processor_calyptia/calyptia_metrics_from_lua.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_calyptia: add test script
  tests/test-processor-calyptia.sh
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_http: Request timed out(408) to be treated as retry
  plugins/out_http/http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

io: respect async connection flag in flb_io_net_connect.
  src/flb_io.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
