Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley

Staging to release of containers
  .github/workflows/staging-build.yaml
  .github/workflows/staging-to-release.yaml
Owners: @niedbalski

Refactor to use GHCR for staging and dockerhub for release
  .github/workflows/staging-build.yaml
  .github/workflows/staging-to-release.yaml
  tools/act/run.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

Fix repo in DH
  .github/workflows/staging-to-release.yaml
Owners: @niedbalski

Support releasing packages
  .github/workflows/staging-build.yaml
  .github/workflows/staging-to-release.yaml
  .gitignore
  tools/act/run.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

Ensure we can enable/disable endpoint easily
  .github/workflows/staging-build.yaml
  .github/workflows/staging-to-release.yaml
Owners: @niedbalski

tests: internal: aws_client_mock: use more portable variable initialization
  tests/internal/aws_client_mock.c
Owners: @edsiper, @fujimotos, @koleini

filter_rewrite_tag: add NULL check(#4246)
  plugins/filter_rewrite_tag/rewrite_tag.c
Owners: @edsiper, @fujimotos, @koleini

engine: do not retry if the engine is shutting down
  src/flb_engine.c
Owners: @edsiper, @fujimotos, @koleini

config: add new 'is_shutting_down' field
  include/fluent-bit/flb_config.h
Owners: @edsiper, @fujimotos, @koleini

network: on tcp connect change exception from error to debug
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

upstream: fix deadlock when destroying connections
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

upstream: detect shutdown and reduce log noise
  include/fluent-bit/flb_upstream.h
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

upstream: just compare against 'locked' flag
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

network: detect if socket has been invalidated
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

engine: do not retry if the engine is shutting down
  src/flb_engine.c
Owners: @edsiper, @fujimotos, @koleini

upstream: fix deadlock when destroying connections
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

upstream: detect shutdown and reduce log noise
  include/fluent-bit/flb_upstream.h
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

upstream: just compare against 'locked' flag
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

network: on tcp connect change exception from error to debug
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

network: detect if socket has been invalidated
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

config: add new 'is_shutting_down' field
  include/fluent-bit/flb_config.h
Owners: @edsiper, @fujimotos, @koleini

Comments
  .github/workflows/staging-build.yaml
Owners: @niedbalski

input chunk: change FS_CHUNK_SIZE_DEBUG(_MOD) to flb_trace.
  src/flb_input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

utils: detect and replace ill-formed utf-8 bytes (#4346)
  src/flb_utils.c
  tests/internal/utils.c
Owners: @edsiper, @fujimotos, @koleini

utils: detect and replace ill-formed utf-8 bytes (#4297)
  src/flb_utils.c
  tests/internal/utils.c
Owners: @edsiper, @fujimotos, @koleini

in_stdin: migrate to config maps
  plugins/in_stdin/in_stdin.c
Owners: @edsiper, @fujimotos, @koleini

input_chunk: clarify space limit error. (#4277)
  src/flb_input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

Initial attempt at repo update script
  .github/workflows/staging-build.yaml
  .github/workflows/staging-to-release.yaml
  packaging/update-repos.sh
  tools/act/run.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

Updated for GPG changes and bug fixes
  .github/workflows/staging-build.yaml
  .github/workflows/staging-to-release.yaml
  .gitignore
  packaging/update-repos.sh
  tools/act/run.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

Supporting both S3 and webserver
  .github/workflows/staging-to-release.yaml
  packaging/update-repos.sh
  tools/act/run.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

Bug fixes
  packaging/update-repos.sh
Owners: @edsiper, @fujimotos, @koleini

in_nginx_exporter_metrics: get the highest version to gauge API compatibility.
  plugins/in_nginx_exporter_metrics/nginx.c
  plugins/in_nginx_exporter_metrics/nginx.h
Owners: @edsiper, @fujimotos, @koleini

in_nginx_exporter_metrics: remove unused msgpack_sbuffer and msgpack_packer code.
  plugins/in_nginx_exporter_metrics/nginx.c
Owners: @edsiper, @fujimotos, @koleini

in_nginx_exporter_metrics: refactor msgpack object code using pointers.
  plugins/in_nginx_exporter_metrics/nginx.c
Owners: @edsiper, @fujimotos, @koleini

in_nginx_exporter_metrics: work on alignment and line length for init code.
  plugins/in_nginx_exporter_metrics/nginx.c
Owners: @edsiper, @fujimotos, @koleini

in_nginx_exporter_metrics: more work on alignment.
  plugins/in_nginx_exporter_metrics/nginx.c
Owners: @edsiper, @fujimotos, @koleini

in_nginx_exporter_metrics: get all lines to be up to and more than 90 columns.
  plugins/in_nginx_exporter_metrics/nginx.c
Owners: @edsiper, @fujimotos, @koleini

Minor tweak
  packaging/update-repos.sh
Owners: @edsiper, @fujimotos, @koleini

workflows: tweaks to ensure we share images
  .github/workflows/pr-compile-check.yaml
Owners: @niedbalski

workflows: add CentOS 7 compile check
  .github/workflows/pr-compile-check.yaml
Owners: @niedbalski
