Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley

plugins: out_opentelemetry: name fixes
  plugins/out_opentelemetry/opentelemetry.c
Owners: @edsiper, @fujimotos, @koleini

plugins: out_opentelemetry: compression and header mistakes fixed
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry.h
Owners: @edsiper, @fujimotos, @koleini

fstore: add tests for many files
  tests/internal/fstore.c
Owners: @edsiper, @fujimotos, @koleini

chunkio: resolve incorrect alloc size on file up
  lib/chunkio/src/cio_file.c
Owners: @edsiper, @fujimotos, @koleini

base64: fork mbedtls 2.25.0 base64 utility to avoid 2.26.0+ performance hit
  include/fluent-bit/flb_base64.h
  src/CMakeLists.txt
  src/flb_base64.c
  tests/internal/CMakeLists.txt
  tests/internal/aws/CMakeLists.txt
  tests/internal/aws/placeholder.c
  tests/internal/base64.c
Owners: @edsiper, @fujimotos, @koleini

out_s3: migrate to performant base64 implementation
  plugins/out_s3/s3.c
Owners: @pettitwesley

out_kinesis_firehose: migrate to performant base64 implementation
  plugins/out_kinesis_firehose/firehose_api.c
Owners: @pettitwesley

out_kinesis_streams: migrate to performant base64 implementation
  plugins/out_kinesis_streams/kinesis_api.c
Owners: @pettitwesley

filter_rewrite_tag: fix Match aborting issue (#4276)
  plugins/filter_rewrite_tag/rewrite_tag.c
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: filter_rewrite_tag: add test code
  tests/runtime/CMakeLists.txt
  tests/runtime/filter_rewrite_tag.c
Owners: @edsiper, @fujimotos, @koleini

filter_rewrite_tag: keep not matched record (#4793)
  plugins/filter_rewrite_tag/rewrite_tag.c
Owners: @edsiper, @fujimotos, @koleini

out_s3: migrate to performant base64 implementation
  plugins/out_s3/s3.c
Owners: @pettitwesley

out_kinesis_firehose: migrate to performant base64 implementation
  plugins/out_kinesis_firehose/firehose_api.c
Owners: @pettitwesley

out_kinesis_streams: migrate to performant base64 implementation
  plugins/out_kinesis_streams/kinesis_api.c
Owners: @pettitwesley

base64: fork mbedtls 2.25.0 base64 utility to avoid 2.26.0+ performance hit
  include/fluent-bit/flb_base64.h
  src/CMakeLists.txt
  src/flb_base64.c
  tests/internal/CMakeLists.txt
  tests/internal/aws/CMakeLists.txt
  tests/internal/aws/placeholder.c
  tests/internal/base64.c
Owners: @edsiper, @fujimotos, @koleini

tls: Load system certificates on Windows
  src/tls/openssl.c
Owners: @edsiper, @fujimotos, @koleini

tls: Load system certificates on Windows
  src/tls/openssl.c
Owners: @edsiper, @fujimotos, @koleini

plugin: opentelemetry: initial commit
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/out_opentelemetry/CMakeLists.txt
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry.h
  plugins/out_opentelemetry/opentelemetry_conf.c
  plugins/out_opentelemetry/opentelemetry_conf.h
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

out_opentelemetry: add support for OpenTelemetry Metrics (#4803)
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/out_opentelemetry/CMakeLists.txt
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry.h
  plugins/out_opentelemetry/opentelemetry_conf.c
  plugins/out_opentelemetry/opentelemetry_conf.h
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

in_systemd: skip broken entry
  plugins/in_systemd/systemd.c
Owners: @edsiper, @fujimotos, @koleini

sp: fix sql grammar precedence and warnings
  include/fluent-bit/stream_processor/flb_sp_parser.h
  src/stream_processor/parser/flb_sp_parser.c
  src/stream_processor/parser/sql.l
  src/stream_processor/parser/sql.y
  tests/internal/include/sp_cb_functions.h
  tests/internal/include/sp_select_keys.h
Owners: @edsiper, @fujimotos, @koleini

sds: fix missing length set when using flb_sds_snprintf()
  src/flb_sds.c
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: elasticsearch: adjust test case for expected outputs
  tests/runtime/out_elasticsearch.c
Owners: @edsiper, @fujimotos, @koleini

sds: fix missing length set when using flb_sds_snprintf()
  src/flb_sds.c
Owners: @edsiper, @fujimotos, @koleini

out_stackdriver: check for proper http request key
  plugins/out_stackdriver/stackdriver.c
  plugins/out_stackdriver/stackdriver_http_request.c
  plugins/out_stackdriver/stackdriver_http_request.h
Owners: @edsiper, @fujimotos, @koleini

out_bigquery: support AWS auth via GCP Workload Identity Federation (#4282)
  plugins/out_bigquery/bigquery.c
  plugins/out_bigquery/bigquery.h
  plugins/out_bigquery/bigquery_conf.c
Owners: @edsiper, @fujimotos, @koleini

in_systemd: skip broken entry
  plugins/in_systemd/systemd.c
Owners: @edsiper, @fujimotos, @koleini

out_stackdriver: add new metric 'fluentbit_stackdriver_requests_total' (#2698)
  plugins/out_stackdriver/stackdriver.c
  plugins/out_stackdriver/stackdriver.h
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @edsiper, @fujimotos, @koleini

out_stackdriver: add new metric 'fluentbit_stackdriver_requests_total' (#2698)
  plugins/out_stackdriver/stackdriver.c
  plugins/out_stackdriver/stackdriver.h
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: filter_rewrite_tag: add test code
  tests/runtime/CMakeLists.txt
  tests/runtime/filter_rewrite_tag.c
Owners: @edsiper, @fujimotos, @koleini

filter_rewrite_tag: keep not matched record (#4793)
  plugins/filter_rewrite_tag/rewrite_tag.c
Owners: @edsiper, @fujimotos, @koleini

filter_rewrite_tag: fix Match aborting issue (#4276)
  plugins/filter_rewrite_tag/rewrite_tag.c
Owners: @edsiper, @fujimotos, @koleini

in_systemd: skip broken entry
  plugins/in_systemd/systemd.c
Owners: @edsiper, @fujimotos, @koleini

Revert "build: support native cross-compilation for ARM64 (#4646)
  CMakeLists.txt
  cmake/linux-arm64.cmake
  cmake/luajit.cmake
  cmake/onigmo.cmake
Owners: @fujimotos, @niedbalski

packaging: fix RPM check for fluent bit
  packaging/testing/smoke/packages/test.sh
Owners: @edsiper, @fujimotos, @koleini

packaging: fix RPM check for fluent bit (#4809)
  packaging/testing/smoke/packages/test.sh
Owners: @edsiper, @fujimotos, @koleini

pack: added java_sql_timestamp, a format string used by amazon athena
  include/fluent-bit/flb_pack.h
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

pack: added java_sql_timestamp, part 2
  DEVELOPER_GUIDE.md
  include/fluent-bit/flb_pack.h
  plugins/out_http/http.c
  plugins/out_null/null.c
  plugins/out_s3/s3.c
  plugins/out_stdout/stdout.c
  plugins/out_tcp/tcp.c
Owners: @edsiper, @fujimotos, @koleini, @pettitwesley

packaging: fix syntax error in AL2 test
  packaging/testing/smoke/packages/Dockerfile.amazonlinux2
Owners: @edsiper, @fujimotos, @koleini

bin: fix wrong host header when using proxy
  src/flb_http_client.c
Owners: @edsiper, @fujimotos, @koleini
