Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan

tests: internal: config_format: yaml: add parsers and multiline parsers
  tests/internal/config_format_yaml.c
  tests/internal/data/config_format/yaml/extra_parser.yaml
  tests/internal/data/config_format/yaml/parsers_and_multiline_parsers.yaml
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_multiline: Add support for processors
  plugins/filter_multiline/ml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_blob: fixed already registered file log message
  DEVELOPER_GUIDE.md
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: yaml: register stream_processor section
  include/fluent-bit/config_format/flb_cf.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: add handlers for new stream_processor section
  src/config_format/flb_config_format.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: yaml: add support to parse stream_processor section
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

sp: allow to read new sections set by Yaml
  src/stream_processor/flb_sp.c
Owners: @koleini

tests: internal: config_format: yaml: add unit tests for stream_processor
  tests/internal/config_format_yaml.c
  tests/internal/data/config_format/yaml/stream_processor.yaml
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: register plugins as sections
  src/config_format/flb_config_format.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

plugin: allow to load plugins by using config_format context
  include/fluent-bit/flb_plugin.h
  src/flb_plugin.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config: load plugins if they are part of the main context
  src/flb_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: yaml: add support to parse 'plugins' section
  include/fluent-bit/config_format/flb_cf.h
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: config_format: yaml: add unit tests for plugins
  tests/internal/config_format_yaml.c
  tests/internal/data/config_format/yaml/plugins.yaml
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

sp: validate config_format context before iterate
  src/stream_processor/flb_sp.c
Owners: @koleini

plugin: allow plugins_file to support Yaml
  src/flb_plugin.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: register section upstream_servers
  src/config_format/flb_config_format.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: yaml: add support for upstream_servers
  include/fluent-bit/config_format/flb_cf.h
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

upstream_ha: extend to read upstream servers configured by Yaml
  src/flb_upstream_ha.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: config_format: yaml: add tests for upstream_servers
  tests/internal/config_format_yaml.c
  tests/internal/data/config_format/yaml/upstream.yaml
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: build with FLB_SIMD=On|Off
  .github/workflows/unit-tests.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

utils: do JSON escaping with SIMD support (faster!)
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

simd: new SIMD support for SSE and NEON
  include/fluent-bit/flb_simd.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: code cleanup and fix comments
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: improve performance of JSON escaping
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: add new build option FLB_SIMD (default: off)
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

bin: print SIMD status
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

simd: use new defs and fix fallback mechanism
  include/fluent-bit/flb_simd.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: config_format: yaml: fix path for WIN32
  tests/internal/config_format_yaml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

upstream_ha: check if Yaml is available
  src/flb_upstream_ha.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

upstream_ha: check if Yaml is available
  src/flb_upstream_ha.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config: allow parsers and multiline parsers in main config file for Yaml
  src/flb_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: config_format: yaml: fix path for WIN32
  tests/internal/config_format_yaml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config: load plugins if they are part of the main context
  src/flb_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: config_format: yaml: add unit tests for plugins
  tests/internal/config_format_yaml.c
  tests/internal/data/config_format/yaml/plugins.yaml
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: register plugins as sections
  src/config_format/flb_config_format.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: config_format: yaml: add unit tests for stream_processor
  tests/internal/config_format_yaml.c
  tests/internal/data/config_format/yaml/stream_processor.yaml
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

plugin: allow to load plugins by using config_format context
  include/fluent-bit/flb_plugin.h
  src/flb_plugin.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: config_format: yaml: add parsers and multiline parsers
  tests/internal/config_format_yaml.c
  tests/internal/data/config_format/yaml/extra_parser.yaml
  tests/internal/data/config_format/yaml/parsers_and_multiline_parsers.yaml
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: add handlers for new stream_processor section
  src/config_format/flb_config_format.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: cf_yaml: add support for 'parsers' section
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini
