Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

pack: only count records when packing plain JSON
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

pack: reduce allocation and iteration time on state parsing
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

out_loki: improve performance by removing record counter
  plugins/out_loki/loki.c
Owners: @edsiper, @fujimotos, @koleini

time: fix warning
  src/flb_time.c
Owners: @edsiper, @fujimotos, @koleini

out_stackdriver: improve performance by removing record counter
  plugins/out_stackdriver/stackdriver.c
Owners: @edsiper, @fujimotos, @koleini

http_server: add missing argument
  src/http_server/flb_hs_utils.c
Owners: @edsiper, @fujimotos, @koleini

time: use flb_time_to_nanosec for unset time check
  plugins/filter_kubernetes/kubernetes.c
  plugins/filter_parser/filter_parser.c
  plugins/in_docker_events/docker_events.c
  plugins/in_exec/in_exec.c
  plugins/in_stdin/in_stdin.c
  plugins/in_syslog/syslog_prot.c
  plugins/in_tail/tail_file.c
  plugins/in_tail/tail_multiline.c
  src/multiline/flb_ml.c
  tests/internal/multiline.c
Owners: @edsiper, @fujimotos, @koleini

out_null: add 'format', 'json_date_format' and 'json_date_key' options
  plugins/out_null/null.c
Owners: @edsiper, @fujimotos, @koleini

out_loki: improve performance by removing record counter
  plugins/out_loki/loki.c
Owners: @edsiper, @fujimotos, @koleini

out_stackdriver: improve performance by removing record counter
  plugins/out_stackdriver/stackdriver.c
Owners: @edsiper, @fujimotos, @koleini

pack: only count records when packing plain JSON
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

pack: reduce allocation and iteration time on state parsing
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

multiline: go: fix typo
  src/multiline/flb_ml_parser_go.c
Owners: @edsiper, @fujimotos, @koleini

multiline: java: fix typo
  src/multiline/flb_ml_parser_java.c
Owners: @edsiper, @fujimotos, @koleini

multiline: cri: fix typo
  src/multiline/flb_ml_parser_cri.c
Owners: @edsiper, @fujimotos, @koleini

unescape: avoid double char assignation
  src/flb_unescape.c
Owners: @edsiper, @fujimotos, @koleini

lib: jsmn: mark tokens which contains escaped characters
  lib/jsmn/jsmn.h
Owners: @edsiper, @fujimotos, @koleini

pack: allow to use a reciclable json state
  include/fluent-bit/flb_pack.h
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

parser: json: little enhancement and cleanups
  src/flb_parser_json.c
Owners: @edsiper, @fujimotos, @koleini

parser: decoder: adjust pack state api use
  src/flb_parser_decoder.c
Owners: @edsiper, @fujimotos, @koleini

parser: docker: new built-in 'docker' parser
  src/CMakeLists.txt
  src/flb_parser.c
  src/flb_parser_docker.c
Owners: @edsiper, @fujimotos, @koleini

multiline: on stream flush, use a cached packer
  include/fluent-bit/multiline/flb_ml.h
  src/multiline/flb_ml.c
Owners: @edsiper, @fujimotos, @koleini

multiline: stream: use optional packer
  src/multiline/flb_ml_stream.c
Owners: @edsiper, @fujimotos, @koleini

multiline: parser: docker: use new 'docker' parser instead of 'json'
  include/fluent-bit/flb_parser.h
  src/multiline/flb_ml_parser_docker.c
Owners: @edsiper, @fujimotos, @koleini

filter_kubernetes: use new json packer with state
  plugins/filter_kubernetes/kubernetes.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: multiline: use new stream that supports a packer ref
  plugins/in_tail/tail_file.c
Owners: @edsiper, @fujimotos, @koleini

out_kafka_rest: add missing http auth keys to configmap
  plugins/out_kafka_rest/kafka.c
Owners: @edsiper, @fujimotos, @koleini

out_cloudwatch_logs: Fix invalid memory access bug #4425
  plugins/out_cloudwatch_logs/cloudwatch_api.c
Owners: @pettitwesley

workflows: add release branch PR info
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: minor tweak
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @niedbalski

out_stdout: fix descriptions assigned to wrong config properties
  plugins/out_stdout/stdout.c
Owners: @edsiper, @fujimotos, @koleini

workflows: review comments
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @niedbalski

workflows: tweak branching info
  CONTRIBUTING.md
Owners: @edsiper, @fujimotos, @koleini

workflows: minor fix
  CONTRIBUTING.md
Owners: @edsiper, @fujimotos, @koleini

workflows: add release branch PR info (#4565)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: update badge links on README.md
  README.md
Owners: @edsiper, @fujimotos, @koleini

workflows: tweak descriptions
  .github/workflows/master-integration-test.yaml
  .github/workflows/staging-release.yaml
Owners: @niedbalski

workflows: update CI badges (#4569)
  .github/workflows/master-integration-test.yaml
  .github/workflows/staging-release.yaml
  README.md
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

parser: if multiline parser is set, get the reference
  src/flb_parser.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: fix multiline API buffer ingestion (#4554)
  plugins/in_tail/tail_file.c
  plugins/in_tail/tail_file_internal.h
Owners: @edsiper, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
