Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

tests: internal: add 'config_format' for fluentbit and YAML
  tests/internal/CMakeLists.txt
  tests/internal/config_format.c
  tests/internal/config_format_fluentbit.c
  tests/internal/config_format_yaml.c
  tests/internal/data/config_format/fluent-bit.conf
  tests/internal/data/config_format/fluent-bit.yaml
Owners: @edsiper, @fujimotos, @koleini

ra_key: reverse order of map lookup when extracting values
  src/flb_ra_key.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: ra: add unit test for lookup order
  tests/internal/record_accessor.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: ra: add unit test for lookup order
  tests/internal/record_accessor.c
Owners: @edsiper, @fujimotos, @koleini

ra_key: reverse order of map lookup when extracting values
  src/flb_ra_key.c
Owners: @edsiper, @fujimotos, @koleini

ra_key: reverse order of map lookup when extracting values
  src/flb_ra_key.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: ra: add unit test for lookup order
  tests/internal/record_accessor.c
Owners: @edsiper, @fujimotos, @koleini

in_storage_backlog: do not abort if chunk cannot be processed
  plugins/in_storage_backlog/sb.c
Owners: @edsiper, @fujimotos, @koleini

in_storage_backlog: do not abort if chunk cannot be processed
  plugins/in_storage_backlog/sb.c
Owners: @edsiper, @fujimotos, @koleini

in_storage_backlog: do not abort if chunk cannot be processed
  plugins/in_storage_backlog/sb.c
Owners: @edsiper, @fujimotos, @koleini

lib: chunkio: upgrade to v1.1.6
  lib/chunkio/CMakeLists.txt
  lib/chunkio/include/chunkio/cio_file.h
  lib/chunkio/src/cio_file.c
Owners: @edsiper, @fujimotos, @koleini

lib: chunkio: upgrade to v1.1.6
  lib/chunkio/CMakeLists.txt
  lib/chunkio/include/chunkio/cio_file.h
  lib/chunkio/src/cio_file.c
Owners: @edsiper, @fujimotos, @koleini

in_storage_backlog: do not abort if chunk cannot be processed
  plugins/in_storage_backlog/sb.c
Owners: @edsiper, @fujimotos, @koleini

ra_key: reverse order of map lookup when extracting values
  src/flb_ra_key.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: ra: add unit test for lookup order
  tests/internal/record_accessor.c
Owners: @edsiper, @fujimotos, @koleini

in_storage_backlog: do not abort if chunk cannot be processed
  plugins/in_storage_backlog/sb.c
Owners: @edsiper, @fujimotos, @koleini

lib: chunkio: upgrade to v1.1.6
  lib/chunkio/CMakeLists.txt
  lib/chunkio/include/chunkio/cio_file.h
  lib/chunkio/src/cio_file.c
Owners: @edsiper, @fujimotos, @koleini

lib: chunkio: upgrade to v1.1.6
  lib/chunkio/CMakeLists.txt
  lib/chunkio/include/chunkio/cio_file.h
  lib/chunkio/src/cio_file.c
Owners: @edsiper, @fujimotos, @koleini

in_storage_backlog: do not abort if chunk cannot be processed
  plugins/in_storage_backlog/sb.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: ra: add unit test for lookup order
  tests/internal/record_accessor.c
Owners: @edsiper, @fujimotos, @koleini

ra_key: reverse order of map lookup when extracting values
  src/flb_ra_key.c
Owners: @edsiper, @fujimotos, @koleini

workflows: add centos check
  .github/workflows/pr-compile-check.yaml
Owners: @niedbalski

dockerfiles: add centos check
  dockerfiles/Dockerfile.centos7
Owners: @niedbalski

out_forward: support 'unix_path'
  plugins/out_forward/forward.c
  plugins/out_forward/forward.h
Owners: @edsiper, @fujimotos, @koleini

config_format: yaml: move 'customs' lists to top level
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @fujimotos, @koleini

workflows: add source code upload on release
  .github/workflows/release-source-upload.yaml
Owners: @niedbalski

workflows: add to release env
  .github/workflows/release-source-upload.yaml
Owners: @niedbalski

dockerfiles: disable exec plugin for distroless containers
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-master
Owners: @niedbalski

workflows: add scorecards analysis
  .github/workflows/scorecards-analysis.yaml
Owners: @niedbalski

ubi8: update to 1.8.12
  calyptia/ubi8/Dockerfile
Owners: @edsiper, @fujimotos, @koleini

file: add new utility module
  include/fluent-bit/flb_file.h
  src/CMakeLists.txt
  src/flb_file.c
  tests/internal/CMakeLists.txt
  tests/internal/data/file/empty_file.txt
  tests/internal/data/file/text_file.txt
  tests/internal/file.c
Owners: @edsiper, @fujimotos, @koleini

base64: fork mbedtls 2.25.0 base64 utility to avoid 2.26.0+ performance hit
  include/fluent-bit/flb_base64.h
  src/CMakeLists.txt
  src/flb_base64.c
  tests/internal/CMakeLists.txt
  tests/internal/aws/CMakeLists.txt
  tests/internal/aws/placeholder.c
  tests/internal/base64.c
Owners: @edsiper, @fujimotos, @koleini

out_kinesis_streams: migrate to performant base64 implementation
  plugins/out_kinesis_streams/kinesis_api.c
Owners: @pettitwesley

out_kinesis_firehose: migrate to performant base64 implementation
  plugins/out_kinesis_firehose/firehose_api.c
Owners: @pettitwesley

out_s3: migrate to performant base64 implementation
  plugins/out_s3/s3.c
Owners: @pettitwesley

pack: enhance memory allocation strategy for large JSON payloads
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

pack: enhance memory allocation strategy for large JSON payloads
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

pack: enhance memory allocation strategy for large JSON payloads
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

pack: enhance memory allocation strategy for large JSON payloads
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

pack: ensure minimum allocation is 256 bytes (unit test)
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
