Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

hash: add new API to check if hash exists
  include/fluent-bit/flb_hash.h
  src/flb_hash.c
  tests/internal/hashtable.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: do not use st_dev on Windows
  plugins/in_tail/tail_file.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: performance improvement on management of file list
  plugins/in_tail/tail.c
  plugins/in_tail/tail_config.c
  plugins/in_tail/tail_config.h
  plugins/in_tail/tail_file.c
  plugins/in_tail/tail_file_internal.h
Owners: @edsiper, @fujimotos, @koleini

hash: add new API to check if hash exists
  include/fluent-bit/flb_hash.h
  src/flb_hash.c
  tests/internal/hashtable.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: performance improvement on management of file list
  plugins/in_tail/tail.c
  plugins/in_tail/tail_config.c
  plugins/in_tail/tail_config.h
  plugins/in_tail/tail_file.c
  plugins/in_tail/tail_file_internal.h
Owners: @edsiper, @fujimotos, @koleini

in_tail: do not use st_dev on Windows
  plugins/in_tail/tail_file.c
Owners: @edsiper, @fujimotos, @koleini

build: add 'fluent-bit' package support (#3899)
  CMakeLists.txt
Owners: @fujimotos, @niedbalski

workflows: revert to master
  .github/workflows/pr-image-tests.yaml
  .github/workflows/pr-integration-test.yaml
  .github/workflows/staging-build.yaml
  .github/workflows/staging-test.yaml
Owners: @niedbalski

workflows: run version check on any environment
  .github/workflows/staging-build.yaml
Owners: @niedbalski

workflows: run nightly build and any tag
  .github/workflows/call-build-images.yaml
  .github/workflows/call-build-packages.yaml
  .github/workflows/staging-build.yaml
  packaging/build.sh
  packaging/distros/amazonlinux/Dockerfile
  packaging/distros/centos/Dockerfile
  packaging/distros/debian/Dockerfile
  packaging/distros/raspbian/Dockerfile
  packaging/distros/ubuntu/Dockerfile
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: test with this branch, must revert to master
  .github/workflows/staging-build.yaml
Owners: @niedbalski

workflows: FLB_NIGHTLY_BUILD must be non-empty
  .github/workflows/staging-build.yaml
  packaging/build.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

packaging: improve debug
  packaging/build.sh
Owners: @edsiper, @fujimotos, @koleini

workflows: disable image build for single target
  .github/workflows/staging-build.yaml
Owners: @niedbalski

packaging: set FLB_NIGHTLY_BUILD to version if not defined
  packaging/build.sh
Owners: @edsiper, @fujimotos, @koleini

workflows: always build images
  .github/workflows/staging-build.yaml
Owners: @niedbalski

packaging: remove debian/stretch and update cmake on ubuntu 18
  .github/workflows/staging-build.yaml
  packaging/distros/debian/Dockerfile
  packaging/distros/ubuntu/Dockerfile
  packaging/local-build-all.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

packaging: update cmake on ubuntu 18 ARM64
  packaging/distros/ubuntu/Dockerfile
Owners: @edsiper, @fujimotos, @koleini

tls: Load system certificates on Windows
  src/tls/openssl.c
Owners: @edsiper, @fujimotos, @koleini

tls: Load system certificates on Windows
  src/tls/openssl.c
Owners: @edsiper, @fujimotos, @koleini

base64: fork mbedtls 2.25.0 base64 utility to avoid 2.26.0+ performance hit
  include/fluent-bit/flb_base64.h
  src/CMakeLists.txt
  src/flb_base64.c
  tests/internal/CMakeLists.txt
  tests/internal/aws/CMakeLists.txt
  tests/internal/aws/placeholder.c
  tests/internal/base64.c
Owners: @edsiper, @fujimotos, @koleini

out_kinesis_firehose: migrate to performant base64 implementation
  plugins/out_kinesis_firehose/firehose_api.c
Owners: @pettitwesley

out_s3: migrate to performant base64 implementation
  plugins/out_s3/s3.c
Owners: @pettitwesley

out_kinesis_streams: migrate to performant base64 implementation
  plugins/out_kinesis_streams/kinesis_api.c
Owners: @pettitwesley

lib: cmetrics: upgrade to v0.2.3 - OTel Metrics support
  lib/cmetrics/.github/dependabot.yml
  lib/cmetrics/.github/workflows/packages.yaml
  lib/cmetrics/.gitignore
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/include/cmetrics/cmetrics.h
  lib/cmetrics/include/cmetrics/cmt_counter.h
  lib/cmetrics/include/cmetrics/cmt_encode_opentelemetry.h
  lib/cmetrics/include/cmetrics/cmt_map.h
  lib/cmetrics/include/opentelemetry/common.pb-c.h
  lib/cmetrics/include/opentelemetry/metrics.pb-c.h
  lib/cmetrics/include/opentelemetry/metrics_service.pb-c.h
  lib/cmetrics/include/opentelemetry/resource.pb-c.h
  lib/cmetrics/include/protobuf-c/protobuf-c.h
  lib/cmetrics/src/CMakeLists.txt
  lib/cmetrics/src/cmt_counter.c
  lib/cmetrics/src/cmt_decode_msgpack.c
  lib/cmetrics/src/cmt_encode_opentelemetry.c
  lib/cmetrics/src/cmt_gauge.c
  lib/cmetrics/src/cmt_map.c
  lib/cmetrics/src/cmt_time.c
  lib/cmetrics/src/cmt_untyped.c
  lib/cmetrics/src/external/opentelemetry_common.pb-c.c
  lib/cmetrics/src/external/opentelemetry_metrics.pb-c.c
  lib/cmetrics/src/external/opentelemetry_metrics_service.pb-c.c
  lib/cmetrics/src/external/opentelemetry_resource.pb-c.c
  lib/cmetrics/tests/encoding.c
Owners: @edsiper, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.2.3 - OTel Metrics support
  lib/cmetrics/.github/dependabot.yml
  lib/cmetrics/.github/workflows/packages.yaml
  lib/cmetrics/.gitignore
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/include/cmetrics/cmetrics.h
  lib/cmetrics/include/cmetrics/cmt_counter.h
  lib/cmetrics/include/cmetrics/cmt_encode_opentelemetry.h
  lib/cmetrics/include/cmetrics/cmt_map.h
  lib/cmetrics/include/opentelemetry/common.pb-c.h
  lib/cmetrics/include/opentelemetry/metrics.pb-c.h
  lib/cmetrics/include/opentelemetry/metrics_service.pb-c.h
  lib/cmetrics/include/opentelemetry/resource.pb-c.h
  lib/cmetrics/include/protobuf-c/protobuf-c.h
  lib/cmetrics/src/CMakeLists.txt
  lib/cmetrics/src/cmt_counter.c
  lib/cmetrics/src/cmt_decode_msgpack.c
  lib/cmetrics/src/cmt_encode_opentelemetry.c
  lib/cmetrics/src/cmt_gauge.c
  lib/cmetrics/src/cmt_map.c
  lib/cmetrics/src/cmt_time.c
  lib/cmetrics/src/cmt_untyped.c
  lib/cmetrics/src/external/opentelemetry_common.pb-c.c
  lib/cmetrics/src/external/opentelemetry_metrics.pb-c.c
  lib/cmetrics/src/external/opentelemetry_metrics_service.pb-c.c
  lib/cmetrics/src/external/opentelemetry_resource.pb-c.c
  lib/cmetrics/tests/encoding.c
Owners: @edsiper, @fujimotos, @koleini

fstore: hold more than 64 files
  include/fluent-bit/flb_fstore.h
  plugins/out_calyptia/calyptia.c
  plugins/out_s3/s3_store.c
  src/flb_fstore.c
  tests/internal/fstore.c
Owners: @edsiper, @fujimotos, @koleini, @pettitwesley

workflows: ignore failures during unstable release creation
  .github/workflows/staging-build.yaml
Owners: @niedbalski

workflows: add packaging test support
  .github/workflows/README.md
  .github/workflows/pr-package-tests.yaml
Owners: @niedbalski

workflows: make unstable artefacts unique
  .github/workflows/staging-build.yaml
Owners: @niedbalski

workflows: make unstable artefacts unique
  .github/workflows/staging-build.yaml
Owners: @niedbalski

workflows: remove unstable release artefacts not uploaded
  .github/workflows/staging-build.yaml
Owners: @niedbalski

packaging: update CentOS 8 test images
  packaging/testing/smoke/packages/Dockerfile.centos8
Owners: @edsiper, @fujimotos, @koleini

packaging: update CentOS 8 test images and use fluent-bit package
  packaging/testing/smoke/packages/Dockerfile.amazonlinux2
  packaging/testing/smoke/packages/Dockerfile.centos7
  packaging/testing/smoke/packages/Dockerfile.centos8
Owners: @edsiper, @fujimotos, @koleini

packaging: ensure we sign packages for non-numeric versions
  packaging/update-repos.sh
Owners: @edsiper, @fujimotos, @koleini

linting: fix Hadolint
  packaging/testing/smoke/packages/Dockerfile.centos7
  packaging/testing/smoke/packages/Dockerfile.centos8
Owners: @edsiper, @fujimotos, @koleini

linting: revert to master
  .github/workflows/staging-build.yaml
Owners: @niedbalski

workflows: tweak scorecard
  .github/workflows/scorecards-analysis.yaml
Owners: @niedbalski

workflows: update to handle nightly builds (#4794)
  .github/workflows/README.md
  .github/workflows/call-build-images.yaml
  .github/workflows/call-build-packages.yaml
  .github/workflows/pr-package-tests.yaml
  .github/workflows/scorecards-analysis.yaml
  .github/workflows/staging-build.yaml
  packaging/build.sh
  packaging/distros/amazonlinux/Dockerfile
  packaging/distros/centos/Dockerfile
  packaging/distros/debian/Dockerfile
  packaging/distros/raspbian/Dockerfile
  packaging/distros/ubuntu/Dockerfile
  packaging/local-build-all.sh
  packaging/testing/smoke/packages/Dockerfile.amazonlinux2
  packaging/testing/smoke/packages/Dockerfile.centos7
  packaging/testing/smoke/packages/Dockerfile.centos8
  packaging/update-repos.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

plugins: out_opentelemetry: initial commit
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/out_opentelemetry/CMakeLists.txt
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry.h
  plugins/out_opentelemetry/opentelemetry_conf.c
  plugins/out_opentelemetry/opentelemetry_conf.h
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
