Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley

workflows: add GPG passphrase support
  .github/workflows/README.md
  .github/workflows/call-build-packages.yaml
  .github/workflows/remove-release.yaml
  .github/workflows/staging-build.yaml
  .github/workflows/staging-release.yaml
Owners: @niedbalski

workflows: refactor for PR forks
  .github/workflows/pr-image-tests.yaml
  .github/workflows/pr-integration-test.yaml
  .github/workflows/pr-trigger-image-workflows.yaml
Owners: @niedbalski

workflows: refactor for PR forks
  .github/workflows/pr-image-tests.yaml
  .github/workflows/pr-trigger-image-workflows.yaml
Owners: @niedbalski

workflows: added labels to README
  .github/workflows/README.md
Owners: @niedbalski

in_tail: do not use st_dev on Windows
  plugins/in_tail/tail_file.c
Owners: @edsiper, @fujimotos, @koleini

in stdin: Initialize memory to 0
  plugins/in_stdin/in_stdin.c
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: out_file: add test cases
  tests/runtime/out_file.c
Owners: @edsiper, @fujimotos, @koleini

out_stackdriver: correct env variable for SAs (#4763)
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @edsiper, @fujimotos, @koleini

out_stackdriver: correct env variable for SAs (#4753)
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @edsiper, @fujimotos, @koleini

bin: fix Copyright
  src/fluent-bit.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: do not use st_dev on Windows
  plugins/in_tail/tail_file.c
Owners: @edsiper, @fujimotos, @koleini

output_thread: fix event loop destroy order
  src/flb_output_thread.c
Owners: @edsiper, @fujimotos, @koleini

hash: add new API to check if hash exists
  include/fluent-bit/flb_hash.h
  src/flb_hash.c
  tests/internal/hashtable.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: performance improvement on management of file list
  plugins/in_tail/tail.c
  plugins/in_tail/tail_config.c
  plugins/in_tail/tail_config.h
  plugins/in_tail/tail_file.c
  plugins/in_tail/tail_file_internal.h
Owners: @edsiper, @fujimotos, @koleini

plugins: out_opentelemetry: name fixes
  plugins/out_opentelemetry/opentelemetry.c
Owners: @edsiper, @fujimotos, @koleini

out_stackdriver: check for proper http request key
  plugins/out_stackdriver/stackdriver.c
  plugins/out_stackdriver/stackdriver_http_request.c
  plugins/out_stackdriver/stackdriver_http_request.h
Owners: @edsiper, @fujimotos, @koleini

workflows: PR fork permission tweaks and other updates (#4767)
  .github/workflows/README.md
  .github/workflows/call-build-packages.yaml
  .github/workflows/pr-image-tests.yaml
  .github/workflows/pr-integration-test.yaml
  .github/workflows/remove-release.yaml
  .github/workflows/staging-build.yaml
  .github/workflows/staging-release.yaml
Owners: @niedbalski

packaging: resolve CentOS 8 mirror issues
  .github/workflows/staging-build.yaml
  packaging/distros/centos/Dockerfile
  packaging/local-build-all.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

packaging: resolve CentOS 8 mirror issues (#4772)
  .github/workflows/staging-build.yaml
  packaging/distros/centos/Dockerfile
  packaging/local-build-all.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

packaging: update ARM64 mirrors for CentOS 8
  packaging/distros/centos/Dockerfile
Owners: @edsiper, @fujimotos, @koleini

workflows: release pipeline extra options
  .github/workflows/staging-build.yaml
  .github/workflows/staging-release.yaml
Owners: @niedbalski

config_format: new wrapper to read from file
  include/fluent-bit/config_format/flb_cf.h
  src/config_format/flb_config_format.c
Owners: @edsiper, @fujimotos, @koleini

sds: new flb_sds_trim() function
  include/fluent-bit/flb_sds.h
  src/flb_sds.c
Owners: @edsiper, @fujimotos, @koleini

packaging: update Windows build to detain fluent-bit artefacts (#4695)
  .github/workflows/skipped-unit-tests.yaml
  .github/workflows/unit-tests.yaml
  appveyor.yml
Owners: @niedbalski

build: detect 'libyaml'
  CMakeLists.txt
Owners: @fujimotos, @niedbalski

config_format: new config reader for Fluent Bit and YAML formats (#4331)
  include/fluent-bit/config_format/flb_cf.h
  include/fluent-bit/config_format/flb_cf_fluentbit.h
  include/fluent-bit/config_format/flb_cf_yaml.h
  include/fluent-bit/flb_config_format.h
  src/CMakeLists.txt
  src/config_format/flb_cf_fluentbit.c
  src/config_format/flb_cf_yaml.c
  src/config_format/flb_config_format.c
Owners: @edsiper, @fujimotos, @koleini

dockerfiles: remove arch-specific
  dockerfiles/Dockerfile.arm32v7
  dockerfiles/Dockerfile.arm64v8
  dockerfiles/Dockerfile.centos7
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-debug
  dockerfiles/Dockerfile.x86_64-master
  dockerfiles/Dockerfile.x86_64-master_debug
  dockerfiles/README.md
Owners: @niedbalski

bin: read configuration by using new config_format API
  src/fluent-bit.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: add 'config_format' for fluentbit and YAML
  tests/internal/CMakeLists.txt
  tests/internal/config_format.c
  tests/internal/config_format_fluentbit.c
  tests/internal/config_format_yaml.c
  tests/internal/data/config_format/fluent-bit.conf
  tests/internal/data/config_format/fluent-bit.yaml
Owners: @edsiper, @fujimotos, @koleini

dockerfiles: rename Linux to default
  dockerfiles/Dockerfile
  dockerfiles/README.md
Owners: @niedbalski

utils: lowercase text errors
  src/flb_utils.c
Owners: @edsiper, @fujimotos, @koleini

config_format: use 'compat' interface
  src/config_format/flb_cf_fluentbit.c
Owners: @edsiper, @fujimotos, @koleini

Changes to workflows - not complete
  .github/workflows/call-build-images.yaml
  .github/workflows/pr-image-tests.yaml
Owners: @niedbalski

config: change config format reference order
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

upstream: ha: use new config format reader
  src/flb_upstream_ha.c
Owners: @edsiper, @fujimotos, @koleini

config_static: use new config_format API
  include/fluent-bit/flb_config.h
  src/flb_config_static.c
Owners: @edsiper, @fujimotos, @koleini

bin: do not overwrite context on static config
  src/fluent-bit.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: config_format: allow 'service' section to be set twice
  tests/internal/config_format.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: config_format: use new config_format prototype
  tests/internal/config_format_fluentbit.c
  tests/internal/config_format_yaml.c
Owners: @edsiper, @fujimotos, @koleini

config: intialize config_format for parsers
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini
