Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

in_forward: rel resources on exception (CID 507596 507786 507954 508064 508123)
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

regex: check return of strchr (CID 507956)
  src/flb_regex.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: on proxy config check status
  plugins/out_opentelemetry/opentelemetry_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_chronicle: use flb_sds_cat_safe (CID 507603)
  plugins/out_chronicle/chronicle.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_content_modifier: logs: do not remove object on type excepcion (CID 507615)
  plugins/processor_content_modifier/cm_logs.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

aws_util: release resource on exception (CID 507694 507588)
  src/aws/flb_aws_util.c
Owners: @pettitwesley

aws: release resource on exception (CID 508048)
  src/aws/flb_aws_compress.c
Owners: @pettitwesley

in_forward: release resource on exception (CID 508219)
  plugins/in_forward/fw_conn.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_http: replaced compression mechanism
  plugins/out_http/http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: refactored compression code
  include/fluent-bit/flb_http_client.h
  src/flb_http_client.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_common: refactored compression code
  include/fluent-bit/flb_http_common.h
  src/flb_http_common.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_server: refactored compression code
  include/fluent-bit/http_server/flb_http_server.h
  src/http_server/flb_http_server.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_docker: release resource on exception (CID 507574)
  plugins/in_docker/cgroup_v2.c
Owners: @nokute78, @edsiper

filter_kubernetes: fix data type for token creation (CID 507947)
  plugins/filter_kubernetes/kube_conf.h
  plugins/filter_kubernetes/kube_meta.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_cloudwatch_logs: release resources on exception (CID 507707)
  plugins/out_cloudwatch_logs/cloudwatch_api.c
Owners: @pettitwesley

filter_multiline: fix conditional after allocation (CID 507750)
  plugins/filter_multiline/ml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_loki: use sds_cat_safe (CID 311957)
  plugins/out_loki/loki.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: logs: release scope on exception (CID 507600)
  plugins/out_opentelemetry/opentelemetry_logs.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_loki: use sds_cat_safe (CID 507977)
  plugins/out_loki/loki.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: release buf on exception (CID 507777)
  plugins/out_opentelemetry/opentelemetry.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_prometheus_remote_write: use sds_cat_safe (CID 508087)
  plugins/in_prometheus_remote_write/prom_rw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_s3: fix double free (CID 508202)
  plugins/out_s3/s3.c
Owners: @pettitwesley

aws: release resource on exception (CID 508048)
  src/aws/flb_aws_compress.c
Owners: @pettitwesley

out_cloudwatch_logs: release resources on exception (CID 507707)
  plugins/out_cloudwatch_logs/cloudwatch_api.c
Owners: @pettitwesley

aws_util: release resource on exception (CID 507694 507588)
  src/aws/flb_aws_util.c
Owners: @pettitwesley

processor_content_modifier: logs: do not remove object on type excepcion (CID 507615)
  plugins/processor_content_modifier/cm_logs.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: release resource on exception (CID 508219)
  plugins/in_forward/fw_conn.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_docker: release resource on exception (CID 507574)
  plugins/in_docker/cgroup_v2.c
Owners: @nokute78, @edsiper

out_opentelemetry: on proxy config check status
  plugins/out_opentelemetry/opentelemetry_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_kubernetes: fix data type for token creation (CID 507947)
  plugins/filter_kubernetes/kube_conf.h
  plugins/filter_kubernetes/kube_meta.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: rel resources on exception (CID 507596 507786 507954 508064 508123)
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

regex: check return of strchr (CID 507956)
  src/flb_regex.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: release buf on exception (CID 507777)
  plugins/out_opentelemetry/opentelemetry.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_s3: fix double free (CID 508202)
  plugins/out_s3/s3.c
Owners: @pettitwesley

filter_multiline: fix conditional after allocation (CID 507750)
  plugins/filter_multiline/ml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_chronicle: use flb_sds_cat_safe (CID 507603)
  plugins/out_chronicle/chronicle.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_prometheus_remote_write: use sds_cat_safe (CID 508087)
  plugins/in_prometheus_remote_write/prom_rw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_loki: use sds_cat_safe (CID 507977)
  plugins/out_loki/loki.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: logs: release scope on exception (CID 507600)
  plugins/out_opentelemetry/opentelemetry_logs.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_loki: use sds_cat_safe (CID 311957)
  plugins/out_loki/loki.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
