Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

bin: fix memory leaks (#9310)
  src/fluent-bit.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

record_accessor: Plug a resource leak on exception (CID 508119)
  src/flb_record_accessor.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: coding style fix
  plugins/out_opentelemetry/opentelemetry_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: Prevent null dereference on memcpy (CID 507910)
  plugins/out_opentelemetry/opentelemetry_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_multiline: fixed memory leak
  plugins/filter_multiline/ml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

sp: changed property type to prevent lossy cast
  include/fluent-bit/stream_processor/flb_sp.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Update multiline.c
  tests/internal/multiline.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.5
  lib/cmetrics/.github/workflows/packages.yaml
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/src/cmt_decode_prometheus.c
  lib/cmetrics/src/cmt_decode_prometheus_remote_write.c
  lib/cmetrics/src/cmt_decode_statsd.c
  lib/cmetrics/src/cmt_encode_influx.c
  lib/cmetrics/src/cmt_encode_opentelemetry.c
  lib/cmetrics/tests/data/issue_fluent_bit_9267.txt
  lib/cmetrics/tests/encoding.c
  lib/cmetrics/tests/prometheus_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_alter_size: fixed memory leak
  plugins/filter_alter_size/alter_size.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: aarch64: Omit to execute flb-it-utils and flb-it-pack tests
  .github/workflows/unit-tests.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

workflows: aarch64: linux: Compile and execute internal test on QEMU aarch64 Linux
  .github/workflows/unit-tests.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

out_kinesis_streams: add custom port support for Kinesis output plugin
  plugins/out_kinesis_streams/kinesis.c
  plugins/out_kinesis_streams/kinesis.h
Owners: @pettitwesley

tests: add port configuration tests for kinesis_streams output plugin
  tests/runtime/out_kinesis.c
Owners: @pettitwesley

Add port config in UTs
  tests/runtime/out_kinesis.c
Owners: @pettitwesley

processor_calyptia: new lua processor for logs/metrics/traces
  cmake/plugins_options.cmake
  plugins/CMakeLists.txt
  plugins/processor_calyptia/CMakeLists.txt
  plugins/processor_calyptia/calyptia.c
  plugins/processor_calyptia/calyptia_defs.h
  plugins/processor_calyptia/calyptia_logs.c
  plugins/processor_calyptia/calyptia_logs.h
  plugins/processor_calyptia/calyptia_logs_from_lua.c
  plugins/processor_calyptia/calyptia_logs_from_lua.h
  plugins/processor_calyptia/calyptia_logs_to_lua.c
  plugins/processor_calyptia/calyptia_logs_to_lua.h
  plugins/processor_calyptia/calyptia_metrics.c
  plugins/processor_calyptia/calyptia_metrics.h
  plugins/processor_calyptia/calyptia_metrics_from_lua.c
  plugins/processor_calyptia/calyptia_metrics_from_lua.h
  plugins/processor_calyptia/calyptia_metrics_to_lua.c
  plugins/processor_calyptia/calyptia_metrics_to_lua.h
  plugins/processor_calyptia/calyptia_traces.c
  plugins/processor_calyptia/calyptia_traces.h
  plugins/processor_calyptia/calyptia_traces_from_lua.c
  plugins/processor_calyptia/calyptia_traces_from_lua.h
  plugins/processor_calyptia/calyptia_traces_to_lua.c
  plugins/processor_calyptia/calyptia_traces_to_lua.h
  plugins/processor_calyptia/cfl_to_lua.c
  plugins/processor_calyptia/cfl_to_lua.h
  plugins/processor_calyptia/generate_lua_helpers.cmake
  plugins/processor_calyptia/lua_to_cfl.c
  plugins/processor_calyptia/lua_to_cfl.h
  plugins/processor_calyptia/processor_helpers.lua
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

build: bump to v3.2 series
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

build: bump to v3.2 series
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

release: update to 3.1.8
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.1.8.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

processor_calyptia: fix if/else code style
  plugins/processor_calyptia/calyptia.c
  plugins/processor_calyptia/calyptia_logs.c
  plugins/processor_calyptia/calyptia_metrics.c
  plugins/processor_calyptia/calyptia_metrics_from_lua.c
  plugins/processor_calyptia/calyptia_metrics_to_lua.c
  plugins/processor_calyptia/calyptia_traces.c
  plugins/processor_calyptia/lua_to_cfl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_calyptia: remove for loop initial declarations
  plugins/processor_calyptia/calyptia_logs_from_lua.c
  plugins/processor_calyptia/calyptia_metrics_from_lua.c
  plugins/processor_calyptia/calyptia_metrics_to_lua.c
  plugins/processor_calyptia/calyptia_traces_from_lua.c
  plugins/processor_calyptia/lua_to_cfl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

ci: disable processor_calyptia
  fluent-bit_git.bb
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

file: initial commit of the new filesystem abstraction layer
  include/fluent-bit/flb_file.h
  include/fluent-bit/flb_file_unix.h
  include/fluent-bit/flb_file_win32.h
  src/flb_file_freebsd.c
  src/flb_file_linux.c
  src/flb_file_macos.c
  src/flb_file_unix.c
  src/flb_file_win32.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: added filesystem abstraction layer
  src/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: file: updated the file read call
  tests/internal/file.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_node_exporter_metrics: updated the file read call
  plugins/in_node_exporter_metrics/ne_textfile_linux.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_oracle_log_analytics: updated the file read call
  plugins/out_oracle_log_analytics/oci_logan_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_calyptia: add examples
  examples/processor_calyptia/logs_empty_key/expected_output
  examples/processor_calyptia/logs_empty_key/fluent-bit.yaml
  examples/processor_calyptia/logs_empty_key/script.lua
  examples/processor_calyptia/logs_modify_key/expected_output
  examples/processor_calyptia/logs_modify_key/fluent-bit.yaml
  examples/processor_calyptia/logs_modify_key/script.lua
  examples/processor_calyptia/logs_modify_metadata/expected_output
  examples/processor_calyptia/logs_modify_metadata/fluent-bit.yaml
  examples/processor_calyptia/logs_modify_metadata/script.lua
  examples/processor_calyptia/logs_split_drop/expected_output
  examples/processor_calyptia/logs_split_drop/fluent-bit.yaml
  examples/processor_calyptia/logs_split_drop/script.lua
  examples/processor_calyptia/metrics_add_remove_sample_label/expected_output
  examples/processor_calyptia/metrics_add_remove_sample_label/fluent-bit.yaml
  examples/processor_calyptia/metrics_add_remove_sample_label/script.lua
  examples/processor_calyptia/metrics_modify_name/expected_output
  examples/processor_calyptia/metrics_modify_name/fluent-bit.yaml
  examples/processor_calyptia/metrics_modify_name/script.lua
  examples/processor_calyptia/metrics_modify_name_output/expected_output
  examples/processor_calyptia/metrics_modify_name_output/fluent-bit.yaml
  examples/processor_calyptia/metrics_modify_name_output/script.lua
  examples/processor_calyptia/traces_modify_metadata/expected_output
  examples/processor_calyptia/traces_modify_metadata/fluent-bit.yaml
  examples/processor_calyptia/traces_modify_metadata/script.lua
  examples/processor_calyptia/traces_modify_metadata_output/expected_output
  examples/processor_calyptia/traces_modify_metadata_output/fluent-bit.yaml
  examples/processor_calyptia/traces_modify_metadata_output/script.lua
  examples/processor_calyptia/traces_modify_split_span/expected_output
  examples/processor_calyptia/traces_modify_split_span/fluent-bit.yaml
  examples/processor_calyptia/traces_modify_split_span/script.lua
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

upstream: remove call to flb_errno(). The error is displayed by flb_utils_proxy_url_split()
  src/flb_upstream.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_calyptia: fix includes for windows
  plugins/processor_calyptia/calyptia.c
  plugins/processor_calyptia/calyptia_logs_to_lua.c
  plugins/processor_calyptia/calyptia_metrics_to_lua.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_calyptia: add license information
  plugins/CMakeLists.txt
  plugins/processor_calyptia/CMakeLists.txt
  plugins/processor_calyptia/calyptia.c
  plugins/processor_calyptia/calyptia_defs.h
  plugins/processor_calyptia/calyptia_logs.c
  plugins/processor_calyptia/calyptia_logs.h
  plugins/processor_calyptia/calyptia_logs_from_lua.c
  plugins/processor_calyptia/calyptia_logs_from_lua.h
  plugins/processor_calyptia/calyptia_logs_to_lua.c
  plugins/processor_calyptia/calyptia_logs_to_lua.h
  plugins/processor_calyptia/calyptia_metrics.c
  plugins/processor_calyptia/calyptia_metrics.h
  plugins/processor_calyptia/calyptia_metrics_from_lua.c
  plugins/processor_calyptia/calyptia_metrics_from_lua.h
  plugins/processor_calyptia/calyptia_metrics_to_lua.c
  plugins/processor_calyptia/calyptia_metrics_to_lua.h
  plugins/processor_calyptia/calyptia_traces.c
  plugins/processor_calyptia/calyptia_traces.h
  plugins/processor_calyptia/calyptia_traces_from_lua.c
  plugins/processor_calyptia/calyptia_traces_from_lua.h
  plugins/processor_calyptia/calyptia_traces_to_lua.c
  plugins/processor_calyptia/calyptia_traces_to_lua.h
  plugins/processor_calyptia/cfl_to_lua.c
  plugins/processor_calyptia/cfl_to_lua.h
  plugins/processor_calyptia/lua_to_cfl.c
  plugins/processor_calyptia/lua_to_cfl.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: added URL based parameter setter and mocking capability
  include/fluent-bit/flb_http_client.h
  include/fluent-bit/flb_http_common.h
  src/flb_http_client.c
  src/flb_http_client_http2.c
  src/flb_http_common.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_ecs: re-added mocking code
  plugins/filter_ecs/ecs.c
Owners: @pettitwesley

out_azure_kusto: updated to use the new http client
  plugins/out_azure_kusto/azure_kusto.h
  plugins/out_azure_kusto/azure_kusto_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_logs_ingestion: updated to use the new http client
  plugins/out_azure_logs_ingestion/azure_logs_ingestion.c
  plugins/out_azure_logs_ingestion/azure_logs_ingestion.h
  plugins/out_azure_logs_ingestion/azure_logs_ingestion_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_loki: removed legacy code
  plugins/out_loki/loki.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_prometheus_remote_write: fixed wrong destructor usage
  plugins/out_prometheus_remote_write/remote_write_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: removed unused variable
  plugins/out_opentelemetry/opentelemetry.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: aarch64: Tweak for easily to extend for other non-amd64 platforms
  .github/workflows/unit-tests.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

output: Add test_out_response callback mechanism
  include/fluent-bit/flb_output.h
  src/flb_output.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine_dispatch: Add mechanism for testing of output responses
  src/flb_engine_dispatch.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
