Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

lib: Add a capability to set up callbacks for output responses
  src/flb_lib.c
Owners: @edsiper, @niedbalski

engine: added missing explicit cast
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine: added missing explicit cast
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input: added missing initializer
  include/fluent-bit/flb_input.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input: added missing initializer
  include/fluent-bit/flb_input.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: fixed memory leaks
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry.h
  plugins/out_opentelemetry/opentelemetry_conf.c
  plugins/out_opentelemetry/opentelemetry_logs.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: fixed memory leaks
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry.h
  plugins/out_opentelemetry/opentelemetry_conf.c
  plugins/out_opentelemetry/opentelemetry_logs.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opensearch: updated to use the new HTTP client
  plugins/out_opensearch/opensearch.c
  plugins/out_opensearch/opensearch.h
  plugins/out_opensearch/os_conf.c
Owners: @pettitwesley, @edsiper

out_oracle_log_analytics: updated to use the new HTTP client
  plugins/out_oracle_log_analytics/oci_logan.c
  plugins/out_oracle_log_analytics/oci_logan.h
  plugins/out_oracle_log_analytics/oci_logan_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_influxdb: Use add_integer_suffix name for adding integer suffix on the line protocol
  plugins/out_influxdb/influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

metrics_exporter: add support for filter metrics inside input & output processor s
  src/flb_metrics_exporter.c
  src/flb_processor.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: signv4: fixed leak
  tests/internal/signv4.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: signv4: fixed leak
  tests/internal/signv4.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_calyptia_fleet: fixed memory leaks
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

in_calyptia_fleet: fixed memory leaks
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

tests: internal: signv4: uncommented code that caused a leak
  tests/internal/signv4.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: signv4: uncommented code that caused a leak
  tests/internal/signv4.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: aarch64: Add actuated runner settings for aarch64
  .github/workflows/unit-tests.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

workflows: s390x: Remove omit option to execute pack and utils internal tests
  .github/workflows/unit-tests.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

workflows: Reuse qemu settings for s390x CI task
  .github/workflows/unit-tests.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

tests: internal: signv4: test commit
  tests/internal/signv4.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: Remove needless conditions
  .github/workflows/unit-tests.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

workflows: aarch64: Shorten the timeout from 60mins. to 10mins.
  .github/workflows/unit-tests.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

out_influxdb: test: Follow the change of parameter name
  tests/runtime/out_influxdb.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_elasticsearch: fixed potential issue caused by ingored reallocation
  plugins/in_elasticsearch/in_elasticsearch_bulk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

ain_elasticsearch: fixed potential issue caused by ingored reallocation
  plugins/in_elasticsearch/in_elasticsearch_bulk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: linux: Compile and execute internal test on non-amd64 platforms Linux (#9313)
  .github/workflows/unit-tests.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

in_elasticsearch: fixed memory leak
  plugins/in_elasticsearch/in_elasticsearch_bulk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_elasticsearch: fixed memory leak
  plugins/in_elasticsearch/in_elasticsearch_bulk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_elasticsearch: improved buffer size check
  plugins/in_elasticsearch/in_elasticsearch_bulk_conn.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_elasticsearch: improved buffer size check
  plugins/in_elasticsearch/in_elasticsearch_bulk_conn.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Revert "in_elasticsearch: improved buffer size check"
  plugins/in_elasticsearch/in_elasticsearch_bulk_conn.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Revert "in_elasticsearch: improved buffer size check"
  plugins/in_elasticsearch/in_elasticsearch_bulk_conn.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: test cat fixes
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/include/cmetrics/cmt_math.h
  lib/cmetrics/src/cmt_cat.c
  lib/cmetrics/tests/cat.c
  lib/cmetrics/tests/prometheus_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine: added missing explicit cast
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

engine: added missing explicit cast
  src/flb_engine.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: improve error messaging inside the flb_utils_proxy_url_split()
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: fix typos
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: signv4: fixed leak
  tests/internal/signv4.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: signv4: uncommented code that caused a leak
  tests/internal/signv4.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
