Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

dockerfile: centos7: Follow repository URL change due to CentOS7 EOL
  dockerfiles/Dockerfile.centos7
Owners: @niedbalski, @patrick-stephens, @celalettin1286

packaging: centos-7: Use vault to retrieve packages
  packaging/distros/centos/Dockerfile
Owners: @niedbalski, @patrick-stephens, @celalettin1286

luajit-cmake: build: Avoid to use INCLUDE_DIRECTORIES property
  cmake/luajit.cmake
  lib/luajit-cmake/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

luajit-cmake: Permit absence of git command
  lib/luajit-cmake/LuaJIT.cmake
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_gelf: Remove a needless include
  plugins/out_gelf/gelf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

luajit-cmake: Handle MSVC ARM64 windows target
  lib/luajit-cmake/LuaJIT.cmake
  lib/luajit-cmake/Modules/DetectArchitecture.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: windows: Enable LuaJIT on ARM64 Windows
  cmake/windows-setup.cmake
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

windows: luajit-cmake: Enable ARM64 build is only on ARM64 Windows
  lib/luajit-cmake/LuaJIT.cmake
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

luajit-cmake: windows: Handle ARM64 cl.exe build
  lib/luajit-cmake/LuaJIT.cmake
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

fix leak
  plugins/out_scaleway/scaleway.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

windows: luajit-cmake: Handle cross compilation for minilua and buildvm correctly
  lib/luajit-cmake/LuaJIT.cmake
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: nghttp2: backport upstream security fix
  lib/nghttp2/lib/includes/nghttp2/nghttp2.h
  lib/nghttp2/lib/nghttp2_helper.c
  lib/nghttp2/lib/nghttp2_session.c
  lib/nghttp2/lib/nghttp2_session.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

dockerfile: centos7: Follow repository URL change due to CentOS7 EOL
  dockerfiles/Dockerfile.centos7
Owners: @niedbalski, @patrick-stephens, @celalettin1286

luajit-cmake: Permit absence of git command
  lib/luajit-cmake/LuaJIT.cmake
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

luajit-cmake: build: Avoid to use INCLUDE_DIRECTORIES property
  cmake/luajit.cmake
  lib/luajit-cmake/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

packaging: centos-7: Use vault to retrieve packages
  packaging/distros/centos/Dockerfile
Owners: @niedbalski, @patrick-stephens, @celalettin1286

in_http: Added json content-type header test to check success when chartset is part of header.
  tests/runtime/in_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Updated in_http runtime test with patch from https://github.com/fluent/fluent-bit/pull/9023#issuecomment-2211145464
  tests/runtime/in_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: nghttp2: backport upstream security fix
  lib/nghttp2/lib/includes/nghttp2/nghttp2.h
  lib/nghttp2/lib/nghttp2_helper.c
  lib/nghttp2/lib/nghttp2_session.c
  lib/nghttp2/lib/nghttp2_session.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

luajit-cmake: Handle MSVC ARM64 windows target
  lib/luajit-cmake/LuaJIT.cmake
  lib/luajit-cmake/Modules/DetectArchitecture.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: windows: Enable LuaJIT on ARM64 Windows
  cmake/windows-setup.cmake
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

windows: luajit-cmake: Handle cross compilation for minilua and buildvm correctly
  lib/luajit-cmake/LuaJIT.cmake
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

luajit-cmake: windows: Handle ARM64 cl.exe build
  lib/luajit-cmake/LuaJIT.cmake
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

windows: luajit-cmake: Enable ARM64 build is only on ARM64 Windows
  lib/luajit-cmake/LuaJIT.cmake
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_gelf: test: Implement injecting tag capability (#9031)
  plugins/out_gelf/gelf.c
  plugins/out_gelf/gelf.h
  tests/internal/gelf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_loki: add support for structured metadata
  plugins/out_loki/loki.c
  plugins/out_loki/loki.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: use the system provided LuaJIT if found
  CMakeLists.txt
  cmake/headers.cmake
  cmake/luajit.cmake
  src/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

workflows: add sanity check for compilation using system libraries to pr-compile-check.yaml
  .github/workflows/pr-compile-check.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

in_tail: Introduce read_interval option
  plugins/in_tail/tail.c
  plugins/in_tail/tail_config.h
  plugins/in_tail/tail_fs_stat.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_geoip2: fix build due missing test directory
  plugins/filter_geoip2/libmaxminddb/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: nghttp2: try building with shared lib on
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

http_server: Don't override keepalive for HTTP/2
  src/http_server/flb_http_server.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

- Removed dependency on <fluent-bit/flb_tls.h>
  plugins/filter_encrypt/encrypt.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

- Introduced/Enabled 'FILTER_ENCRYPT' plugin in Dockerfile which are used for packaging
  packaging/distros/amazonlinux/Dockerfile
  packaging/distros/centos/Dockerfile
  packaging/distros/debian/Dockerfile
  packaging/distros/raspbian/Dockerfile
  packaging/distros/ubuntu/Dockerfile
Owners: @niedbalski, @patrick-stephens, @celalettin1286

http_server: Correct HTTP/2 conditional clause
  src/http_server/flb_http_server.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

add headers kafka output
  plugins/out_kafka/kafka.c
  plugins/out_kafka/kafka_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_server: Don't override keepalive for HTTP/2
  src/http_server/flb_http_server.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_server: Correct HTTP/2 conditional clause
  src/http_server/flb_http_server.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

motd: v3.1
  include/fluent-bit/flb_motd.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: yaml: Support passing arbitrary objects to processors
  include/fluent-bit/flb_config_map.h
  include/fluent-bit/flb_processor.h
  src/config_format/flb_cf_yaml.c
  src/flb_config_map.c
  src/flb_processor.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
