Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

pack: ensure minimum allocation is 256 bytes (unit test)
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

pack: ensure minimum allocation is 256 bytes (unit test)
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

pack: enhance memory allocation strategy for large JSON payloads
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

pack: ensure minimum allocation is 256 bytes (unit test)
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

pack: ensure minimum allocation is 256 bytes (unit test)
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

pack: ensure minimum allocation is 256 bytes (unit test)
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

pack: enhance memory allocation strategy for large JSON payloads
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

workflows: add Windows PR
  .github/workflows/pr-package-tests.yaml
Owners: @niedbalski

file: add new utility module
  include/fluent-bit/flb_file.h
  src/CMakeLists.txt
  src/flb_file.c
  tests/internal/CMakeLists.txt
  tests/internal/data/file/empty_file.txt
  tests/internal/data/file/text_file.txt
  tests/internal/file.c
Owners: @edsiper, @fujimotos, @koleini

config_format: yaml: add support for 'includes' and move 'customs'
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: config_format: extend test cases
  tests/internal/config_format_fluentbit.c
  tests/internal/config_format_yaml.c
  tests/internal/data/config_format/fluent-bit.conf
  tests/internal/data/config_format/fluent-bit.yaml
  tests/internal/data/config_format/yaml/fluent-bit.yaml
  tests/internal/data/config_format/yaml/service.yaml
  tests/internal/data/config_format/yaml/test.yaml
  tests/internal/data/config_format/yaml/test/dummy_pipeline.yaml
  tests/internal/data/config_format/yaml/test/nested.yaml
Owners: @edsiper, @fujimotos, @koleini

build: add new option -DFLB_NIGHTLY_BUILD=ABC to register custom versions
  CMakeLists.txt
  cmake/macros.cmake
Owners: @fujimotos, @niedbalski

info: add string helpers
  include/fluent-bit/flb_info.h.in
Owners: @edsiper, @fujimotos, @koleini

bin: report nightly build info if found
  src/fluent-bit.c
Owners: @edsiper, @fujimotos, @koleini

bin: fix Copyright
  src/fluent-bit.c
Owners: @edsiper, @fujimotos, @koleini

doc: CONTRIBUTING: adjust copyright
  CONTRIBUTING.md
Owners: @edsiper, @fujimotos, @koleini

tests: internal: config_format: add classic config files
  tests/internal/data/config_format/classic/fluent-bit.conf
  tests/internal/data/config_format/classic/service.conf
Owners: @edsiper, @fujimotos, @koleini

doc: CONTRIBUTING: adjust copyright
  CONTRIBUTING.md
Owners: @edsiper, @fujimotos, @koleini

bin: fix Copyright
  src/fluent-bit.c
Owners: @edsiper, @fujimotos, @koleini

build: add new option -DFLB_NIGHTLY_BUILD=ABC to register custom versions
  CMakeLists.txt
  cmake/macros.cmake
Owners: @fujimotos, @niedbalski

bin: report nightly build info if found
  src/fluent-bit.c
Owners: @edsiper, @fujimotos, @koleini

info: add string helpers
  include/fluent-bit/flb_info.h.in
Owners: @edsiper, @fujimotos, @koleini

config_format: fluentbit: support windows backslash
  src/config_format/flb_cf_fluentbit.c
Owners: @edsiper, @fujimotos, @koleini

config_format: yaml: support windows backslash
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: config_format: extend test cases
  tests/internal/config_format_fluentbit.c
  tests/internal/config_format_yaml.c
  tests/internal/data/config_format/fluent-bit.conf
  tests/internal/data/config_format/fluent-bit.yaml
  tests/internal/data/config_format/yaml/fluent-bit.yaml
  tests/internal/data/config_format/yaml/service.yaml
  tests/internal/data/config_format/yaml/test.yaml
  tests/internal/data/config_format/yaml/test/dummy_pipeline.yaml
  tests/internal/data/config_format/yaml/test/nested.yaml
Owners: @edsiper, @fujimotos, @koleini

tests: internal: config_format: add classic config files
  tests/internal/data/config_format/classic/fluent-bit.conf
  tests/internal/data/config_format/classic/service.conf
Owners: @edsiper, @fujimotos, @koleini

config_format: yaml: add support for 'includes' and move 'customs'
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @fujimotos, @koleini

config_format: yaml: move 'customs' lists to top level
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @fujimotos, @koleini

config_format: fluentbit: support windows backslash
  src/config_format/flb_cf_fluentbit.c
Owners: @edsiper, @fujimotos, @koleini

config_format: yaml: support windows backslash
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @fujimotos, @koleini

workflows: remove Azure action usage
  .github/containerscan/allowedlist.yaml
  .github/workflows/call-build-images.yaml
Owners: @niedbalski

workflows: update default version
  .github/workflows/staging-build.yaml
Owners: @niedbalski

workflows: fix missing info
  .github/workflows/call-build-images.yaml
Owners: @niedbalski

workflows: trigger PR image tests on workflow change as well
  .github/workflows/pr-image-tests.yaml
Owners: @niedbalski

installation: add script to install in one liner
  install.sh
Owners: @edsiper, @fujimotos, @koleini

workflows: test this branch - must revert before merge
  .github/workflows/pr-image-tests.yaml
Owners: @niedbalski

installation: ignore unbound variables
  install.sh
Owners: @edsiper, @fujimotos, @koleini

installation: handle centos
  install.sh
Owners: @edsiper, @fujimotos, @koleini

installation: minor tweaks
  install.sh
Owners: @edsiper, @fujimotos, @koleini

installation: fall back to td-agent-bit
  install.sh
Owners: @edsiper, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
