Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

network: use TCP_KEEPALIVE instead of TCP_KEEPIDLE in OSX
  src/flb_network.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: cf_fluentbit: Handle static config correctly
  src/config_format/flb_cf_fluentbit.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: cf_yaml: Follow the change of variable name
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

opentelemetry: initial addition of the experimental otlp profile signal
  plugins/in_opentelemetry/opentelemetry.c
  plugins/in_opentelemetry/opentelemetry.h
  plugins/in_opentelemetry/opentelemetry_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: fluent-otel-proto profiles patch
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/collector/profiles/v1development/profiles_service.pb-c.c
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/collector/profiles/v1development/profiles_service.pb-c.h
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/profiles/v1development/pprofextended.pb-c.c
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/profiles/v1development/pprofextended.pb-c.h
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/profiles/v1development/profiles.pb-c.c
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/profiles/v1development/profiles.pb-c.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cprofiles: centos compatibility fix
  lib/cprofiles/src/cprof_encode_text.c
  lib/cprofiles/tests/profile.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opentelemetry: initial addition of the experimental otlp profile signal
  plugins/in_opentelemetry/opentelemetry.c
  plugins/in_opentelemetry/opentelemetry.h
  plugins/in_opentelemetry/opentelemetry_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: fluent-otel-proto: updated missing file
  lib/fluent-otel-proto/src/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opentelemetry: initial addition of the experimental otlp profile signal
  plugins/in_opentelemetry/opentelemetry.c
  plugins/in_opentelemetry/opentelemetry.h
  plugins/in_opentelemetry/opentelemetry_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cprofiles: centos compatibility fix
  lib/cprofiles/src/cprof_encode_text.c
  lib/cprofiles/tests/profile.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: fluent-otel-proto profiles patch
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/collector/profiles/v1development/profiles_service.pb-c.c
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/collector/profiles/v1development/profiles_service.pb-c.h
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/profiles/v1development/pprofextended.pb-c.c
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/profiles/v1development/pprofextended.pb-c.h
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/profiles/v1development/profiles.pb-c.c
  lib/fluent-otel-proto/proto_c/opentelemetry/proto/profiles/v1development/profiles.pb-c.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: fluent-otel-proto: updated missing file
  lib/fluent-otel-proto/src/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cprofiles: fixed incorrect check
  lib/cprofiles/src/cprof_encode_text.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cprofiles: fixed incorrect check
  lib/cprofiles/src/cprof_encode_text.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: cf_yaml: Follow the change of variable name
  src/config_format/flb_cf_yaml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config_format: cf_fluentbit: Handle static config correctly
  src/config_format/flb_cf_fluentbit.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: 3.2 release from master support
  .github/workflows/cron-unstable-build.yaml
  .github/workflows/staging-release.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

version: update to 3.2.0
  dockerfiles/Dockerfile
  fluent-bit-3.2.0.bb
  snap/snapcraft.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_kubernetes: retrieve Kubernetes pod IP address if it is set in status.podIP (#2783)
  plugins/filter_kubernetes/kube_meta.c
  tests/runtime/data/kubernetes/out/core/core_base_fluent-bit.out
  tests/runtime/data/kubernetes/out/kairosdb-914055854-b63vq.out
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: runtime: kubernetes: add pod ip to core_base-with-namespace-labels-and-annotations_fluent-bit
  tests/runtime/data/kubernetes/out/core/core_base-with-namespace-labels-and-annotations_fluent-bit.out
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: runtime: kubernetes: add pod ip to options_use-kubelet-enabled_fluent-bit
  tests/runtime/data/kubernetes/out/options/options_use-kubelet-enabled_fluent-bit.out
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: runtime: kubernetes: add pod ip to options_use-kubelet-disabled_fluent-bit
  tests/runtime/data/kubernetes/out/options/options_use-kubelet-disabled_fluent-bit.out
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: runtime: kubernetes: add pod ip to options_use-kubelet-disabled_fluent-bit
  tests/runtime/data/kubernetes/out/options/options_use-kubelet-disabled_fluent-bit.out
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: runtime: kubernetes: add pod ip to core_base-with-namespace-labels-and-annotations_fluent-bit
  tests/runtime/data/kubernetes/out/core/core_base-with-namespace-labels-and-annotations_fluent-bit.out
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: runtime: kubernetes: add pod ip to options_use-kubelet-enabled_fluent-bit
  tests/runtime/data/kubernetes/out/options/options_use-kubelet-enabled_fluent-bit.out
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_ebpf: Prepare build directory for building eBPF objects
  plugins/in_ebpf/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_ebpf: Prepare build directory for building eBPF objects (#9592)
  plugins/in_ebpf/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

cfl_ra_key: Implement generic CFL based RA key functionality
  include/fluent-bit/flb_cfl_ra_key.h
  src/CMakeLists.txt
  src/flb_cfl_ra_key.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

cfl_record_accessor: Implement generic CFL based record accessor
  include/fluent-bit/flb_cfl_record_accessor.h
  src/CMakeLists.txt
  src/flb_cfl_record_accessor.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

cfl_record_accessor: tests: internal: Add internal test cases for generic CFL based RA
  tests/internal/CMakeLists.txt
  tests/internal/cfl_record_accessor.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_kafka: emit a metric when librdkafka signals an error
  plugins/out_kafka/kafka.c
  plugins/out_kafka/kafka_config.c
  plugins/out_kafka/kafka_config.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: splunk token validation must be case-insensitive, since that's the behavior from Splunk HEC
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: splunk token validation must be case-insensitive, since that's the behavior from Splunk HEC
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

security: supported versions now are 3.1.x and 3.2.x
  SECURITY.md
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_ebpf: Handle Debian like systems' libc path
  plugins/in_ebpf/CMakeLists.txt
  plugins/in_ebpf/traces/malloc/bpf.c.in
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_ebpf: Refer the generated skel headers of eBPF correctly
  plugins/in_ebpf/CMakeLists.txt
  plugins/in_ebpf/traces/includes/generated/trace_bind.skel.h
  plugins/in_ebpf/traces/includes/generated/trace_malloc.skel.h
  plugins/in_ebpf/traces/includes/generated/trace_signal.skel.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_ebpf: Handle debian like systems' signal probes (#9596)
  plugins/in_ebpf/CMakeLists.txt
  plugins/in_ebpf/traces/includes/generated/trace_bind.skel.h
  plugins/in_ebpf/traces/includes/generated/trace_malloc.skel.h
  plugins/in_ebpf/traces/includes/generated/trace_signal.skel.h
  plugins/in_ebpf/traces/malloc/bpf.c.in
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

security: supported versions now are 3.1.x and 3.2.x (#9594)
  SECURITY.md
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Fix type errors in cprofiles
  lib/cprofiles/src/cprof_encode_text.c
  lib/cprofiles/src/cprof_profile.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: removed alpn selector requirement
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
