Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley

out_stackdriver: check for proper http request key
  plugins/out_stackdriver/stackdriver.c
  plugins/out_stackdriver/stackdriver_http_request.c
  plugins/out_stackdriver/stackdriver_http_request.h
Owners: @edsiper, @fujimotos, @koleini

testing: refactor arm64 tests to the end
  packaging/local-build-all.sh
Owners: @edsiper, @fujimotos, @koleini

testing: update to use one-line install for a few targets
  packaging/testing/smoke/packages/Dockerfile.centos7
  packaging/testing/smoke/packages/Dockerfile.ubuntu2004
Owners: @edsiper, @fujimotos, @koleini

packaging: add YAML dev libs
  packaging/distros/amazonlinux/Dockerfile
  packaging/distros/centos/Dockerfile
  packaging/distros/debian/Dockerfile
  packaging/distros/raspbian/Dockerfile
  packaging/distros/ubuntu/Dockerfile
  packaging/local-build-all.sh
Owners: @edsiper, @fujimotos, @koleini

dockerfiles: add YAML dev libs
  dockerfiles/Dockerfile.arm32v7
  dockerfiles/Dockerfile.arm64v8
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-debug
  dockerfiles/Dockerfile.x86_64-master
  dockerfiles/Dockerfile.x86_64-master_debug
Owners: @niedbalski

packaging: enable repos for CentOS 8 as required for devel YAML
  packaging/distros/centos/Dockerfile
Owners: @edsiper, @fujimotos, @koleini

testing: adding smoke test for YAML config to containers
  packaging/testing/smoke/container/container-smoke-test.sh
Owners: @edsiper, @fujimotos, @koleini

testing: adding smoke test for YAML config to containers
  packaging/testing/smoke/container/fluent-bit.yaml
Owners: @edsiper, @fujimotos, @koleini

testing: adding smoke test for YAML config to containers
  packaging/testing/smoke/container/fluent-bit.yaml
Owners: @edsiper, @fujimotos, @koleini

testing: linting updates
  packaging/testing/smoke/packages/Dockerfile.centos7
  packaging/testing/smoke/packages/Dockerfile.ubuntu2004
Owners: @edsiper, @fujimotos, @koleini

engine: add new helper module for threaded input plugins
  include/fluent-bit/flb_input_thread.h
  src/CMakeLists.txt
  src/flb_input_thread.c
Owners: @edsiper, @fujimotos, @koleini

engine: add flb_mp_count_remaining to flb_mp
  include/fluent-bit/flb_mp.h
  src/flb_mp.c
Owners: @edsiper, @fujimotos, @koleini

testing: fix usage in smoke test
  packaging/testing/smoke/container/container-smoke-test.sh
  packaging/testing/smoke/container/fluent-bit.yaml
Owners: @edsiper, @fujimotos, @koleini

workflows: various updates
  .github/workflows/cron-scorecards-analysis.yaml
  .github/workflows/cron-stale.yaml
Owners: @niedbalski

bin: fix wrong host header when using proxy
  src/flb_http_client.c
Owners: @edsiper, @fujimotos, @koleini

packaging: fix syntax error in AL2 test (#4812)
  packaging/testing/smoke/packages/Dockerfile.amazonlinux2
Owners: @edsiper, @fujimotos, @koleini

workflows: various updates (#4815)
  .github/workflows/cron-scorecards-analysis.yaml
  .github/workflows/cron-stale.yaml
Owners: @niedbalski

in_dummy_thread: add example threaded input plugin
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/in_dummy_thread/CMakeLists.txt
  plugins/in_dummy_thread/in_dummy_thread.c
  plugins/in_dummy_thread/in_dummy_thread.h
  src/flb_input_thread.c
  tests/runtime/CMakeLists.txt
  tests/runtime/in_dummy_thread.c
  tests/runtime/in_simple_systems.c
  tests/runtime_shell/CMakeLists.txt
  tests/runtime_shell/conf/in_dummy_thread_expect.conf
  tests/runtime_shell/in_dummy_thread_expect.sh
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

out_opensearch: initial implementation of OpenSearch output plugin
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/out_opensearch/CMakeLists.txt
  plugins/out_opensearch/opensearch.c
  plugins/out_opensearch/opensearch.h
  plugins/out_opensearch/os_conf.c
  plugins/out_opensearch/os_conf.h
  tests/runtime/CMakeLists.txt
  tests/runtime/out_opensearch.c
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

out_opensearch: initial implementation of OpenSearch output plugin
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/out_opensearch/CMakeLists.txt
  plugins/out_opensearch/opensearch.c
  plugins/out_opensearch/opensearch.h
  plugins/out_opensearch/os_conf.c
  plugins/out_opensearch/os_conf.h
  tests/runtime/CMakeLists.txt
  tests/runtime/out_opensearch.c
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

out_prometheus_exporter: add new option 'add_timestamp', disabled by default
  plugins/out_prometheus_exporter/prom.c
  plugins/out_prometheus_exporter/prom.h
Owners: @edsiper, @fujimotos, @koleini

out_prometheus_exporter: add new option 'add_timestamp', disabled by default
  plugins/out_prometheus_exporter/prom.c
  plugins/out_prometheus_exporter/prom.h
Owners: @edsiper, @fujimotos, @koleini

out_prometheus_exporter: add new option 'add_timestamp', disabled by default
  plugins/out_prometheus_exporter/prom.c
  plugins/out_prometheus_exporter/prom.h
Owners: @edsiper, @fujimotos, @koleini

pack: added java_sql_timestamp, a format string used by amazon athena
  include/fluent-bit/flb_pack.h
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

out_prometheus_exporter: add new option 'add_timestamp', disabled by default
  plugins/out_prometheus_exporter/prom.c
  plugins/out_prometheus_exporter/prom.h
Owners: @edsiper, @fujimotos, @koleini

engine: add new helper module for threaded input plugins
  include/fluent-bit/flb_input_thread.h
  src/CMakeLists.txt
  src/flb_input_thread.c
Owners: @edsiper, @fujimotos, @koleini

engine: add flb_mp_count_remaining to flb_mp
  include/fluent-bit/flb_mp.h
  src/flb_mp.c
Owners: @edsiper, @fujimotos, @koleini

in_dummy_thread: add example threaded input plugin
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/in_dummy_thread/CMakeLists.txt
  plugins/in_dummy_thread/in_dummy_thread.c
  plugins/in_dummy_thread/in_dummy_thread.h
  src/flb_input_thread.c
  tests/runtime/CMakeLists.txt
  tests/runtime/in_dummy_thread.c
  tests/runtime/in_simple_systems.c
  tests/runtime_shell/CMakeLists.txt
  tests/runtime_shell/conf/in_dummy_thread_expect.conf
  tests/runtime_shell/in_dummy_thread_expect.sh
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

input: initialize cmetrics to zero
  src/flb_input.c
Owners: @edsiper, @fujimotos, @koleini

output: initialize cmetrics to zero
  src/flb_output.c
Owners: @edsiper, @fujimotos, @koleini

filter: initialize cmetrics to zero
  src/flb_filter.c
Owners: @edsiper, @fujimotos, @koleini

input: initialize cmetrics to zero
  src/flb_input.c
Owners: @edsiper, @fujimotos, @koleini

output: initialize cmetrics to zero
  src/flb_output.c
Owners: @edsiper, @fujimotos, @koleini

filter: initialize cmetrics to zero
  src/flb_filter.c
Owners: @edsiper, @fujimotos, @koleini

filter_nightfall: Fix valgrind mem errors
  plugins/filter_nightfall/nightfall.c
  plugins/filter_nightfall/nightfall_api.c
  plugins/filter_nightfall/nightfall_api.h
Owners: @edsiper, @fujimotos, @koleini

output: initialize cmetrics to zero
  src/flb_output.c
Owners: @edsiper, @fujimotos, @koleini

input: initialize cmetrics to zero
  src/flb_input.c
Owners: @edsiper, @fujimotos, @koleini

filter: initialize cmetrics to zero
  src/flb_filter.c
Owners: @edsiper, @fujimotos, @koleini

output: initialize cmetrics to zero
  src/flb_output.c
Owners: @edsiper, @fujimotos, @koleini

filter: initialize cmetrics to zero
  src/flb_filter.c
Owners: @edsiper, @fujimotos, @koleini
