Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @pettitwesley, @nokute78, @sxd

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens
/cmake/                  @fujimotos @niedbalski @patrick-stephens

# CI 
# -------------------------
/.github/                @niedbalski @patrick-stephens
/appveyor.yml            @niedbalski @patrick-stephens
/dockerfiles/            @niedbalski @patrick-stephens
/packaging/              @niedbalski @patrick-stephens
/codebase-structure.svg  @niedbalski @patrick-stephens
/install.sh              @niedbalski @patrick-stephens

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

input_metric: add processor support
  src/flb_input_metric.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_trace: add processor support
  src/flb_input_trace.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_event_type: removed leftover debug output
  plugins/in_event_type/event_type.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

bin: add processor plugin support
  src/fluent-bit.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: processor: updated the processor creation call to match the new prototype
  tests/internal/processor.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

plugin: add processor support
  include/fluent-bit/flb_plugin.h
  src/flb_plugin.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

plugins: add processor support
  include/fluent-bit/flb_plugins.h.in
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: add processor support
  CMakeLists.txt
  plugins/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @edsiper, @leonardo-albertovich, @koleini

processor: add processor plugin logging wrapper
  include/fluent-bit/flb_processor_plugin.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_labels: add metrics label manipulation processor
  plugins/processor_labels/CMakeLists.txt
  plugins/processor_labels/labels.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_lua: fix metadata omission in the msgpack version of the code
  plugins/filter_lua/lua.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: disable mpack in filter lua to preserve metadata
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens

out_opensearch: remove unused variables
  plugins/out_opensearch/opensearch.c
Owners: @pettitwesley, @edsiper

filter_lua: fix bugs in multi record producers and record skipping
  plugins/filter_lua/lua.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: processor: updated the processor creation call to match the new prototype
  tests/internal/processor.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input: updated the processor creation call to match the new prototype
  src/flb_input.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_labels: add metrics label manipulation processor
  plugins/processor_labels/CMakeLists.txt
  plugins/processor_labels/labels.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor: add processor plugin logging wrapper
  include/fluent-bit/flb_processor_plugin.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

output: add support for processor plugins
  include/fluent-bit/flb_output.h
  src/flb_output.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

config: add support for processor plugins
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: add processor support
  CMakeLists.txt
  plugins/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @edsiper, @leonardo-albertovich, @koleini

processor: add support for processor plugins
  include/fluent-bit/flb_processor.h
  src/flb_processor.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

bin: add processor plugin support
  src/fluent-bit.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

plugin: add processor support
  include/fluent-bit/flb_plugin.h
  src/flb_plugin.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

plugins: add processor support
  include/fluent-bit/flb_plugins.h.in
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_trace: add processor support
  src/flb_input_trace.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_metric: add processor support
  src/flb_input_metric.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_event_type: removed leftover debug output
  plugins/in_event_type/event_type.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_lua: fix bugs in multi record producers and record skipping
  plugins/filter_lua/lua.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: disable mpack in filter lua to preserve metadata
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens

filter_lua: fix metadata omission in the msgpack version of the code
  plugins/filter_lua/lua.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_calyptia_fleet: fix SIGSEGV when no configuration file is set.
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: sp: add test case for conv_from_str_to_num
  tests/internal/stream_processor.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

support IN_GELF, rebased and fixed compile error
  CMakeLists.txt
  include/fluent-bit/flb_gzip.h
  include/fluent-bit/flb_pack.h
  plugins/CMakeLists.txt
  plugins/in_gelf/CMakeLists.txt
  plugins/in_gelf/gelf.c
  plugins/in_gelf/gelf.h
  src/flb_gzip.c
  src/flb_pack_gelf.c
Owners: @fujimotos, @niedbalski, @patrick-stephens, @edsiper, @leonardo-albertovich, @koleini

in_calyptia_fleet: initial implementation of calyptia fleet management. (#7179)
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens

support IN_GELF, rebased and fixed compile error
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens

remove redundant code
  plugins/in_gelf/gelf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

bin: config: reload: Enable hot reloading via config file
  include/fluent-bit/flb_config.h
  src/flb_config.c
  src/flb_reload.c
  src/fluent-bit.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_attributes: initial commit of the attributes processor
  plugins/processor_attributes/CMakeLists.txt
  plugins/processor_attributes/attributes.c
  plugins/processor_attributes/variant_utils.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_labels: make hash transformer local
  plugins/processor_labels/labels.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini
