Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

in_forward: fixed incorrect shared key length in authentication
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: fixed incorrect shared key length in authentication
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: fixed incorrect shared key length in authentication
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: fixed incorrect digest length usage in authentication
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: fixed incorrect digest length usage in authentication
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: fixed incorrect digest length usage in authentication
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

output: permit records size == 0 on flb event type logs.
  include/fluent-bit/flb_output.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

SEC-456: - Fixed bug which was causing memory issues on MacOS on startup (related with b64 decoding)
  plugins/filter_encrypt/encrypt.c
  plugins/filter_encrypt/utils.c
  plugins/filter_encrypt/utils.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: fixed incorrect shared key length in authentication (#9550)
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: fixed incorrect shared key length in authentication (#9551)
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: fixed incorrect shared key length in authentication (#9552)
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_multiline: Add support for processors
  plugins/filter_multiline/ml.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

release: update to 3.1.11
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.1.11.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

output: permit records size == 0 on flb event type logs. (#9554)
  include/fluent-bit/flb_output.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Apply suggestions from code review
  CMakeLists.txt
  dockerfiles/Dockerfile
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

processor_content_modifier: allow 'fluent-bit' as a producer in metadata
  plugins/processor_content_modifier/cm_metrics.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.9
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/src/cmt_encode_opentelemetry.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_opentelemetry_envelope: add support for Metrics
  plugins/processor_opentelemetry_envelope/otel_envelope.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.9
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/src/cmt_encode_opentelemetry.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_opentelemetry_envelope: add support for Metrics
  plugins/processor_opentelemetry_envelope/otel_envelope.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_content_modifier: allow 'fluent-bit' as a producer in metadata
  plugins/processor_content_modifier/cm_metrics.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_calyptia_fleet: fleet id search by name must use exact name.
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

in_calyptia_fleet: fleet id search by name must use exact name. (#9561)
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

SEC-456: - Fixed a bug related to aes-decryption
  plugins/filter_encrypt/aes_deterministic.c
  plugins/filter_encrypt/aes_gcm.c
  plugins/filter_encrypt/aes_gcm.h
  plugins/filter_encrypt/crypto_utils.c
  plugins/filter_encrypt/crypto_utils.h
  plugins/filter_encrypt/encrypt.c
  plugins/filter_encrypt/utils.c
  plugins/filter_encrypt/utils.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_cpu: prinf info about PID being monitored
  plugins/in_cpu/cpu.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_calyptia_fleet: increase max http buffer size and make it configurable.
  plugins/custom_calyptia/calyptia.c
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

in_calyptia_fleet: fix registering agent after first invocation.
  plugins/in_calyptia_fleet/in_calyptia_fleet.c
Owners: @pwhelan

cobj_record_accessor: test: internal: Add internal test cases for CFL based RA
  src/flb_cobj_ra_key.c
  tests/internal/CMakeLists.txt
  tests/internal/cobj_record_accessor.c
  tests/internal/record_accessor.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

cobj_record_accessor: Implement CFL based record accessor
  include/fluent-bit/flb_cobj_record_accessor.h
  src/CMakeLists.txt
  src/flb_cobj_ra_key.c
  src/flb_cobj_record_accessor.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

cobj_ra_key: Implement CFL based RA key functionality
  include/fluent-bit/flb_cobj_ra_key.h
  src/CMakeLists.txt
  src/flb_cobj_ra_key.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

processor_content_modifier: tests: Support regular expressions on delete action with CFL based record accessor
  plugins/processor_content_modifier/cm.h
  plugins/processor_content_modifier/cm_config.c
  plugins/processor_content_modifier/cm_logs.c
  tests/runtime/processor_content_modifier.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

env: expose Fluent Bit PID with variable
  src/flb_env.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

WIP
  src/flb_hash_table.c
  tests/internal/env.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

WIP
  src/flb_env.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter: Add dropped_size metrics
  include/fluent-bit/flb_filter.h
  src/flb_filter.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter: Add drop_bytes metrics for old metrics API
  include/fluent-bit/flb_metrics.h
  src/flb_filter.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

io: added tcp keepalive support
  src/flb_io.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

upstream: added tcp keepalive settings
  src/flb_upstream.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

network: added tcp keepalive support
  include/fluent-bit/flb_network.h
  src/flb_network.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_datadog: custom added ability ot set custom HTTP headers
  plugins/out_datadog/datadog.c
  plugins/out_datadog/datadog.h
Owners: @nokute78, @edsiper

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
