Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

tests: runtime: in_tail: new multiline + json + regex test
  tests/runtime/in_tail.c
Owners: @edsiper, @fujimotos, @koleini

workflows: remove mergebot
  .github/workflows/merge-bot.yaml
Owners: @niedbalski

workflows: remove mergebot (#4588)
  .github/workflows/merge-bot.yaml
Owners: @niedbalski

dockerfiles: Update the systemd libs used to build docker image
  dockerfiles/Dockerfile.arm32v7
  dockerfiles/Dockerfile.arm64v8
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-master
  dockerfiles/Dockerfile.x86_64-master_debug
Owners: @niedbalski

tls: Issue #4098 Fix error handling for OpenSSL apis
  src/tls/flb_tls.c
  src/tls/openssl.c
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: in_tail: remove unused val
  tests/runtime/in_tail.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: enhance handling of high number of static files (#3947)
  plugins/in_tail/tail.c
  plugins/in_tail/tail.h
  plugins/in_tail/tail_config.h
Owners: @edsiper, @fujimotos, @koleini

filter_rewrite_tag: set 'keep' before emitting(#4518)
  plugins/filter_rewrite_tag/rewrite_tag.c
Owners: @edsiper, @fujimotos, @koleini

pack: add flb_pack_init
  include/fluent-bit/flb_pack.h
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

engine: call flb_pack_init
  src/flb_engine.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: pack: call flb_pack_init
  tests/internal/pack.c
Owners: @edsiper, @fujimotos, @koleini

io: support fd based read/write
  include/fluent-bit/flb_io.h
  src/flb_io.c
Owners: @edsiper, @fujimotos, @koleini

io: support timeout on synchronous calls (#4184)
  include/fluent-bit/aws/flb_aws_imds.h
  include/fluent-bit/flb_network.h
  src/aws/flb_aws_credentials_ec2.c
  src/aws/flb_aws_imds.c
  src/flb_io.c
  src/flb_network.c
  tests/internal/aws_credentials_ec2.c
Owners: @edsiper, @fujimotos, @koleini, @pettitwesley

Initial commit
  lib/monkey/include/monkey/mk_core/mk_event.h
  lib/monkey/mk_core/mk_event.c
  lib/monkey/mk_core/mk_event_epoll.c
  lib/monkey/mk_core/mk_event_kqueue.c
  lib/monkey/mk_core/mk_event_libevent.c
  lib/monkey/mk_core/mk_event_select.c
  src/flb_io.c
  src/flb_network.c
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

libco: always use fiber API for co-routines on windows
  .gitignore
  lib/monkey/deps/flb_libco/libco.c
Owners: @edsiper, @fujimotos, @koleini

out_splunk: auto-set http response buffer size
  plugins/out_splunk/splunk.c
  plugins/out_splunk/splunk_conf.c
Owners: @edsiper, @fujimotos, @koleini

out_kafka: Skip if msgpack object is not an array
  plugins/out_kafka/kafka.c
Owners: @edsiper, @fujimotos, @koleini

out_splunk: new 'http_debug_bad_request' option and auto buffer size
  plugins/out_splunk/splunk.c
  plugins/out_splunk/splunk.h
  plugins/out_splunk/splunk_conf.c
Owners: @edsiper, @fujimotos, @koleini

out_splunk: auto-set http response buffer size
  plugins/out_splunk/splunk.c
  plugins/out_splunk/splunk_conf.c
Owners: @edsiper, @fujimotos, @koleini

filter_geoip2: add missing '(void) i_ins;'
  plugins/filter_geoip2/geoip2.c
Owners: @edsiper, @fujimotos, @koleini

filter_multiline: address PR feedback
  plugins/filter_multiline/ml.c
Owners: @edsiper, @fujimotos, @koleini

out_bigquery: support AWS auth via GCP Workload Identity Federation
  plugins/out_bigquery/bigquery.c
  plugins/out_bigquery/bigquery.h
  plugins/out_bigquery/bigquery_conf.c
Owners: @edsiper, @fujimotos, @koleini

out_splunk: new 'http_debug_bad_request' option and auto buffer size
  plugins/out_splunk/splunk.c
  plugins/out_splunk/splunk.h
  plugins/out_splunk/splunk_conf.c
Owners: @edsiper, @fujimotos, @koleini

workflows: release promotion tweaks from testing
  .github/workflows/staging-release.yaml
  packaging/update-repos.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: release promotion docs
  .github/workflows/staging-release.yaml
Owners: @niedbalski

out_splunk: auto-set http response buffer size
  plugins/out_splunk/splunk.c
  plugins/out_splunk/splunk_conf.c
Owners: @edsiper, @fujimotos, @koleini

out_splunk: new 'http_debug_bad_request' option and auto buffer size
  plugins/out_splunk/splunk.c
  plugins/out_splunk/splunk.h
  plugins/out_splunk/splunk_conf.c
Owners: @edsiper, @fujimotos, @koleini

out_cloudwatch_logs: Fix invalid memory access bug #4425
  plugins/out_cloudwatch_logs/cloudwatch_api.c
Owners: @pettitwesley

out_cloudwatch_logs: Fix invalid memory access bug #4425
  plugins/out_cloudwatch_logs/cloudwatch_api.c
Owners: @pettitwesley

out_file: add option create output directory if does not exist.
  plugins/out_file/file.c
Owners: @edsiper, @fujimotos, @koleini

libco: use fiber for both x86 and x64 windows target
  lib/monkey/deps/flb_libco/libco.c
Owners: @edsiper, @fujimotos, @koleini

workflows: add release removal and release promotion updates
  .github/actions/release-server-sync/action.yaml
  .github/workflows/remove-release.yaml
  packaging/remove-version.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

dockeriles: added missing dependency for libatomic.so.1 (#4405)
  dockerfiles/Dockerfile.arm32v7
Owners: @niedbalski

dockerfiles: resolve ARM64 build issues (#4408)
  dockerfiles/Dockerfile.arm64v8
Owners: @niedbalski

dockerfiles: backport systemd lib fixes from #3177 to 1.8 (#4567)
  dockerfiles/Dockerfile.arm32v7
  dockerfiles/Dockerfile.arm64v8
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-master
  dockerfiles/Dockerfile.x86_64-master_debug
Owners: @niedbalski

tests: interal: timeout: added coroutine hang test case
  tests/internal/CMakeLists.txt
  tests/internal/timeout.c
Owners: @edsiper, @fujimotos, @koleini

out_file: add option create output directory if does not exist (#4335)
  plugins/out_file/file.c
Owners: @edsiper, @fujimotos, @koleini

packaging: add test script
  packaging/testing/smoke/packages/local-test-all.sh
Owners: @edsiper, @fujimotos, @koleini

packaging: remove unnecessary var from test script
  packaging/testing/smoke/packages/local-test-all.sh
Owners: @edsiper, @fujimotos, @koleini

tests: interal: timeout: tweaked the time limit
  tests/internal/timeout.c
Owners: @edsiper, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
