Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

out_opentelemetry: added http/2 and grpc support
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry.h
  plugins/out_opentelemetry/opentelemetry_conf.c
  plugins/out_opentelemetry/opentelemetry_logs.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_splunk: updated constant names
  plugins/in_splunk/splunk.c
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opensearch: updated constant names
  plugins/in_elasticsearch/in_elasticsearch.c
  plugins/in_elasticsearch/in_elasticsearch_bulk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_http: updated constant names
  plugins/in_http/http.c
  plugins/in_http/http_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opentelemetry: updated constant names
  plugins/in_opentelemetry/opentelemetry.c
  plugins/in_opentelemetry/opentelemetry_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_prometheus_remote_write: updated constant names
  plugins/in_prometheus_remote_write/prom_rw.c
  plugins/in_prometheus_remote_write/prom_rw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: macos load system certificates using security framework.
  src/CMakeLists.txt
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: macos load system certificates using security framework. (#9539)
  src/CMakeLists.txt
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: runtime: in_http : added leftover directory handling
  tests/runtime/in_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_common: fixed operation order when converting names to lowercase
  src/flb_http_common.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_server: fixed version detection when initializing sessions
  src/http_server/flb_http_server.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lock: added missing header
  src/flb_lock.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

signv4: added type cast to fix msvc compilation issue
  src/flb_signv4_ng.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: fixed macos compilation error
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: fixed centos compilation error
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

signv4: added type cast to fix msvc compilation issue
  src/flb_signv4_ng.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_prometheus_remote_write: updated constant names
  plugins/in_prometheus_remote_write/prom_rw.c
  plugins/in_prometheus_remote_write/prom_rw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lock: locking layer previously used by the processor stack generalized
  include/fluent-bit/flb_lock.h
  src/flb_lock.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_opentelemetry: added http/2 and grpc support
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry.h
  plugins/out_opentelemetry/opentelemetry_conf.c
  plugins/out_opentelemetry/opentelemetry_logs.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opentelemetry: updated constant names
  plugins/in_opentelemetry/opentelemetry.c
  plugins/in_opentelemetry/opentelemetry_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: added lock and http client related files
  src/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

signv4: new http client support added
  include/fluent-bit/flb_signv4_ng.h
  src/flb_signv4_ng.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_splunk: updated constant names
  plugins/in_splunk/splunk.c
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_client: initial commit of the new http client component
  include/fluent-bit/flb_http_client.h
  include/fluent-bit/flb_http_client_http1.h
  include/fluent-bit/flb_http_client_http2.h
  src/flb_http_client.c
  src/flb_http_client_http1.c
  src/flb_http_client_http2.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: fixed macos compilation error
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_http: updated constant names
  plugins/in_http/http.c
  plugins/in_http/http_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_opensearch: updated constant names
  plugins/in_elasticsearch/in_elasticsearch.c
  plugins/in_elasticsearch/in_elasticsearch_bulk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_server: fixed version detection when initializing sessions
  src/http_server/flb_http_server.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_server: deduplicated code and updated constant names
  include/fluent-bit/http_server/flb_http_server.h
  src/http_server/flb_http_server.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_common: fixed operation order when converting names to lowercase
  src/flb_http_common.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

http_common: client side specific request and response additions
  include/fluent-bit/flb_http_common.h
  src/flb_http_common.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: client side alpn support addition
  include/fluent-bit/tls/flb_tls.h
  src/tls/flb_tls.c
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lock: added missing header
  src/flb_lock.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

oauth2: new http client support added
  include/fluent-bit/flb_oauth2.h
  src/flb_oauth2.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tls: fixed centos compilation error
  src/tls/openssl.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: runtime: in_http : added leftover directory handling
  tests/runtime/in_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_blob: consider auto_create_container (#9457)
  plugins/out_azure_blob/azure_blob.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_docker: stricter config json name matching (so it does not match swarm service name if any)
  plugins/in_docker/cgroup_v1.c
  plugins/in_docker/cgroup_v2.c
  plugins/in_docker/docker.h
Owners: @nokute78, @edsiper

in_ebpf: initial version of the plugin
  .github/workflows/unit-tests.yaml
  CMakeLists.txt
  cmake/plugins_options.cmake
  cmake/windows-setup.cmake
  dockerfiles/Dockerfile.centos7
  plugins/CMakeLists.txt
  plugins/in_ebpf/CMakeLists.txt
  plugins/in_ebpf/in_ebpf.c
  plugins/in_ebpf/in_ebpf.h
  tests/runtime/CMakeLists.txt
  tests/runtime/in_ebpf.c
Owners: @niedbalski, @patrick-stephens, @celalettin1286, @fujimotos, @edsiper, @leonardo-albertovich, @koleini

in_process_exporter_metrics: Fix error logic when directory cannot be opened.
  plugins/in_process_exporter_metrics/pe_process.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
