Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan

workflows: pr-compile-check.yaml: add libjemalloc system library test
  .github/workflows/pr-compile-check.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

build: use the system provided jemalloc if found
  CMakeLists.txt
  plugins/processor_sql/parser/CMakeLists.txt
  src/CMakeLists.txt
  src/aws/CMakeLists.txt
  src/proxy/go/CMakeLists.txt
  src/record_accessor/CMakeLists.txt
  src/stream_processor/parser/CMakeLists.txt
  src/wasm/CMakeLists.txt
  tests/internal/CMakeLists.txt
  tests/internal/fuzzers/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini, @pettitwesley

build: use the system provided librdkafka if found
  CMakeLists.txt
  cmake/headers.cmake
  cmake/kafka.cmake
  plugins/in_kafka/CMakeLists.txt
  plugins/out_kafka/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

workflows: pr-compile-check.yaml: add libnghttp2 system library test
  .github/workflows/pr-compile-check.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

build: use the system provided libnghttp2 if found
  CMakeLists.txt
  cmake/headers.cmake
  cmake/nghttp2.cmake
  src/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

build: use the system provided backtrace if found
  CMakeLists.txt
  src/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

build: use the system provided c-ares if found
  CMakeLists.txt
  cmake/cares.cmake
  cmake/headers.cmake
  src/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

workflows: pr-compile-check.yaml: add libbacktrace system library test
  .github/workflows/pr-compile-check.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

tests: add port configuration tests for kinesis_streams output plugin
  tests/runtime/out_kinesis.c
Owners: @pettitwesley

out_kinesis_streams: add custom port support for Kinesis output plugin
  plugins/out_kinesis_streams/kinesis.c
  plugins/out_kinesis_streams/kinesis.h
Owners: @pettitwesley

processor: add support for filter metrics inside input & output processors (#9341)
  src/flb_metrics_exporter.c
  src/flb_processor.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

network: ARES_OPT_TRIES must be set to update opt.tries (#8587)
  src/flb_network.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: Introduce a basic test for out_kafka
  tests/runtime/CMakeLists.txt
  tests/runtime/out_kafka.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_kafka: Fix invalid free of the message_key
  plugins/out_kafka/kafka_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_kafka: Introduce the raw_log_key option raw format
  plugins/out_kafka/kafka.c
  plugins/out_kafka/kafka_config.c
  plugins/out_kafka/kafka_config.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

network: use TCP_KEEPALIVE instead of TCP_KEEPIDLE in OSX
  src/flb_network.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

dockerfile: enable SIMD optimization for x86_64, amd64, arm64 and aarch64
  dockerfiles/Dockerfile
Owners: @niedbalski, @patrick-stephens, @celalettin1286

build: lib: Bundle simdutf amalgamation v5.5.0
  CMakeLists.txt
  cmake/libraries.cmake
  lib/simdutf-amalgamation-5.5.0/AUTHORS
  lib/simdutf-amalgamation-5.5.0/CMakeLists.txt
  lib/simdutf-amalgamation-5.5.0/LICENSE-APACHE
  lib/simdutf-amalgamation-5.5.0/LICENSE-MIT
  lib/simdutf-amalgamation-5.5.0/README-RVV.md
  lib/simdutf-amalgamation-5.5.0/README.md
  lib/simdutf-amalgamation-5.5.0/src/demo/amalgamation_demo.cpp
  lib/simdutf-amalgamation-5.5.0/src/simdutf/simdutf.cpp
  lib/simdutf-amalgamation-5.5.0/src/simdutf/simdutf.h
  src/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

in_tail: Treat as an error when unsupported encoding is specified
  plugins/in_tail/tail_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: tests: Add UTF-16LE and UTF-16BE with BOM test cases for unicode encoder testing
  tests/runtime/data/tail/log/unicode_be_c.log
  tests/runtime/data/tail/log/unicode_be_j.log
  tests/runtime/data/tail/log/unicode_c.log
  tests/runtime/data/tail/log/unicode_j.log
  tests/runtime/data/tail/out/unicode_be_c.out
  tests/runtime/data/tail/out/unicode_be_j.out
  tests/runtime/data/tail/out/unicode_c.out
  tests/runtime/data/tail/out/unicode_j.out
  tests/runtime/in_tail.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: tests: Add testcases for subdivision flags characters
  tests/runtime/data/tail/log/unicode_subdivision_flags.log
  tests/runtime/data/tail/log/unicode_subdivision_flags_be.log
  tests/runtime/data/tail/out/unicode_subdivision_flags.out
  tests/runtime/data/tail/out/unicode_subdivision_flags_be.out
  tests/runtime/in_tail.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: Do not install simdutf related header when turning off
  include/CMakeLists.txt
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

simdutf_connector: Make buildable on macOS
  CMakeLists.txt
  include/fluent-bit/simdutf/flb_simdutf_connector.h
  src/simdutf/flb_simdutf_connector.cpp
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

simdutf_connector: Add C connector for simdutf library
  CMakeLists.txt
  include/CMakeLists.txt
  include/fluent-bit/simdutf/flb_simdutf_connector.h
  src/CMakeLists.txt
  src/simdutf/CMakeLists.txt
  src/simdutf/flb_simdutf_connector.cpp
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

in_tail: Add Unicode encoder support
  plugins/in_tail/tail.c
  plugins/in_tail/tail_config.c
  plugins/in_tail/tail_config.h
  plugins/in_tail/tail_file.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

simdutf_connector: Handle newlines
  src/simdutf/flb_simdutf_connector.cpp
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: Accept more variants for specifying UTF-16s
  plugins/in_tail/tail_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: Convert encodings before splitting lines
  plugins/in_tail/tail_file.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: Fix indentation style
  plugins/in_tail/tail_file.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: Use g++ or clang++ for C++ source buildings and linkings
  .github/workflows/unit-tests.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

build: Add CXX flags for gcov
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

simdutf_connector: Suppress compiler warnings
  src/simdutf/flb_simdutf_connector.cpp
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

workflows: Use g++ for C++ sources on system libs task
  .github/workflows/pr-compile-check.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

dockerfiles: centos-7: Disable SIMDUTF module due to gcc-4 series does not fully support C++11
  dockerfiles/Dockerfile.centos7
Owners: @niedbalski, @patrick-stephens, @celalettin1286

packaging: Turn off simdutf on centos/7 ARM64bit
  packaging/build.sh
Owners: @niedbalski, @patrick-stephens, @celalettin1286

packaging: Detect centos/6 or centos/7 to turn off simdutf stuffs
  packaging/build.sh
Owners: @niedbalski, @patrick-stephens, @celalettin1286

packaging: distros: centos: Disble simdutf stuffs on CentOS 7
  packaging/distros/centos/Dockerfile
Owners: @niedbalski, @patrick-stephens, @celalettin1286

in_tail: Align 2-bytes alignments if UTF-16 encodings are enabled
  plugins/in_tail/tail_config.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: flb_unicode: Add proxy component of calling simdutf stuffs
  include/fluent-bit/flb_unicode.h
  src/CMakeLists.txt
  src/flb_unicode.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: Use proxyed function and constants for using simdutf stuffs
  plugins/in_tail/tail_config.c
  plugins/in_tail/tail_file.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini
