Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

out_stackdriver: fix private_key buffer allocation
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: validate 'i' first on conditional
  plugins/in_tail/tail_file.c
Owners: @edsiper, @fujimotos, @koleini

Added fflush(stdout) to flb_dump
  src/flb_dump.c
Owners: @edsiper, @fujimotos, @koleini

dump: flush stdout on dump (#2176)
  src/flb_dump.c
Owners: @edsiper, @fujimotos, @koleini

lib: chunkio: sync 1.0.4-dev changes
  lib/chunkio/CMakeLists.txt
  lib/chunkio/deps/crc32/crc32.c
  lib/chunkio/include/chunkio/chunkio.h
  lib/chunkio/src/chunkio.c
Owners: @edsiper, @fujimotos, @koleini

signv4: remap variable
  src/flb_signv4.c
Owners: @pettitwesley

storage: sort 'filesystem chunks' on start
  src/flb_storage.c
Owners: @edsiper, @fujimotos, @koleini

fix dynamic topic
  plugins/out_kafka/kafka.c
Owners: @edsiper, @fujimotos, @koleini

out_pgsql: Fix excessive log message.
  plugins/out_pgsql/pgsql.c
Owners: @sxd

pack: gelf: add string log level support (#1558)
  src/flb_pack_gelf.c
Owners: @edsiper, @fujimotos, @koleini

out_stackdriver: Add generic resources, config labels, metadata server override
  plugins/out_stackdriver/gce_metadata.c
  plugins/out_stackdriver/stackdriver.c
  plugins/out_stackdriver/stackdriver.h
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @edsiper, @fujimotos, @koleini

out_pgsql: fix excessive log message. (#2180)
  plugins/out_pgsql/pgsql.c
Owners: @sxd

aws: add aws utils
  include/fluent-bit/flb_aws_util.h
  src/aws/flb_aws_util.c
  tests/internal/aws_util.c
Owners: @edsiper, @fujimotos, @koleini

aws: add ecs credential provider
  include/fluent-bit/flb_aws_credentials.h
  src/CMakeLists.txt
  src/aws/flb_aws_credentials_http.c
  tests/internal/CMakeLists.txt
  tests/internal/aws_credentials_http.c
Owners: @edsiper, @fujimotos, @koleini

aws_util: add flb_aws_print_error
  include/fluent-bit/flb_aws_util.h
  src/aws/flb_aws_util.c
Owners: @edsiper, @fujimotos, @koleini

aws: add eks, sts, and env credential providers
  CMakeLists.txt
  include/fluent-bit/flb_aws_credentials.h
  src/CMakeLists.txt
  src/aws/flb_aws_credentials.c
  src/aws/flb_aws_credentials_sts.c
  tests/internal/CMakeLists.txt
  tests/internal/aws_credentials.c
  tests/internal/aws_credentials_sts.c
  tests/internal/data/aws_credentials/web_identity_token_file.txt
Owners: @fujimotos, @edsiper, @koleini

aws: add ec2 credential provider
  include/fluent-bit/flb_aws_credentials.h
  src/CMakeLists.txt
  src/aws/flb_aws_credentials_ec2.c
  tests/internal/CMakeLists.txt
  tests/internal/aws_credentials_ec2.c
Owners: @edsiper, @fujimotos, @koleini

out_es: use new aws credential provider library
  plugins/out_es/es.c
  plugins/out_es/es.h
  plugins/out_es/es_conf.c
Owners: @pettitwesley, @edsiper

aws: add aws profile credential provider
  include/fluent-bit/flb_aws_credentials.h
  src/CMakeLists.txt
  src/aws/flb_aws_credentials_profile.c
  tests/internal/CMakeLists.txt
  tests/internal/aws_credentials_profile.c
  tests/internal/data/aws_credentials/shared_credentials_file.ini
Owners: @edsiper, @fujimotos, @koleini

aws: add standard credential provider chain
  include/fluent-bit/flb_aws_credentials.h
  src/aws/flb_aws_credentials.c
  tests/internal/aws_credentials.c
Owners: @edsiper, @fujimotos, @koleini

signv4: use new aws credential provider library
  include/fluent-bit/flb_signv4.h
  src/flb_signv4.c
  tests/internal/signv4.c
Owners: @edsiper, @fujimotos, @koleini, @pettitwesley

aws_credentials: sts: call sync/async on the base provider
  CMakeLists.txt
Owners: @fujimotos

out_cloudwatch: add new C plugin for CloudWatch Logs
  plugins/CMakeLists.txt
  plugins/out_cloudwatch_logs/CMakeLists.txt
  plugins/out_cloudwatch_logs/cloudwatch_api.c
  plugins/out_cloudwatch_logs/cloudwatch_api.h
  plugins/out_cloudwatch_logs/cloudwatch_logs.c
  plugins/out_cloudwatch_logs/cloudwatch_logs.h
  src/aws/flb_aws_credentials_sts.c
Owners: @edsiper, @fujimotos, @koleini

out_stackdriver: implement comments from igorpeshansky
  plugins/out_stackdriver/gce_metadata.c
  plugins/out_stackdriver/stackdriver.c
  plugins/out_stackdriver/stackdriver.h
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @edsiper, @fujimotos, @koleini

[out_stackdriver] Second comment updates from igorpeshansky
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @edsiper, @fujimotos, @koleini

[out_stackdriver] Third comment by igorpeshansky and first by edsiper
  plugins/out_stackdriver/gce_metadata.c
  plugins/out_stackdriver/stackdriver.c
  plugins/out_stackdriver/stackdriver.h
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @edsiper, @fujimotos, @koleini

filter_kubernetes: poll network status on pods
  plugins/filter_kubernetes/kube_conf.h
  plugins/filter_kubernetes/kube_meta.c
  plugins/filter_kubernetes/kubernetes.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: add more path delimiters to the sanitization list
  plugins/in_tail/tail_file.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: add more path delimiters to the sanitization list (#2188)
  plugins/in_tail/tail_file.c
Owners: @edsiper, @fujimotos, @koleini

filter_kubernetes: poll network status on pods (#2186)
  plugins/filter_kubernetes/kube_conf.h
  plugins/filter_kubernetes/kube_meta.c
  plugins/filter_kubernetes/kubernetes.c
Owners: @edsiper, @fujimotos, @koleini

sds: add new flb_sds_casecmp() api
  include/fluent-bit/flb_sds.h
Owners: @edsiper, @fujimotos, @koleini

upstream: fix segmentation fault on net.keepalive=yes
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

[out_stackdriver] rearchitected resource handling
  plugins/out_stackdriver/gce_metadata.c
  plugins/out_stackdriver/stackdriver.c
  plugins/out_stackdriver/stackdriver.h
  plugins/out_stackdriver/stackdriver_conf.c
  plugins/out_stackdriver/stackdriver_conf.h
Owners: @edsiper, @fujimotos, @koleini

upstream: fix segmentation fault on net.keepalive=yes (#2192)
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: record_accessor: add check for dots support
  tests/internal/record_accessor.c
Owners: @edsiper, @fujimotos, @koleini

scheduler: fix infinite loop bug on Windows
  src/flb_scheduler.c
Owners: @edsiper, @fujimotos, @koleini

Added if around db usage
  plugins/in_tail/tail_fs_stat.c
Owners: @edsiper, @fujimotos, @koleini

record_accessor: fix parser to ignore dots in subkeys
  src/flb_record_accessor.c
  tests/internal/record_accessor.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: add macro conditional around DB usage on stat(2) backend (#2196)
  plugins/in_tail/tail_fs_stat.c
Owners: @edsiper, @fujimotos, @koleini

conf: parsers: fix syslog-rfc5424 extradata (#2167)
  conf/parsers.conf
Owners: @edsiper, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos
/cmake/                  @fujimotos

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
