Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

metrics_exporter: use flb_hs_push_health_metrics when health check is registered
  src/flb_metrics_exporter.c
Owners: @edsiper, @fujimotos, @koleini

http_server: add function to ingest health metrics
  include/fluent-bit/http_server/flb_hs.h
  src/http_server/flb_hs.c
Owners: @edsiper, @fujimotos, @koleini

http_server: health: modify qid of metrics
  src/http_server/api/v1/health.c
Owners: @edsiper, @fujimotos, @koleini

http_server: add function to ingest health metrics
  include/fluent-bit/http_server/flb_hs.h
  src/http_server/flb_hs.c
Owners: @edsiper, @fujimotos, @koleini

metrics_exporter: use flb_hs_push_health_metrics when health check is registered
  src/flb_metrics_exporter.c
Owners: @edsiper, @fujimotos, @koleini

pack: added java_sql_timestamp format (#4811)
  DEVELOPER_GUIDE.md
  include/fluent-bit/flb_pack.h
  plugins/out_http/http.c
  plugins/out_null/null.c
  plugins/out_s3/s3.c
  plugins/out_stdout/stdout.c
  plugins/out_tcp/tcp.c
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini, @pettitwesley

pack: add java_sql_timestamp format (#4822)
  include/fluent-bit/flb_pack.h
  src/flb_pack.c
Owners: @edsiper, @fujimotos, @koleini

io: add connection backoff
  include/fluent-bit/flb_network.h
  include/fluent-bit/flb_upstream.h
  src/flb_io.c
  src/flb_network.c
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

build: luajit: macos: implement more stable MACOSX_DEPLOYMENT_TARGET detecting mechanism
  cmake/luajit.cmake
Owners: @fujimotos, @niedbalski

workflows: shift time of nightly
  .github/workflows/staging-build.yaml
Owners: @niedbalski

dockerfiles: fix yaml
  dockerfiles/Dockerfile.multiarch
Owners: @niedbalski

dockerfiles: fix issue with YAML build
  dockerfiles/Dockerfile.multiarch
Owners: @niedbalski

dockerfiles: fix issue with YAML build
  dockerfiles/Dockerfile.x86_64-debug
Owners: @niedbalski

dockerfiles: fix issue with YAML build
  dockerfiles/Dockerfile.x86_64-master_debug
Owners: @niedbalski

workflows: update image test workflow
  .github/workflows/README.md
  .github/workflows/pr-image-tests.yaml
Owners: @niedbalski

workflows: fix linting issue
  .github/workflows/pr-image-tests.yaml
Owners: @niedbalski

workflows: fix name of x86_64
  .github/workflows/pr-image-tests.yaml
Owners: @niedbalski

filter_expect: exit with 255 on failure
  src/flb_lib.c
  src/fluent-bit.c
Owners: @edsiper, @niedbalski, @fujimotos, @koleini

dockerfiles: fix issue with YAML build (#4844)
  .github/workflows/README.md
  .github/workflows/pr-image-tests.yaml
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.x86_64-debug
  dockerfiles/Dockerfile.x86_64-master_debug
Owners: @niedbalski

filter_expect: exit with 255 on failure (#4846)
  src/flb_lib.c
  src/fluent-bit.c
Owners: @edsiper, @niedbalski, @fujimotos, @koleini

dockerfiles: resolve conflict
  dockerfiles/Dockerfile.multiarch
Owners: @niedbalski

Add support use system TimeZone
  src/flb_parser.c
Owners: @edsiper, @fujimotos, @koleini

parser: initialize multiline parser_ctx to NULL
  src/flb_parser.c
Owners: @edsiper, @fujimotos, @koleini

output_thread: fix type cast that caused issues in win32
  src/flb_output_thread.c
Owners: @edsiper, @fujimotos, @koleini

output_thread: fix type cast that caused issues in win32
  src/flb_output_thread.c
Owners: @edsiper, @fujimotos, @koleini

workflows: nightly build updates (#4833)
  .github/workflows/call-build-images.yaml
  .github/workflows/call-build-packages.yaml
  .github/workflows/staging-build.yaml
  dockerfiles/Dockerfile.arm32v7
  dockerfiles/Dockerfile.arm64v8
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-debug
  dockerfiles/Dockerfile.x86_64-master
  dockerfiles/Dockerfile.x86_64-master_debug
  packaging/build.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

output_thread: fix type cast that caused issues in win32 (#4850)
  src/flb_output_thread.c
Owners: @edsiper, @fujimotos, @koleini

output_thread: fix type cast that caused issues in win32 (#4851)
  src/flb_output_thread.c
Owners: @edsiper, @fujimotos, @koleini

hash: add new API to check if hash exists
  include/fluent-bit/flb_hash.h
  src/flb_hash.c
  tests/internal/hashtable.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: do not use st_dev on Windows
  plugins/in_tail/tail_file.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: performance improvement on management of file list
  plugins/in_tail/tail.c
  plugins/in_tail/tail_config.c
  plugins/in_tail/tail_config.h
  plugins/in_tail/tail_file.c
  plugins/in_tail/tail_file_internal.h
Owners: @edsiper, @fujimotos, @koleini

build: add 'fluent-bit' package support (#3899)
  CMakeLists.txt
Owners: @fujimotos, @niedbalski

out_stdout: set 1 worker by default
  plugins/out_stdout/stdout.c
Owners: @edsiper, @fujimotos, @koleini

out_null: set 1 worker by default
  plugins/out_null/null.c
Owners: @edsiper, @fujimotos, @koleini

out_es: set 2 workers by default
  plugins/out_es/es.c
Owners: @pettitwesley, @edsiper

out_file: set 1 worker by default
  plugins/out_file/file.c
Owners: @edsiper, @fujimotos, @koleini

out_tcp: set 2 workers by default
  plugins/out_tcp/tcp.c
Owners: @edsiper, @fujimotos, @koleini

out_splunk: set 2 workers by default
  plugins/out_splunk/splunk.c
Owners: @edsiper, @fujimotos, @koleini

out_forward: set 2 workers by default
  plugins/out_forward/forward.c
Owners: @edsiper, @fujimotos, @koleini

out_stackdriver: set 2 workers by default
  plugins/out_stackdriver/stackdriver.c
Owners: @edsiper, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
