Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

utils: warn when using random ID in flb_utils_get_machine_id.
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: add output for utils test for test_flb_utils_get_machine_id.
  tests/internal/utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: return strlen() in flb_utils_get_machine_id on win32.
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: use MachineGUID correctly.
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: attempt to fix retrieval of machine id on win32.
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

utils: validate allocation before filling with GUID on windows.
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: add utils test for flb_utils_get_machine_id for zero and repeatability.
  tests/internal/utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

release: update to 3.1.6
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.1.6.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

release: update to 3.1.6
  CMakeLists.txt
  dockerfiles/Dockerfile
  fluent-bit-3.1.6.bb
  snap/snapcraft.yaml
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

out_stackdriver: Add latency metric for write log entries HTTP request.
  plugins/out_stackdriver/stackdriver.c
  plugins/out_stackdriver/stackdriver.h
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @braydonk, @igorpeshansky, @qingling128

lib: monkey: sync windows macro changes
  lib/monkey/CMakeLists.txt
  lib/monkey/include/monkey/mk_core/mk_event.h
  lib/monkey/mk_core/mk_event.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

pack: do not multiply out_size by realloc_size
  src/flb_pack.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

pack: fixed erroneous buffer size indicator
  src/flb_pack.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_parser: added debug message (CID 508252)
  plugins/filter_parser/filter_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

upstream_ha: Plug memory leaks
  src/flb_upstream_ha.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

pack: set out_size with flb_sds_alloc
  src/flb_pack.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_parser: added debug message (CID 508252)
  plugins/filter_parser/filter_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: fixed two leaks
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

pack: do not multiply out_size by realloc_size (#9193)
  src/flb_pack.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Updated http_prot to handle json content type header with charset or without.
  plugins/in_http/http_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_kinesis_streams: integrate with shared compression lib
  plugins/out_kinesis_streams/kinesis.c
  plugins/out_kinesis_streams/kinesis.h
  plugins/out_kinesis_streams/kinesis_api.c
  plugins/out_kinesis_streams/kinesis_api.h
Owners: @pettitwesley

out_stackdriver: Add latency metric for write log entries HTTP request. (#9182)
  plugins/out_stackdriver/stackdriver.c
  plugins/out_stackdriver/stackdriver.h
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @braydonk, @igorpeshansky, @qingling128

in_forward: fix leaks when processing metrics and traces (#9199)
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_kusto: Follow the creating node function change
  plugins/out_azure_kusto/azure_kusto_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

upstream_node: Process tls.verify_hostname parameter
  include/fluent-bit/flb_upstream_node.h
  src/flb_upstream_ha.c
  src/flb_upstream_node.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

upstream_ha: Plug memory leaks
  src/flb_upstream_ha.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

parser: declare ambiguous dst
  include/fluent-bit/flb_parser.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

test: filter_parser test with better data
  tests/runtime/filter_parser.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_datadog: use cat_safe for remapped tags (CID 253605)
  plugins/out_datadog/datadog.c
Owners: @nokute78, @edsiper

azure_blob_http: use sds_cat variant (CID 306764 306765)
  plugins/out_azure_blob/azure_blob_http.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_stackdriver: release log_name on exception (CID 313112)
  plugins/out_stackdriver/stackdriver.c
Owners: @braydonk, @igorpeshansky, @qingling128

in_http: use cat_safe on tag handliong
  plugins/in_http/http_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: cmetrics: upgrade to v0.9.4
  lib/cmetrics/CMakeLists.txt
  lib/cmetrics/include/cmetrics/cmt_decode_statsd.h
  lib/cmetrics/src/CMakeLists.txt
  lib/cmetrics/src/cmt_cat.c
  lib/cmetrics/src/cmt_counter.c
  lib/cmetrics/src/cmt_decode_prometheus_remote_write.c
  lib/cmetrics/src/cmt_decode_statsd.c
  lib/cmetrics/src/cmt_encode_splunk_hec.c
  lib/cmetrics/src/cmt_gauge.c
  lib/cmetrics/src/cmt_histogram.c
  lib/cmetrics/src/cmt_summary.c
  lib/cmetrics/src/cmt_untyped.c
  lib/cmetrics/tests/data/statsd_payload.txt
  lib/cmetrics/tests/decoding.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

Change to meet coding style rule.
  plugins/in_http/http_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_splunk: release uri on exception (CID 507867)
  plugins/in_splunk/splunk_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: ctraces: upgrade to v0.5.5
  lib/ctraces/CMakeLists.txt
  lib/ctraces/src/ctr_decode_opentelemetry.c
  lib/ctraces/src/ctr_encode_opentelemetry.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input: add struct field to know origin of being paused
  include/fluent-bit/flb_input.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

output: add new config property called 'storage.overflow_action'
  include/fluent-bit/flb_output.h
  src/flb_output.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

input_chunk: add support for the new 'pause_ingestion' overflow action
  src/flb_input_chunk.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_http: use cat_safe on tag handliong
  plugins/in_http/http_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
