Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley

tests: runtime: in_tail: new multiline + json + regex test
  tests/runtime/data/tail/log/multiline_001.log
  tests/runtime/data/tail/out/multiline_001.out
  tests/runtime/data/tail/parsers_multiline_json.conf
  tests/runtime/in_tail.c
Owners: @edsiper, @fujimotos, @koleini

lib: monkey: sync fix for config reader
  lib/monkey/mk_core/mk_rconf.c
Owners: @edsiper, @fujimotos, @koleini

packaging: remove unnecessary files
  packaging/distros/amazonlinux/2.arm64v8/sources/.empty
  packaging/distros/amazonlinux/2/sources/.empty
  packaging/distros/centos/7.arm64v8/sources/.empty
  packaging/distros/centos/7/sources/.empty
  packaging/distros/centos/8.arm64v8/sources/.empty
  packaging/distros/centos/8/sources/.empty
  packaging/distros/debian/bullseye.arm64v8/sources/.empty
  packaging/distros/debian/bullseye/sources/.empty
  packaging/distros/debian/buster.arm64v8/sources/.empty
  packaging/distros/debian/buster/sources/.empty
  packaging/distros/debian/stretch.arm64v8/sources/.empty
  packaging/distros/debian/stretch/sources/.empty
  packaging/distros/raspbian/bullseye/sources/.empty
  packaging/distros/raspbian/buster/sources/.empty
  packaging/distros/ubuntu/sources/.empty
Owners: @edsiper, @fujimotos, @koleini

packaging: review comments
  packaging/distros/ubuntu/Dockerfile
Owners: @edsiper, @fujimotos, @koleini

packaging: simplified AL2 container
  packaging/distros/amazonlinux/2.arm64v8/Dockerfile
  packaging/distros/amazonlinux/2/Dockerfile
  packaging/distros/amazonlinux/Dockerfile
  packaging/distros/ubuntu/Dockerfile
Owners: @edsiper, @fujimotos, @koleini

linting: resolve failures in new containers
  packaging/distros/amazonlinux/Dockerfile
  packaging/distros/ubuntu/Dockerfile
Owners: @edsiper, @fujimotos, @koleini

packaging: resolve errors in new container files
  packaging/distros/amazonlinux/Dockerfile
  packaging/distros/ubuntu/Dockerfile
Owners: @edsiper, @fujimotos, @koleini

packaging: multistage centos
  packaging/distros/centos/7.arm64v8/Dockerfile
  packaging/distros/centos/7/Dockerfile
  packaging/distros/centos/8.arm64v8/Dockerfile
  packaging/distros/centos/8/Dockerfile
  packaging/distros/centos/Dockerfile
Owners: @edsiper, @fujimotos, @koleini

packaging: raspbian multistage
  packaging/distros/raspbian/Dockerfile
  packaging/distros/raspbian/bullseye/Dockerfile
  packaging/distros/raspbian/buster/Dockerfile
Owners: @edsiper, @fujimotos, @koleini

packaging: testing and PR updates
  .github/PULL_REQUEST_TEMPLATE.md
  packaging/local-build-all.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

packaging: centos/7.arm64v8 no postgresql support
  packaging/distros/centos/Dockerfile
Owners: @edsiper, @fujimotos, @koleini

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @niedbalski

lib: monkey: sync fix for config reader
  lib/monkey/mk_core/mk_rconf.c
Owners: @edsiper, @fujimotos, @koleini

in_forward: add new option 'tag_prefix' (#4455) (#4466)
  plugins/in_forward/fw.c
  plugins/in_forward/fw.h
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @fujimotos, @koleini

lib: monkey: sync fix for config reader
  lib/monkey/mk_core/mk_rconf.c
Owners: @edsiper, @fujimotos, @koleini

packaging: amazonlinux/2.arm64v8 enable postgresql
  packaging/distros/amazonlinux/Dockerfile
Owners: @edsiper, @fujimotos, @koleini

packaging: multistage debian
  packaging/distros/debian/Dockerfile
  packaging/distros/debian/bullseye.arm64v8/Dockerfile
  packaging/distros/debian/bullseye/Dockerfile
  packaging/distros/debian/buster.arm64v8/Dockerfile
  packaging/distros/debian/buster/Dockerfile
  packaging/distros/debian/stretch.arm64v8/Dockerfile
  packaging/distros/debian/stretch/Dockerfile
Owners: @edsiper, @fujimotos, @koleini

packaging: centos fixes
  packaging/distros/centos/Dockerfile
Owners: @edsiper, @fujimotos, @koleini

in_tail: fix multiline API buffer ingestion (#4554)
  plugins/in_tail/tail_file.c
  plugins/in_tail/tail_file_internal.h
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: in_tail: new multiline + json + regex test
  tests/runtime/data/tail/log/multiline_001.log
  tests/runtime/data/tail/out/multiline_001.out
  tests/runtime/data/tail/parsers_multiline_json.conf
  tests/runtime/in_tail.c
Owners: @edsiper, @fujimotos, @koleini

parser: if multiline parser is set, get the reference
  src/flb_parser.c
Owners: @edsiper, @fujimotos, @koleini

parser: if multiline parser is set, get the reference
  src/flb_parser.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: fix multiline API buffer ingestion (#4554)
  plugins/in_tail/tail_file.c
  plugins/in_tail/tail_file_internal.h
Owners: @edsiper, @fujimotos, @koleini

out_cloudwatch_logs: Fix invalid memory access bug #4425
  plugins/out_cloudwatch_logs/cloudwatch_api.c
Owners: @pettitwesley

config: support lowercase proxy environment variables
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

metrics: silent gcc warning
  src/flb_metrics.c
Owners: @edsiper, @fujimotos, @koleini

out_stdout: fix descriptions assigned to wrong config properties
  plugins/out_stdout/stdout.c
Owners: @edsiper, @fujimotos, @koleini

aws: fix error message
  src/aws/flb_aws_credentials_sts.c
Owners: @pettitwesley

in_nginx_metrics: add NGINX Plus metrics support (#4379)
  plugins/in_nginx_exporter_metrics/nginx.c
  plugins/in_nginx_exporter_metrics/nginx.h
  plugins/in_nginx_exporter_metrics/nginx_status_config.h
Owners: @edsiper, @fujimotos, @koleini

tls: openssl: fix error handling for OpenSSL API #4098 (#4100)
  src/tls/flb_tls.c
  src/tls/openssl.c
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: in_tail: new multiline + json + regex test
  tests/runtime/in_tail.c
Owners: @edsiper, @fujimotos, @koleini

packaging: update local test doc
  packaging/local-build-all.sh
Owners: @edsiper, @fujimotos, @koleini

packaging: updates to support building from master
  .gitignore
  packaging/build.sh
  packaging/local-build-all.sh
Owners: @edsiper, @fujimotos, @koleini

upstream: add new option 'net.connect_timeout_log_error' (#4473)
  include/fluent-bit/flb_network.h
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

upstream: add new option 'net.connect_timeout_log_error' (#4473)
  include/fluent-bit/flb_network.h
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

out_es: support write_operation option (#4079)
  plugins/out_es/es.c
  plugins/out_es/es.h
  plugins/out_es/es_bulk.h
  plugins/out_es/es_conf.c
  tests/runtime/out_elasticsearch.c
Owners: @pettitwesley, @edsiper, @fujimotos, @koleini

tests: runtime: tail: add missing multiline files
  tests/runtime/data/tail/log/multiline_001.log
  tests/runtime/data/tail/out/multiline_001.out
  tests/runtime/data/tail/parsers_multiline_json.conf
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: tail: add missing multiline files
  tests/runtime/data/tail/log/multiline_001.log
  tests/runtime/data/tail/out/multiline_001.out
  tests/runtime/data/tail/parsers_multiline_json.conf
Owners: @edsiper, @fujimotos, @koleini

parser: if multiline parser is set, get the reference
  src/flb_parser.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: fix multiline API buffer ingestion (#4554)
  plugins/in_tail/tail_file.c
  plugins/in_tail/tail_file_internal.h
Owners: @edsiper, @fujimotos, @koleini
