Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

openssl/tls: log handshake error.
  src/tls/openssl.c
Owners: @edsiper, @fujimotos, @koleini

workflows: temporarily select current branch
  .github/workflows/pr-integration-test.yaml
Owners: @niedbalski

workflows: fix linting issues
  .github/workflows/call-integration-image-build.yaml
  .github/workflows/pr-integration-test.yaml
Owners: @niedbalski

workflows: fix linting issues
  .github/workflows/call-integration-image-build.yaml
Owners: @niedbalski

workflows: ensure we use gchr.io
  .github/workflows/call-integration-image-build.yaml
Owners: @niedbalski

workflows: add helper documentation
  .github/workflows/call-integration-image-build.yaml
  .github/workflows/master-integration-test.yaml
  .github/workflows/pr-integration-test.yaml
Owners: @niedbalski

workflows: updated README
  .github/workflows/README.md
Owners: @niedbalski

workflows: reverted to using master branch
  .github/workflows/pr-integration-test.yaml
Owners: @niedbalski

workflows: invoke reusable Grafana workflow
  .github/workflows/master-integration-test.yaml
Owners: @niedbalski

workflows: simplify integration test (#4490)
  .github/workflows/README.md
  .github/workflows/call-integration-image-build.yaml
  .github/workflows/integration-build-master.yaml
  .github/workflows/integration-build-pr.yaml
  .github/workflows/integration-run-master.yaml
  .github/workflows/integration-run-pr.yaml
  .github/workflows/master-integration-test.yaml
  .github/workflows/pr-closed-docker.yaml
  .github/workflows/pr-fuzz.yaml
  .github/workflows/pr-integration-test.yaml
Owners: @niedbalski

workflows: resolve missing version for cleanup
  .github/workflows/pr-closed-docker.yaml
Owners: @niedbalski

upstream: added dns result priorization option
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

network: added dns result priorization option
  include/fluent-bit/flb_network.h
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

config: added dns result priorization option
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

workflows: reusable package build for master & staging
  .github/workflows/build-master-packages.yaml
  .github/workflows/call-build-packages.yaml
  .github/workflows/staging-build.yaml
Owners: @niedbalski

workflows: resolve linting issues
  .github/workflows/build-master-packages.yaml
  .github/workflows/call-build-packages.yaml
  .github/workflows/staging-build.yaml
Owners: @niedbalski

workflows: reusable package build for master and staging (#4498)
  .github/workflows/build-master-packages.yaml
  .github/workflows/call-build-packages.yaml
  .github/workflows/staging-build.yaml
Owners: @niedbalski

workflows: support building from branch
  .github/workflows/build-master-packages.yaml
  .github/workflows/call-build-packages.yaml
Owners: @niedbalski

config: added dns result priorization option
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

network: added dns result priorization option
  include/fluent-bit/flb_network.h
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

upstream: added dns result priorization option
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

workflows: temporarily invoke on branch
  .github/workflows/build-master-packages.yaml
Owners: @niedbalski

workflows: add upstream sync (#1)
  .github/workflows/calyptia-upsream-sync.yaml
Owners: @niedbalski

workflows: resolve missing comma in staging build
  .github/workflows/build-master-packages.yaml
  .github/workflows/staging-build.yaml
Owners: @niedbalski

workflows: resolve incorrect directory
  .github/workflows/build-master-packages.yaml
Owners: @niedbalski

workflows: resolve incorrect directory
  .github/workflows/call-build-packages.yaml
Owners: @niedbalski

workflows: revert to correct master branch
  .github/workflows/build-master-packages.yaml
  .github/workflows/call-build-packages.yaml
Owners: @niedbalski

aws: fix error message
  src/aws/flb_aws_credentials_sts.c
Owners: @pettitwesley

calyptia: add RHCC image (#2)
  .github/workflows/calyptia-rhcc.yaml
  calyptia/README.md
  calyptia/ubi8/Dockerfile
  calyptia/ubi8/README.md
  calyptia/ubi8/licenses/fluent-bit.txt
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: support building from branch (#4499)
  .github/workflows/build-master-packages.yaml
  .github/workflows/call-build-packages.yaml
  .github/workflows/staging-build.yaml
Owners: @niedbalski

ubi8: ensure tests do not fail build
  .github/workflows/calyptia-rhcc.yaml
  calyptia/ubi8/Dockerfile
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

ubi8: ensure tests do not fail build (#4)
  .github/workflows/calyptia-rhcc.yaml
  calyptia/ubi8/Dockerfile
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: use targets again for ubi8 jobs (#5)
  .github/workflows/calyptia-rhcc.yaml
Owners: @niedbalski

tests: runtime: filter_stdout: add case sensitive plugin name test
  tests/runtime/filter_stdout.c
Owners: @edsiper, @fujimotos, @koleini

filter: allow case-insensitive filter name
  src/flb_filter.c
Owners: @edsiper, @fujimotos, @koleini

network: argument type error correction
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

network: argument type error correction
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

workflows: resolve missing version for cleanup (#4495)
  .github/workflows/pr-closed-docker.yaml
Owners: @niedbalski

packaging: use deprecated image for working raspbian/buster dependencies
  lib/cmetrics/src/CMakeLists.txt
  packaging/distros/raspbian/buster/Dockerfile
  packaging/distros/raspbian/buster/Dockerfile.base
Owners: @edsiper, @fujimotos, @koleini

workflows: build all packages even if some fail for staging
  .github/workflows/call-build-packages.yaml
Owners: @niedbalski

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
