Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley

upstream: replaced timeout wakeup mechanism
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

out_cloudwatch_logs: Add support for external_id
  plugins/out_cloudwatch_logs/cloudwatch_logs.c
  plugins/out_cloudwatch_logs/cloudwatch_logs.h
Owners: @pettitwesley

config_format: new wrapper to read from file
  include/fluent-bit/config_format/flb_cf.h
  src/config_format/flb_config_format.c
Owners: @edsiper, @fujimotos, @koleini

bin: read configuration by using new config_format API
  src/fluent-bit.c
Owners: @edsiper, @fujimotos, @koleini

out_kinesis_firehose: add support for external_id
  plugins/out_kinesis_firehose/firehose.c
  plugins/out_kinesis_firehose/firehose.h
Owners: @pettitwesley

out_kinesis_streams: add support for external_id
  plugins/out_kinesis_streams/kinesis.c
  plugins/out_kinesis_streams/kinesis.h
Owners: @pettitwesley

out_cloudwatch_logs: Add support for external_id
  plugins/out_cloudwatch_logs/cloudwatch_logs.c
  plugins/out_cloudwatch_logs/cloudwatch_logs.h
Owners: @pettitwesley

out_kinesis_firehose: add support for external_id
  plugins/out_kinesis_firehose/firehose.c
  plugins/out_kinesis_firehose/firehose.h
Owners: @pettitwesley

out_kinesis_streams: add support for external_id
  plugins/out_kinesis_streams/kinesis.c
  plugins/out_kinesis_streams/kinesis.h
Owners: @pettitwesley

out_s3: add support for external_id
  plugins/out_s3/s3.c
  plugins/out_s3/s3.h
Owners: @pettitwesley

out_s3: add support for external_id
  plugins/out_s3/s3.c
  plugins/out_s3/s3.h
Owners: @pettitwesley

workflows: container release signing
  .github/containerscan/allowedlist.yaml
  .github/workflows/staging-release.yaml
Owners: @niedbalski

workflows: add debug images to signing
  .github/workflows/staging-release.yaml
Owners: @niedbalski

workflows: linting fix
  .github/workflows/staging-release.yaml
Owners: @niedbalski

dockerfiles: add missing debug image
  dockerfiles/Dockerfile.multiarch
Owners: @niedbalski

dockerfiles: add missing debug image
  dockerfiles/Dockerfile.x86_64-debug
Owners: @niedbalski

documentation: add multi-arch info
  dockerfiles/README.md
Owners: @niedbalski

dockerfiles: remove busybox
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.x86_64-debug
  dockerfiles/Dockerfile.x86_64-master_debug
  dockerfiles/README.md
Owners: @niedbalski

workflows: ignore more CVEs
  .github/containerscan/allowedlist.yaml
Owners: @niedbalski

workflows: container refactor and promotion to release (#4610)
  .github/containerscan/allowedlist.yaml
  .github/workflows/call-build-images.yaml
  .github/workflows/master-integration-test.yaml
  .github/workflows/pr-closed-docker.yaml
  .github/workflows/pr-fuzz.yaml
  .github/workflows/pr-image-tests.yaml
  .github/workflows/pr-integration-test.yaml
  .github/workflows/pr-labels.yaml
  .github/workflows/pr-lint.yaml
  .github/workflows/pr-stale.yaml
  .github/workflows/staging-build.yaml
  .github/workflows/staging-release.yaml
  .github/workflows/staging-test.yaml
  appveyor.yml
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.x86_64-debug
  dockerfiles/README.dockerfiles-extra.md
  dockerfiles/README.md
  packaging/skopeo-sync.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: fix missing character for debug tag
  .github/workflows/call-build-images.yaml
Owners: @niedbalski

workflows: fix missing character for debug tag (#4637)
  .github/workflows/call-build-images.yaml
Owners: @niedbalski

utils: lowercase text errors
  src/flb_utils.c
Owners: @edsiper, @fujimotos, @koleini

config_format: pass context as reference
  include/fluent-bit/config_format/flb_cf.h
  include/fluent-bit/config_format/flb_cf_fluentbit.h
  include/fluent-bit/config_format/flb_cf_yaml.h
  src/config_format/flb_cf_fluentbit.c
  src/config_format/flb_cf_yaml.c
  src/config_format/flb_config_format.c
Owners: @edsiper, @fujimotos, @koleini

bin: use config_format to compose pipeline from the command line
  src/fluent-bit.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: config_format: use new config_format prototype
  tests/internal/config_format_fluentbit.c
  tests/internal/config_format_yaml.c
Owners: @edsiper, @fujimotos, @koleini

workflows: restrict concurrency of integration tests
  .github/workflows/master-integration-test.yaml
  .github/workflows/pr-integration-test.yaml
  .github/workflows/staging-test.yaml
Owners: @niedbalski

workflows: restrict concurrency of integration tests (#4638)
  .github/workflows/master-integration-test.yaml
  .github/workflows/pr-integration-test.yaml
  .github/workflows/staging-test.yaml
Owners: @niedbalski

workflows: restrict concurrency of staging/release process
  .github/workflows/staging-build.yaml
  .github/workflows/staging-release.yaml
Owners: @niedbalski

config_format: fluentbit: do not abort on strrchr() failure
  src/config_format/flb_cf_fluentbit.c
Owners: @edsiper, @fujimotos, @koleini

Add security policy
  SECURITY.md
Owners: @edsiper, @fujimotos, @koleini

workflows: add retry to resolve ghcr.io i/o failures
  .github/workflows/staging-release.yaml
Owners: @niedbalski

workflows: restrict concurrency of staging/release process (#4639)
  .github/workflows/staging-build.yaml
  .github/workflows/staging-release.yaml
Owners: @niedbalski

dockerfiles: add OCI annotations
  dockerfiles/Dockerfile.arm32v7
  dockerfiles/Dockerfile.arm64v8
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-debug
Owners: @niedbalski

workflows: reverse stale order
  .github/workflows/pr-stale.yaml
Owners: @niedbalski

Revert "build: support native cross-compilation for ARM64 (#3152)"
  CMakeLists.txt
  cmake/linux-arm64.cmake
  cmake/luajit.cmake
  cmake/onigmo.cmake
Owners: @fujimotos, @niedbalski

config_format: allow to reuse 'service' definition
  src/config_format/flb_cf_fluentbit.c
Owners: @edsiper, @fujimotos, @koleini

config_format: fluentbit: on exception, continue
  src/config_format/flb_config_format.c
Owners: @edsiper, @fujimotos, @koleini

tests: internal: config_format: allow 'service' section to be set twice
  tests/internal/config_format.c
Owners: @edsiper, @fujimotos, @koleini

config: expose new config_format context in main structure
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini
