Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286, @pettitwesley, @nokute78, @sxd, @braydonk, @igorpeshansky, @qingling128, @pwhelan

build: use the system provided libnghttp2 if found
  CMakeLists.txt
  cmake/headers.cmake
  cmake/nghttp2.cmake
  src/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

build: use the system provided backtrace if found
  CMakeLists.txt
  src/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

build: use the system provided jemalloc if found
  CMakeLists.txt
  plugins/processor_sql/parser/CMakeLists.txt
  src/CMakeLists.txt
  src/aws/CMakeLists.txt
  src/proxy/go/CMakeLists.txt
  src/record_accessor/CMakeLists.txt
  src/stream_processor/parser/CMakeLists.txt
  src/wasm/CMakeLists.txt
  tests/internal/CMakeLists.txt
  tests/internal/fuzzers/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini, @pettitwesley

build: use the system provided c-ares if found
  CMakeLists.txt
  cmake/cares.cmake
  cmake/headers.cmake
  src/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

workflows: pr-compile-check.yaml: add libbacktrace system library test
  .github/workflows/pr-compile-check.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

build: use the system provided librdkafka if found
  CMakeLists.txt
  cmake/headers.cmake
  cmake/kafka.cmake
  plugins/in_kafka/CMakeLists.txt
  plugins/out_kafka/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286, @edsiper, @leonardo-albertovich, @koleini

workflows: pr-compile-check.yaml: add libnghttp2 system library test
  .github/workflows/pr-compile-check.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

workflows: pr-compile-check.yaml: add libjemalloc system library test
  .github/workflows/pr-compile-check.yaml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

in_forward: fix leak on exception (CID 508219)
  plugins/in_forward/fw_conn.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_tail: fix double-free on exception (CID 507963)
  plugins/in_tail/tail_file.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_emitter: fix use-after-free on exception (CID 507860)
  plugins/in_emitter/emitter.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: fix leak on exception (CID 507786)
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_kafka: add missing initialization (CID 507783)
  plugins/out_kafka/kafka.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_stackdriver: fix leak on exception (CID 508239)
  plugins/out_stackdriver/stackdriver.c
Owners: @braydonk, @igorpeshansky, @qingling128

build: use the system lib luajit for s390x
  README.md
  cmake/s390x.cmake
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini, @niedbalski, @patrick-stephens, @celalettin1286

Update readme
  README.md
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

tests: internal: fix test file names
  tests/internal/CMakeLists.txt
  tests/internal/event_loop.c
  tests/internal/time.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

lib: monkey: poll: check if event was already registered
  lib/monkey/mk_core/mk_event_poll.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

cmake: windows: Enable Kafka plugins on Windows
  cmake/windows-setup.cmake
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

appveyor: Use vcpkg to install the latest OpenSSL
  appveyor.yml
Owners: @niedbalski, @patrick-stephens, @celalettin1286

out_prometheus_exporter: Handle multiply concatenated metrics type of events (#9122)
  plugins/out_prometheus_exporter/prom.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_emitter: fix use-after-free on exception (CID 507860)
  plugins/in_emitter/emitter.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: fix leak on exception (CID 507786)
  plugins/in_forward/fw_prot.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_forward: fix leak on exception (CID 508219)
  plugins/in_forward/fw_conn.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_kafka: add missing initialization (CID 507783)
  plugins/out_kafka/kafka.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_stackdriver: fix leak on exception (CID 508239)
  plugins/out_stackdriver/stackdriver.c
Owners: @braydonk, @igorpeshansky, @qingling128

in_tail: fix double-free on exception (CID 507963)
  plugins/in_tail/tail_file.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

wasm: Make configurable heap and stack sizes with a struct type
  include/fluent-bit/wasm/flb_wasm.h
  src/wasm/flb_wasm.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_wasm: Provide configurable heap and stack sizes for Wasm
  plugins/filter_wasm/filter_wasm.c
  plugins/filter_wasm/filter_wasm.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_exec_wasi: Provide configurable stack and heap sizes for Wasm
  plugins/in_exec_wasi/in_exec_wasi.c
  plugins/in_exec_wasi/in_exec_wasi.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

upstream_node: Process tls.verify_hostname parameter
  include/fluent-bit/flb_upstream_node.h
  src/flb_upstream_ha.c
  src/flb_upstream_node.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

out_azure_kusto: Follow the creating node function change
  plugins/out_azure_kusto/azure_kusto_conf.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

filter_wasm: Provide configurable heap and stack sizes for Wasm
  plugins/filter_wasm/filter_wasm.c
  plugins/filter_wasm/filter_wasm.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

wasm: Make configurable heap and stack sizes with a struct type
  include/fluent-bit/wasm/flb_wasm.h
  src/wasm/flb_wasm.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

in_exec_wasi: Provide configurable stack and heap sizes for Wasm
  plugins/in_exec_wasi/in_exec_wasi.c
  plugins/in_exec_wasi/in_exec_wasi.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

core: added aligned memory read functions
  include/fluent-bit/flb_compat.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

log_event_decoder: updated code to use aligned memory reads
  src/flb_log_event_decoder.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

core: added a byte order detection abstraction macro
  include/fluent-bit/flb_endian.h
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

build: added an option to enforce memory alignment
  CMakeLists.txt
Owners: @fujimotos, @niedbalski, @patrick-stephens, @celalettin1286

utils: report error code for RegQueryValueEx in flb_utils_get_machine_id.
  src/flb_utils.c
Owners: @edsiper, @leonardo-albertovich, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# AWS header files
/include/aws                   @pettitwesley
/include/flb_aws_credentials.h @pettitwesley
/include/flb_aws_util.h        @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley
/plugins/filter_ecs      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @igorpeshansky @qingling128

# AWS Plugins
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
/plugins/out_opensearch       @pettitwesley @edsiper

# AWS test code
/tests/internal/aws             @pettitwesley
/tests/internal/aws_*           @pettitwesley
/tests/runtime/filter_ecs.c     @pettitwesley
/tests/runtime/filter_aws.c     @pettitwesley
/tests/runtime/out_cloudwatch.c @pettitwesley
/tests/runtime/out_firehose.c   @pettitwesley
/tests/runtime/out_kinesis.c    @pettitwesley
/tests/runtime/out_opensearch.c @pettitwesley @edsiper
/tests/runtime/out_s3.c         @pettitwesley

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @igorpeshansky @qingling128
/tests/runtime/data/stackdriver  @braydonk @igorpeshansky @qingling128

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calytia Fleet
/plugins/custom_calyptia/       @pwhelan
/plugins/in_calyptia_fleet/     @pwhelan
