Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

packaging: split centos repo config in twain (#4527)
  .github/workflows/pr-lint.yaml
  packaging/testing/smoke/packages/Dockerfile.centos7
  packaging/testing/smoke/packages/Dockerfile.centos8
  packaging/update-repos.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

packaging: fix incorrect repo filename
  packaging/testing/smoke/packages/Dockerfile.amazonlinux2
Owners: @edsiper, @fujimotos, @koleini

workflows: update ignores for tests
  .github/workflows/pr-lint.yaml
Owners: @niedbalski

workflows: workaround for issue with Hadolint ignores
  .github/workflows/pr-lint.yaml
Owners: @niedbalski

packaging: linting updates
  .github/workflows/pr-lint.yaml
  packaging/testing/smoke/packages/Dockerfile.amazonlinux2
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

packaging: linting updates
  packaging/testing/smoke/packages/Dockerfile.amazonlinux2
Owners: @edsiper, @fujimotos, @koleini

packaging: fix incorrect repo filename (#4532)
  .github/workflows/pr-lint.yaml
  packaging/testing/smoke/packages/Dockerfile.amazonlinux2
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

dockerfiles: review comments
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.x86_64-master_debug
Owners: @niedbalski

dockerfiles: update for debian11 and multi-arch (#4516)
  .github/workflows/call-build-images.yaml
  .github/workflows/call-integration-image-build.yaml
  .github/workflows/pr-closed-docker.yaml
  .github/workflows/pr-image-tests.yaml
  .github/workflows/staging-test.yaml
  dockerfiles/Dockerfile.arm32v7
  dockerfiles/Dockerfile.arm64v8
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.multiarch.linuxbuilder
  dockerfiles/Dockerfile.multiarch.linuxrelease
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-master
  dockerfiles/Dockerfile.x86_64-master_debug
Owners: @niedbalski

time: use flb_time_to_nanosec for unset time check
  plugins/filter_kubernetes/kubernetes.c
  plugins/filter_parser/filter_parser.c
  plugins/in_docker_events/docker_events.c
  plugins/in_exec/in_exec.c
  plugins/in_stdin/in_stdin.c
  plugins/in_syslog/syslog_prot.c
  plugins/in_tail/tail_file.c
  plugins/in_tail/tail_multiline.c
  src/multiline/flb_ml.c
  tests/internal/multiline.c
Owners: @edsiper, @fujimotos, @koleini

http_server: add missing argument
  src/http_server/flb_hs_utils.c
Owners: @edsiper, @fujimotos, @koleini

http_server: add function to ingest health metrics
  include/fluent-bit/http_server/flb_hs.h
  src/http_server/flb_hs.c
Owners: @edsiper, @fujimotos, @koleini

metrics_exporter: use flb_hs_push_health_metrics when health check is registered
  src/flb_metrics_exporter.c
Owners: @edsiper, @fujimotos, @koleini

http_server: health: modify qid of metrics
  src/http_server/api/v1/health.c
Owners: @edsiper, @fujimotos, @koleini

storage: don't ingest metrics when storage.metrics is off
  src/flb_storage.c
Owners: @edsiper, @fujimotos, @koleini

storage: don't ingest metrics when storage.metrics is off
  src/flb_storage.c
Owners: @edsiper, @fujimotos, @koleini

build: require cmake >= 3.0
  CMakeLists.txt
Owners: @fujimotos, @niedbalski

cmake: Move Windows specific configuration to windows-setup.cmake
  CMakeLists.txt
  cmake/windows-setup.cmake
Owners: @fujimotos, @niedbalski

filter_lua: Reimplement using mpack
  CMakeLists.txt
  include/fluent-bit/flb_lua.h
  include/fluent-bit/flb_time.h
  plugins/filter_lua/CMakeLists.txt
  plugins/filter_lua/lua.c
  plugins/filter_lua/lua_config.c
  plugins/filter_lua/lua_config.h
  src/flb_lua.c
  src/flb_time.c
  tests/internal/lua.c
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

out_loki: add comment about label key removal
  plugins/out_loki/loki.c
Owners: @edsiper, @fujimotos, @koleini

windows: cmake: Add version information metadata with version.rc (#4531)
  cmake/version.rc.in
  cmake/windows-setup.cmake
  src/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

filter_lua: reimplement using mpack (#4524)
  CMakeLists.txt
  include/fluent-bit/flb_lua.h
  include/fluent-bit/flb_time.h
  plugins/filter_lua/CMakeLists.txt
  plugins/filter_lua/lua.c
  plugins/filter_lua/lua_config.c
  plugins/filter_lua/lua_config.h
  src/flb_lua.c
  src/flb_time.c
  tests/internal/lua.c
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

build: require cmake >= 3.0 (#4540)
  CMakeLists.txt
Owners: @fujimotos, @niedbalski

network: preserve addrlinfo list release address
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

network: added dns result priorization option
  include/fluent-bit/flb_network.h
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

network: argument type error correction
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

upstream: added dns result priorization option
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

config: added dns result priorization option
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

out_loki: add comment about label key removal (#4539)
  plugins/out_loki/loki.c
Owners: @edsiper, @fujimotos, @koleini

lib: monkey: sync Apple M1 support and other fixes (#4483)
  lib/monkey/deps/flb_libco/CMakeLists.txt
  lib/monkey/deps/flb_libco/aarch64.c
  lib/monkey/mk_core/mk_rconf.c
  lib/monkey/mk_server/mk_clock.c
  lib/monkey/mk_server/mk_fifo.c
  lib/monkey/mk_server/mk_lib.c
  lib/monkey/mk_server/mk_server.c
Owners: @edsiper, @fujimotos, @koleini

lib: flb_libco: add Apple M1 support (#4482)
  lib/flb_libco/CMakeLists.txt
  lib/flb_libco/aarch64.c
Owners: @edsiper, @fujimotos, @koleini

engine: fix linkage error when storage backlog is disabled
  src/flb_engine.c
Owners: @edsiper, @fujimotos, @koleini

cmake: make storage backlog optional
  CMakeLists.txt
  plugins/CMakeLists.txt
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

input chunk: fix linkage error when storage backlog is disabled
  src/flb_input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

input_chunk: add new API flb_input_chunk_append_raw2()
  include/fluent-bit/flb_input_chunk.h
  src/flb_input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

time: fix warning
  src/flb_time.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: improve performance by moving to new append_raw2() function
  plugins/in_tail/tail_file.c
  plugins/in_tail/tail_file_internal.h
Owners: @edsiper, @fujimotos, @koleini

input_chunk: add new API flb_input_chunk_append_raw2()
  include/fluent-bit/flb_input_chunk.h
  src/flb_input_chunk.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: improve performance by moving to new append_raw2() function
  plugins/in_tail/tail_file.c
  plugins/in_tail/tail_file_internal.h
Owners: @edsiper, @fujimotos, @koleini

out_null: add 'format', 'json_date_format' and 'json_date_key' options
  plugins/out_null/null.c
Owners: @edsiper, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
