Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley

installation: properly escape in nested HEREDOC
  install.sh
Owners: @edsiper, @fujimotos, @koleini

installation: switch to ID checks
  install.sh
Owners: @edsiper, @fujimotos, @koleini

installation: switch to sh compliant checks
  install.sh
Owners: @edsiper, @fujimotos, @koleini

installation: switch to sh compliant checks
  install.sh
Owners: @edsiper, @fujimotos, @koleini

workflows: add scorecards analysis (#4721)
  .github/workflows/scorecards-analysis.yaml
Owners: @niedbalski

workflows: disable unit tests for PRs with scripts
  .github/workflows/skipped-unit-tests.yaml
  .github/workflows/unit-tests.yaml
Owners: @niedbalski

workflows: add reusable lint
  .github/workflows/pr-lint.yaml
Owners: @niedbalski

workflows: revert to master branch
  .github/workflows/pr-image-tests.yaml
Owners: @niedbalski

workflows: ensure Dockle is for info only
  .github/workflows/call-build-images.yaml
Owners: @niedbalski

workflows: remove Azure action usage (#4739)
  .github/containerscan/allowedlist.yaml
  .github/workflows/call-build-images.yaml
  .github/workflows/pr-image-tests.yaml
  .github/workflows/staging-build.yaml
Owners: @niedbalski

workflows: add reusable lint check
  .github/workflows/pr-lint.yaml
Owners: @niedbalski

workflows: add debug
  .github/workflows/pr-package-tests.yaml
Owners: @niedbalski

packaging: simplify appveyor grab
  .github/workflows/pr-package-tests.yaml
  packaging/appveyor-download.ps1
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: update to pull only master
  .github/workflows/pr-package-tests.yaml
  packaging/appveyor-download.ps1
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: add ci for Windows from Appveyor
  .github/workflows/windows-ci.yaml
  appveyor.yml
  packaging/trigger-windows-ci.ps1
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

aws: fix when not running in EC2 and having an HTTP proxy
  src/aws/flb_aws_credentials.c
Owners: @pettitwesley

dockerfiles: disable exec plugin for distroless containers (#4719)
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-master
Owners: @niedbalski

workflows: switch to all Github build and test approach
  .github/workflows/pr-package-tests.yaml
  .github/workflows/windows-ci.yaml
  appveyor.yml
  packaging/appveyor-download.ps1
  packaging/trigger-windows-ci.ps1
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: set up VS build
  .github/workflows/windows-ci.yaml
Owners: @niedbalski

workflows: set up VS build
  .github/workflows/windows-ci.yaml
Owners: @niedbalski

workflows: debug
  .github/workflows/windows-ci.yaml
Owners: @niedbalski

workflows: build via cmake
  .github/workflows/windows-ci.yaml
Owners: @niedbalski

workflows: do not trigger on PR edit
  .github/workflows/pr-compile-check.yaml
  .github/workflows/windows-ci.yaml
Owners: @niedbalski

workflows: update dirs for testing
  .github/workflows/windows-ci.yaml
Owners: @niedbalski

workflows: update dirs for testing
  .github/workflows/windows-ci.yaml
Owners: @niedbalski

plugins: out_opentelemetry: initial commit
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/out_opentelemetry/CMakeLists.txt
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry.h
  plugins/out_opentelemetry/opentelemetry_conf.c
  plugins/out_opentelemetry/opentelemetry_conf.h
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

plugins: out_opentelemetry: compression and header mistakes fixed
  plugins/out_opentelemetry/opentelemetry.c
  plugins/out_opentelemetry/opentelemetry.h
Owners: @edsiper, @fujimotos, @koleini

workflows: add debug
  .github/workflows/windows-ci.yaml
Owners: @niedbalski

out_s3: allow to specify S3 port
  plugins/out_s3/s3.c
  plugins/out_s3/s3.h
Owners: @pettitwesley

workflows: add simple sanity check
  .github/workflows/windows-ci.yaml
Owners: @niedbalski

installation: add script to install in one liner (#4740)
  .github/workflows/skipped-unit-tests.yaml
  .github/workflows/unit-tests.yaml
  install.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

workflows: tweak sanity check
  .github/workflows/windows-ci.yaml
Owners: @niedbalski

out_stackdriver: Correct env variable for SAs
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: out_file: add test cases
  tests/runtime/out_file.c
Owners: @edsiper, @fujimotos, @koleini

in stdin: Initialize memory to 0
  plugins/in_stdin/in_stdin.c
Owners: @edsiper, @fujimotos, @koleini

mem: add chance of failing flb_malloc when fuzzing
  include/fluent-bit/flb_mem.h
  tests/internal/fuzzers/flb_fuzz_header.h
  tests/internal/fuzzers/utils_fuzzer.c
Owners: @edsiper, @fujimotos, @koleini

out_stackdriver: Correct env variable for SAs
  plugins/out_stackdriver/stackdriver_conf.c
Owners: @edsiper, @fujimotos, @koleini

output_thread: fix event loop destroy order
  src/flb_output_thread.c
Owners: @edsiper, @fujimotos, @koleini

hash: add new API to check if hash exists
  include/fluent-bit/flb_hash.h
  src/flb_hash.c
  tests/internal/hashtable.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: performance improvement on management of file list
  plugins/in_tail/tail.c
  plugins/in_tail/tail_config.c
  plugins/in_tail/tail_config.h
  plugins/in_tail/tail_file.c
  plugins/in_tail/tail_file_internal.h
Owners: @edsiper, @fujimotos, @koleini
