Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

bin: release config file optarg and always stop the context
  src/fluent-bit.c
Owners: @edsiper, @fujimotos, @koleini

lib: on stop, always double-check the child thread
  src/flb_lib.c
Owners: @edsiper, @niedbalski

config: intialize config_format for parsers
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

parser: use new config_format api
  src/flb_parser.c
Owners: @edsiper, @fujimotos, @koleini

parser: decoder: use new config_format api
  include/fluent-bit/flb_parser_decoder.h
  src/flb_parser_decoder.c
Owners: @edsiper, @fujimotos, @koleini

build: add a sample config file for Windows
  conf/fluent-bit-win32.conf
  src/CMakeLists.txt
Owners: @edsiper, @fujimotos, @koleini

workflows: reverse stale order (#4644)
  .github/workflows/pr-stale.yaml
Owners: @niedbalski

out_kinesis_firehose: add support for external_id
  plugins/out_kinesis_firehose/firehose.c
  plugins/out_kinesis_firehose/firehose.h
Owners: @pettitwesley

out_cloudwatch_logs: Add support for external_id
  plugins/out_cloudwatch_logs/cloudwatch_logs.c
  plugins/out_cloudwatch_logs/cloudwatch_logs.h
Owners: @pettitwesley

out_kinesis_streams: add support for external_id
  plugins/out_kinesis_streams/kinesis.c
  plugins/out_kinesis_streams/kinesis.h
Owners: @pettitwesley

out_s3: add support for external_id
  plugins/out_s3/s3.c
  plugins/out_s3/s3.h
Owners: @pettitwesley

out_kinesis_firehose: add support for external_id
  plugins/out_kinesis_firehose/firehose.c
  plugins/out_kinesis_firehose/firehose.h
Owners: @pettitwesley

out_cloudwatch_logs: Add support for external_id
  plugins/out_cloudwatch_logs/cloudwatch_logs.c
  plugins/out_cloudwatch_logs/cloudwatch_logs.h
Owners: @pettitwesley

out_kinesis_streams: add support for external_id
  plugins/out_kinesis_streams/kinesis.c
  plugins/out_kinesis_streams/kinesis.h
Owners: @pettitwesley

out_s3: add support for external_id
  plugins/out_s3/s3.c
  plugins/out_s3/s3.h
Owners: @pettitwesley

plugins/in_exec: don't eat last character of plugin output
  plugins/in_exec/in_exec.c
Owners: @edsiper, @fujimotos, @koleini

plugins: in_exec: don't eat last character of plugin output
  plugins/in_exec/in_exec.c
Owners: @edsiper, @fujimotos, @koleini

tests: runtime: filter_record_modifier: add basic tests
  tests/runtime/filter_record_modifier.c
Owners: @edsiper, @fujimotos, @koleini

filter_record_modifier: release ctx when configure failed
  plugins/filter_record_modifier/filter_modifier.c
Owners: @edsiper, @fujimotos, @koleini

in_tail: enhance handling of high number of static files (#3947)
  plugins/in_tail/tail.c
  plugins/in_tail/tail.h
  plugins/in_tail/tail_config.h
Owners: @edsiper, @fujimotos, @koleini

in_tail: enhance handling of high number of static files (#3947)
  plugins/in_tail/tail.c
  plugins/in_tail/tail.h
  plugins/in_tail/tail_config.h
Owners: @edsiper, @fujimotos, @koleini

network: properly react to being awoken due to a timeout
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

upstream: implemented timeout wakeup mechanism
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

upstream: added dns result priorization option
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

network: added dns result priorization option
  include/fluent-bit/flb_network.h
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

network: argument type error correction
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

network: preserve addrlinfo list release address
  src/flb_network.c
Owners: @edsiper, @fujimotos, @koleini

config: added dns result priorization option
  include/fluent-bit/flb_config.h
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

in_exec: don't eat last character of plugin output (#4655)
  plugins/in_exec/in_exec.c
Owners: @edsiper, @fujimotos, @koleini

tls: openssl: fix error handling for OpenSSL apis (#4584)
  src/tls/flb_tls.c
  src/tls/openssl.c
Owners: @edsiper, @fujimotos, @koleini

in_exec: don't eat last character of plugin output (#4496)
  plugins/in_exec/in_exec.c
Owners: @edsiper, @fujimotos, @koleini

filter_geoip2: add missing '(void) i_ins;'
  plugins/filter_geoip2/geoip2.c
Owners: @edsiper, @fujimotos, @koleini

filter_checklist: add input instance to filter callback
  plugins/filter_checklist/checklist.c
Owners: @edsiper, @fujimotos, @koleini

filter_multiline: address PR feedback
  plugins/filter_multiline/ml.c
Owners: @edsiper, @fujimotos, @koleini

filter_geoip2: add input instance to filter callback
  plugins/filter_geoip2/geoip2.c
Owners: @edsiper, @fujimotos, @koleini

filter_nest: add input instance to filter callback
  plugins/filter_nest/nest.c
Owners: @edsiper, @fujimotos, @koleini

filter: add input instance to filter callback
  include/fluent-bit/flb_filter.h
  src/flb_filter.c
Owners: @edsiper, @fujimotos, @koleini

filter_stdout: add input instance to filter callback
  plugins/filter_stdout/stdout.c
Owners: @edsiper, @fujimotos, @koleini

filter_record_modifier: add input instance to filter callback
  plugins/filter_record_modifier/filter_modifier.c
Owners: @edsiper, @fujimotos, @koleini

filter_tensorflow: add input instance to filter callback
  plugins/filter_tensorflow/tensorflow.c
Owners: @edsiper, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
