Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

input: initialize cmetrics to zero
  src/flb_input.c
Owners: @edsiper, @fujimotos, @koleini

http_client: fix wrong host header when using proxy (#4810)
  src/flb_http_client.c
Owners: @edsiper, @fujimotos, @koleini

http_client: fix wrong host header when using proxy (#4816)
  src/flb_http_client.c
Owners: @edsiper, @fujimotos, @koleini

out_stackdriver: check for proper http request key
  plugins/out_stackdriver/stackdriver.c
  plugins/out_stackdriver/stackdriver_http_request.c
  plugins/out_stackdriver/stackdriver_http_request.h
Owners: @edsiper, @fujimotos, @koleini

tls: openssl: fix error handling for OpenSSL apis (#4584)
  src/tls/flb_tls.c
  src/tls/openssl.c
Owners: @edsiper, @fujimotos, @koleini

upstream: fix deadlock when destroying connections
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

upstream: just compare against 'locked' flag
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

upstream: fix deadlock when destroying connections
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

upstream: just compare against 'locked' flag
  src/flb_upstream.c
Owners: @edsiper, @fujimotos, @koleini

tls: openssl: fix error handling for OpenSSL apis (#4584)
  src/tls/flb_tls.c
  src/tls/openssl.c
Owners: @edsiper, @fujimotos, @koleini

in_windows_exporter_metrics:new WIndows exporter metrics plugin
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/in_windows_exporter_metrics/CMakeLists.txt
  plugins/in_windows_exporter_metrics/we.c
  plugins/in_windows_exporter_metrics/we.h
  plugins/in_windows_exporter_metrics/we_config.c
  plugins/in_windows_exporter_metrics/we_config.h
  plugins/in_windows_exporter_metrics/we_cpu.c
  plugins/in_windows_exporter_metrics/we_cpu.h
  plugins/in_windows_exporter_metrics/we_metric.c
  plugins/in_windows_exporter_metrics/we_metric.h
  plugins/in_windows_exporter_metrics/we_perflib.c
  plugins/in_windows_exporter_metrics/we_perflib.h
  plugins/in_windows_exporter_metrics/we_util.c
  plugins/in_windows_exporter_metrics/we_util.h
  plugins/in_windows_exporter_metrics/we_wmi.c
  plugins/in_windows_exporter_metrics/we_wmi.h
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

build: allow defined but empty FLB_NIGHTLY_BUILD
  CMakeLists.txt
Owners: @fujimotos, @niedbalski

build: luajit: macos: Handle macOS Monterey
  cmake/luajit.cmake
Owners: @fujimotos, @niedbalski

build: luajit: Use `BUILDMODE` variable instead of `BUILD_MODE`
  cmake/luajit.cmake
Owners: @fujimotos, @niedbalski

build: allow defined but empty FLB_NIGHTLY_BUILD (#4831)
  CMakeLists.txt
Owners: @fujimotos, @niedbalski

workflows: switch to single package tarball
  .github/workflows/staging-build.yaml
Owners: @niedbalski

packaging: set up NIGHTLY_BUILD with empty default
  .github/workflows/call-build-images.yaml
  .github/workflows/call-build-packages.yaml
  dockerfiles/Dockerfile.arm32v7
  dockerfiles/Dockerfile.arm64v8
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-debug
  dockerfiles/Dockerfile.x86_64-master
  dockerfiles/Dockerfile.x86_64-master_debug
  packaging/build.sh
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

packaging: review commen
  packaging/testing/smoke/container/fluent-bit.yaml
Owners: @edsiper, @fujimotos, @koleini

dockerfiles: fix multiarch
  dockerfiles/Dockerfile.multiarch
Owners: @niedbalski

out_kafka: rename struct flb_kafka to flb_out_kafka
  plugins/out_kafka/kafka.c
  plugins/out_kafka/kafka_config.c
  plugins/out_kafka/kafka_config.h
  plugins/out_kafka/kafka_topic.c
  plugins/out_kafka/kafka_topic.h
Owners: @edsiper, @fujimotos, @koleini

out_kafka: refactor some configuration parsing into a separate module
  include/fluent-bit/flb_kafka.h
  plugins/out_kafka/kafka.c
  plugins/out_kafka/kafka_config.c
  plugins/out_kafka/kafka_config.h
  plugins/out_kafka/kafka_topic.c
  src/CMakeLists.txt
  src/flb_kafka.c
Owners: @edsiper, @fujimotos, @koleini

workflows: disable ossf on-push event
  .github/workflows/cron-scorecards-analysis.yaml
Owners: @niedbalski

workflows: disable ossf on-push event (#4835)
  .github/workflows/cron-scorecards-analysis.yaml
Owners: @niedbalski

workflows: yaml build support (#4814)
  dockerfiles/Dockerfile.arm32v7
  dockerfiles/Dockerfile.arm64v8
  dockerfiles/Dockerfile.multiarch
  dockerfiles/Dockerfile.x86_64
  dockerfiles/Dockerfile.x86_64-debug
  dockerfiles/Dockerfile.x86_64-master
  dockerfiles/Dockerfile.x86_64-master_debug
  packaging/distros/amazonlinux/Dockerfile
  packaging/distros/centos/Dockerfile
  packaging/distros/debian/Dockerfile
  packaging/distros/raspbian/Dockerfile
  packaging/distros/ubuntu/Dockerfile
  packaging/local-build-all.sh
  packaging/testing/smoke/container/container-smoke-test.sh
  packaging/testing/smoke/container/fluent-bit.yaml
  packaging/testing/smoke/packages/Dockerfile.centos7
  packaging/testing/smoke/packages/Dockerfile.ubuntu2004
Owners: @niedbalski, @edsiper, @fujimotos, @koleini

in_kafka: initial implementation
  CMakeLists.txt
  cmake/headers.cmake
  plugins/CMakeLists.txt
  plugins/in_kafka/CMakeLists.txt
  plugins/in_kafka/in_kafka.c
  plugins/in_kafka/in_kafka.h
  src/CMakeLists.txt
  src/flb_kafka.c
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

doc: add in/out kafka example with lua filter
  examples/kafka_filter/.gitignore
  examples/kafka_filter/Makefile
  examples/kafka_filter/README.md
  examples/kafka_filter/common.sh
  examples/kafka_filter/example-data.json
  examples/kafka_filter/kafka-setup.sh
  examples/kafka_filter/kafka-start.sh
  examples/kafka_filter/kafka.conf
  examples/kafka_filter/kafka.lua
Owners: @edsiper, @fujimotos, @koleini

winevtlog: add new winevtlog plugin (#4179)
  CMakeLists.txt
  cmake/windows-setup.cmake
  plugins/CMakeLists.txt
  plugins/in_winevtlog/CMakeLists.txt
  plugins/in_winevtlog/in_winevtlog.c
  plugins/in_winevtlog/pack.c
  plugins/in_winevtlog/winevtlog.c
  plugins/in_winevtlog/winevtlog.h
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

build: luajit: Use `BUILDMODE` variable instead of `BUILD_MODE`
  cmake/luajit.cmake
Owners: @fujimotos, @niedbalski

build: luajit: macos: Handle macOS Monterey
  cmake/luajit.cmake
Owners: @fujimotos, @niedbalski

doc: simplify running the example with docker-compose
  examples/kafka_filter/.env
  examples/kafka_filter/Dockerfile
  examples/kafka_filter/Makefile
  examples/kafka_filter/README.md
  examples/kafka_filter/common.sh
  examples/kafka_filter/docker-compose.yml
  examples/kafka_filter/example-data.json
  examples/kafka_filter/kafka-setup.sh
  examples/kafka_filter/kafka-start.sh
  examples/kafka_filter/kafka.conf
  examples/kafka_filter/kafka.lua
  examples/kafka_filter/scripts/common.sh
  examples/kafka_filter/scripts/create-topics.sh
  examples/kafka_filter/scripts/flb-start.sh
  examples/kafka_filter/scripts/kafka-consume.sh
  examples/kafka_filter/scripts/kafka-produce.sh
Owners: @edsiper, @fujimotos, @koleini

out_kafka: refactor some configuration parsing into a separate module
  include/fluent-bit/flb_kafka.h
  plugins/out_kafka/kafka.c
  plugins/out_kafka/kafka_config.c
  plugins/out_kafka/kafka_config.h
  plugins/out_kafka/kafka_topic.c
  src/CMakeLists.txt
  src/flb_kafka.c
Owners: @edsiper, @fujimotos, @koleini

doc: add in/out kafka example with lua filter
  examples/kafka_filter/.gitignore
  examples/kafka_filter/Makefile
  examples/kafka_filter/README.md
  examples/kafka_filter/common.sh
  examples/kafka_filter/example-data.json
  examples/kafka_filter/kafka-setup.sh
  examples/kafka_filter/kafka-start.sh
  examples/kafka_filter/kafka.conf
  examples/kafka_filter/kafka.lua
Owners: @edsiper, @fujimotos, @koleini

doc: simplify running the example with docker-compose
  examples/kafka_filter/.env
  examples/kafka_filter/Dockerfile
  examples/kafka_filter/Makefile
  examples/kafka_filter/README.md
  examples/kafka_filter/common.sh
  examples/kafka_filter/docker-compose.yml
  examples/kafka_filter/example-data.json
  examples/kafka_filter/kafka-setup.sh
  examples/kafka_filter/kafka-start.sh
  examples/kafka_filter/kafka.conf
  examples/kafka_filter/kafka.lua
  examples/kafka_filter/scripts/common.sh
  examples/kafka_filter/scripts/create-topics.sh
  examples/kafka_filter/scripts/flb-start.sh
  examples/kafka_filter/scripts/kafka-consume.sh
  examples/kafka_filter/scripts/kafka-produce.sh
Owners: @edsiper, @fujimotos, @koleini

out_kafka: rename struct flb_kafka to flb_out_kafka
  plugins/out_kafka/kafka.c
  plugins/out_kafka/kafka_config.c
  plugins/out_kafka/kafka_config.h
  plugins/out_kafka/kafka_topic.c
  plugins/out_kafka/kafka_topic.h
Owners: @edsiper, @fujimotos, @koleini

in_kafka: initial implementation
  CMakeLists.txt
  cmake/headers.cmake
  plugins/CMakeLists.txt
  plugins/in_kafka/CMakeLists.txt
  plugins/in_kafka/in_kafka.c
  plugins/in_kafka/in_kafka.h
  src/CMakeLists.txt
  src/flb_kafka.c
Owners: @fujimotos, @niedbalski, @edsiper, @koleini

filter_nightfall: Add tls verification to plugin
  plugins/filter_nightfall/nightfall.c
  plugins/filter_nightfall/nightfall.h
Owners: @edsiper, @fujimotos, @koleini

http_server: health: modify qid of metrics
  src/http_server/api/v1/health.c
Owners: @edsiper, @fujimotos, @koleini

http_server: add function to ingest health metrics
  include/fluent-bit/http_server/flb_hs.h
  src/http_server/flb_hs.c
Owners: @edsiper, @fujimotos, @koleini

metrics_exporter: use flb_hs_push_health_metrics when health check is registered
  src/flb_metrics_exporter.c
Owners: @edsiper, @fujimotos, @koleini

http_server: health: modify qid of metrics
  src/http_server/api/v1/health.c
Owners: @edsiper, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
