Repository fluent/fluent-bit, changes with the owners that CODEOWNERS names for each.
All owners: @edsiper, @fujimotos, @koleini, @niedbalski, @pettitwesley, @ashutoshdhundhara, @nokute78, @clamoriniere, @sxd

packaging: fix container smoke test (#4854)
  packaging/testing/smoke/container/container-smoke-test.sh
Owners: @edsiper, @fujimotos, @koleini

build: luajit: macos: implement more stable MACOSX_DEPLOYMENT_TARGET detecting mechanism
  cmake/luajit.cmake
Owners: @fujimotos, @niedbalski

ubi8: update to 1.8.12 (#12)
  calyptia/ubi8/Dockerfile
Owners: @edsiper, @fujimotos, @koleini

out_kinesis_firehose: add default 1 worker
  plugins/out_kinesis_firehose/firehose.c
Owners: @pettitwesley

out_kinesis_streams: add default 1 worker
  plugins/out_kinesis_streams/kinesis.c
Owners: @pettitwesley

out_s3: add default 1 workers
  plugins/out_s3/s3.c
Owners: @pettitwesley

out_kinesis_firehose: add default 1 worker
  plugins/out_kinesis_firehose/firehose.c
Owners: @pettitwesley

out_kinesis_streams: add default 1 worker
  plugins/out_kinesis_streams/kinesis.c
Owners: @pettitwesley

out_s3: add default 1 workers
  plugins/out_s3/s3.c
Owners: @pettitwesley

out_kinesis_streams: add default 1 worker
  plugins/out_kinesis_streams/kinesis.c
Owners: @pettitwesley

out_kinesis_firehose: add default 1 worker
  plugins/out_kinesis_firehose/firehose.c
Owners: @pettitwesley

out_s3: add default 1 workers
  plugins/out_s3/s3.c
Owners: @pettitwesley

out_kinesis_firehose: add default 1 worker
  plugins/out_kinesis_firehose/firehose.c
Owners: @pettitwesley

out_s3: add default 1 workers
  plugins/out_s3/s3.c
Owners: @pettitwesley

out_kinesis_streams: add default 1 worker
  plugins/out_kinesis_streams/kinesis.c
Owners: @pettitwesley

dockerfiles: add status handling for distroless packages
  dockerfiles/Dockerfile.multiarch
Owners: @niedbalski

workflows: increase smoke test timeouts
  .github/workflows/call-test-images.yaml
Owners: @niedbalski

doc: update maintainers, fix company name
  MAINTAINERS.md
Owners: @edsiper, @fujimotos, @koleini

workflows: increase smoke test timeouts (#4860)
  .github/workflows/call-test-images.yaml
Owners: @niedbalski

dockerfiles: add status handling for distroless packages (#4859)
  dockerfiles/Dockerfile.multiarch
Owners: @niedbalski

workflows: protect from release version mismatch
  .github/workflows/staging-release.yaml
Owners: @niedbalski

workflows: syntax fix
  .github/workflows/staging-release.yaml
Owners: @niedbalski

workflows: unstable release protection (#4861)
  .github/workflows/staging-release.yaml
Owners: @niedbalski

windows: build legacy td-agent-bit package
  appveyor.yml
Owners: @niedbalski

windows: fix relative link
  appveyor.yml
Owners: @niedbalski

workflows: fix release env usage
  .github/workflows/staging-release.yaml
Owners: @niedbalski

workflows: fix release env usage (#4865)
  .github/workflows/staging-release.yaml
Owners: @niedbalski

tests: internal: fuzzer: fix leak in record_ac_fuzzer
  tests/internal/fuzzers/record_ac_fuzzer.c
Owners: @edsiper, @fujimotos, @koleini

config: fix memory leak
  src/flb_config.c
Owners: @edsiper, @fujimotos, @koleini

flb_event_loop: fix test compilation issues with win and x64
  tests/internal/flb_event_loop.c
Owners: @edsiper, @fujimotos, @koleini

fluent: migrate to priority event loop
  include/fluent-bit/flb_bucket_queue.h
  include/fluent-bit/flb_config.h
  include/fluent-bit/flb_engine.h
  include/fluent-bit/flb_event_loop.h
  include/fluent-bit/flb_output_thread.h
  src/flb_config.c
  src/flb_engine.c
  src/flb_io.c
  src/flb_network.c
  src/flb_output.c
  src/flb_output_thread.c
  src/flb_scheduler.c
  src/flb_upstream.c
  src/tls/flb_tls.c
  tests/internal/CMakeLists.txt
  tests/internal/bucket_queue.c
Owners: @edsiper, @fujimotos, @koleini

flb priority queue: resolve remove event after wait error
  include/fluent-bit/flb_event_loop.h
Owners: @edsiper, @fujimotos, @koleini

flb priority queue: Resolve valgrind slowdown
  tests/internal/flb_event_loop.c
Owners: @edsiper, @fujimotos, @koleini

monkey: implement mk_wait_2 for wait with timeout
  lib/monkey/include/monkey/mk_core/mk_event.h
  lib/monkey/mk_core/mk_event.c
  lib/monkey/mk_core/mk_event_epoll.c
  lib/monkey/mk_core/mk_event_kqueue.c
  lib/monkey/mk_core/mk_event_libevent.c
  lib/monkey/mk_core/mk_event_select.c
Owners: @edsiper, @fujimotos, @koleini

flb priority event loop: accommadate mk_inject
  include/fluent-bit/flb_event_loop.h
Owners: @edsiper, @fujimotos, @koleini

flb: add priority queue tests
  include/fluent-bit/flb_event_loop.h
  tests/internal/CMakeLists.txt
  tests/internal/flb_event_loop.c
Owners: @edsiper, @fujimotos, @koleini

monkey: libevent fix
  lib/monkey/mk_core/mk_event_libevent.c
Owners: @edsiper, @fujimotos, @koleini

filter_type_converter: support config map
  plugins/filter_type_converter/type_converter.c
  plugins/filter_type_converter/type_converter.h
Owners: @edsiper, @fujimotos, @koleini

filter_grep: support config map
  plugins/filter_grep/grep.c
  plugins/filter_grep/grep.h
Owners: @edsiper, @fujimotos, @koleini

filter_record_modifier: support config map
  plugins/filter_record_modifier/filter_modifier.c
  plugins/filter_record_modifier/filter_modifier.h
Owners: @edsiper, @fujimotos, @koleini

CODEOWNERS:

# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski
/cmake/                  @fujimotos @niedbalski

# CI 
# -------------------------
/.github/                @niedbalski
/appveyor.yml            @niedbalski
/dockerfiles/            @niedbalski

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

@ Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @ashutoshdhundhara
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley

# Output Plugins
# --------------
/plugins/out_datadog     @clamoriniere
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
# AWS Plugins 
/plugins/out_s3               @pettitwesley
/plugins/out_cloudwatch_logs  @pettitwesley
/plugins/out_kinesis_firehose @pettitwesley
/plugins/out_kinesis_streams  @pettitwesley
